<%= form_for(@user, url: setup_account_path, html: { class: "form-horizontal setup-account" }) do |f| %>

  <h1>Please finish your account setup:</h1>

  <div class="setup-account-form">
    <div class="control-group">
      <%= f.label :full_name, "Your full name", class: "control-label" %>

      <div class="controls">
        <%= f.text_field :full_name, required: true %>
        <%= possible_error_for_field(@user, :full_name) %>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="button button-confirm" data-disable-with="Loading...">Next Step</button>
    </div>
  </div>
<% end %>
