.topbar-connect-container{
  float: right;
  line-height: 42px;
}

.topbar-connect-buttons {
  display: inline-block;
  padding: 0px 5px;

}

.topbar-connect-twitter, .topbar-connect-facebook {
  padding: 0 6px;
  line-height: 26px;

  .icon-twitter, .icon-facebook {
    font-size: 18px;
    margin: 0;
  }
}

.button-factlink {
  padding: 0px;
}

.topbar-connect-separator{
  margin: 0 5px;
}
