.topbar-connect-container{
  float: right;
  line-height: 42px;
}

.topbar-connect-buttons{
  display: inline-block;
  padding: 0px 5px;

  .button-twitter, .button-facebook {
    padding: 0 6px;
    line-height: 26px;

    .icon-twitter, .icon-facebook {
      font-size: 18px;
      margin: 0;
    }
  }
}

.button-factlink {
  padding: 0px;
}

.icon-factlink{
  background: image-url('FL-checkmark.svg') no-repeat;
  background-size: 18px;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.topbar-connect-separator{
  margin: 0 5px;
}
