@import "bootstrap/mixins";

.dropdown {
  position: relative;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top:   4px solid @metaFontColor;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
  margin-top: 8px;
}

.dropdown-menu {
  position: absolute;
  z-index: @zindexDropdown;
  visibility: hidden;
  opacity:0;
  transition: visibility 0s 0.6s, opacity 0.2s 0.4s;

  padding: 5px 0;
  background-color: white;
  border: 1px solid @dropdownBorder;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  text-align: left;
  right: 0;

  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    right: 12px;
  }

  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    right: 13px;
  }

  a {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    color: @grayDark;
    white-space: nowrap;
  }
}

.dropdown-menu-item:hover a, .dropdown-menu-item:focus a {
  text-decoration: none;
  color: white;
  background-color: @linkColor;
}

.divider {
  height: 2px;
  margin: 8px 1px;
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
}

.dropdown:hover {
  *z-index: @zindexDropdown;

  & > .dropdown-menu {
    visibility: visible;
    opacity:1;
    transition: visibility 0s, opacity 0.2s 0s;

  }
}
