@import "bootstrap/mixins";

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}

#notifications {
  width: 58px;

  span.unread {
    background: #dfdfdf;
    color: #fff;
    font-weight: normal;
    height: 30px;
    width:  30px;

    position: absolute;
    top:   6px;
    right: 15px;

    line-height: 30px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px -1px 1px #c3c3c3;

    .box-shadow(inset 0 1px 2px #bbb);
    .border-radius(2px);

    .transition(0.4s, ease-out);

    &.active {
      @shadowColor: #cb7d5f;
      background: #e8a991;
      .box-shadow(inset 0 1px 2px @shadowColor);
      text-shadow: 0px -1px 1px @shadowColor;
    }
  }

  > ul {
    max-width: 300px;
    width: 300px;
    .box-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    li {
      border-bottom: 1px solid #e4e4e4;
      margin: 0;
      padding: 7px 10px 10px 10px;
      white-space: normal;

      a {
        white-space: normal;
      }

      &.no-notifications{
        border: none;
      }


      &.unread {
        background-color: #ffffe1
      }

      div.avatar {
        width: 30px;
        float: left;

        img {
          .border-radius(2px);
          display: inline-block;
        }
      }

      div.info {
        width: 230px;
        float: left;
        margin: 0 0 7px;

        a {
          display: inline;
          padding: 0;
        }

        span {
          font-size: 12px;
        }

        div.time_ago {
          img {
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
            color: #888;
            font-size: 11px;
          }
        }
      }

      div.clear {
        clear: both;
      }
    }
  }
}
