@import "bootstrap/variables";
@import "bootstrap/mixins";

#notifications {
  width: 61px;

  span.unread {
    background: #dfdfdf;
    color: #fff;
    font-weight: normal;
    height: 30px;
    width:  30px;

    position: absolute;
    top:   6px;
    right: 15px;

    line-height: 30px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px -1px 1px #c3c3c3;

    .box-shadow(inset 0 1px 2px #bbb);
    .border-radius(2px);

    .transition(all .4s ease-out);

    &.active {
      background: #e8a991;
      .box-shadow(inset 0 1px 2px #cb7d5f);
      text-shadow: 0px -1px 1px #cb7d5f;
    }
  }

  > ul {
    max-width: 300px;
    width: 300px;
    .box-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    li {
      a {
        display: block;
        border-bottom: 1px solid #e4e4e4;
        margin: 0;
        padding: 5px 10px;
        white-space: normal;
        color: @mutedFontColor;

        &:hover {
          background: @itemHoverColor;
          cursor: pointer;
          text-shadow: 0 1px 0 #fff;
        }

        div.avatar {
          float: left;
          margin-top: 5px;
          width: 30px;

          img {
            .border-radius(2px);
            display: inline-block;
          }
        }

        div.info {
          float: left;
          width: 230px;
          font-size: 12px;

          .text {
            color: @mutedFontColor;
            .highlight {
              color: @headingFontColor;
            }
          }

          div.time_ago {
            margin-top: 3px;

            img {
              vertical-align: middle;
            }

            span {
              vertical-align: middle;
              color: @mutedFontColor;
              font-size: 11px;
            }
          }
        }

        div.clear {
          clear: both;
        }
      }

      &.no-notifications {
        padding: 5px 10px;
      }

      &.unread a {
        background-color: @lightYellow;
        &:hover {
          background-color: @itemHoverColor;
        }
      }
    }
  }
}
