@import "bootstrap/variables";
@import "bootstrap/mixins";

.navbar {
  ul.steps {
    float: right;
    margin-top: 9px;

    li {
      float: left;
      margin-left: 20px;
      #font > .sans-serif(normal, 14px, 22px);
      color: #777;
      padding-left: 25px;
      background: image-url('base/topbar/steps-arrow.png') no-repeat left center;
      list-style: none;

      span {
        float: left;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-right: 10px;
        color: #fff;
        background: image-url('base/topbar/steps.png') no-repeat top;
      }

      &.active {
        color: @linkColor;

        span {
          background-position: bottom;
        }
      }

      &:first-child {
        padding: 0;
        background: none;
      }
    }
  }
}
