@import 'bootstrap/variables';
@import 'bootstrap/mixins';

.channel-listing-owner-block {
  > .avatar-container {
    .border-radius(4px);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    .clearfix();
    margin: 0 0 15px;

    > img {
      float: left;
    }

    > h3 {
      display: inline;
      float: left;
      font-size: 14px;
      margin: 0 0 0 10px;
      line-height: 32px;
      width: 100px;
      .ellipsis();
    }
  }
  > .large {
    
    > img {
      .border-radius(3px);
      margin: 0 0 15px;
    }

    > h1 {
      font-size: @headingFontSize;
      width: 100px;
      .ellipsis();
    }
  }
}
