@import 'bootstrap/variables';
@import 'bootstrap/mixins';

#container #left-column {
  .user-block {
    h1 {
      margin-bottom: 2px;
    }
    .avatar-container {
      .border-radius(3px);
      background-color: #ededed;
      border-bottom: 1px solid white;
      height: 32px;
      padding: 1em 1em 1.25em;
      width: 160px;
      .inner-shadow(0, 1px, 1px, 0.2);
      &:hover {
        cursor: pointer;
      }
    }
    margin-bottom: 8px;
    h3 {
      #font > .sans-serif(bold, 14px, @baseLineHeight);
      margin: 0;
    }
    .wrapper {
      margin-left: 48px;
    }
    .user-avatar {
      background-color: #f7f7f7;
      float: left;
      position: relative;
      top: 0px;
      left: 0px;
      display: block;
      height: 32px;
      width: 32px;
      border: solid 1px #ddd;
      .border-radius(3px);
    }
    img {
      .border-radius(3px);
    }
  }
}
