@import "bootstrap/variables";
@import "bootstrap/mixins";

div.created_by_info {
  > div {
    float: left;

    &.img {
      width: 35px;
      padding: 6px 5px 0 0;

      img {
        .border-radius(3px);
      }
    }

    &.user-info {
      padding: 13px 0 0;

      > a {
        color: @linkColor;
        font-weight: bold;
        display: block;
        line-height: 20px;
      }

      > span.authority_for_subject {
        display: block;
        font-size: 11px;
        line-height: 11px;
        color: @headingFontColor;
      }
    }
  }
}
