@import "bootstrap/mixins";

#edit_user {
  img.avatar {
    border-radius: 3px;
  }

  span.help-inline.avatar {
    vertical-align:top;
    color: #777;
    width: 290px;
  }

  legend {
    border: none;
  }

  .bio {
    height: 70px;
    resize:vertical;
  }

  .social-services-buttons {
    .disconnect { display: none; }
    &:hover {
      .connected  { display: none;   }
      .disconnect { display: inline; }
    }

    a img {
      width: 16px;
      height: 16px;
      margin-top: -4px;
      margin-right: 5px;
    }
  }

  .help-inline {
    display: inline-block;
    padding-left: 5px;
  }

  .disabled-email {
    cursor: not-allowed;
    background-color: @inputDisabledBackground;
  }

  .edit-user-delete-container {
    border-top: 1px solid @mutedBorderColor;
    padding-top: 20px;
  }

  .edit-user-delete-link {
    margin-bottom: 20px;
    color: @buttonDangerBackground;

    &:hover {
      color: @buttonDangerDarkBackground;
    }
  }
}
