.control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  padding-right: 1em;
  text-align: right;
}

.controls-information-item {
  margin-left: 160px;
}

.control-group {
  margin-bottom: 0.8em;
  @extend %clearfix;
}

.control-error {
  color: $errorText;
}

.form-actions {
  background-color: transparent;
  padding: 15px 0;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-top: 1px solid #e5e5e5;
  padding-left: $horizontalComponentOffset;
  @extend %clearfix; // Adding clearfix to allow for float button containers
}
