#user {
  .passport() {
    background: white;
    position: absolute;
    bottom: 100%;
    right: 0;
    display: none;
    margin: 0 0 5px;
    border: 1px solid #ccc;
    .drop-shadow(0, 0, 5px, 0.2);

    .activity {
      text-transform: capitalize;
      .border-radius(0 0 5px 0);
      font-weight: bold;
      line-height: 18px;
      padding: 0 10px 2px 5px;
      text-shadow: none;
      background-color: @grayLighter;
      float: left;

      &.doubts, &.disbelieves, &.believes { color: @white; }
      &.doubts { background-color: #36a9e1; }
      &.disbelieves { background-color: #e94e1b; }
      &.believes { background-color: #98d100; }
    }

    .username {
      font-weight: bold;
      line-height: @baseLineHeight * 1.1;
    }
    img {
      margin-top: 5px;
      margin-left: 5px;
      float: left;
      .opacity(100);
    }
    .user-info {
      padding: 0px 5px 10px 5px;
      margin-left: 40px;
      line-height: 12px;
      height: auto;

      ul {
        height: auto;
        overflow: hidden;
        width: 200px;

        li {
          float: left;
          word-wrap: break-word;
          display: inline;

          &:not(:last-child):after {
            content: ",";
            margin: 0 2px 0 0;
          }
        }
      }
    }
  }
}
