.profile-user-social-statistics {
  @extend %clearfix;
  margin: 0 0 10px;
  border-bottom: 1px solid $baseBorderColor;
}

.profile-social-statistic-block {
  float: left;
  padding: 10px 0 3px;
  text-align: center;
  width: 50%;

  border-left: 1px solid $baseBorderColor;
  border-right: 0;

  -webkit-border-image: -webkit-linear-gradient(90deg, $baseBorderColor, rgba(202, 202, 202, 0)) 1 100%; //TODO LESS -> SASS Workaround fade(@color, 0)
  -moz-border-image: -moz-linear-gradient(90deg, $baseBorderColor, rgba(202, 202, 202, 0)) 1 100%;
  -ms-border-image: -ms-linear-gradient(90deg, $baseBorderColor, rgba(202, 202, 202, 0)) 1 100%;

  &:first-child {
    border-left: 0 solid transparent;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: $baseFontBoldWeight;
    font-family: $sansFontFamily;
  }
}

.avatar-container--large-avatar {
  border-radius: 3px;
  margin: 0;
}

.avatar-container--large-name {
  font-size: $heading1FontSize;
  word-wrap: break-word;
  max-width: 200px;
  margin-bottom: 7px;
}
