@import "bootstrap/variables";
@import "bootstrap/mixins";

#main-wrapper .profile {
  margin: 25px 0 0;

  .profile-information-item {
    margin-bottom: 10px;

    .profile-information-label {
      display: inline-block;
      width: 90px;
    }
  }
}