.user-follow-user-button {
  width: 100%;
}

.loading-indicator-container {
  @extend %centering-y;
}

.loading-indicator-image {
  @extend %centering-inner;
  margin: 0 0.5em;
}

.loading-indicator-label {
  @extend %centering-inner;
}


.profile-box-container {
  @extend %white-block-with-shadow;
}

.profile-box-item {
  width: 100%;
  display: inline-block;
  padding: 10px 20px 20px;
  vertical-align: top;
  text-align: left;

  @include from-width(700px) {
    width: 50%;

    &:first-child {
      border-right: 1px solid lightgrey;
    }
  }
}

.profile-information-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;

  @include from-width(450px) {
    width: 50%;
  }
}

.profile-bio-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.profile-bio-item-empty {
  color: $metaFontColor;
}

.profile-information-label {
  font-weight: bold;
  display: block;
  color: $metaFontColor;
  margin-bottom: 2px;
}

.profile-feed-activities {
  padding-top: 20px;
}
