@import "bootstrap/variables";
@import "bootstrap/mixins";

#main-wrapper .profile {
  margin: 25px 0 0;

  .profile-information-item {
    margin-bottom: 10px;

    .profile-information-label {
      display: inline-block;
      width: 90px;
    }
    .empty-state {
      color: @metaFontColor;
    }
  }
  .top-channels-region, .profile-information {
    margin-left: 20px;
    width: (@mainColumnWidth / 2) - 40px;
    background: @backgroundGray;
    padding: 10px 20px 20px;
    border: 1px solid #e7e7e7;
    .border-radius(3px);
    text-shadow: 0 1px 0 #fff;
  }
  .profile-information {
    float: right;
  }
  .top-channels-region {
    float: left;
  }
}
