.profile {
  text-align: center;
}

.profile-information-item {
  margin-bottom: 1.25em;

  .profile-information-label {
    font-weight: bold;
    display: block;
    color: $metaFontColor;
    margin-bottom: 2px;
  }

  .empty-state {
    color: $metaFontColor;
  }
}

.profile-box-container {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 20px;
  @extend %white-block-with-shadow;

  @include from-width(700px) {
    width: 50%;
  }
}

.user-follow-user-button {
  width: 200px;
  float: right;
  clear: right;

  &.button-confirm {
    color: white;
  }
}

.profile-information-container {
  text-align: center;
}

.profile-information-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;

  @include from-width(450px) {
    width: 50%;
  }
}

.empty-profile-facts {
  margin-top: 20px;
}

.profile-feed-activities {
  padding-top: 20px;
  text-align: left;
}
