#main-wrapper .profile {

  .profile-information-item {
    margin-bottom: 1.25em;

    .profile-information-label {
      font-weight: bold;
      display: block;
      color: $metaFontColor;
      margin-bottom: 2px;
    }

    .empty-state {
      color: $metaFontColor;
    }
  }

  .profile-box-container {
    width: 49%;
    float: left;
    padding: 10px 20px 20px;
    @extend %white-block-with-shadow;
  }

  .user-follow-user-button {
    width: 200px;
    float: right;
    clear: right;
  }
}

.profile-social-statistics {
  float: right;
  width: 200px;
}

.profile-picture {
  float: left;
}

.profile-box-bio {
  margin-left: 2%;
}

.empty-profile-facts {
  margin-top: 20px;
}

.profile-feed-activities {
  clear: both;
  padding-top: 20px;
}
