@import "bootstrap/variables";
@import "bootstrap/mixins";

#main-wrapper .content .profile {
  margin: 24px 0 0;

  .top-channels {
    ol {
      .border-radius(3px);
      border: 1px solid #e7e7e7;
      list-style-position: inside;
      margin: 8px 32px 15px 0;
      padding: 0;
      li {
        border-bottom: 1px solid #e7e7e7;
        display: none;
        padding: 8px 0px 8px 10px;

        &:nth-child(-n+5) {
          display: list-item;
        }
        &:nth-child(5), &:last-child {
          border-bottom: solid 1px transparent;
        }
        &:hover {
          span {
            text-decoration: none;
          }
        }
        a {
          padding: 0 0 0 6px;

          span {
            color: #333;
            float: right;
            padding: 0 10px 0 0;
            font-size: 0.9em;

          }
        }
      }
    }
    .show-more { display: block; }
    .show-less { display: none; }
    > a {
      float: right;
      padding: 6px 48px 0;
    }
  }


  .showMore .top-channels {
    li {
      display: list-item;

      &:nth-child(5) {
        border-bottom: 1px solid #e7e7e7;
      }
      &:last-child {
        border-bottom: solid 1px transparent;
      }
    }
    .show-more { display: none;}
    .show-less { display: block;}

  }


  .divider {
    border-right: 1px solid #e7e7e7;
  }

  .row {
    display: block;
    margin: 0 0 12px;
    .field-label {
      float: left;
      display: inline-block;
      width: 92px;
    }
    .field {
      width: 208px;
      display: inline-block;
    }
  }
}
