@import "bootstrap/mixins";

.top-channel-container {
  .top-channels {
    border-radius: @baseBorderRadius;
    border: 1px solid @mutedBorderColor;
    background: #fff;

    .top-channels-text {
      margin: 10px;
    }

    .top-topics-item {
      border-bottom: 1px solid @mutedBorderColor;
      .ellipsis(100%);
      position: relative;
      padding: 10px 10px 8px;
      display: none;

      &:nth-child(-n+5) {
        display: block;
      }

      &:nth-child(5), &:last-child {
        border-bottom: solid 1px transparent;
      }
    }
  }

  .top-channels-show-more,
  .top-channels-show-less {
    float: right;
    margin-top: 10px;
  }

  .top-channels-show-less {
    display: none;
  }

  &.showMore {
    .top-channels .top-topics-item {
      display: block !important;

      &:nth-child(5) {
        border-bottom: 1px solid @mutedBorderColor;
      }
    }

    .top-channels-show-more {
      display: none;
    }

    .top-channels-show-less {
      display: inline !important;
    }
  }

  .ajax-loader {
    padding: 10px;
  }
}
