@import "bootstrap/variables";
@import "bootstrap/mixins";

.top-channel-container {
  .top-channels {
    .border-radius(3px);
    border: 1px solid @mutedBorderColor;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    background: #fff;

    .top-channels-channel {
      border-bottom: 1px solid @mutedBorderColor;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;

      padding: 8px 50px 8px 5px;

      display: none;
      &:nth-child(-n+5) {
        display: list-item;
      }

      &:nth-child(5), &:last-child {
        border-bottom: solid 1px transparent;
      }

      .top-channels-channel-authority {
        position: absolute;
        right: 10px;
      }
    }
  }

  .top-channels-show-more,
  .top-channels-show-less {
    float: right;
    margin-top: 10px;
  }

  .top-channels-show-less {
    display: none;
  }

  &.showMore {
    .top-channels .top-channels-channel {
      display: list-item !important;

      &:nth-child(5) {
        border-bottom: 1px solid @mutedBorderColor;
      }
    }

    .top-channels-show-more {
      display: none;
    }

    .top-channels-show-less {
      display: inline !important;
    }
  }
}
