<div class="js-alert js-alert-error alert alert-error hide">
  Your comment could not be posted, please try again.
  <a class="close" href="#" data-dismiss="alert">x</a>
</div>

<div class="js-avatar-region"></div>

<div class="add-comment-container">
  <div class="js-input-region"></div>
</div>
<button class="button button-confirm button-small post-comment js-post">Post comment</button>

<label class="view-toggle">
  <input type="checkbox" class="js-switch-to-factlink">
  Post as Factlink
</label>
