<div class="js-comment-error-message alert alert-error hide">
  Your comment could not be posted, please try again.
  <a class="close" href="#" data-dismiss="alert">x</a>
</div>

<input type="text" class="content" placeholder="{{ type_of_action_text }} because:">

<label class="pull-right">
  <input type="checkbox" class="js-switch">
  Post as Factlink
</label>

<input type="submit" class="submit pull-right btn btn-primary" value="Add comment">
