<img src="http://placekitten.com/32/32" height="32" width="32">

<div class="fact-relation-added-by">
  <strong>
    <a href="/tomdevskitten" rel="backbone">tomdevskitten</a>
  </strong>
  ( <img src="{{global.brain_image}}"> 10.4 ) added:
</div>

<span>{{ content }}</span>
