<label class="add-comment-share-label">
  <input type="checkbox">
  <span class="share-button share-button-facebook js-facebook">Facebook</span>
</label>
<label class="add-comment-share-label">
  <input type="checkbox">
  <span class="share-button share-button-twitter js-twitter">Twitter</span>
</label>
