{{#submitting}}
  <img class="share-fact-selection-loading-indicator" src="{{global.ajax_loader_image}}">
{{/submitting}}
{{^submitting}}
  {{^connected_facebook}}
    <a href="/auth/facebook?use_authorize=true&x_auth_access_type=write" class="share-button share-button-facebook share-button-disabled js-connect-facebook pull-right js-accounts-popup-link">Facebook</a>
  {{/connected_facebook}}

  {{^connected_twitter}}
    <a href="/auth/twitter?use_authorize=true&x_auth_access_type=write" class="share-button share-button-twitter share-button-disabled js-connect-twitter pull-right js-accounts-popup-link">Twitter</a>
  {{/connected_twitter}}

  {{#connected_facebook}}
    <label class="pull-right js-share-facebook">
      <input type="checkbox">
      <span class="share-button share-button-facebook">Facebook</span>
    </label>
  {{/connected_facebook}}

  {{#connected_twitter}}
    <label class="pull-right js-share-twitter">
      <input type="checkbox">
      <span class="share-button share-button-twitter">Twitter</span>
    </label>
  {{/connected_twitter}}
{{/submitting}}
