<%= yield :personalized_message %>

<p>Je bent door <%= @resource.invited_by || current_user %> voor Factlink uitgenodigd. We hebben een account voor je gemaakt zodat je de mogelijkheden van Factlink kunt ontdekken.
</p><b>
<%= link_to 'Accepteer de uitnodiging door op deze link te klikken', @resource.invitation_token && accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>
</b></p><p>
Factlink is een nieuw internetconcept, waarmee je gemakkelijk uit kunt vinden of wat je online tegenkomt in artikelen of blog-posts wel betrouwbaar is. Vaak staan er stellingen op websites waar je je misschien van afvraagt of deze wel kloppen. Veel online informatie is snel verouderd: iets wat net nog waar was kan al weer achterhaald zijn. Ook is er veel misleidende informatie op het internet. Alles uitzoeken en nakijken is natuurlijk ondoenlijk. Met Factlink doen mensen dat samen. Wat een persoon weet en toevoegt kan een ander weer verder helpen. Via Factlink krijg je direct inzicht in wat anderen met expertise weten van het onderwerp wat jou interesseert.
</p><p>
Hoe het werkt? Je kunt met behulp van Factlink gemakkelijk op bijna alle websites een bewering selecteren en aangeven of je het eens of oneens bent met deze bewering. Daarnaast kun je aangeven of je andere bronnen kent die jouw mening ondersteunen. Ook kun je direct aangeven bij welk onderwerp de bewering hoort. Andere gebruikers kunnen daarna zien wat jij hebt toegevoegd en hun mening hierover geven. Als ze je toevoeging waardevol vinden en gebruiken dan krijg je daardoor meer autoriteit.
</p><p>
Factlink is nog zeer nieuw en we hebben jouw hulp als gebruiker nodig om te leren wat we moeten verbeteren. Op basis van jouw feedback voegen we dagelijks nieuwe functionaliteit toe om te zorgen dat Factlink nog beter wordt. Zo zullen we bijvoorbeeld sociale functionaliteit toevoegen, zodat je gemakkelijk iemand uit je sociale netwerk kunt laten weten wat jij interessant vindt en diegene om zijn/haar mening vragen. Ook kun je straks via Factlink zien wat jouw vrienden die ook op Factlink zitten ergens over weten.
</p><p>
Je kunt Factlink toevoegen aan je Chrome browser als extensie of als ‘bookmarklet’ aan Firefox of Safari. Sorry nog GEEN Internet Explorer. We zijn heel benieuwd wat je er van vindt en hoe je het gaat gebruiken! Via de ‘Feedback’ knop aan de linkerkant van je scherm kun je eenvoudig aangeven wat je wel of niet bevalt of suggesties doen voor wat beter kan. We wensen je veel plezier met Factlink en horen graag van je!
</p><p>
Dank je wel voor het uitproberen van Factlink!
</p><p><i>
--Merijn Terheggen, CEO
</i></p>
