<% content_for :email_body do %>

  <p>Hi <%= @resource.name %>,</p>

  <p>Welcome to Factlink! Please confirm your email by clicking below.</p>

  <p class="cta"><%= link_to 'Confirm email', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), class: 'btn-email' %></p>

  <p>We’ve only built part of our vision of what Factlink could be. Please send us your <a href="mailto:support@factlink.com">feedback</a> so we can make it better!</p>

  <p><em>&mdash; The Factlink team</em></p>

<% end %>

<%= render template: "layouts/email" %>
