<% content_for :email_body do %>

  <p>Hi <%= @resource.username %>,</p>

  <p>Congratulations on reserving your username on Factlink. Please confirm your email address so we can activate your account once we're gearing up for more users.</p>

  <p><%= link_to 'Please confirm your email address by clicking this link', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

  <p>Thanks for now!</p>

<% end %>

<%= render template: "layouts/email" %>
