<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @resource.name %></h1>
  <h2 class="header-subtitle">Welcome to Factlink! Please confirm your email by clicking below.</h2>
<% end %>

<% content_for :email_body do %>

  <p align="center"><%= link_to 'Confirm email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), class: 'button' %></p>

  <p>We’ve only built part of our vision of what Factlink could be. Please send us your <a href="mailto:support@factlink.com">feedback</a> so we can make it better!</p>

  <p><em>&mdash; The Factlink team</em></p>

<% end %>

<%= render template: "layouts/email" %>
