<% content_for :email_body do %>

<% content_for :personalized_message do %>
  <div style='font-style: italic; border-left: solid 2px #ccc; padding:0 0 0 24px;'>
    <%= @resource.invitation_message.html_safe %>
  </div>
<% end %>

  <%= render 'users/mailer/invitation_text' %>

<% end %>

<%= render template: "layouts/email" %>
