<% content_for :email_body do %>

<p>Hello!</p>

<p><%= @resource.invited_by %> has invited you to Factlink:</p>

<p style='background-color: red;'>
<%= @resource.invitation_message %>
<p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>

<% end %>

<%= render template: "layouts/email" %>