<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @resource.name %></h1>
  <h2 class="header-subtitle">Someone has requested a link to change your password</h2>
<% end %>

<% content_for :email_body do %>

  <% if (@resource.active?) %>
    <p align="center"><%= link_to 'Reset password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), class: 'button button-middle' %></p>
  <% else %>
    <p align="center"><%= link_to 'Set up my account', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, msg: 'welcome'), class: 'button' %></p>
  <% end %>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

<% end %>

<%= render template: "layouts/email" %>

