<% content_for :email_body do %>

  <p>Hey <%= @resource.name %>!</p>

  <p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

  <p>You can unlock your account by clicking the link below:</p>

  <p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

  <p>We hope this will get you back on track on Factlink again.</p>

<% end %>

<%= render template: "layouts/email" %>
