@import "bootstrap/variables";
@import "bootstrap/mixins";

#channel {
  .channel-listing() {
    background: white;
    display: none;
    z-index: 2000;
    .drop-shadow(0, 0, 5px, 0.2);
    border: 1px solid @grayLight;
    width: 200px;
    position: absolute;

    ul {
      max-height: 160px;
      overflow-y: auto;
      .visible-scroll();
      padding: 4px 0 0 4px;

      li {
        .ellipsis();
        width: 170px;
        padding: 5px 0 5px 0 !important;
        margin: 0 0 0 5px !important;
        border: none !important;
        line-height: 13px;

        label {
          margin: 0;
          line-height: 13px;
        }
      }
    }

    .add-channel {
      border-top: solid 1px #ddd;
      padding: 8px;

      div {
        height: 28px;
        line-height: 14px;
        margin: 0;
        padding: 0;

        input[type="text"] {
          line-height: normal;
          width: 112px;
          border: solid 1px #ccc;
        }

        .submit {
          margin: -9px 0 0;
        }
      }
    }
  }
}

