@import "bootstrap/mixins";
@import "bootstrap/variables";

.left-sidebar {
  width: 160px;
  margin-bottom: 50px;
  ul {margin: 0;} // WHY BOOTSTRAP? how is anything other than this a sane default

  @margin-left: 9px;
  @color-width: 4px;
  .menu-item {
    line-height: @baseLineHeight;
    .box-sizing(border-box);
    position: relative;

    .menu-header-item-link {
      text-shadow: 0px 1px 0px @white;
      width: 100%;
      display: block;
      padding: 3px 4px 3px @margin-left; // was 31px
    }

    &.active {
      .menu-header-item-link {
        font-weight: bold;
        color: @headingFontColor;
      }
    }

    .menu-content-box {
      margin-left: 22px;
    }

    .menu-ellipsis-box {
      width: 110px;
      display: inline-block;
      .ellipsis();
    }

    // <active box>
    .menu-header-item-link {
      border: 1px solid transparent;
    }
    &.active {
      background: @linkColor;

      .menu-header-item-link {
        .background();

        margin-left: @color-width;
        padding-left: @margin-left - @color-width;

        border: 1px solid @baseBorderColor;
        border-left: 1px solid transparent;
      }
    }
    // </active box>
  }

  .menu-header-item {
    margin-bottom: 4px;
    font-weight: bold;

    &:last-child{
      margin-bottom:0;
    }
  }

  .menu-header-item-icon {
    position: absolute;
    top: 5px;
  }
}
