@import "bootstrap/mixins";

.left-sidebar {
  width: 160px;
  margin-bottom: 50px;
  ul { margin: 0; } // WHY BOOTSTRAP? how is anything other than this a sane default

  @margin-left: 9px;
  @color-width: 4px;
  .sidebar-item {
    line-height: @baseLineHeight;
    .box-sizing(border-box);
    position: relative;
    border-left: @color-width solid transparent;

    .sidebar-item-link {
      text-shadow: 0px 1px 0px @white;
      width: 100%;
      display: block;
      padding: 3px 0 3px 9px;
      border: 1px solid transparent;
      border-left: none;
      .ellipsis(160px);

      i {
        vertical-align: -10%; // Works well both in Chrome and FF
      }
    }

    .sidebar-item-no-icon {
      padding-left: 33px;
    }

    &.active {
      border-left: @color-width solid @linkColor;

      .sidebar-item-link {
        background: white;

        border: 1px solid @baseBorderColor;
        border-left: none;

        font-weight: bold;
        color: @headingFontColor;
      }
    }
  }

  .sidebar-item_header {
    font-weight: bold;
  }
}
