@import "bootstrap/mixins";
@import "bootstrap/variables";

.left-sidebar {
  width: 160px;
  margin-bottom: 50px;
}

.left-sidebar .channel-listing {

  @margin: 3px;
  margin: 0 0 0 0;

  .menu-item, .menu-header-item {
    color: @linkColor;
    &:hover { color: @linkColorHover; }

    .box-sizing(border-box);
    line-height: @baseLineHeight;

    a, .menu-header-item-link {
      text-shadow: 0px 1px 0px @white;
      .transition(color .15s ease-in-out);

      width: 100%;
      display: block;
      padding: @margin 4px @margin 31px;
    }

    &.active, &.non-interactive {
      a, .menu-header-item-link {
        color: @headingFontColor;
        font-weight: bold;
      }
    }
  }

  .selectable-menu-item {
    a, .menu-header-item-link {
      border: 1px solid transparent;
    }

    &.active {
      background: @linkColor;
      a {
        .background();
        margin-left: 4px;
        border: 1px solid @baseBorderColor;
        border-left: 1px solid transparent;
      }
    }
  }

  .menu-list-item {
    .title {
      width: 110px;
      display: inline-block;
      .box-sizing(border-box);
      position: relative;
      .ellipsis();
  }
    &.active .title {
       left: -4px;
    }
  }

  .menu-header-item {
    margin-bottom: 4px;
    font-weight: bold;

    .menu-header-item-link          {  padding-left: 9px; }
    &.active .menu-header-item-link {  padding-left: 5px; }

    &:last-child{
      line-height: 20px;
      padding: 0;
      margin-bottom:0;
    }
  }

  .menu-header-item-icon { margin-right: 4px; }
}
