@import "bootstrap/mixins";
@import "bootstrap/variables";

.channel-subchannels {
  line-height: 40px;

  #contained-channels {
    border-bottom: 1px solid @baseBorderColor;

    .contained-channel-description {
      color: #777;
    }
    #contained-channel-list {
      margin: 0;
      padding: 0;
      display: inline;

      > li {
        display: inline-block;
        position: relative;

        margin: 0 0 0 10px;
        background-color: #F9F9F9;
        padding: 5px;
        border: 1px solid #eee;

        &:first-child {
          margin-left: 5px;
        }

        > a {
          display: block;
          height: 100%;

          > img {
            width: 20px;
            margin: -2px 3px 0 2px;
            .border-radius(3px);
          }

          > .close {
            float: none;
          }
        }
      }
    }
  }


}
