@import "bootstrap/mixins";
@import "bootstrap/variables";

.channel-subchannels {
  line-height: 40px;
  .reset-main-padding();
  border-bottom: 1px solid @mutedBorderColor;

  #contained-channels {
    padding: 5px 0;

    .contained-channel-description {
      color: #777;
    }

    #contained-channel-list {
      margin: 0;
      padding: 0;
      display: inline;

      > li {
        display: inline-block;
        position: relative;

        margin: 0 0 0 10px;

        &:first-child {
          margin-left: 5px;
        }

        > a {
          display: block;
          height: 100%;

          background-color: @backgroundGray;
          padding: 3px 5px 3px 2px;
          .border-radius(3px);
          color: #333;
          .box-shadow(inset 0 1px 1px rgba(255, 255, 255, .5));

          border: 1px solid @mutedBorderColor;

          &:hover {
            background: #edf3f7;
            color: @linkColor;
            border: 1px solid #c5d7e3;
          }

          > img {
            width: 20px;
            margin: -2px 3px 0 2px;
            .border-radius(3px);
          }

          > .close {
            float: none;
          }
        }
      }
    }
  }


}
