@import "bootstrap/variables";

.channel-empty-facts {
  .channel-empty-facts-browser {
    margin-top: 30px;
    text-align: center;
    color: @metaFontColor;

    img.channel-empty-facts-browser-icon {
      float: left;
      margin: 0 30px 0 110px;
    }

    .channel-empty-facts-browser-text {
      float: left;
      width: 340px;
      margin-top: 40px;
    }

    .channel-empty-facts-browser-button {
      margin-top: 10px;
      color: black;

      img.channel-empty-facts-browser-button-icon {
        vertical-align: text-top;
      }
    }

    .channel-empty-facts-browser-text-no-button {
      margin-top: 20px;
    }
  }

  .channel-empty-facts-extension-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
