@import "bootstrap/variables";

.channel-empty-facts {
  margin-top: 15px;

  text-align: center;
  color: @metaFontColor;

  img.channel-empty-facts-logo {
    margin: 15px 0;
  }

  .channel-empty-facts-extension-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
