@import "bootstrap/mixins";
@import "bootstrap/variables";

.channel-form {
  .help-block {
    text-align: center;
    margin: 25px auto;
    border: 1px solid #bce8f1;
    color: #3a87ad;
    .border-radius(4px);
    background: #d9edf7;
    width: 600px;
    padding: 5px 10px;
  }
}