@import "bootstrap/mixins";

.add-to-channel-suggested-topics {
  margin-bottom: 15px;
}
.add-to-channel-suggested-topics > .auto-complete-result-item  {
  cursor: pointer;
  background: #edf3f7;
  color:  @linkColor;
  border-color: #c5d7e3;

  &:hover > .add-to-channel-action-icon { opacity: .85; }
}
