@import "bootstrap/mixins";

.add-to-channel-suggested-topics.auto-complete-results {
  margin-bottom: 15px;

  > li {
    cursor: pointer;
    background: #edf3f7;
    color:  @linkColor;
    border-color: #c5d7e3;
  }
  > li:hover > a.add-to-channel-action-icon { opacity: .85; }
}
