@import "bootstrap/mixins";

@header-padding-bottom: 8px;

#channel {
  header.channel-header {
    padding-bottom: @header-padding-bottom;
    &.topic-header {
      line-height: 24px;
      h1 {
        .ellipsis(370px);
      }
      .favourite-topic-button-container {
        margin: 14px 0 0 10px;
        float: left;
      }
    }
    h1.channel-title {
      display: inline-block;
      margin: 15px 5px 0 0;
      float: left;
    }
  }
}
