@import "bootstrap/mixins";

#channel {
  header.channel-header {
    padding-bottom: 8px;
    &.topic-header {
      padding-bottom: 0;
      h1 {
        .ellipsis();
        max-width: 370px;
      }
      .favourite-topic-button-container {
        margin: 14px 0 0 10px;
      }
    }
    h1.channel-title {
      display: inline-block;
      margin: 15px 5px 0 0;
    }

    span.channel-authority-for-user {
      background: image-url('brain.png') no-repeat left center;
      padding: 0 0 0 15px;
      font-size: @metaFontSize;
      line-height: 24px;
    }

    div.add-to-channel-region {
      display: inline-block;
      margin: 0 25px 0 0;
    }
    .channel-statistics {
      margin: 10px 0 0;
      li {
        display: inline-block;
        line-height: normal;
        padding: 0 15px 7px;
        border-left: 1px solid @baseBorderColor;
        border-width: 0 0 0 1px;
        .fading-border(@baseBorderColor);
        font-size: @metaFontSize;
        span {
          width: 100%;
          display: block;
          &.channel-authority-for-user {
            font-size: 14px;
            line-height: normal;
            padding-left: 18px;
          }
        }
        a {
          color: @baseFontColor;
          span {
            font-size: 14px;
            color: @linkColor;
          }
          &:hover, &:hover span {
            color: @linkColorHover;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &.channel-options {
          vertical-align: top;
          padding-right: 0;
          line-height: 30px;
          span, .option-dropdown {
            display: inline-block;
            width: auto;
            line-height: normal;
          }
          .option-dropdown {
            font-size: @metaFontSize;
            margin: 0;
            width: 110px;
            height: 24px;
          }
        }
      }
    }
  }
}
