#channel {
  header.title {
    h1.channel-title {
      display: inline-block;
      margin-right: 10px;
    }

    div.button-wrap {
      position: absolute;
      line-height: 30px;
      display: inline-block;
    }
  }
}