<% content_for :styles do %>
<style type="text/css">
  h2 {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    color: #555;
    font-size: 17px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 22px;
    background: #f4f4f4;
    padding: 15px;
    border: 1px solid #eee;
    text-shadow: 0 1px 0 #fff;
  }

  a {
    color: #3D75A3;
    text-decoration: none;
  }
</style>
<% end %>

<% content_for :email_body do %>
  <h2>You've received a new notification on Factlink:</h2>

  <p>
    <%= render_mail_template_for_action @activity.action %>
  </p>
<% end %>
