!!! 5
html
  head
    title Factlink Short URL Service
    link(rel="stylesheet", type="text/css", href= static_url + "proxy/styles/header.css")
  body
    header
      form(action=".", method="GET", target="_parent")
      
        input(type="text", value=url, name="url")
        
        a.close(href="javascript:parent.location.href='#{static_url}/client/close_proxy.html'") x
