!!! 5
html
  head
    title Factlink Short URL Service
    link(rel="stylesheet", type="text/css", href= static_url + "styles/header.css")
  body
    header
      form(action=".", method="GET", target="_parent")
        a(href="#") &laquo;
      
        a(href="#") &raquo;
      
        input(type="text", value=url, name="url")