!!! 5
html
  head
    title Factlink Short URL Service
    link(rel="stylesheet", type="text/css", href= static_url + "/proxy/styles/header.css")
  body
    header
      form(action=".", method="GET", target="_parent")
      
        input(type="text", value=clean_page_url, name="url")
        input(type="hidden", value=factlinkModus, name="factlinkModus")
        
        -if (page_url !== undefined && page_url !== '')
          a.close(href=clean_page_url, target="_top") x
