!!! 5
html
  head
    title Factlink Short URL Service
    link(rel="stylesheet", type="text/css", href= static_url + "proxy/styles/header.css")
  body
    header
      form(action=".", method="GET", target="_parent")
        //a.button(href="javascript:parent.history.go(-1);") &laquo;
      
        //a.button(href="javascript:parent.history.go(1);") &raquo;
      
        input(type="text", value=url, name="url")
        
        a.close(href="javascript:parent.location.href='http://localhost:3000/client/close_proxy.html'") x