!!! 5
html(lang="en")
  head
    title Factlink - Blacklisted site
    link(rel="stylesheet", type="text/css", href= proxy_url + "/static/styles/error.css")
  body
    div#error
      h1 Unsupported website

      div.bubble
        p The site you are visiting is currently not supported with the Factlink proxy. This means that we disabled our Factlink functionality to prevent the website no longer works. We disabled Factlink also on websites that are using information that is against our privacy policy.

        p If you are visiting a website that is not working but should work with Factlink please contact us so we can try to make Factlink working on this website.

        p
          | Type another url in the Factlink proxy or visit
          a(href="#{core_url}",target="_top") Factlink
          |  for more information.
