!!! 5
html(lang="en")
  head
    title Factlink - Unsupported website
    link(rel="stylesheet", type="text/css", href= proxy_url + "/static/styles/error.css")
  body
    div#error
      h1 Unsupported website

      div.bubble
        p The site you are visiting is not supported by Factlink. This means that we disabled the Factlink functionality to prevent the website from breaking.

        p Factlink might also be disabled on pages that could provide personal information, for example banking or email websites.

        p If you are visiting a website that is not working but should work with Factlink please contact us so we can try to make Factlink working on this website.

        p
          | Type another url in the Factlink proxy or visit&nbsp;
          a(href="#{core_url}",target="_top") Factlink
          |  for more information.

    script(type='text/javascript')
      top.document.title = document.title
