!!! 5
html(lang="en")
  head
    title Factlink - Something went wrong
    link(rel="stylesheet", type="text/css", href= "static/styles/error.css")
  body
    div#error
      h1 Factlink Browser: Something went wrong

      div.bubble
        p An error has occured which could not be automatically corrected.
        p You tried to visit: #{site}
        p Please check the URL to continue.
