!!! 5
html(lang="en")
    head
        title Factlink Browser
        link(rel="stylesheet", type="text/css", href= "static/styles/index.css")
    body
      header
        img(src="static/images/factlink-logo-beta.png")

        form(action=".", method="GET", class="input-append")

          input(type="text", name="url", placeholder="http://example.com/", tabindex=1)
          button(type="submit", class="button", tabindex=2).
            Go
      div#welcome
        h1 Factlink Browser

        div.bubble
          img.add-factlink(src="static/images/add-factlink.png")
          p The Factlink Browser enables Factlink on each page you visit. The Factlink software is automatically loaded when you visit a website trough the Factlink Browser. You can just annotate a statement and add your opinion to it.
          p To start using the Factlink Browser you can use the url bar above.
          p More information about using Factlink can be found&nbsp;
            a(href="#{core_url}/p/help",target="_top") here.

