!!! 5
html(lang="en")
  head
    title Factlink - Welcome
    link(rel="stylesheet", type="text/css", href= proxy_url + "/static/styles/error.css")
  body
    div#error
      h1 Factlink Browser

      div.bubble
        img(src=proxy_url + "/static/images/add-factlink.png")
        p The Factlink Browser enables Factlink on each page you visit. The Factlink software is automaticly loaded when you visit a website trough the Factlink Browser. You can just annotate a statement and add your opinion to it.
        p
          | To start using the Factlink Browser you can use the url bar above or do a&nbsp;
          a(href="javascript:parent.location.href='#{proxy_url}/?url=http://search.yahoo.com'") web search
          |&nbsp;to continue. You can stop using the browser at any time by clicking the close button on the right top of your screen.
        p More information about using Factlink can be found&nbsp;
          a(href="#{core_url}/p/help",target="_top") here
          .

    script(type='text/javascript')
      top.document.title = document.title
