<div class="notification-center-alerts js-notification-center-alerts"></div>

<% content_for :alert_javascript do %>
  <script type="text/javascript">
    $(function() {
      <% if alert %>
        FactlinkApp.NotificationCenter.error('<%= j(alert) %>');
      <% end %>

      <% if notice %>
        FactlinkApp.NotificationCenter.success('<%= j(notice) %>');
      <% end %>
    });
  </script>
<% end %>
