<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>

<h1 class="unsubscribe-text">Something went wrong with <%= @subscribe_action == 'subscribe' ? "subscribing" : "unsubscribing" %>, maybe you already were <%= @subscribe_action == 'subscribe' ? "subscribed" : "unsubscribed" %>?</h1>
