<h1 class="unsubscribe-text">You have been succesfully unsubscribed from our notification emails.</h1>

<%= link_to 'Subscribe again', unsubscribe_url(@user.user_notification.notification_settings_edit_token, :mailed_notifications), class: 'button button-confirm' %>
