@import "bootstrap/mixins";

.vote-up-down {
  .clearfix();
  width: 300px;
  padding: 20px;

  h5 {
    margin: 0;
  }

  .button-confirm { float: right; }

  .tabular { border-spacing: 0.5em 0.1em; margin: 1em -0.5em; }
}
