@import "bootstrap/mixins";

.vote-up-down {
  width: 280px;
}

.vote-up-down-line {
  margin: 16px 18px 0;
  padding-bottom: 10px;
}

.vote-up-down-with-fact .vote-up-down-line-container&:first-child .vote-up-down-line {
  box-shadow: 0px 1px @mutedBorderBottomColor, 0px 2px @mutedBorderTopColor;
}

.vote-up-down-button {
  margin-top: -3px;
  margin-left: 10px;
}

.vote-up-down-text {
  transition: background-color 0.5s;
  background-color: transparent;
}

.vote-up-down-highlight .vote-up-down-text {
  background-color: @lightYellow;
}
