@import "bootstrap/mixins";
@import "bootstrap/variables";

.vote-up-down {
  .clearfix();
  width: 300px;
  padding: 20px;

  h5 {
    margin: 0;
  }
  label {
    font-size: @baseFontSize;
  }

  .button-confirm { float: right; }

  .tabular { border-spacing: 0.5em 0.1em; margin: 1em -0.5em; }
}
