<header class="append-bottom title">
  <h1>Showing job</h1>
</header>

<div>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Title:</b>
    <%= @job.title %>
  </p>

  <p>
    <b>Content:</b>
    <%= @job.content %>
  </p>


  <%= link_to 'Back', admin_jobs_path %>
</div>