<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet/less" type="text/css" href="/client/css/modal.less">
	
	<title>Factlink modal window</title>
	<script type="text/javascript" src="/client/js/less-1.0.41.min.js"></script>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="/client/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/client/js/jscrollpane.min.js"></script>
</head>
<body>

	<%= yield %>

</body>
</html>