<% unless defined? not_fixed %>
  <% not_fixed = false %>
<% end %>
<% unless defined? wide %>
  <% wide = false %>
<% end %>
<% content_for :left_column do %>
  <div class="left-top-x-fade"></div>
  <div class="js-left-top-region left-top-region"></div>
  <div class="js-left-middle-region"></div>
  <div class="js-left-bottom-region"></div>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      Backbone.history.start({pushState:Modernizr.history});
    });
  </script>
<% end %>

<%= render template: 'layouts/frontend', locals: { not_fixed: not_fixed, wide: wide } %>
