<% content_for :left_column do %>
  <div class="channel-listing-container">
  </div>
  <div class="related-users">
  </div>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      Backbone.history.start({pushState:true, silent:true});

      Channels.reset(<%= channels_for_user(@user).map{|ch| Channels::Channel.for(channel: ch,view: self,channel_user: @user) }.to_json.html_safe %>);

      <% if @channel && !@channel.new? %>
        window.currentChannel = Channels.get(<%= @channel.id %>);
      <% end %>

      <% if current_user && !current_user.seen_the_tour && (can? :access, Ability::FactlinkWebapp) %>
        Tour.show();
      <% end %>

    });
  </script>
<% end %>

<%= render template: 'layouts/frontend' %>
