<% content_for :left_column do %>
  <div class="left-top-x-fade"></div>
  <div class="user-block-container"></div>
  <div class="channel-listing-container"></div>
  <div class="related-channels"></div>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      Backbone.history.start({pushState:Modernizr.history, silent:true});

      <% if @user %>
        Channels.setUsername("<%= current_user.username %>");
      <% end %>

      <% if @channel && !@channel.new? %>
        window.currentChannel = new Channel
      <% end %>

      // this should be moved to an initializer
      // however currently we cannot, since this should
      // not be executed on the single fact page.
      $('.potential-backbone').attr('rel', 'backbone');

    });
  </script>
<% end %>

<%= render template: 'layouts/frontend' %>
