<% content_for :left_column do %>
  <ul id="channel-listing">
  </ul>
<% end %>

<% content_for :left_column do %>
  <div class="related-users">
  </div>
<% end %>

<% content_for :javascript do %>
  <script>
    Channels.reset(<%= channels_for_user(@user).map{|ch| Channels::Channel.for(channel: ch,view: self,channel_user: @user) }.to_json.html_safe %>);

    <% if @channel && !@channel.new? %>
      window.currentChannel = Channels.get(<%= @channel.id %>);
    <% end %>
  </script>

  <% if current_user && !current_user.seen_the_tour && (can? :access, Ability::FactlinkWebapp) %>
      <script>$(document).ready(function(){ Tour.show(); });</script>
  <% end %>

<% end %>

<%= render template: 'layouts/frontend' %>
