<% unless defined? not_fixed %>
  <% not_fixed = false %>
<% end %>
<% content_for :left_column do %>
  <div class="left-top-x-fade"></div>
  <div class="user-block-container"></div>
  <div class="channel-listing-container"></div>
  <div class="js-related-channels related-channels-container"></div>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      Channels.setUsername("<%= current_user.username %>");

      <% if @channel && !@channel.new? %>
        window.currentChannel = new Channel({id: <%= @channel.id %>});
      <% end %>

      Backbone.history.start({pushState:Modernizr.history});

    });
  </script>
<% end %>

<%= render template: 'layouts/frontend', locals: { not_fixed: not_fixed } %>
