<% unless defined? not_fixed %>
  <% not_fixed = false %>
<% end %>
<% content_for :left_column do %>
  <div class="left-top-x-fade"></div>
  <div class="js-left-top-region user-block-container"></div>
  <div class="channel-listing-container"></div>
  <div class="js-left-bottom-region"></div>
<% end %>

<% content_for :javascript do %>
  <script>
    Backbone.Factlink.startHistory();
  </script>
<% end %>

<%= render template: 'layouts/frontend', locals: { not_fixed: not_fixed } %>
