<% content_for :left_column do %>
  <div class="js-left-top-region left-top-region"></div>
  <div class="js-left-middle-region"></div>
  <div class="js-left-bottom-region"></div>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
      Backbone.history.start({pushState: Modernizr.history});
    });
  </script>
<% end %>

<%= render template: 'layouts/frontend' %>
