<html>
	<head>
		<title>Factlink Client</title>
	</head>

<body>
	<pre>Authenticated user: <%= current_user.email %></pre>
	<pre>Factlink has a message: this is teh client!</pre>
	<hr>
	
	<%= yield %>

</body>
</html>