<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bubble.css">
	<title>Factlink modal window</title>
	
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="/client/js/jquery.scrollTo-1.4.2-min.js"></script>

	<%= javascript_include_tag "rails" %>
	
	<%= csrf_meta_tag %>
</head>
<body>

	<div class="modal">			
			<span class="close" onclick="parent.remote.hide();"></span>
			<%= yield %>
	</div>
  
  <script type="text/javascript">
    $( document ).bind('click', function(e) {
      if( $(e.target).is('body') )
        parent.remote.hide();
    });
  </script>
	<%= yield :javascript %>
</body>
</html>