<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "frontend" %>
<% end %>

<% content_for :main do %>
  <div id="body">
    <div id="container" class="container">
      <%= render 'home/notifications', notice: notice, alert: alert %>

      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/base", locals: {
  fixed_topbar: false,
  show_footer: true,
  show_sign_up: !current_user
} %>