<div class="modal-header">
  <button type="button" class="close close-popup">&times;</button>
  <h3>Repost Factlink</h3>
</div>
<div class="modal-body">

  <div class="alert alert-error js-alert js-alert-error-create_channel hide">
    The new channel could not be created, please try again.
    <a class="close" href="#" data-dismiss="alert">x</a>
  </div>

  <strong>Repost this to one or more channels:</strong>
  <div class="add-to-channel-form"></div>

  {{#can_haz_channel_suggestions}}
  <div class="add-to-channel-suggested-site-topics-region"></div>
  {{/can_haz_channel_suggestions}}

  <input type="submit" class="btn btn-primary pull-right close-popup" value="Done">
</div>
