<div class="modal-header">
  <button type="button" class="close close-popup">&times;</button>
  <h3>Add to Channels</h3>
</div>
<div class="modal-body">
  <strong>Add this channel to one or more channels:</strong>
  <div class="add-to-channel-form"></div>
  <input type="submit" class="btn btn-primary pull-right close-popup" value="Done">
</div>
