<a class="btn btn-mini" id="add-to-channel">
  <span class="add-to-channel-button-label">
    <i class="icon-plus"></i>
    {{global.t.add_to_channels}}
  </span>
  <span class="added-to-channel-button-label" style="display:none">
    <image src="{{global.checkmark}}"></image>
    {{global.t.added_to_channels}}
  </span>
</a>
