<div class="alert alert-error js-alert js-alert-error-create_channel hide">
  	The new {{global.t.topic}} could not be created, please try again.
 	<a class="close" href="#" data-dismiss="alert">x</a>
</div>
<strong class="modal-window-body-section-heading">Repost this to one or more {{global.t.topics}}:</strong>

<div class="add-to-channel-form"></div>

<div class="add-to-channel-suggested-topics-region"></div>

<input type="submit" class="button button-confirm pull-right js-close" value="Done">
