<div class="modal-header">
  <button type="button" class="close close-popup">&times;</button>
  <h3>Repost Factlink</h3>
</div>
<div class="modal-body">
  <strong>Repost this to one or more channels:</strong>
  <div class="add-to-channel-form">
  </div>
  <input type="submit" class="btn btn-primary close-popup" value="Done">
</div>
