<table>
  <tr class="js-row-my">
    <th>My channels</th>
    <td><ul class="js-list-my"></ul></td>
  </tr>
  <tr class="js-row-all">
    <th>Topics</th>
    <td><ul class="js-list-all"></ul></td>
  </tr>
  <tr class="js-row-new">
    <td colspan="2"><ul class="js-list-new"></ul></td>
  </tr>
</table>
