{{#new}}
  <div class="add-new-block">
    <i class="icon-plus"></i>
    Create a new channel called <strong>&ldquo;<span class="search">{{title}}</span>&rdquo;</strong>
  </div>
{{/new}}
{{^new}}
  <div class="text">{{{ highlightedTitle }}}</div>
{{/new}}
