<div class="added_channels_container">
</div>

</ul>
<div class="fake-input">
  <input type="text" class="typeahead">
  <a class="btn btn-mini"><i class="icon-plus"></i></a>
  <img class="loading" src="/assets/ajax-loader.gif">
</div>
<a class="btn btn-mini show-input-button"><i class="icon-plus"></i></a>
<div class="auto_complete_container">

</div>