<input type="text" class="typeahead">
<div class="auto_complete">
  <ul>
  </ul>
  <div>
    <a class="btn btn-mini"><i class="icon-plus"></i></a>
    <span>Add <strong>&ldquo;pol&rdquo;</strong> as a new channel</span>
  </div>
</div>
