<div id="channel">
  <header class="content-header channel-header">
    <h1 class="channel-title">
      {{ title }}
    </h1>
  </header>

  <div id="activity_for_channel" class="js-region-activity-list"></div>
</div>
