<div id="channel" data-channel-id="{{ id }}">
  <header class="append-bottom title">
    {{#editable?}}
      <a href="{{ edit_link }}" class="btn">edit</a>
    {{/editable?}}
  
    {{#followable?}}
      <a href='' class='button'>Add to channels</a>
      <div class="float-box channel-listing"></div>
    {{/followable?}}

  	<h1>
  	  {{ title }}
    </h1>
    <!--<%# if @channel.followable? %>
      <%#=  render_mustache "contained_channel_list", channels: @channel.contained_channels %>
    <%# end %>-->
  </header>
  <div id="facts_for_channel">
    <div class="loading">
      <img src="/images/ajax-loader.gif"> <span>Loading...</span>
    </div>
  </div>
</div>
