<div id="channel" data-channel-id="{{ id }}">


  <header class="append-bottom title">
  	<h1>
  	  {{ title }}
    </h1>

    <div class="button-wrap">
      {{#editable?}}
      <a href="{{ edit_link }}" class="btn edit small">edit</a>
      {{/editable?}}

      {{#followable?}}
      <a class="btn add small" id="add_to_channel">Add to channels</a>
      <div class="float-box channel-listing" id="follow-channel"></div>
      {{/followable?}}
    </div>

    {{#inspectable?}}
    <div id="contained-channels">
      <span class="contained-channel-description">Other people in this channel</span>
        <ul id="contained-channel-list">
          <div class="overflow"></div>
        </ul>
      </div>
      <div class="more"><a id="more-button"><span class="label">more</span></a></div>
    {{/inspectable?}}

    <div class="channel-tabs">
      <ul>
        <li class="active"><a href="{{{link}}}" rel="backbone">facts</a></li>
        <li><a href="{{{activities_link}}}" rel="backbone">activities</a></li>
      </ul>
    </div>

  </header>
  <div id="facts_for_channel">
  </div>
</div>
