<div id="channel">
  <header class="content-header channel-header">
    <h1 class="channel-title">
      {{ long_title }}
    </h1>

    {{#editable?}}
      <a href="{{ edit_link }}" class="btn edit">edit</a>
    {{/editable?}}

    <div class="add-to-channel-region"></div>

    {{#has_authority?}}
      <span class="channel-authority-for-user">{{created_by_authority}}</span>
    {{/has_authority?}}
  </header>

  <div id="facts_for_channel"></div>
  <div id="activity_for_channel"></div>
</div>
