<ul class="contained-channel-list">
  {{#channels_with_link}}
  <li class="contained-channel">
  <a href="{{link}}" title="{{title}}"><img src="{{user_avatar}}" alt="{{username}}" title="{{username}}"><span>{{title}}</span></a>
  </li>
  {{/channels_with_link}}
</ul>
