<div class="header">
  {{#editable?}}
    <form id="create_fact_for_channel">
      <div class="create_factlink input-box">
        <textarea name="fact" class="input-xxlarge" required="required" placeholder="Post a new Factlink in this channel"></textarea>
        <a class="close">x</a>
      </div>

      <button class="btn btn-primary pull-right" name="submit" type="submit" id="create_new_factlink_button">Post Factlink</button>
    </form>
  {{/editable?}}

  <div class="more" style="display: none;">
    <a href="{{link}}" rel="backbone"><i class="list"></i> <strong class="unread_count">{{unread_count}}</strong> new posts (click here to refresh)</a>
  </div>
</div>

<div class="facts">

</div>

<div class="loading">
  <img src="{{global.ajax_loader_image}}">
  <span>Loading...</span>
</div>

<div class="no_facts">
</div>
