<img class="ajax-loader js-suggested-topics-loading-indicator" src="{{global.ajax_loader_image}}">
<div class="js-content">
  <strong class="js-suggestions-title modal-window-body-section-heading">Suggestions:</strong>
  <div class="js-region-suggested-topics"></div>
</div>
