<button class="btn btn-mini js-follow-topic-button">
    {{global.t.follow}}
</button>

<button class="btn btn-mini js-unfollow-topic-button" style="display:none">
  <span class="js-default-state">
    <image src="{{global.checkmark}}"></image>
    {{global.t.following}}
  </span>

  <span class="js-hover-state" style="display:none">
    <image src="{{global.unfollow}}"></image>
    {{global.t.unfollow}}
  </span>
</button>

