<li class="my-channels menu-header-item selectable-menu-item">
  <span class="menu-header-item-link">
    <i class="icon-list menu-header-item-icon"></i>
    {{ channel_listing_header }}
  </span>
</li>
