<li class="sidebar-item sidebar-item_header">
  <span class="sidebar-item-link">
    <i class="icon-list glyphicon-sizing glyphicon-color sidebar-item-icon"></i>
    <span class="sidebar-item-text">{{ channel_listing_header }}</span>
  </span>
</li>
