{{#is_current_user}}
<li class="stream menu-item">
  <a href="{{stream_path}}" rel="backbone">
    <i class="icon-list"></i> My Stream
  </a>
</li>
{{/is_current_user}}

<li class="profile menu-item">
  <a href="{{ profile_path }}" rel="backbone">
      <i class="icon-user"></i>
      Profile
  </a>
</li>

<li class="conversations menu-item">
  <a href="/c" rel="backbone">
      <i class="icon-envelope"></i>
      Conversations
  </a>
</li>


<li class="my-channels">
  <h1>
      <i class="icon-user"></i>
      {{ channel_listing_header }}
  </h1>
</li>
