{{#is_mine}}
  <div class="visible-when-chrome channel-empty-facts-browser">
    <img src="{{global.icon_empty_channel_chrome}}" class="channel-empty-facts-browser-icon">

    <div class="channel-empty-facts-browser-text">
      <p class="chrome-extension-installed">
        Create a new Factlink above or use the Chrome extension to add Factlinks across the web.
      </p>

      <p class="should-install-chrome-extension">
        Create a new Factlink above or install the Chrome extension and add Factlinks across the web:<br/>

        <a class="btn download-chrome-extension channel-empty-facts-browser-button"><img class="channel-empty-facts-browser-button-icon" src="{{global.browser_icons_chrome_16x16}}"> Install Chrome Extension</a>
      </p>
    </div>
  </div>

  <div class="visible-when-firefox channel-empty-facts-browser">
    <img src="{{global.icon_empty_channel_firefox}}" class="channel-empty-facts-browser-icon">

    <div class="channel-empty-facts-browser-text">
      <p class="firefox-extension-installed">
        Create a new Factlink above or use the Firefox extension to add Factlinks across the web.
      </p>

      <p class="should-install-firefox-extension">
        Create a new Factlink above or install the Firefox extension and add Factlinks across the web:<br/>

        <a id="firefox-extension-button" class="btn channel-empty-facts-browser-button" href="{{firefox_extension_url}}"><img class="channel-empty-facts-browser-button-icon" src="{{global.browser_icons_firefox_16x16}}"> Install Firefox Extension</a>
      </p>
    </div>
  </div>

  <div class="visible-when-unsupported-browser channel-empty-facts-browser">
    <p>Create a new Factlink above or install the bookmarklet to add Factlinks across the web.</p>
  </div>
{{/is_mine}}
{{^is_mine}}
  <p>This channel is currently empty</p>
{{/is_mine}}
