<ul>
</ul>

<div class="add-channel">
  <form method="post" action=".">
    <input type="text" name="channel_title" placeholder="Add new channel">
    <input type="submit" value="Add"> 

  </form>
</div>
