<ul>
</ul>

<div class="add-channel">
  <input type="text" name="channel_title" value="{{default_add_new_value}}" placeholder="Add new" class="channel-title">
  <input type="button" value="Add" class="btn btn-mini submit">
</div>
