<ul>
</ul>

<div class="add-channel">
  <form method="post" action=".">
    <input type="text" name="channel_title" value="{{default_add_new_value}}" placeholder="Add new">
    <input type="submit" value="Add" class="btn btn-mini">
  </form>
</div>
