<div class="user-avatar">
	{{{ created_by.avatar }}}
</div>

<div class="wrapper">
	<a href="{{link}}" rel="backbone">{{ title }}</a>
	<div>
		{{ created_by.username }}
	</div>
</div>

<a class="follow btn btn-mini">Add</a>
