<a href="{{link}}">
	<span style="vertical-align:middle;">
    {{title}} 
    {{#new_facts}}
      <span style="font-weight: bold"> ({{nr_of_facts}}) </span> 
    {{/new_facts}}
  </span>
  <img src='/images/ajax-loader.gif'>
</a>
