<a href="{{link}}" rel="backbone" class="{{type}}" title="{{title}}">
  <span class="title">
    {{title}}
  </span>
  {{#new_facts}}
    <span class="new active">{{unread_count}}</span>
  {{/new_facts}}
</a>
