<span class="contained-channel-description">Composed from:</span>

<ul id="contained-channel-list" {{^is_mine}}class="not_my_channel"{{/is_mine}}>
</ul>

<div class="more">
  <a id="more-button">
    <span class="label">more</span>
  </a>
</div>
