
<div class="channel-avatar">{{{created_by.avatar}}}</div>
<div class="channel-info">
	<div class="channel-name"><h5>{{ title }}</h5></div>
	<div class="channel-user">{{created_by.username}}</div>
</div>
<a class="btn btn-mini">Add</a>
