<span class="top-channels-position">{{position}}.</span>

{{#global.signed_in}}<a href="{{topic_link}}" rel="backbone">{{/global.signed_in}}{{title}}{{#global.signed_in}}</a>{{/global.signed_in}}
(&nbsp;<span class="top-channels-channel-authority"><img src="{{global.brain_image}}">&nbsp;{{created_by_authority}}</span>&nbsp;)
