{{#is_mine}}
  {{#is_all}}
    <p>You have not created a {{ global.t.channel }} or added someone's {{ global.t.channel }} yet. You can:</p>
    <div class="empty-channel-action">
      <h2>Add a Factlink with Extension</h2>
      <a href="{{global.chrome_extension_url}}">
        <img src="/assets/screenshots/addfactlink.png">
      </a>
    </div>
    <div class="empty-channel-action">
      <h2>Create a {{global.t.channel}}</h2>
      <a href="{{add_channel_url}}">
        <img src="/assets/screenshots/createchannel.png">
      </a>
    </div>
    <div class="empty-channel-action-end"></div>
  {{/is_all}}
  {{#is_created}}
    <p>You have not created any Factlinks yet. You can create Factlinks anywhere on the web.</p>
    <h3>Add a Factlink with Extension</h3>
    <a href="{{global.chrome_extension_url}}">
      <img src="/assets/screenshots/addfactlink.png">
    </a>
  {{/is_created}}
  {{#is_normal}}
    <p>This {{ global.t.channel }} does not contain any Factlinks yet. Create one above or download the Chrome Extension and add Factlinks across the web:</p>
    <div class="span3 related-channels"></div>
    <div class="span5 empty-channel-action chrome_extension_download">
      <h2>Download the Chrome extension</h2>
      <a href="{{global.chrome_extension_url}}">
        <img src="/assets/screenshots/chrome-extension.png">
      </a>
    </div>
    <div class="empty-channel-action-end"></div>
  {{/is_normal}}
{{/is_mine}}
{{^is_mine}}
  <p>This channel is currently empty</p>
{{/is_mine}}