<a href="{{ activity.target_url }}">
  <div class="avatar">
    <img alt=" " src="{{ user.avatar_url_24 }}" class="image-24px">
  </div>
  <div class="info">
    <div class="text">
      <span class="highlight">{{ user.name }}</span>
      is now following you on
      <span class="highlight">{{ activity.channel_title }}</span>
    </div>

    <div class="time_ago">
      <i class="icon-time time_ago_icon"></i>
      <span>{{time_ago}} {{ global.t.ago }}</span>
    </div>

    <div class="js-region-add-back add-back"></div>
  </div>
  <div class="clear"></div>
</a>
