<div class="avatar">
  {{{avatar}}}
</div>
<div class="info">
  <span>
    <a href="{{ user_profile_url }}">{{ username }}</a> added your {{ activity.channel_title }} {{ global.t.channel }} to their own <a href="{{activity.to_channel_url}}">{{activity.to_channel_title}}</a> {{ global.t.channel}}
  </span>
  <div class="time_ago">
    <img src="/assets/time_ago.gif">
    <span>{{time_ago}} ago</span>
  </div>
</div>
<div class="clear"></div>
