<a href="{{ activity.target_url }}">
  <div class="avatar">
    {{{avatar}}}
  </div>
  <div class="info">
    <div class="text">
      <span class="highlight">{{ username }}</span>
      added your
      <span class="highlight">{{ activity.channel_title }}</span>
      {{ global.t.channel }} to their own
      <span class="highlight">{{activity.to_channel_title}}</span>
      {{ global.t.channel}}
    </div>

    <div class="time_ago">
      <img src="{{global.time_ago_image}}">
      <span>{{time_ago}} ago</span>
    </div>

    <div class="js-region-add-back add-back"></div>
  </div>
  <div class="clear"></div>
</a>
