<div class="avatar">
  {{{avatar}}}
</div>
<div class="info">
  <span><a href="{{ user_profile_url }}">{{ username }}</a> added {{activity.type}} evidence to <a href="{{{activity.fact_url}}}">{{ activity.fact }}</a></span>
  <div class="time_ago">
    <img src="/assets/time_ago.gif">
    <span>{{time_ago}} ago</span>
  </div>
</div>
<div class="clear"></div>
