<a href="{{ activity.target_url }}">
  <div class="avatar">
    <img alt=" " src="{{ user.avatar_url_24 }}" width="24" height="24">
  </div>
  <div class="info">
    <div class="text">
      <span class="highlight">{{ user.username }}</span>
      {{ activity.action }}
      <span class="highlight">{{ activity.subject }}</span>
    </div>

    <div class="time_ago">
      <img src="{{global.time_ago_image}}">
      <span>{{time_ago}} ago</span>
    </div>
  </div>
  <div class="clear"></div>
</a>
