<div class="avatar">
  {{{avatar}}}
</div>
<div class="info">
  <span>
    <a href="{{ user_profile_url }}" rel="backbone">{{ username }} invited you to Factlink, go check out their channels!</a>
  </span>
  <div class="time_ago">
    <img src="/assets/time_ago.gif">
    <span>{{time_ago}} ago</span>
  </div>
</div>
<div class="clear"></div>
