<a rel="backbone" href="{{ activity.target_url }}">
  <div class="avatar">
    {{{avatar}}}
  </div>
  <div class="info">
    <div class="text">
      <span class="highlight">{{ username }}</span>
      invited you to Factlink, go check out their channels!
    </div>

    <div class="time_ago">
      <img src="/assets/time_ago.gif">
      <span>{{time_ago}} ago</span>
    </div>
  </div>
  <div class="clear"></div>
</a>
