<div class="avatar">
  {{{avatar}}}
</div>
<div class="info">
  <span>
    <a href="{{ activity.channel_url }}" rel="backbone">{{ username }} created a channel: <b>{{ activity.channel_title }}</b></a>
  </span>
  <div class="time_ago">
    <img src="/assets/time_ago.gif">
    <span>{{time_ago}}</span>
  </div>
</div>
<div class="clear"></div>
