<div class="statistics-popover-content-top">
  <span class="js-button-region statistics-popover-content-button"></span>
  <span class="statistics-popover-content-heading"><a href="{{link}}" rel="backbone">{{heading}}</a></span>
</div>
<div class="js-statistics-region"></div>
