<div class="js-button-region statistics-popover-content-button"></div>
<div class="statistics-popover-content-title">{{title}}</div>
<div class="js-statistics-region statistics-popover-content-statistics"></div>
