<header>
	<h1>Channels <%= add_channel(user) %></h1>
</header>

<% unless user.graph_user.channels.count > 0 %>
	<p><%= user.username %> has no channels.</p>
<% else %>
	<ul id="channel-listing">
	</ul>
<% end %>