<ul id="channel-listing">
  <%# please enable this later to allow rails to already render %>
  <% false and user.graph_user.channels.each do |channel |%>
    <li>
      <%= render_mustache 'channels/single_menu_item', channel: channel%>
    </li>
  <% end %>
</ul>

