<% content_for :right_column do %>

  <% if related_users && related_users.count > 0 %>
    <h1>Related users</h1>
    <sub>Here are some of the users who interacted with facts in this channel:</sub>
  <% else %>
    <h1>Interesting users</h1>
    <sub>Here are some of the users who might be of interest:</sub>
    <% related_users = interesting_users_without( [current_user] + excluded_users, 5) %>
  <% end %>

  <ul>
    <% related_users.andand.each do |related_user| %>
    	<%= render "home/snippets/user_li", user: related_user %>
    <% end %>
  </ul>

<% end %>