<% if related_users && related_users.count > 0 %>
  <h2>Related users</h2>
<% else %>
  <h2>Interesting users</h2>
  <% related_users = interesting_users_without( [current_user] + excluded_users, 5) %>
<% end %>

<% if related_users %>
  <ul>
    <%= render :partial => "users/user_li", :collection => related_users, :as => :user %>
  </ul>
<% end %>
