<% jsmode ||= nil %>
<% channel ||= nil %>
<% view = ChannelsHelper::ChannelModelView.new(channel,jsmode) %>

<a href="<%= view.link %>">
	<span style="vertical-align:middle;">
	  <%= view.title %> (<%= view.nr_of_facts %>)
  </span>
  <img src='/images/ajax-loader.gif'>
</a>
