<% jsmode ||= nil %>
<% channel ||= nil %>
<% view = ChannelsHelper::MenuItemView.new(channel,jsmode) %>

<a href="<%= view.channel_link %>">
	<span style="vertical-align:middle;">
	  <%= view.title %> (<%= view.nr_of_facts %>)
  </span>
  <%= image_tag("ajax-loader.gif") %>
</a>
