<% content_for :main_column do %>
  <% unless @channel.facts.count > 0 %>
  	<p>There are no facts in this channel...</p>
  <% else %>
    <ul id="results-listing">
      <li>
        <%= render :partial => "/facts/fact", 
    	            :locals => { :channel => @channel },
    	            :collection => @channel.facts, :as => :fact, :spacer_template => 'snippets/list_item_seperator'
    	  %>
    	</li>
    </ul>
  <% end %>
<% end %>
