<!-- header -->
<% content_for :header do %>
<% end %>


<!-- left column -->
<% content_for :left_column do %>
  <%= user_block(@user) %>
  <%= render :partial => "home/snippets/channels", :locals => {:user => @user } %>

<% end %>


<!-- main column -->
<% content_for :main_column do %>

	<h1>Create a new channel</h1>

	<%= render 'form' %>	
<% end %>