<!-- header -->
<% content_for :header do %>
		<%= user_block(@user) %>
<% end %>


<!-- left column -->
<% content_for :left_column do %>

	<%= channel_listing_for_user(@user.channels, @user) %>

<% end %>


<!-- main column -->
<% content_for :main_column do %>

	<h1>Create a new channel</h1>

	<%= render 'form' %>	
<% end %>