<h1>Related users</h1>
<sub>Here are some of the users who interacted with facts in this channel:</sub>

<ul>
<% @related_users.each do |related_user| %>
	<%= user_block(related_user) %>
<% end %>
</ul>