<% content_for :header do %>
  <h1>Privacy Policy</h1>

  <p>Your privacy is critically important to us.</p>
<% end %>

<% content_for :content do %>
  <p><strong>At Factlink we have a few fundamental principles:</strong></p>
  <ul>
    <li>
      We don’t ask you for personal information unless we truly need it. (We
      can’t stand services that ask you for things like your gender or income
      level for no apparent reason.)
    </li>
    <li>
      We don’t share your personal information with anyone except to comply with
      the law, develop our products, or protect our rights.
    </li>
    <li>
      We don’t store personal information on our servers unless required for the
      on-going operation of one of our services.
    </li>
    <li>
      In our products, we aim to make it as simple as possible for you to
      control what’s visible to the public, seen by search engines, kept private,
      and permanently deleted.
    </li>
  </ul>

  <p>
    Below is our privacy policy which incorporates these goals:
  </p>
  <p>
    If you have questions about deleting or correcting your personal data please <%= link_to("contact us", pages_path("contact")) %>.
  </p>
  <p>
    Note: we’ve decided to adopt the privacy policy below adapted from the
    privacy policy of <a href="http://wordpress.com">Wordpress.com</a> and
    Automattic Inc, which they graciously made available under a Creative
    Commons Sharealike license. Thanks Automattic!
  </p>
  <p>
    <img src="<%= image_path("creative_commons.png") %>">
  </p>

  <p>
    Factlink Inc. (“Factlink”) operates several websites including factlink.com
    and beta.factlink.com. It is Factlink’s policy to respect your privacy
    regarding any information we may collect while operating our websites.
  </p>

  <h4>Website Visitors</h4>

  <p>
    Like most website operators, Factlink collects non-personally-identifying
    information of the sort that web browsers and servers typically make
    available, such as the browser type, language preference, referring site,
    and the date and time of each visitor request. Factlink’s purpose in
    collecting non-personally identifying information is to better understand
    how Factlink’s visitors use its website. From time to time, Factlink may
    release non-personally-identifying information in the aggregate, e.g., by
    publishing a report on trends in the usage of its website.
  </p>

  <p>
    Factlink also collects potentially personally-identifying information like
    Internet Protocol (IP) addresses for logged in users and for users leaving
    comments on <a href="http://beta.factlink.com">beta.factlink.com</a> and
    <a href="http://factlink.com">factlink.com</a>. Factlink only discloses
    logged in user and commenter IP addresses under the same circumstances that
    it uses and discloses personally-identifying information as described below,
    except that commenter IP addresses are visible and disclosed to the
    administrators of Factlink.
  </p>

  <h4>Gathering of Personally-Identifying Information</h4>

  <p>
    Certain visitors to Factlink’s websites choose to interact with Factlink in
    ways that require Factlink to gather personally-identifying information. The
    amount and type of information that Factlink gathers depends on the nature
    of the interaction. For example, we ask visitors who sign up for at
    <a href="http://beta.factlink.com">beta.factlink.com</a> and
    <a href="http://factlink.com">factlink.com</a> to provide a username, an
    email address and optionally information they want to share with others like
    their name and location. Those who engage in transactions with Factlink are
    asked to provide additional information, including as necessary the personal
    and financial information required to process those transactions. In each
    case, Factlink collects such information only insofar as is necessary or
    appropriate to fulfill the purpose of the visitor’s interaction with
    Factlink. Factlink does not disclose personally-identifying information
    other than as described below. And visitors can always refuse to supply
    personally-identifying information, with the caveat that it may prevent them
    from engaging in certain website-related activities.
  </p>

  <h4>Aggregated Statistics</h4>

  <p>
    Factlink may collect statistics about the behavior of visitors to its
    websites. For instance, Factlink may monitor the most popular channels on
    the <a href="http://factlink.com">factlink.com</a> site or use spam screened
    by Factlink to help identify spam. Factlink may display this information
    publicly or provide it to others. However, Factlink does not disclose
    personally-identifying information other than as described below.
  </p>

  <h4>Protection of Certain Personally-Identifying Information</h4>

  <p>
    Factlink discloses potentially personally-identifying and
    personally-identifying information only to those of its employees,
    contractors and affiliated organizations that (i) need to know that
    information in order to process it on Factlink’s behalf or to provide
    services available at Factlink’s websites, and (ii) that have agreed not to
    disclose it to others. Some of those employees, contractors and affiliated
    organizations may be located outside of your home country; by using
    Factlink’s websites, you consent to the transfer of such information to
    them. Factlink will not rent or sell potentially personally-identifying and
    personally-identifying information to anyone. Other than to its employees,
    contractors and affiliated organizations, as described above, Factlink
    discloses potentially personally-identifying and personally-identifying
    information only in response to a subpoena, court order or other
    governmental request, or when Factlink believes in good faith that
    disclosure is reasonably necessary to protect the property or rights of
    Factlink, third parties or the public at large. If you are a registered user
    of an Factlink website and have supplied your email address, apart of digest
    emails you might have subscribed to, Factlink may occasionally send you an
    email to tell you about new features, solicit your feedback, or just keep
    you up to date with what’s going on with Factlink and our products. We
    primarily use our various product blogs to communicate this type of
    information, so we expect to keep this type of email to a minimum. If you
    send us a request (for example via a support email or via one of our
    feedback mechanisms), we reserve the right to publish it in order to help us
    clarify or respond to your request or to help us support other users.
    Factlink takes all measures reasonably necessary to protect against the
    unauthorized access, use, alteration or destruction of potentially
    personally-identifying and personally-identifying information.
  </p>

  <h4>Cookies</h4>

  <p>
    A cookie is a string of information that a website stores on a visitor’s
    computer, and that the visitor’s browser provides to the website each time
    the visitor returns. Factlink uses cookies to help Factlink identify and
    track visitors, their usage of Factlink website, and their website access
    preferences. Factlink visitors who do not wish to have cookies placed on
    their computers should set their browsers to refuse cookies before using
    Factlink’s websites, with the drawback that certain features of Factlink’s
    websites may not function properly without the aid of cookies.
  </p>

  <h4>Business Transfers</h4>

  <p>
    If Factlink, or substantially all of its assets were acquired, or in the
    unlikely event that Factlink goes out of business or enters bankruptcy, user
    information would be one of the assets that is transferred or acquired by a
    third party. You acknowledge that such transfers may occur, and that any
    acquirer of Factlink may continue to use your personal information as set
    forth in this policy.
  </p>

  <h4>Privacy Policy Changes</h4>

  <p>
    Although most changes are likely to be minor, Factlink may change its
    Privacy Policy from time to time, and in Factlink’s sole discretion.
    Factlink encourages visitors to frequently check this page for any changes
    to its Privacy Policy. If you have a
    <a href="http://factlink.com">factlink.com</a> account, you should also
    check your top-bar/dashboard for alerts to these changes. Your continued use
    of this site after any change in this Privacy Policy will constitute your
    acceptance of such change.
  </p>
  <% if current_user %>
    <div style="text-align: center;">
      <%= link_to("Go back to your profile", user_profile_path(current_user)) %>
    </div>
  <% end %>
<% end %>
