<div class="search">
  <%= form_for("search", :url => evidenced_search_fact_path(fact.id), :remote => "true" ) do |f| %>
    <input type="text" class="evidenced_search" name="s" placeholder="Search for facts.." <%= params[:s] ? "value='#{params[:s]}'" : "" %> x-webkit-speech >
    <input type="hidden" name="id" value="<%= fact.id %>">
    <input type="submit" value="Search">
  <% end %>  
</div>
<table class="search-list">
  <tr></tr>
</table>
<div class="loading">
  <%= image_tag "ajax-loader.gif" %><span>Searching...</span>
</div>
