<div class="float-box channel-listing">
	<ul>
	<% unless current_user.graph_user.channels.count > 0 %>
		<li>You have no channels yet.<br/><%= link_to("Add one?", new_channel_path(current_user.username), :target => "blank") %></li>
	<% else %>		
		<% current_user.graph_user.channels.each do |channel| %>
			<li><%= check_box_tag(channel.id, 1, channel.facts.include?(fact), :onclick => "$(\"article#fact-#{fact.id}\").factlink(\"to_channel\", \"#{current_user.username}\", #{channel.id}, #{fact.id});") %> <%= label_tag(channel.id, channel.title) %></li>
		<% end %>
			<li><%= link_to("+ add another channel...", new_channel_path(current_user.username), :target => "blank") %></li>
	<% end %>
	</ul>
	
</div>