</td><td class="evidence-options">

  <div class="relevance-indicator">
    <%= fact_relation.type %>
  </div>

  <div class="relevance-options">
    <ul>
      <% if user_signed_in? %>
          <%= evidenced_buttons(fact_relation,current_user )%>
      <% end %>
    </ul>
  <div>
</td><td>

<%= render :partial => "/facts/partial/fact_bubble", :locals => {:fact => fact_relation.fact} %>
