</td><td class="evidence-options">
  
  <% @labelClass = fact_relation.type == "supporting" ? "notice" : "warning" %>
  
  <div class="relevance-indicator">
    <span class="label <%= @labelClass %>"><%= fact_relation.type %></span>
  </div>

  <div class="relevance-options">
    <ul>
      <% if user_signed_in? %>
          <%= evidenced_buttons(fact_relation,current_user )%>
      <% end %>
    </ul>
  <div>
</td><td>

<%= render :partial => "/facts/partial/fact_bubble", :locals => {:fact => fact_relation.fact} %>