<span><%= link_to(positive_action, set_opinion_path(fact_relation.id,   :beliefs), :remote => true, :method => "post", :class => positive_active) %></span><br/>
<span><%= link_to(negative_action, set_opinion_path(fact_relation.id,:disbeliefs), :remote => true, :method => "post", :class => negative_active) %></span>