</td><td class="evidence-options">
  
  <div class="relevance-indicator"
  style="
  position: absolute;
  top: 1px;
  left: 0px;
  
  width: 0px;
  height: 0px;
  border-right: 86px solid transparent;
  border-bottom: 86px solid transparent;

  border-top: 52px solid rgba(78, 156, 181, 0.5);
  
  box-shadow: 0 0 1px transparent;

  "
  >
  
  </div>
  
  <div style="
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  transform: rotate(-30deg);
  color: #fff;
  position: absolute;
  top: 14px;
  text-shadow: 0px 0px 1px transparent;
  ">weakening</div>
  
  <div class="relevance-options">
    <ul>
      <% if user_signed_in? %>
          <%= evidence_buttons(fact_relation,current_user )%>
      <% end %>
    </ul>
  <div>
    
    
</td><td>


<%= render :partial => "/facts/partial/fact_bubble", :locals => {:fact => fact_relation.from_fact} %>
