</td><td class="evidence-options">
  <div class="relevance-options">
    <ul>
      <% if user_signed_in? %>
    	  <%  if defined?(add_to_fact) and add_to_fact %>
          <li class="evidence_button"><%= link_to('add supporting', add_supporting_evidence_path(add_to_fact.id, fact.id), :remote => true)%></li>
          <li class="evidence_button"><%= link_to('add weakening',	add_weakening_evidence_path(add_to_fact.id, fact.id),  :remote => true)%></li>
        <% elsif defined?(fact_relation) and fact_relation %>
          <%= evidence_buttons(fact_relation,current_user )%>
		    <% end %>
      <% end %>
    </ul>
  <div>
</td><td>

<%= render :partial => "/facts/partial/fact_bubble", :locals => {:fact => fact_relation.from_fact} %>
