<li>
  <div class="relation">
    <% if user_signed_in? %>
      <%= evidence_buttons(fact_relation, current_user)%>
    <% end %>
  </div>
  
  <%= render_mustache "/facts/fact_bubble", :fact => fact_relation.from_fact, :form_authenticity_token => form_authenticity_token %>
</li>