<li style="list-style: none; margin: 0px 0px 16px 10px;">
	<span style="font-size: 0.9em;">&quot;<%= factlink.displaystring %>&quot;</span><br/>
	<span style="font-size: 0.8em;"><%= link_to(factlink.site.url, factlink.site.url, :style => "color: #999;", :target => "_blank") %></span>
</li>