<div class="fl-source-stats">
 	<span class="fl-source-percentage">
		<%= fact_relation.percentage %>%
 	</span>
 	<sub class="fl-brain-count"><%= image_tag('/images/client/brains.png') %> <%= fact_relation.get_from_fact.brain_cycles %></sub>
</div>