<div>
  <!-- <%= image_tag("#{request.protocol}#{request.host_with_port}/images/icons/factlink/48.png") %>  -->
  <ul>

    <li class="fl-bar-denies">
      <div></div>
    </li>

    <li class="fl-bar-maybe">
      <div></div>
    </li>

    <li class="fl-bar-proves">
      <div></div>
    </li>

  </ul>
</div>