<div class="indicator">
  <div class="icon believe"    style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;"></div>
  <div class="icon disbelieve" style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;background-position: -32px 0;"></div>
  <div class="icon doubt"      style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;background-position: -64px 0;"></div>

  <div class="authority-wrapper">
    <span class="centered">
      <span class="authority"></span>
      <img src="<%= root_url + 'images/brains.png'%>">
    </span>
  </div>

</div>