<div class="indicator">
  <div class="believe"    style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;"></div>
  <div class="disbelieve" style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;background-position: -32px 0;"></div>
  <div class="doubt"      style="background-image: url(<%= root_url + 'images/simple_indicators.png'%>);width:32px; height:32px;background-position: -64px 0;"></div>
</div>