</td><td class="evidence-options">
  <div class="relevance-options">
    <ul>
      <% if user_signed_in? %>        
        <li><%= button_to('add supporting', add_supporting_evidence_path(add_to_fact.id, fact.id), :class => "button positive", :remote => true, :disable_with => "adding")%></li>
        <li><%= button_to('add weakening',	add_weakening_evidence_path(add_to_fact.id, fact.id),  :class => "button positive", :remote => true, :disable_with => "adding")%></li>
      <% end %>
    </ul>
  <div>
</td><td>
<%= render :partial => "/facts/fact_bubble", :locals => {:fact => fact} %>
