<li id="fl-no-evidence" class="center">
		<% if user_signed_in? %>
		  Perhaps you know something that <a href="#" onclick="$('div#fl-add-evidence').fadeToggle();">supports</a> or <a href="#" onclick="$('div#fl-add-evidence').fadeToggle();">weakens</a> this fact?
  	<% else %>
		  There are no facts supporting or weakening this fact at the moment.
		<% end %>
	</span>
</li>