<div>
	Your search for <span style="font-style: italic;">'<%= params[:s] %>'</span> did not match any facts.<br/>
	Make sure all words are spelled correctly or try searching on different keywords.
</div>