<li id="" class="center message">
	Your search for <span style="font-style: italic;">'<%= params[:s] %>' did not match any facts.<br/>
	Make sure all words are spelled correctly or try searching on different keywords.
</li>