<li id="fl-no-evidence">
		<% if user_signed_in? %>
		  Perhaps you know something that <a href="#">supports</a> or <a href="#">weakens</a> this fact?
  	<% else %>
		  There are no facts supporting or weakening this fact at the moment.
		<% end %>
	</span>
</li>