<style>
	div#fl-relevance-container span {
		padding: 2px 12px;
	}

	div#fl-relevance-container span.active { 
			border: solid 1px white;
			background-color: #888;
			color: white;
			border-radius: 16px;
			text-decoration: none;
			text-shadow: nonefactlink;
	}

</style>

<%= link_to("<span class=\"relevant #{fact.relevance_class(evidence, :relevant, current_user)}\">Relevant</span>".html_safe, relevance_path(evidence.id, :relevant, fact.id), :remote => true) %>
<%= link_to("<span class=\"might-be-relevant #{fact.relevance_class(evidence, :might_be_relevant, current_user)}\">Might be relevant</span>".html_safe, relevance_path(evidence.id, :might_be_relevant, fact.id), :remote => true) %>
<%= link_to("<span class=\"not-relevant #{fact.relevance_class(evidence, :not_relevant, current_user)}\">Not relevant</span>".html_safe, relevance_path(evidence.id, :not_relevant, fact.id), :remote => true) %>

