<ul class="fl-stats-bar">
	<li id="fl-bar-disbelieve-score" class="fl-bar-disbelieve" style="height: <%= factlink.percentage_score_disbelieve %>%;"></li>
	<li id="fl-bar-doubt-score" class="fl-bar-doubt" style="height: <%= factlink.percentage_score_uncertain %>%;"></li>
	<li id="fl-bar-believe-score" class="fl-bar-believe" style="height: <%= factlink.percentage_score_believe %>%;"></li>
</ul>
<span id="fl-stats-count" class="fl-stats-count"><%= factlink.brain_cycles %></span>