<% if true %>
<% opinion_a = opinion.to_a #TODO optimize; it should take the 'first' 6, probably we need some sorted set somewhere (for insntance on time or authority) %>
<table> 
  <% index = 0
    2.times do  %>
  <tr>
    <% 3.times do  %>
      <td>
        <% if opinion_a[index] %>
          <%= link_to(
            image_tag(opinion_a[index].user.avatar, :size => "24x24", :title => "#{opinion_a[index].user.username} (#{opinion_a[index].authority})"),
            user_profile_path(opinion_a[index].user.username), :target => "_top"
          )%>
        <% end %>
        <% index += 1%>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

<% end %>
