<ul> 
  <% opinion.to_a.take(6).each do |op| %>
      <li>
          <%= link_to(
            image_tag(op.user.avatar, :size => "24x24", :title => "#{op.user.username} (#{op.rounded_authority})"),
            user_profile_path(op.user.username), :target => "_top"
          )%>
      </li>
  <% end %>
</ul>
