<div>
  <a href="/auth/twitter?return_to=<%= params[:return_to] %>" class="button social-connect-buttons-twitter js-accounts-popup-link" data-disable-with="<i></i>Connecting...">
    <i class="icon-twitter"></i>Twitter
  </a>
  <a href="/auth/facebook?return_to=<%= params[:return_to] %>" class="button social-connect-buttons-facebook js-accounts-popup-link" data-disable-with="<i></i>Connecting...">
    <i class="icon-facebook"></i>Facebook
  </a>

  <div class="social-connect-no-social">
    <a href="/users/sign_in_or_up?return_to=<%= params[:return_to] %>" class="js-accounts-popup-link">Don&rsquo;t have Facebook or Twitter?</a>
  </div>
</div>
