<form accept-charset="UTF-8" action="/facts{{#guided}}?guided={{guided}}{{/guided}}" class="post-factlink-page" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="{{csrf_token}}" />

  <div class="fact-new-fact-container">
    {{#guided}}
      <div class="js-opinion-animation" style="position:absolute"><img src="{{global.opinion_animation}}" alt="" /></div>
    {{/guided}}
    <textarea name="fact" class="js-fact">{{fact_text}}</textarea>
    <input type='hidden' class="js-url" name="url" value="{{url}}">
    <input type='hidden' class="js-title" name="title" value="{{title}}">

    <div class="fact-wheel"></div>

    <div class="fact-body">
      {{fact_text}}
    </div>
  </div>

  <div class="add-to-topic-container">
    <strong class="add-to-topic-header">{{add_to_topic_header}}?</strong>
    <div class="js-add-to-channels"></div>

    <div class="js-region-suggested-topics"></div>
  </div>

  <div class="buttons">
    <button class="button js-cancel-post-factlink cancel-post-factlink" name="cancel">Cancel</button>

    <input class="button button-confirm js-submit-post-factlink submit-post-factlink" data-disable-with="Posting..." name="commit" type="submit" value="Post to Factlink">
    <div class="js-region-share-new-fact post-factlink-share"></div>

    <div class="js-finish-popover finish-popover"></div>
  </div>
</form>
