<form accept-charset="UTF-8" action="/facts{{#guided}}?guided={{guided}}{{/guided}}" class="post-factlink-page" method="post">
<div class="post-factlink-page-div">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="{{csrf_token}}" />
</div>
  <div class="fact-view">
    {{#guided}}
      <div class="js-opinion-animation" style="position:absolute"><img src="{{global.opinion_animation}}" alt="" /></div>
    {{/guided}}
    <textarea name="fact">{{fact_text}}</textarea>
    <input type='hidden' id="url" name="url" value="{{url}}">
    <input type='hidden' id="title" name="title" value="{{title}}">

    <div class="fact-wheel"></div>

    <div class="fact-body">
      {{fact_text}}
    </div>
  </div>

  <div class="add-to-topic-container">
    <strong class="add-to-topic-header">{{add_to_topic_header}}?</strong>
    <div class="js-add-to-channels"></div>

    <div class="js-suggested-channels-region"></div>
  </div>

  <div class="buttons">
    <button class="btn" name="cancel" class="js-cancel-post-factlink cancel-post-factlink">Cancel</button>
    <input class="btn btn-primary js-submit-post-factlink submit-post-factlink" data-disable-with="Posting..." name="commit" type="submit" value="Post to Factlink">

    <div class="js-finish-popover finish-popover"></div>
  </div>
</form>
