<div class="discussion">
  <div class="top-fact">
    <div class="top-fact-content">
      <div class="top-fact-text">
        {{displaystring}}
      </div>
    </div>
  </div>
</div>

<div class="js-learn-more-region learn-more-container"></div>
