.about-container {
  text-align: left;

  @include from-width(500px) {
    text-align: center;
  }
}

.about-header {
  margin: 10px 0 20px;
  text-align: center;

  @include from-width(500px) {
    text-align: left;
  }
}

.about-contact {
  width: 200px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.about-people {
  display: inline-block;
  width: 100%;
  text-align: left;

  @include from-width(500px) {
    min-width: 350px;
    width: calc(100% - 200px - 0.5em);
    width: -webkit-calc(100% - 200px - 0.5em);
  }
}

.faces-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 500px;
}

.team-member-block, .team-advisor-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 20px;
}

%team-name {
  position: relative;
  margin: 0;
  text-align: center;
  font-weight: bold;

}

.team-member-name {
  @extend %team-name;
  font-size: 15px;
  width: 150px;
  line-height: 18px;
  left: -10px;
}

.team-advisor-name {
  @extend %team-name;
  font-size: $heading4FontSize;
  width: 95px;
  line-height: 16px;
  left: -7px;
}


.team-photo {
  width: 135px;
  height: 135px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15);
  margin-bottom: 15px;
  border-radius: 1000px;
  padding: 6px;
  border: 1px solid #cbcbcb;
  @include box-sizing(content-box);

  &.advisor {
    width: 80px;
    height: 80px;
  }
}
