$blogWidth: 72%;
$blogBreakpoint: 700px;

.blog-about-box-container {
  position: relative;
}

.blog-content {
  @include from-width($blogBreakpoint) {
    width: $blogWidth;
  }

  p, ul, ol {
    margin-right: 10px;
    padding-right: 10px;
  }
}

.blog-content-image {
  border: 1px solid #cbcbcb;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 0.8em;
  max-width: 100%;
}

.blog-about-box {
  position: absolute;
  right: 0;
  width: 26%;
  @include remove-element-below($blogBreakpoint);
}

ul.blog-content-list {
  padding-left: 2em;
  margin-bottom: 0.8em;

  > li {
    list-style-type: disc;
  }
}

.blog-discussion-of-the-week-container {
  border-left: 5px solid #ddd;
  padding: 2px 10px;
  font-style: italic;
  display: block;
  margin-bottom: 0.8em;
}

.blog-full-width {
  @include from-width($blogBreakpoint) {
    width: 100% / $blogWidth * 100%;
  }

  position: relative;
  z-index: 1;
  padding-top: 1em;
  margin-bottom: 1em;

  &:before {
    content: '';
    position: absolute;
    left: -100000px;
    right: -100000px;
    top: 0;
    bottom: 0;
    background: #eee;
    z-index: -1;
  }
}

.blog-figure {
  margin: 0;
  display: inline-block;
  margin-bottom: 0.8em;

  img {
    margin-bottom: 0;
  }

  figcaption {
    font-size: 85%;
    line-height: 1.2;
    text-align: center;
    font-style: italic;
  }
}

.blog-aside {
  @include from-width($blogBreakpoint) {
    position: relative;
    width: 100%;
    font-size: 85%;
    line-height: 1.2;
    font-style: italic;
  }

  .blog-figure figcaption {
    font-size: 100%;
  }
}

.blog-aside-inner {
  @include from-width($blogBreakpoint) {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 38%;
  }
}

.blog-aside-inner-top {
  @include from-width($blogBreakpoint) {
    bottom: auto;
  }
}

.blog-image-half {
  @include from-width($blogBreakpoint) {
    width: 49.5%;
  }
}

.blog-box {
  padding: 10px;
  background: hsl(0, 0%, 95%);
  border-radius: $baseBorderRadius;
  margin-bottom: 0.4em;
  line-height: $baseLineHeight;
  font-style: normal;
}
