$blogWidth: 70%;
$blogBreakpoint: 700px;

.blog-container {
  position: relative;
}

.blog-content {
  padding: 0 20px;

  @include from-width($blogBreakpoint) {
    width: $blogWidth;
  }
}

.blog-content > p {
  padding-right: 10px;
}

.blog-content-image {
  border: 1px solid #cbcbcb;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 0.8em;
  max-width: 100%;
}

.blog-about-box {
  position: absolute;
  right: 0;
  width: 26%;
  @include remove-element-below($blogBreakpoint);
}

ul.blog-content-list {
  padding-left: 2em;
  margin-bottom: 0.8em;

  > li {
    list-style-type: disc;
  }
}

.blog-discussion-of-the-week-container {
  border-left: 5px solid #ddd;
  padding: 2px 10px;
  font-style: italic;
  display: block;
  margin-bottom: 0.8em;
}

.blog-full-width {
  @include from-width($blogBreakpoint) {
    width: 100% / $blogWidth * 100%;
  }
}

.blog-aside {
  @include from-width($blogBreakpoint) {
    position: absolute;
    right: 0;
    width: 25%;
    font-size: 85%;
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}

$undeterminedColour: hsl(0, 0%, 40%);
$agreeColour: hsl(76, 80%, 40%);
$disagreeColour: hsl(15, 82%, 55%);
$unsureColour: hsl(196, 78%, 55%);
$agreeFillColour: hsl(76, 57%, 50%);
$disagreeFillColour:hsl(15, 82%, 50%);
$unsureFillColour: hsl(196, 78%, 50%);
$agreeBackgroundColour: hsl(76, 57%, 86%);
$disagreeBackgroundColour:hsl(15, 82%, 90%);
$unsureBackgroundColour: hsl(196, 78%, 87%);

.blog-calculation-f1 {
  color: $undeterminedColour;
}

.blog-calculation-f2 {
  color: $agreeColour;
}

.blog-calculation-f3 {
  color: $disagreeColour;
}

.blog-calculation-f4 {
  color: hsl(280, 78%, 55%);
}

.blog-calculation-factlink {
  color: black;
  background: hsl(0, 0%, 90%);
}

.blog-calculation-factlink.blog-calculation-f2 {
  background: $agreeBackgroundColour;
}

.blog-calculation-factlink.blog-calculation-f3 {
  background: $disagreeBackgroundColour;
}

.blog-calculation-factlink.blog-calculation-f4 {
  background: hsl(280, 78%, 93%);
}

.blog-calculation-undetermined:before,
.blog-calculation-agree:before,
.blog-calculation-disagree:before,
.blog-calculation-unsure:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 3px;
}

.blog-calculation-undetermined {
  color: $undeterminedColour;
}

.blog-calculation-agree {
  &:before {
    background: asset-data-url('blog/calculation/100-0-0.png');
  }
  color: $agreeColour;
}

.blog-calculation-disagree {
  &:before {
    background: asset-data-url('blog/calculation/0-100-0.png');
  }
  color: $disagreeColour;
}

.blog-calculation-unsure {
  &:before {
    background: asset-data-url('blog/calculation/0-0-100.png');
  }
  color: $unsureColour;
}

.blog-calculation-2-1-0:before { background: asset-data-url('blog/calculation/2-1-0.png'); }
.blog-calculation-4-2-8:before { background: asset-data-url('blog/calculation/4-2-8.png'); }
.blog-calculation-6-4-2:before { background: asset-data-url('blog/calculation/6-4-2.png'); }
.blog-calculation-7-2-0:before { background: asset-data-url('blog/calculation/7-2-0.png'); }
.blog-calculation-9-3-0:before { background: asset-data-url('blog/calculation/9-3-0.png'); }
.blog-calculation-10-3-0:before { background: asset-data-url('blog/calculation/9-3-0.png'); }
.blog-calculation-11-2-0:before { background: asset-data-url('blog/calculation/11-2-0.png'); }
.blog-calculation-11-4-8:before { background: asset-data-url('blog/calculation/11-4-8.png'); }
.blog-calculation-7839-8009-3041:before { background: asset-data-url('blog/calculation/7839-8009-3041.png'); }

.blog-calculation-supporting:before,
.blog-calculation-weakening:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  margin-right: 3px;
  color: hsl(0, 100%, 100%);
  margin-top: -1px;
}

.blog-calculation-supporting {
  color: $agreeColour;
  &:before {
    content: '+';
    background-color: $agreeFillColour;
  }
}

.blog-calculation-weakening {
  color: $disagreeColour;
  &:before {
    content: '–';
    background-color: $disagreeFillColour;
    line-height: 14px;
  }
}

.blog-calculation-supporting-arrow,
.blog-calculation-weakening-arrow {
  position: relative;
  top: 1px;
  &:before {
    position: absolute;
    top: -6px;
    width: 100%;
    text-align: center;
    margin-left: -1px;
  }
}
.blog-calculation-supporting-arrow {
  color: $agreeColour;
  &:before {
    content: '+';
  }
}
.blog-calculation-weakening-arrow {
  color: $disagreeColour;
  &:before {
    content: '–';
  }
}
