.static-pages-header {
  margin: 40px 0;
  text-align: center;

}

.static-pages-heading-h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.static-pages-heading-h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.static-pages-content {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: $staticPagePadding;
  width: 100%;

  @include from-width(700px) {
    width: 50%;
  }
}

.content-aligned-center {
  text-align: center;
}

.static-pages-below-content {
  border-top: 1px solid $baseBorderColor;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.static-pages-below-content-box {
  padding: 20px;
  width: 100%;
  display: block;
  vertical-align: top;

  &:first-child {
    border-bottom: 1px solid lightgrey;
  }

  @include from-width(600px) {
    display: table-cell;
    width: 50%;

    &:first-child {
      border-bottom: none;
      border-right: 1px solid lightgrey;
    }
  }
}
