<div class="factlink-modal-close js-client-html-close"></div>
<div class="factlink-modal-container">
  <div class="js-region-factlink-modal-top"></div>

  <div class="factlink-modal">
    <div class="factlink-modal-content">
    </div>
    <div class="js-region-factlink-modal-bottom"></div>
  </div>
</div>
