<div class="factlink-modal-container">
  <div class="js-region-factlink-modal-top"></div>

  <div class="factlink-modal modal-box">
    <div class="drag-handler top"   ></div>
    <div class="drag-handler bottom"></div>
    <div class="drag-handler left"  ></div>
    <div class="drag-handler right" ></div>
    <div class="factlink-modal-content">
    </div>
    <div class="js-region-factlink-modal-bottom"></div>
  </div>
</div>
