<div class="discussion-sidebar">
  <div class="discussion-sidebar-shadow"></div>
  <a href="javascript:" class="discussion-sidebar-close js-client-html-close">
    <i class="icon-right-open js-client-html-close"></i>
  </a>
  <div class="js-modal-content"></div>
</div>
