<div class="discussion-modal">
  <div class="discussion-modal-shadow"></div>
  <a href="javascript:void(0)" class="discussion-modal-close js-client-html-close">
    <i class="icon-right-open js-client-html-close"></i>
  </a>
  <div class="js-modal-content"></div>
</div>
