<header class="content-header clearfix">
  <div class="js-title-region content-title">
    <h1></h1>
  </div>
  <div class="js-tabs-region main-region-tabs"></div>
</header>

<div class="js-content-region content-region clearfix">
</div>
