<strong>
  {{#global.signed_in}}
  <a href="/{{ creator.username }}" rel="backbone">
  {{/global.signed_in}}
    {{ creator.name }}
  {{#global.signed_in}}
  </a>
  {{/global.signed_in}}
</strong>
( <img src="{{global.brain_image}}"> <span class="authority">{{ creator.authority }}</span> )

{{#time_ago}}
  <span class="pull-right">{{time_ago}} {{ global.t.ago }}</span>
{{/time_ago}}
