<div class="comment-content">
  <div class="add-evidence-form-question js-question-container">
    <span class="js-question"></span>
    <a class="js-change-type spec-change-type" href="javascript:">(change)</a>
  </div>

  <div class="add-evidence-form-type js-type-selector">
    <label class="add-evidence-form-type-label">
      <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="believes">

      <div class="add-evidence-form-type-button add-evidence-form-type-button-believes spec-evidence-radio-believes">Supporting</div>
    </label>

    <label class="add-evidence-form-type-label">
      <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="doubts">

      <div class="add-evidence-form-type-button add-evidence-form-type-button-doubts spec-evidence-radio-doubts">Neutral</div>
    </label>

    <label class="add-evidence-form-type-label">
      <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="disbelieves">

      <div class="add-evidence-form-type-button add-evidence-form-type-button-disbelieves spec-evidence-radio-disbelieves">Weakening</div>
    </label>
  </div>

  <div class="js-add-comment-region"></div>

  <div class="add-evidence-form-search-facts">
    <a href="javascript:" class="js-open-search-facts-link">Search
      for {{global.t.factlinks}} (beta)</a>

    <div class="js-search-facts-region"></div>
  </div>
</div>
