<div class="evidence-add-buttons js-add-buttons">
  <div class="evidence-add-weakening-line"></div>
  <div class="evidence-add-supporting-line"></div>
  <div class="evidence-add-weakening js-weakening-button"></div>
  <div class="evidence-add-supporting js-supporting-button"></div>
</div>

<div class="js-add-box">
  <div class="evidence-impact js-cancel">
    <div class="evidence-add-cross"></div>
  </div>
  <div class="evidence-box discussion-evidenceish discussion-evidenceish-box">
    <div class="evidence-box-triangle"></div>
    {{!triangle must be first to make sure tooltips from content are painted on top
     without needing a z-index; z-index isn't permitted because triangle's "border"
     is actually a negative-z-index grey triangle.}}

    <div class="js-heading-region"></div>
    <div class="js-content-region discussion-evidenceish-content"></div>
  </div>
</div>
