<div class="evidence-add-buttons js-add-buttons">
  <div class="evidence-add-disbelieves-line"></div>
  <div class="evidence-add-believes-line"></div>
  <div class="evidence-add-disbelieves-wrapper"><div class="button button-danger js-disbelieves-button">Add weakening argument</div></div>
  <div class="evidence-add-believes-wrapper"><div class="button button-success js-believes-button">Add supporting argument</div></div>
</div>

<div class="js-add-box">
  <div class="evidence-relevance js-cancel">
    <div class="evidence-add-cross"></div>
  </div>
  <div class="evidence-box discussion-evidenceish discussion-evidenceish-box">
    <div class="evidence-box-triangle"></div>
    {{!triangle must be first to make sure tooltips from content are painted on top
     without needing a z-index; z-index isn't permitted because triangle's "border"
     is actually a negative-z-index grey triangle.}}

    <div class="js-heading-region"></div>
    <div class="js-content-region discussion-evidenceish-content"></div>
  </div>
</div>
