<div class="evidence-box discussion-evidenceish discussion-evidenceish-box">
  <div class="discussion-evidenceish-content">
    <div class="js-question add-opinion-or-evidence-question">
      What do you think?
    </div>
  </div>

  <div class="add-opinion-or-evidence-arrow"></div>
</div>
