<div class="evidence-box discussion-evidenceish discussion-evidenceish-box">
  <div class="discussion-evidenceish-content">
    <div class="js-buttons">
      What do you think?&nbsp;

      <button class="button js-believes">Agree</button>
      <button class="button js-doubts">Unsure</button>
      <button class="button js-disbelieves">Disagree</button>
    </div>

    <div class="js-form-region"></div>

    <div class="add-opinion-or-evidence-arrow"></div>
  </div>
</div>
