<div class="add-evidence-form-question js-question"></div>

<div class="add-evidence-form-type">
  <label class="add-evidence-form-type-label">
    <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="believes">

    <div class="add-evidence-form-type-button add-evidence-form-type-button-believes spec-evidence-radio-believes">Supporting</div>
  </label>

  <label class="add-evidence-form-type-label">
    <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="doubts">

    <div class="add-evidence-form-type-button add-evidence-form-type-button-doubts spec-evidence-radio-doubts">Neutral</div>
  </label>

  <label class="add-evidence-form-type-label">
    <input class="add-evidence-form-type-radio" type="radio" name="argumentType" value="disbelieves">

    <div class="add-evidence-form-type-button add-evidence-form-type-button-disbelieves spec-evidence-radio-disbelieves">Weakening</div>
  </label>
</div>

<div class="input-region clearfix"></div>

<div class="add-evidence-form-view-toggle">
  <a href="javascript:void(0)" class="js-switch-to-factlink">Search
    for {{global.t.factlinks}} (beta)</a>

  <a href="javascript:void(0)" class="js-switch-to-comment">&larr; Return
    to adding comment</a>
</div>
