<div class="evidence-add-weakening-line"></div>
<div class="evidence-add-supporting-line"></div>
<div class="evidence-add-weakening js-weakening-button"></div>
<div class="evidence-add-supporting js-supporting-button"></div>
