<div class="evidence-vote-region"></div>
<div class="evidence-popover-region"></div>
<div class="evidence-user-avatar-region"></div>
<div class="evidence-activity-region"></div>
<div class="evidence-main-region"></div>
<div class="evidence-sub-comments-region"></div>
