<ul class="actions">
  <li><a class="js-sub-comments-link"></a></li>

  <li>
    {{#modal?}}
    <a href="{{url}}" target="new" class="discussion_link">
    {{/modal?}}

    {{^modal?}}
    <a href="{{url}}" rel="backbone" class="discussion_link" target="_top">
    {{/modal?}}

      Discussion</a>

    <span class="opinion_indicators">
      <span class="opinion_indicator agreeing" />{{ fact_base.believe_percentage }}%
      <span class="opinion_indicator disagreeing" />{{ fact_base.disbelieve_percentage }}%
    </span>
  </li>

  <li class="fact-info">
    {{#fact_base.scroll_to_link}}
      {{#fact_base.fact_url}}
      <img class="fact-favicon" src="https://www.google.com/s2/u/0/favicons?domain={{fact_url_host}}" />
      {{/fact_base.fact_url}}
      {{{fact_base.scroll_to_link}}}
    {{/fact_base.scroll_to_link}}
  </li>
</ul>

<div class="js-region-sub-comments"></div>
