
<div class="discussion-evidenceish-box spec-evidence-box">
  <div class="js-heading-region"></div>
  <div class="discussion-evidenceish-content discussion-evidenceish-text">{{{formatted_comment_content}}}</div>
  <div class="comment-bottom">

    <ul class="comment-bottom-actions">
      <li class="comment-bottom-action js-vote-region"></li>
      <li class="comment-bottom-action comment-bottom-action-time">
        <i class="icon-time"></i> {{time_ago}} {{ global.t.ago }}
      </li>

      {{#showDelete}}
        <li class="comment-bottom-action comment-bottom-action-delete js-delete-region"></li>
      {{/showDelete}}

      <li class="js-sub-comments-link-container comment-bottom-action"><a class="js-sub-comments-link js-sub-comments-link-region" href="javascript:">
      </a></li>
    </ul>
  </div>
</div>
<div class="js-sub-comments-region"></div>
