<span class="heading-avatar"><img src="{{avatar_url_32}}" class="heading-avatar-image"/></span>
<a {{#global.signed_in}}href="{{link}}" class="discussion-evidenceish-name popover-link js-user-link" rel="backbone"{{/global.signed_in}}>{{name}}</a>
