<div class="evidence-spacer-right"></div>
<div class="evidence-spacer-left"></div>

<div class="evidence-relevance">
  <div class="js-vote-region"></div>
  <div class="js-relevance evidence-relevance-text"></div>
</div>
<div class="evidence-box">
  <div class="js-content-region"></div>
</div>
