<div class="evidence-list">
  <div class="evidence-loading js-evidence-loading">
    <div class="evidence-relevance">
      <img class="ajax-loader" src="{{global.ajax_loader_image}}">
    </div>
  </div>
  <div class="js-collection-region"></div>
</div>

<div class="js-evidence-loaded">
  <div class="js-add-region"></div>
  <div class="js-learn-more-region learn-more-container"></div>
</div>
