{{#global.signed_in}}
  <a href="javascript:void(0)" class="evidence-vote-up js-up spec-evidence-vote-up"></a>
  <a href="javascript:void(0)" class="evidence-vote-down js-down spec-evidence-vote-down"></a>
{{/global.signed_in}}
<div class="js-relevance evidence-vote-relevance spec-evidence-relevance"></div>
