<div class="js-add-argument-region"></div>
<div class="js-form-region"></div>
<img class="ajax-loader js-evidence-loading" src="{{global.ajax_loader_image}}">
<div class="js-collection-region"></div>
