<div class="evidence-relevance">
  {{#global.signed_in}}
    <a href="javascript:void(0)" class="evidence-relevance-vote-up js-up"></a>
    <a href="javascript:void(0)" class="evidence-relevance-vote-down js-down"></a>
  {{/global.signed_in}}
  <div class="js-relevance evidence-relevance-text"></div>
</div>
