<img class="ajax-loader js-evidence-loading" src="{{global.ajax_loader_image}}">
<div class="js-collection-region"></div>
<div class="js-learn-more-region js-evidence-loaded learn-more-container"></div>
