<span class="js-relevance evidence-vote-relevance spec-evidence-relevance"></span>
<a {{#global.signed_in}}href="javascript:"{{/global.signed_in}} class="evidence-vote-up js-up spec-evidence-vote-up">

</a>
<a {{#global.signed_in}}href="javascript:"{{/global.signed_in}} class="evidence-vote-down js-down spec-evidence-vote-down"></a>

