<div class="discussion-evidenceish-box spec-evidence-box">
  <div class="js-heading-region"></div>
  <div class="discussion-evidenceish-content js-content-region"></div>
  <div class="js-bottom-region"></div>
</div>
<div class="js-sub-comments-region"></div>
