<span class="heading-avatar"><img class="heading-avatar-image" src="{{avatar_url_32}}" /></span>
<a {{#global.signed_in}}href="{{link}}" class="ndp-evidenceish-name" rel="backbone"{{/global.signed_in}}>{{name}}</a>
