<div class="evidence-list">
  <div class="evidence-line-background">
    <div class="evidence-line"></div>
  </div>
  <div class="evidence-loading">
    <div class="evidence-impact">
      <img class="ajax-loader" src="{{global.ajax_loader_image}}">
    </div>
  </div>
  <div class="js-evidence-item-view-container"></div>
  <div class="evidence-terminator"></div>
</div>
<div class="evidence-add">
  <div class="evidence-add-circle"></div>
  <div class="evidence-add-weakening-line"></div>
  <div class="evidence-add-supporting-line"></div>
  <div class="evidence-add-weakening"></div>
  <div class="evidence-add-supporting"></div>
</div>
