<div class="evidence-spacer-right"></div>
<div class="evidence-spacer-left"></div>

<div class="evidence-impact">
  <div class="new-design-background-shadow"></div>
  {{formatted_impact}}
</div>
<div class="evidence-box">
  <div class="evidence-box-triangle"></div>
  <div class="new-design-background-shadow"></div>
  <div class="js-content-region"></div>
</div>
