<div class="evidence-spacer-right"></div>
<div class="evidence-spacer-left"></div>

<div class="evidence-impact">
  <div class="new-design-background-shadow"></div>
  <a class="evidence-impact-vote-up"></a>
  <a class="evidence-impact-vote-down"></a>
  {{#positive_impact}}
    {{formatted_impact}}
  {{/positive_impact}}
  {{^positive_impact}}
    0.0
  {{/positive_impact}}
</div>
<div class="evidence-box">
  <div class="evidence-box-triangle"></div>
  <div class="new-design-background-shadow"></div>
  <div class="js-content-region"></div>
</div>
