<div class="js-buttons">
  <div class="evidence-add-circle"></div>
  <div class="evidence-add-weakening-line"></div>
  <div class="evidence-add-supporting-line"></div>
  <div class="evidence-add-weakening js-weakening-button"></div>
  <div class="evidence-add-supporting js-supporting-button"></div>
</div>

<div class="js-box">
  <div class="evidence-impact js-cancel">
    <div class="evidence-add-cross"></div>
  </div>
  <div class="evidence-box ndp-evidenceish ndp-evidenceish-box">
    <div class="evidence-box-triangle"></div>
    Mai
  </div>
</div>
