<span class="heading-avatar"><img src="{{avatar_url_32}}" class="heading-avatar-image"/></span>
<a {{#global.signed_in}}href="{{link}}" class="ndp-evidenceish-name" rel="backbone"{{/global.signed_in}}>{{name}}</a>
