<div class="ndp-evidenceish-box">
  <div class="evidence-box-triangle"></div>
  <div class="js-heading-region"></div>
  <div class="ndp-evidenceish-content js-content-region"></div>
  <div class="js-bottom-region"></div>
</div>
<div class="js-sub-comments-region"></div>
