<div class="evidence-spacer-right"></div>
<div class="evidence-spacer-left"></div>

<div class="evidence-impact">
  <div class="js-vote-region"></div>
  <div class="js-impact-region"></div>
</div>
<div class="evidence-box">
  <div class="evidence-box-triangle"></div>
  <div class="js-content-region"></div>
</div>
