<div class="ndp-fact-relation-or-comment-box">
  <div class="js-avatar-region"></div>
  <div class="ndp-fact-relation-or-comment-or-sub-comment-content js-content-region"></div>
  <div class="ndp-fact-relation-or-comment-or-sub-comment-bottom js-bottom-region"></div>
</div>
<div class="js-sub-comments-region"></div>
