<div class="discussion-evidenceish-box">
  <div class="discussion-evidenceish-content">
    <span class="js-question opinion-help-question">
      What do you think?
    </span>

    {{^global.signed_in}}
      &nbsp;&nbsp;
      <a href="/auth/twitter" class="button button-twitter small-connect-button js-accounts-popup-link"><i class="icon-twitter"></i></a> <a href="/auth/facebook" class="button button-facebook small-connect-button js-accounts-popup-link"><i class="icon-facebook"></i></a>&nbsp;&nbsp;or <a href="/users/sign_in_or_up" class="js-accounts-popup-link">sign in/up with Factlink.</a>
    {{/global.signed_in}}
  </div>

  <div class="opinion-help-arrow"></div>
</div>
