<div class="evidence-popover-arrow">
  <i><b class="caret"></b></i>
  <ul class="evidence-popover" style="display: none;">
      <li class="delete">
        <a>
          <img src="{{global.trash_image}}" alt="Trash" class="normal">
          <img src="{{global.trash_hover_image}}" alt="Trash" class="hover">
          {{ delete_message }}
        </a>
      </li>
  </ul>
</div>
