{{#is_unsure}}
  <div class="evidence-unsure-right-spacer"></div>
  <div class="evidence-unsure-left-spacer"></div>
{{/is_unsure}}
<div class="evidence-{{type_css}}-impact">
  <div class="new-design-background-shadow"></div>
  {{formatted_impact}}
</div>
<div class="evidence-{{type_css}}-box">
  <div class="new-design-background-shadow"></div>
  <div class="js-content-region"
</div>
