{{#is_unsure}}
  <div class="evidence-unsure-right-spacer"></div>
  <div class="evidence-unsure-left-spacer"></div>
{{/is_unsure}}
<div class="evidence-{{opinion_type_css}}-impact">
  <div class="shadow"></div>
  {{impact}}
</div>
<div class="evidence-{{opinion_type_css}}-box">
  <div class="shadow"></div>
  Impact: {{impact}}
</div>
