<div class="evidence-unsure-right-spacer"></div>
<div class="evidence-unsure-left-spacer"></div>
<div class="evidence-unsure-impact">
  <div class="new-design-background-shadow"></div>
  {{formatted_impact}}
</div>
<div class="evidence-unsure-box">
  <div class="evidence-unsure-box-triangle"></div>
  <div class="new-design-background-shadow"></div>
  <div class="js-content-region"></div>
</div>
