<a class="supporting"> &nbsp; </a>
<div class="authorities-evidence">
  <span class="belief-authority-evidence">
    +{{ opinions.formatted_belief_authority }}
  </span>
  <span class="total-authority-evidence">
    {{ opinions.formatted_relevance }}
  </span>
  <span class="disbelief-authority-evidence">
    -{{ opinions.formatted_disbelief_authority }}
  </span>
</div>
<a class="weakening"> &nbsp; </a>
