{{#interactive}}
<a class="supporting"> &nbsp; </a>
{{/interactive}}
<div class="authorities-evidence">
  {{ formatted_impact }}
</div>
{{#interactive}}
<a class="weakening"> &nbsp; </a>
{{/interactive}}
