
<a class="supporting {{^interactive}}disabled{{/interactive}}"> &nbsp; </a>
<div class="authorities-evidence">
  {{ formatted_impact }}
</div>
<a class="weakening {{^interactive}}disabled{{/interactive}}"> &nbsp; </a>

