<li class="user-block" onclick="document.location = '<%= user_profile_path(user.username) %>';">
  <div class="user-avatar">
    <%= image_tag(user.avatar_url(size: 32), :width => 32) %>
  </div>

  <div class="wrapper">
    <h3><%= user.username %></h3>
    <sub>authority: <%= Authority.from user.graph_user %></sub>
  </div>
</li>
