<% content_for :header do %>
<% end %>


<% content_for :left_column do %>		
  <%= user_block(@user) %>
  <%= render :partial => "channels/channels", :locals => {:user => @user } %>
<% end %>


<% content_for :main_column do %>
<h1><%= link_to(@user.username, user_profile_path(@user.username)) %></h1>

<ul id="wide-activity-list">
	<%= wide_activity_list(@activities) %>
</ul>
	
<% end %>