	<h4>Great, that'll do</h4>
	<p>Feel free to add some more user-channels. After that, you're all set to explore Factlink!</p>
  <a class='btn btn-mini btn-primary next-step' data-disable-with="Loading stream...">Finish!</a>