	{{#global.can_haz.topic_facts}}
		<h4>Add more {{global.t.topics}}</h4>
		<p>Go ahead and add some more {{global.t.topics}}.</p>
	{{/global.can_haz.topic_facts}}

	{{^global.can_haz.topic_facts}}
		<h4>Add more {{global.t.channels}}</h4>
		<p>Go ahead and add some more {{global.t.channels}}.</p>
	{{/global.can_haz.topic_facts}} 
	<p>When you're done, you can close this tour and start exploring Factlink!</p>
<a class='btn btn-mini btn-primary next-step' data-disable-with="Loading {{global.t.stream}}...">Done</a>
