  <div class="arrow-right">
    <div class="arrow-right-white"></div>
  </div>
  <h4>Welcome to your {{global.t.stream}}</h4>
  <p>The Factlink you just created is now posted to your {{global.t.stream}}. Let's continue.</p>
  <a class='btn btn-mini btn-primary next-step'>Continue</a>


