  {{#global.can_haz.topic_facts}}
  	<h4>{{topics}}</h4>
  	<p>Please choose a couple of {{global.t.topics}} below that you might find interessting.</p>
  {{/global.can_haz.topic_facts}}

  {{^global.can_haz.topic_facts}}
  	<h4>{{channels}}</h4>
  	<p>Please choose a couple of user {{global.t.channels}} below that you might find interessting.</p>
  {{/global.can_haz.topic_facts}}

  <div class="arrow-bottom">
    <div class="arrow-bottom-white"></div>
  </div>
