  	<h4>{{topics}}</h4>
  	<p>Please choose a couple of {{global.t.topics}} below that you might find interesting.</p>
  
  <div class="arrow-bottom">
    <div class="arrow-bottom-white"></div>
  </div>
