<div class="popover-help-text">
  <div class="popover-help-text-header">What is this?</div>

  <div class="popover-help-text-content">
    <p>This number represents the authority ( <img src="{{global.brain_image}}" style="margin-top: -2px"> ) on that specific topic.</p>

    <p>The higher the number, the more authority this user has on that topic.</p>

    <p>Contribute to Factlink to gain authority on topics.</p>

    <button class="button button-confirm js-next">Got it!</button>
  </div>
</div>
