<div class="popover-help-text">
  <div class="popover-help-text-header">That was easy!</div>

  <div class="popover-help-text-content">
    <p>Now click the Factlink button to create your Factlink.</p>

    <p>This button will always appear here when the Factlink Extension is installed.</p>
  </div>
</div>
