<div class="popover-help-text">
  <div class="popover-help-text-header">Your first Factlink is a fact!</div>

  <div class="popover-help-text-content">
    <a href="{{next_tourstep_path}}" class="button button-confirm button-small" data-disable-with="Loading...">Continue</a>
  </div>
</div>
