<div class="help-text">
  <h1>Your first Factlink is a fact!</h1>

  <div class="help-text-content">
    <a href="{{next_tourstep_path}}" class="btn btn-primary btn-mini" data-disable-with="Loading...">Continue</a>
  </div>
</div>
