<div class="popover-help-text">
  <div class="popover-help-text-header">What's your opinion?</div>

  <div class="popover-help-text-content">
    <p>You can give your opinion by clicking the Fact wheel.</p>

    The choices are
    <em>agree</em>
    (<span class="opinion_indicator agreeing"></span>),

    <em>disagree</em>
    (<span class="opinion_indicator disagreeing"></span>)

    and <em>unsure</em>
    (<span class="opinion_indicator"></span>).
  </div>
</div>
