<h1 class="tour-header">Users you might find interesting</h1>

<div class="tour-interesting-users-scrolling-outer">
  <div class="tour-interesting-users-scrolling-inner js-scrolling-inner js-region-tour-users"></div>
</div>

<div class="tour-interesting-users-footer">
  <div class="tour-interesting-users-arrow-left js-left"></div>

  <a href="{{next_tourstep_path}}" class="js-skip">Skip this step</a>
  <a href="{{next_tourstep_path}}" class="button button-confirm js-finish tour-interesting-users-finish" data-disable-with="Loading feed...">Finish tour</a>

  <div class="tour-interesting-users-arrow-right js-right"></div>
</div>
