<div class="tour-follow-user-block">
  <div class="tour-follow-user-heading">
    <span class="heading-avatar"><img src="{{avatar_url_32}}" class="heading-avatar-image"/></span>
    <span class="tour-follow-user-heading-text">{{name}}</span></div>
  <div class="js-content-region"></div>
</div>

<div class="js-region-button tour-user-button-region"></div>
