<h1 class="tour-interesting-users-header">Users you might find interesting</h1>

<div class="tour-interesting-users-scrolling-container js-region-tour-users"></div>

<div class="tour-interesting-users-footer">
  <div class="tour-interesting-users-arrow-left js-left"></div>

  <a href="{{next_tourstep_path}}" class="js-skip">Skip this step</a>
  <a href="{{next_tourstep_path}}" class="btn btn-primary js-finish tour-interesting-users-finish">Finish tour</a>

  <div class="tour-interesting-users-arrow-right js-right"></div>
</div>
