<div class="popover-help-text">
  <div class="popover-help-text-header">Let's create a Factlink!</div>

  <div class="popover-help-text-content">
    <p>Select any statement on the right to start creating your first Factlink.</p>
  </div>
</div>
