<div class="popover-help-text">
  <div class="popover-help-text-header">Let's create an {{global.t.factlink}}!</div>

  <div class="popover-help-text-content">
    <p>Select any statement on the right to start creating your first {{global.t.factlink}}.</p>
  </div>
</div>
