<div class="popover-help-text">
  <div class="popover-help-text-header">You're ready to post this!</div>

  <div class="popover-help-text-content">
    You can add this Factlink to a {{global.t.topic}} so you can find it more easily later, or post this immediately.
  </div>
</div>
