<span class="delete-button-second-container">
  <span class="delete-button-second button button-small button-danger js-second">Delete</span>
  <span class="delete-button-arrow"></span>
</span>
<span class="delete-button-first js-first"><i class="icon-trash"></i></span>
