body, html {
  background: transparent;
  margin: 0;
  padding: 0;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.close-button:hover {
  cursor: pointer;
}
span.error {
	color: #8FBC8F;
}

div.fl-modal {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px;
  position: fixed;
  color: #717171;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
}
div.fl-modal div.fl-container {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0efef));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0efef);
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 6px;
  width: 400px;
}
div.fl-modal div.fl-container div#fl-sources-popup {
  position: absolute;
  top: 66px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0efef));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0efef);
  border: solid 10px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  padding: 10px;
  width: 360px;
}
div.fl-modal div.fl-container div#fl-sources-popup .close-button:hover {
  cursor: pointer;
}
div.fl-modal div.fl-container div#fl-sources-popup input[type="text"] {
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  padding: 6px;
  width: 344px;
  color: #717171;
}
div.fl-modal div.fl-container div#fl-sources-popup textarea {
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  padding: 6px;
  width: 344px;
  color: #717171;
}
div.fl-modal div.fl-stats {
  float: left;
}
div.fl-modal div.fl-stats ul.fl-stats-bar {
  width: 64px;
  height: 65px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  margin: 0;
  position: relative;
  background: #f1f1f1;
  overflow: hidden;
}
div.fl-modal div.fl-stats ul.fl-stats-bar li {
  width: 20px;
  float: left;
  position: absolute;
  bottom: 0;
  text-indent: 99999px;
  cursor: pointer;
}
div.fl-modal div.fl-stats ul.fl-stats-bar li.fl-bar-support {
  background: #bada55;
  left: 44px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
div.fl-modal div.fl-stats ul.fl-stats-bar li.fl-bar-maybe {
  background: #ffd324;
  left: 22px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
div.fl-modal div.fl-stats ul.fl-stats-bar li.fl-bar-refute {
  background: #c00;
  border-bottom-left-radius: 4px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
div.fl-modal div.fl-stats span.fl-stats-count {
  font-size: 10px;
  width: 64px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -3px;
}
div.fl-modal div.fl-factlink {
  float: left;
  width: 320px;
  margin: 0 0 0 10px;
}
div.fl-modal div.fl-factlink h1 {
  font-size: 14px;
  font-weight: 200;
  color: #717171;
  margin: 5px 0 0 0;
  line-height: 20px;
}
div.fl-modal div.fl-close {
  border-radius: 10px;
  position: absolute;
  padding: 0 0 1px 1px;
  width: 15px;
  text-align: center;
  right: 3px;
  top: 3px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #a2a2a2;
}
div.fl-modal div.fl-tags ul {
  list-style: none;
  padding: 0;
  color: #909090;
  margin: 0 0 0 4px;
  width: 330px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
}
div.fl-modal div.fl-tags ul li {
  float: left;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 0 6px;
  margin: 2px 9px 8px 1px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.32);
}
div.fl-modal div.fl-tags a {
  line-height: 18px;
  color: #909090;
  position: relative;
  top: -5px;
}
div.fl-modal div.fl-edit-tags > input[type="text"] {
  color: #717171;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  padding: 6px;
}
div.fl-modal .fl-scroll-pane {
  border: solid 1px red;
  border-radius: 4px;
  border: 1px solid #ddd;
}
div.fl-modal .fl-scroll-pane ol.fl-sources {
  background: #fafafa;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 150px;
  overflow-y: auto;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li {
  display: block;
  /*                height: 40px;*/

  border-bottom: 1px solid #ccc;
  padding: 10px 0px 6px 35px;
  position: relative;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li h4 {
  color: #999;
  font-weight: 400;
  margin: 0;
  line-height: 16px;
  font-size: 1.0em;
  padding: 0px;
  margin: 0px;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li p {
  color: #888;
  font-weight: 200;
  /*										padding: 0px;*/

  margin: 4px 0px 6px 0px;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source, div.fl-modal .fl-scroll-pane ol.fl-sources li a {
  color: #909090;
  font-weight: 200;
  font-size: 0.95em;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-up {
  background: url('../images/vote-up.png') no-repeat center center;
  padding: 6px 8px 2px 8px;
  left: 6px;
  top: 0px;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-up:hover {
  background: url('../images/vote-up-hover.png') no-repeat center center;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-down {
  background: url('../images/vote-down.png') no-repeat center center;
  padding: 0px 8px 6px 8px;
  left: 6px;
  top: 34px;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-down:hover {
  background: url('../images/vote-down-hover.png') no-repeat center center;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-score {
  width: 28px;
  font-size: 0.9em;
  text-align: center;
  color: #bbb;
  left: 4px;
  top: 18px;
  position: absolute;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-up, div.fl-modal .fl-scroll-pane ol.fl-sources li span.fl-source-down {
  display: inline-block;
  width: 8px;
  height: 7px;
  cursor: pointer;
  position: absolute;
}
div.fl-modal .fl-scroll-pane ol.fl-sources li div.fl-vote-container {
  left: 0px;
  position: absolute;
}
div.fl-clear {
  clear: both;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.button {
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: .5em 2em .55em;
  color: #222;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  background: #9FA0A2;
  background: -moz-linear-gradient(center top, #b7b8ba 50%, #9fa0a2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #b7b8ba), color-stop(1, #9fa0a2));
  background: gradient(linear, left top, left bottom, color-stop(0.5, #b7b8ba), color-stop(1, #9fa0a2));
  /*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B7B8BA', endColorstr='#9FA0A2');*/

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  border: 1px solid #555;
}
.button:hover {
  text-decoration: none;
  opacity: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
}
.confirm {
  background: #bcde66;
  background: -moz-linear-gradient(center top, #bcde66 50%, #94c706 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #bcde66), color-stop(1, #94c706));
  background: gradient(linear, left top, left bottom, color-stop(0.5, #bcde66), color-stop(1, #94c706));
}
div.fl-sign-in-container {
  padding: 16px 16px 0px 16px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 2px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
