.feed-selection-row {
  padding: 0.5em 0 1.5em;
  position:relative;
  @extend %clearfix;

}

.feed-selection-install-extension-button {
  float: right;

  @include respond-to(400) {
    display: none;
  }
}
