{{#new}}
  <div class="add-new-block">
    <a class="btn btn-mini"><i class="icon-plus"></i></a>
    <span>Add <strong>&ldquo;<span class="search">{{displaystring}}</span>&rdquo;</strong> as evidence</span>
  </div>
{{/new}}
{{^new}}
  <div class="text">{{{ highlightedTitle }}}</div>
{{/new}}
