	<ul>
    {{#channels}}
		  <li><label>
		    <input type="checkbox" {{checked_attribute}} data-channel-id="{{id}}" data-username="{{created_by}}"
		            onclick='$("article#fact-" + $(this).closest("div.fact-block").data("fact-id")).factlink("to_channel", "{{current_user.username}}", {{id}}, {{fact.id}});'>
		    {{title}}
 		  </label></li>
    {{/channels}}
	</ul>

	<div class="add-channel">
		Add to a new channel:
		{{>remote_form}}
	</div>
