<% view = FactsHelper::ChannelListingView.new(fact,current_user) %>

<div class="float-box channel-listing">
	<ul>
		<% view.channels.each do |channel| %>
		  <li><label>
		    <input type="checkbox" <%= channel.checked_attribute %> data-channel-id="<%= channel.id %>" data-username="<%= channel.created_by %>"
		            onclick='$("article#fact-" + $(this).closest("div.fact-block").data("fact-id")).factlink("to_channel", "<%= current_user.username %>", <%= channel.id %>, <%= fact.id%>);'>
		    <%= channel.title %>
 		  </label></li>
		<% end %>
	</ul>

	<div class="add-channel">
		Add a new channel:
		<%= (render "/facts/remote_form", :fact => fact, :form_authenticity_token => form_authenticity_token).html_safe %>
	</div>
</div>