<ul class="actions">
  <li class="js-sub-comments-link-container"><a class="js-sub-comments-link"></a></li>

  {{#showDiscussion}}
    <li>
      {{#global.signed_in}}
        <a href="{{from_fact.url}}" class="discussion_link"
          {{#modal?}}
            target="new"
          {{/modal?}}{{^modal?}}
            rel="backbone" target="_top"
          {{/modal?}}
          >
            Discussion
        </a>
      {{/global.signed_in}}

      <span class="opinion_indicators">
        <span class="opinion_indicator_small agreeing"></span>{{ believe_percentage }}%
        <span class="opinion_indicator_small disagreeing"></span>{{ disbelieve_percentage }}%
      </span>
    </li>
  {{/showDiscussion}}

  {{#from_fact.proxy_scroll_url}}
    <li class="fact-info">
        {{#fact_url_host}}
        <img class="fact-favicon" src="https://www.google.com/s2/u/0/favicons?domain={{fact_url_host}}" />
        {{/fact_url_host}}
        <a href="{{from_fact.proxy_scroll_url}}" target="_blank" class="js-open-proxy-link">
          {{from_fact.fact_title}}
        </a>
    </li>
  {{/from_fact.proxy_scroll_url}}
</ul>

<i class="title-overflow"></i>
