<ul class="bottom-actions">
  {{#showTimeAgo}}
    <li class="bottom-action-time bottom-action">
      <i class="icon-time"></i> {{time_ago}} {{ global.t.ago }}
    </li>
  {{/showTimeAgo}}

  {{#showDelete}}
    <li class="bottom-action bottom-action-delete js-delete-region"></li>
  {{/showDelete}}

  <li class="js-sub-comments-link-container bottom-action"><a class="js-sub-comments-link" href="javascript:void()"></a></li>
</ul>
