<div class="row" id="extended_factlink">
  <div class="span8 fact-block">
    <article class="fact" data-fact-id="{{id}}">
      <div class="wheel">
        {{#fact_wheel}}
          {{>fact_wheel}}
        {{/fact_wheel}}
      </div>
      <header class="fact-body">
        <span class="title">{{fact_title}}</span>

        <div class='body'>
          <h2 class="text">{{displaystring}}</h2>

          <a class="less" style="display:none">(less)</a>
          <span class="scroll-to-container">
            {{#scroll_to_link}}
              &mdash; {{{scroll_to_link}}}
            {{/scroll_to_link}}
          </span>
        </div>

        <sub>Created by <a href="{{{created_by.url}}}">{{created_by.username}}</a> {{created_by_ago}}</sub>
      </header>

      <ul>
        <li class="agree">
          <h6>{{believers_text}}</h6>
          <div>{{believers_count}}</div>
        </li>
        <li class="disagree">
          <h6>{{disbelievers_text}}</h6>
          <div>{{disbelievers_count}}</div>
        </li>
        <li class="unsure">
          <h6>{{doubters_text}}</h6>
          <div>{{doubters_count}}</div>
        </li>
        <li class="interacting">
          <h6>People that interacted</h6>
          <div>
            {{#interacting_users}}
              {{>interacting_users}}
            {{/interacting_users}}
          </div>
        </li>
        <li class="last authority">
          <h6>Your authority</h6>
          <div>
            <img src="{{global.brain_image}}">
            <span>{{users_authority}}</span>
          </div>
        </li>
      </ul>
    </article>

    <h3>Evidence</h3>
    <div class="fact-tab-container"></div>
  </div>
</div>
