<div class="pull-left">
  <a href="#" class="btn arrow-button back back-to-profile"><span class="pointer"></span>Profile</a>
</div>

<div class="pull-right">
  <div class="created_by_region"></div>
</div>
