<div class="pull-left">
  <a href="#" class="back-to-profile btn-back"><span>{{ created_by.username }}'s profile</span></a>
</div>

<div class="pull-right">
  <div class="created_by_region"></div>
</div>

