<ul class="tab-control">
  <li class="supporting tab">
    <a href="javscript:void();">{{believe_tab_name}}</a>
    <span class="opinion_indicator agreeing" />{{ fact_base.believe_percentage }}%
  </li>
  <li class="weakening tab">
    <a href="javscript:void();">{{disbelieve_tab_name}}</a>
    <span class="opinion_indicator disagreeing" />{{ fact_base.disbelieve_percentage }}%
  </li>
  <li class="doubting tab">
    <a href="javscript:void();">{{doubt_tab_name}}</a>
    <span class="opinion_indicator unsuring" />
  </li>
</ul>
<div class="tab-content-container">
</div>
