<ul class="discussion-evidenceish-bottom-actions">
  <li class="discussion-evidenceish-bottom-action discussion-evidenceish-bottom-action-time">
    <i class="icon-time"></i> {{time_ago}} {{ global.t.ago }}
  </li>

  {{#showDelete}}
    <li class="discussion-evidenceish-bottom-action discussion-evidenceish-bottom-action-delete js-delete-region"></li>
  {{/showDelete}}

  <li class="js-sub-comments-link-container discussion-evidenceish-bottom-action"><a class="js-sub-comments-link" href="javascript:void()"></a></li>
</ul>
