<ul class="tab-control">
  <li class="supporting {{#nr_of_supporting_facts}}alwaysshow{{/nr_of_supporting_facts}} is-tab"><a href="#">Supporting{{#nr_of_supporting_facts}} ({{nr_of_supporting_facts}}){{/nr_of_supporting_facts}}</a></li>
  <li class="weakening {{#nr_of_weakening_facts}}alwaysshow{{/nr_of_weakening_facts}} is-tab"><a href="#">Weakening{{#nr_of_weakening_facts}} ({{nr_of_weakening_facts}}){{/nr_of_weakening_facts}}</a></li>

  <li class="permalink">
    {{#modal?}}
    <a href="{{url}}" target="new"></a>
    {{/modal?}}
    {{^modal?}}
    <a href="{{url}}" rel="backbone" target="_top"></a>
    {{/modal?}}
  </li>

  <li class="interacting-users hide">
    {{#interacting_users}}
      {{>interacting_users}}
    {{/interacting_users}}
  </li>

  {{#friendly_time}}
    <li class="timestamp">
      {{post_action}} {{ friendly_time }} ago
    </li>
  {{/friendly_time}}


  <li class="add-to-channel is-popup"><a href="#">Repost</a></li>

  {{#global.can_haz.messaging}}
    <li class="start-conversation is-popup"><a href="#">Send message</a></li>
  {{/global.can_haz.messaging}}
</ul>

<div class="clearfix"></div>

<div class="tab-content" style="display: block;">

  <div class="supporting" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

  <div class="weakening" style="display: none;">
    <div class="dropdown-container"></div>
  </div>
  
</div>

<div class="popup-content">
  {{#global.can_haz.messaging}}
    <div class="start-conversation-container modal" style="display:none">
    </div>
  {{/global.can_haz.messaging}}
  <div class="add-to-channel-container modal" style="display: none;">
    <div class="modal-header">
      <button type="button" class="close close-popup">&times;</button>
      <h3>Repost Factlink</h3>
    </div>
    <div class="modal-body">
      <strong>Repost this to one or more channels:</strong>
      <div class="add-to-channel-form">
      </div>
      <input type="submit" class="btn btn-primary close-popup" value="Done">
    </div>
  </div>
</div>

<div class="transparent-layer"></div>
