<ul class="tab-control">
  <li class="supporting tab">
    <a>Agreeing</a>
  </li>
  <li class="weakening tab">
    <a>Disagreeing</a>
  </li>
  <li class="doubting tab">
    <a>Unsure</a>
  </li>
</ul>
