<ul class="tab-control">
  <li class="supporting tab">
    <a href="#">Agreeing</a>
  </li>
  <li class="weakening tab">
    <a href="#">Disagreeing</a>
  </li>
  <li class="doubting tab">
    <a href="#">Unsure</a>
  </li>
</ul>
