<div class="raphael_container"></div>
<div class="html_container">
  <div class="authority">{{authority}}</div>
  {{#opinion_types_array}}
  <input type="radio" name="opinion" class="js-opinion-{{type}}" value="{{type}}s"{{#is_current_opinion}} selected="selected"{{/is_current_opinion}}>
  {{/opinion_types_array}}
</div>
