{{#deletable_from_channel?}}
  <a class="close remove" rel="nofollow">&times;</a>
{{/deletable_from_channel?}}

{{#modal?}}
  <a class="close remove" rel="nofollow" onclick="parent.remote.hide();">&times;</a>
{{/modal?}}

{{#fact_bubble}}
  {{>fact_bubble}}
{{/fact_bubble}}

<div class="controls">
  <ul class="evidence">
    <li class="supporting">
      <a class="tab">Supporting</a>
    </li>

    <li class="weakening">
      <a class="tab">Weakening</a>
    </li>

		{{#signed_in?}}
    <li class="add-to-channel">
      <a>Channels</a>
      <div class="float-box channel-listing">
    </div>
    </li>
		{{/signed_in?}}

    {{#i_am_owner}}
    <li class="destroy">
      <a></a>
    </li>
    {{/i_am_owner}}

  </ul>
    {{#interacting_users}}
      {{>interacting_users}}
    {{/interacting_users}}
  </ul>
</div>


<div class="dropdown-container">
</div>
