{{#deletable_from_channel?}}
  <a class="close remove" rel="nofollow">&times;</a>
{{/deletable_from_channel?}}

{{#modal?}}
  <a class="close remove" rel="nofollow" onclick="parent.remote.hide();">&times;</a>
{{/modal?}}

{{>fact_bubble}}

<div class="controls">
  <ul class="evidence">
    <li><a class="evidence-for">Supporting</a></li>
    <li><a class="evidence-for">Weakening</a></li>
		{{#signed_in?}}
    <li class="add-to-channel">
      <a>Channels</a>
      <div class="float-box channel-listing">
    </div>
    </li>
		{{/signed_in?}}
  </ul>
</div>


<div class="dropdown-container">
  <!-- default view - show the evidence for this fact -->
  <div class="page evidence-list" style="display: block;">
    <div class="evidence-list-wrapper">
      <div class="no-evidence-message">
        This Factlink is not supported or weakened by other Factlinks.<br/>
        <a href"#" class="do-add">Add evidence to this Factlink</a>
      </div>

      <div class="loading-evidence">
        {{{ajax_loader_image}}} <span>Loading...</span>
      </div>

      <ul class="evidence-listing">
      </ul>
    </div>
  </div
</div>
