<ul class="bottom-actions>

  <li class="bottom-action">
      <a href="{{url}}" class="js-arguments-link">
        Arguments ({{evidence_count}})
      </a>

      <span class="opinion_indicators">
        <span class="opinion_indicator_small agreeing"></span>{{ believe_percentage }}%
        <span class="opinion_indicator_small disagreeing"></span>{{ disbelieve_percentage }}%
      </span>
  </li>

  {{#global.signed_in}}
    <li class="bottom-action"><a href="#" class="js-add-to-channel">Repost</a></li>
    <li class="bottom-action"><a href="#" class="js-start-conversation">Share</a></li>
  {{/global.signed_in}}

  {{#proxy_scroll_url}}
    <li class="bottom-action fact-info">
      {{#fact_url_host}}
      <img class="fact-favicon" src="https://www.google.com/s2/u/0/favicons?domain={{fact_url_host}}" />
      {{/fact_url_host}}
      <a href="{{proxy_scroll_url}}" target="_blank" class="js-open-proxy-link">
        {{fact_url_title}}
      </a>
    </li>
  {{/proxy_scroll_url}}
</ul>

<i class="title-overflow"></i>
