<ul class="tab-control">
  <li class="supporting {{#nr_of_supporting_facts}}alwaysshow{{/nr_of_supporting_facts}}"><a href="#">Supporting{{#nr_of_supporting_facts}} ({{nr_of_supporting_facts}}){{/nr_of_supporting_facts}}</a></li>
  <li class="weakening {{#nr_of_weakening_facts}}alwaysshow{{/nr_of_weakening_facts}}"><a href="#">Weakening{{#nr_of_weakening_facts}} ({{nr_of_weakening_facts}}){{/nr_of_weakening_facts}}</a></li>

  <li class="permalink">
    {{#modal?}}
    <a href="{{url}}" target="new"></a>
    {{/modal?}}
    {{^modal?}}
    <a href="{{url}}" rel="backbone" target="_top"></a>
    {{/modal?}}
  </li>

  <li class="interacting-users hide">
    {{#interacting_users}}
      {{>interacting_users}}
    {{/interacting_users}}
  </li>

  {{#friendly_time}}
    <li class="timestamp">
      {{post_action}} {{ friendly_time }} ago
    </li>
  {{/friendly_time}}


  {{#global.can_haz.messaging}}
    <li class="send-message"><a href="#">Send message</a></li>
  {{/global.can_haz.messaging}}

  <li class="add-to-channel"><a href="#">My Channels</a></li>
</ul>

<div class="clearfix"></div>

<div class="tab-content" style="display: block;">

  <div class="supporting" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

  <div class="weakening" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

  {{#global.can_haz.messaging}}

    <div class="send-message" style="display:none">
      <div class="dropdown-container">
      </div>
    </div>

  {{/global.can_haz.messaging}}

  <div class="add-to-channel" style="display: none;">
    <div class="dropdown-container">
      <span class="title">The Factlink above is in my following channels:</span>
      <div class="wrapper">
        <div class="add-to-channel-container"></div>
      </div>
    </div>
  </div>

</div>