{{#deletable_from_channel?}}
  <a class="close remove" rel="nofollow">&times;</a>
{{/deletable_from_channel?}}

<div class="timestamp">
  {{friendly_time}}
</div>

{{#modal?}}
  <a class="close" rel="nofollow" onclick="parent.remote.hide();">&times;</a>
{{/modal?}}

{{#fact_bubble}}
  {{>fact_bubble}}
{{/fact_bubble}}

<ul class="tab-control">
  <!-- Interacting users listing -->
  <li class="interacting-users">
    {{#interacting_users}}
      {{>interacting_users}}
    {{/interacting_users}}
  </li>

  <!-- Evidence -->
  <li class="supporting"><a href="#">Supporting{{#nr_of_supporting_facts}} ({{nr_of_supporting_facts}}){{/nr_of_supporting_facts}}</a></li>
  <li class="weakening"><a href="#">Weakening{{#nr_of_weakening_facts}} ({{nr_of_weakening_facts}}){{/nr_of_weakening_facts}}</a></li>


  <!-- Destroy -->
  {{#i_am_owner}}
  <li class="destroy"><a></a></li>
  {{/i_am_owner}}

  <!-- Permalink -->
  <li class="permalink">
    <a href="{{url}}" target="_top"></a>
  </li>

   <!-- Authority -->
  {{#my_authority}}
  <li class="authority"><div class="authority" rel="tooltip" title="Your authority on this Factlink"><img src="/assets/brain.png" alt="Brain" /><span>{{my_authority}}</span></div></li>
  {{/my_authority}}

  <!-- Channels -->
  {{#signed_in?}}
  <li class="add-to-channel"><a href="#">My Channels</a></li>
  {{/signed_in?}}

</ul>

<div class="tab-content" style="display: block;">

  <div class="supporting" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

  <div class="weakening" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

  <div class="add-to-channel" style="display: none;">
    <div class="dropdown-container"></div>
  </div>

</div>
