<tr>
  <td class="fact-vote-table-cell-believes js-cell-believes">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-believes">
        <span class="icon-ok fact-vote-table-active-icon"></span> Agree
      </button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-believes">Agreeing</span>
    {{/global.signed_in}}

    <span class="js-avatars-believes-region"></span>
  </td>

  <td class="fact-vote-table-cell-doubts js-cell-doubts">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-doubts">
        <span class="icon-ok fact-vote-table-active-icon"></span> Unsure
      </button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-doubts">Unsure</span>
    {{/global.signed_in}}

    <span class="js-avatars-doubts-region"></span>
  </td>

  <td class="fact-vote-table-cell-disbelieves js-cell-disbelieves">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-disbelieves">
        <span class="icon-ok fact-vote-table-active-icon"></span> Disagree
      </button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-disbelieves">Disagreeing</span>
    {{/global.signed_in}}

    <span class="js-avatars-disbelieves-region"></span>
  </td>
</tr>
