<div class="js-region-popover"></div>

{{#modal?}}
  <a id="close" rel="nofollow" onclick="parent.remote.hide();" title="Close to proceed"><i class="icon-remove"></i></a>
{{/modal?}}

<div class="fact-base-region"></div>

<div class="fact-bottom-region"></div>
