<tr>
  <td class="vote-column-believes js-cell-believes">
    {{#global.signed_in}}
      <button class="button vote-column-believes-button js-button-believes"><i class="icon-smile"></i></button>
    {{/global.signed_in}}

    {{^global.signed_in}}
      <span class="vote-table-cell-text-believes"><i class="icon-smile"></i></span>
    {{/global.signed_in}}
  </td>

  <td class="vote-column-believes-avatars js-avatars-believes-region"></td>
  <td class="vote-column-divider"></td>
  <td class="vote-column-disbelieves-avatars js-avatars-disbelieves-region"></td>

  <td class="vote-column-disbelieves js-cell-disbelieves">
    {{#global.signed_in}}
      <button class="button vote-column-disbelieves-button js-button-disbelieves"><i class="icon-frown"></i></button>
    {{/global.signed_in}}

    {{^global.signed_in}}
      <span class="vote-table-cell-text-disbelieves"><i class="icon-frown"></i></span>
    {{/global.signed_in}}
  </td>
</tr>
