<tr>
  <td class="fact-vote-table-cell-believes js-cell-believes">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-believes"><i class="icon-smile"></i></button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-believes"><i class="icon-smile"></i></span>
    {{/global.signed_in}}

    <span class="opinionators-avatars js-avatars-believes-region"></span>
  </td>

  <td class="fact-vote-table-cell-doubts js-cell-doubts">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-doubts"><i class="icon-meh"></i></button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-doubts"><i class="icon-meh"></i></span>
    {{/global.signed_in}}

    <span class="opinionators-avatars js-avatars-doubts-region"></span>
  </td>

  <td class="fact-vote-table-cell-disbelieves js-cell-disbelieves">
    {{#global.signed_in}}
      <button class="button fact-vote-table-cell-button js-button-disbelieves"><i class="icon-frown"></i></button>
    {{/global.signed_in}}
    {{^global.signed_in}}
      <span class="fact-vote-table-cell-text-disbelieves"><i class="icon-frown"></i></span>
    {{/global.signed_in}}

    <span class="opinionators-avatars js-avatars-disbelieves-region"></span>
  </td>
</tr>
