<div class="js-region-popover"></div>

{{#modal?}}
  <a id="close" class="js-close" rel="nofollow" onclick="parent.remote.hide();"><i class="icon-remove"></i></a>
{{/modal?}}

<div class="fact-base-region"></div>

<div class="fact-bottom-region"></div>
