<article class="fact" data-fact-id="{{fact_id}}" >
  {{#fact_wheel}}
    {{>fact_wheel}}
  {{/fact_wheel}}
	<header>
	  <span id="title-{{fact_id}}" class="head {{editable_title_class}}">{{fact_title}}</span>

		<span class="body">
      {{{displaystring}}}
      {{#scroll_to_link}}
        &mdash; <span>{{{scroll_to_link}}}</span>
      {{/scroll_to_link}}
      <br>
    </span>
	</header>
</article>
