<article class="fact" data-fact-id="{{fact_id}}" >
  <div class="wheel">
    {{#fact_wheel}}
      {{>fact_wheel}}
    {{/fact_wheel}}
  </div>
  <header>
    <p class="head title{{#can_edit?}} edit{{/can_edit?}}">
      <span>{{fact_title}}</span>
      <input type="text" value="{{fact_title}}">
    </p>

    <span class="body">
      {{{displaystring}}}
      {{#scroll_to_link}}
        &mdash; <span>{{{scroll_to_link}}}</span>
      {{/scroll_to_link}}
      <br>
    </span>
  </header>
</article>
