{{#deletable_from_channel?}}
  <a class="close remove" rel="nofollow">&times;</a>
{{/deletable_from_channel?}}

{{#modal?}}
  <a class="close remove" rel="nofollow" onclick="parent.remote.hide();">&times;</a>
{{/modal?}}

{{>fact_bubble}}


<div class="controls">
  <ul class="evidence">
    <li class="supporting">
      <a class="tab">Supporting</a>
      {{#signed_in?}} <a class="add-button"></a> {{/signed_in?}}
    </li>

    <li class="weakening">
      <a class="tab">Weakening</a>
      {{#signed_in?}}<a class="add-button"></a> {{/signed_in?}}
    </li>

		{{#signed_in?}}
      <li class="add-to-channel">
        <a>Channels</a>
        <div class="float-box channel-listing">
      </div>
      </li>
		{{/signed_in?}}
  </ul>
  <ul class="users">
    {{#last_active_users}}
    <li class="user" data-user-id="{{graph_id}}" rel="twipsy" title="{{username}}">
    {{{avatar_to_profile}}}
    </li>
    {{/last_active_users}}
  </ul>
</div>


<div class="dropdown-container">
</div>
