<article class="fact" data-fact-id="{{fact_id}}" >
  {{>fact_wheel}}
	<header>
	  <span id="title-{{fact_id}}" class="head {{editable_title_class}}">{{fact_title}}</span>

		<span class="body">
      {{{link}}} &mdash; <span>{{{scroll_to_link}}}</span><br>
    </span>
    <sub>{{{last_activity}}}</sub>
		{{#user_signed_in?}}
		  <div class="actions">
		    <ul>
			    <li class="add-to-channel">
			      <a><img src="/images/bookmark.gif">Channels</a>
			      <div class="float-box channel-listing">
      		  </div>
			    </li>
			    
			    {{#i_am_fact_owner}}
			      <li>{{{delete_link}}}</li>
			    {{/i_am_fact_owner}}
		    </ul>
		  </div>

	  {{/user_signed_in?}}
	</header>
</article>
