<div class="fact2-avatar">
  (User avatar)
</div>

<div class="fact2-text">
  {{displaystring}}
</div>

<div class="fact2-controls">
  {{created_by_ago}} (Should be: "Originally posted")

  (Repost)
</div>

<div class="fact2-wheel">
  (Factwheel)
  <div class="js-fact-wheel-region"></div>
</div>
