<ul class="interacting-users">
  {{#activity}}
  <li class="user alwaysshow" data-activity-id="{{id}}">
    <div class="passport"></div>
    <a href="{{user.profile_path}}" target="_top">{{{user.avatar_thumb}}}</a>
    </li>
  {{/activity}}
  {{^activity}}
  <li>
  </li>
  {{/activity}}
</ul>
