<ul class="users">
  {{#activity}}
  <li class="user" data-activity-id="{{id}}">
    <div class="passport"></div>
    <a href="{{user.profile_path}}">{{{user.avatar_thumb}}}</a>
    </li>
  {{/activity}}
</ul>
