<div class="js-region-ndp-fact"></div>
<div class="js-region-evidence"></div>
<div class="evidence-add">
  <div class="evidence-add-circle"></div>
  <div class="evidence-add-line-left"></div>
  <div class="evidence-add-line-right"></div>
</div>
