<div class="js-region-ndp-fact"></div>
<div class="js-region-evidence"></div>
<div class="evidence-add">
  <div class="evidence-add-circle"></div>
  <div class="evidence-add-weakening-line"></div>
  <div class="evidence-add-supporting-line"></div>
  <div class="evidence-add-weakening"></div>
  <div class="evidence-add-supporting"></div>
</div>
