<div class="proxy-link">
  <a href="{{proxy_scroll_url}}" target="_blank" class="js-open-proxy-link">
    <img class="proxy-link-favicon" src="https://www.google.com/s2/u/0/favicons?domain={{fact_url_host}}" />
    {{fact_url_title}}
  </a>
</div>
<i class="proxy-link-overflow"></i>
