  {{#proxy_scroll_url}}
    <div class="proxy-link">
      {{#fact_url_host}}
      <img class="proxy-link-favicon" src="https://www.google.com/s2/u/0/favicons?domain={{fact_url_host}}" />
      {{/fact_url_host}}
      <a href="{{proxy_scroll_url}}" target="_blank" class="js-open-proxy-link">
        {{fact_url_title}}
      </a>
    </div>
  {{/proxy_scroll_url}}
<i class="proxy-link-overflow"></i>
