<form accept-charset="UTF8" action="{{channel_path}}" method="post" data-remote="true">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="{{form_authenticity_token}}">
  </div>
  

  <input class="channel_title" name="channel[title]" placeholder="Add new channel" size="30" type="text">
	<input type="hidden" id="for_fact" name="for_fact" value="{{fact.id}}" />

	<input type="submit" id="channel_submit" name="commit" value="Add" >
	
</form>
