
<div class="new-design-background-shadow"></div>
<div class="js-user-heading-region"></div>

<div class="top-fact-text">
  {{displaystring}}
</div>

<div class="top-fact-controls">
  <button class="button-blue js-repost">Repost</button>

  <div class="top-fact-time-ago">
    <span class="factlink-icon-time"></span>{{created_by_ago}}
  </div>
</div>

<div class="top-fact-wheel">
  <div class="js-fact-wheel-region fact-wheel"></div>
</div>
