<div class="top-fact-avatar">
  (User avatar)
</div>

<div class="top-fact-text">
  {{displaystring}}
</div>

<div class="top-fact-controls">
  <button class="button-blue js-repost">Repost</button>

  <div class="top-fact-time-ago">
    <span class="top-fact-time-ago-icon factlink-icon-time"></span>{{created_by_ago}}
  </div>
</div>

<div class="top-fact-wheel">
  (Factwheel)
  <div class="js-fact-wheel-region"></div>
</div>
