<div class="top-fact-content">
  <div class="top-fact-text">
    {{displaystring}} {{#showDelete}}<span class="top-fact-delete js-delete-region"></span>{{/showDelete}}
  </div>
</div>

<div class="js-fact-vote-table-region"></div>
