<span class="user-fact-heading-avatar-wrapper"><img src="{{avatar_url_48}}" /></span>
<div class="user-fact-heading-text">
  <div>{{name}}</div>
  <div><img src="{{global.brain_image}}"> {{authority_for_subject.authority}}</div>
</div>
