<span class="avatar-wrapper"><img src="{{avatar_url_48}}" /></span>
<div class="user-fact-heading-text">
  <div><a class="user-fact-heading-link" href="{{link}}" rel="backbone">{{name}}</a></div>
  <div class="user-fact-heading-authority"><span class="factlink-icon-brain"></span> {{authority_for_subject.authority}}</div>
</div>
