
<div class="arguments-supporting-central"><div class="shadow"></div> </div>
<div class="arguments-supporting-box" contenteditable><div class="shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa</div>


<div class="arguments-supporting-central"><div class="shadow"></div> </div>
<div class="arguments-supporting-box" contenteditable><div class="shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa and this is some longer text!
It even reaches the next weakening evidence.</div>


<div class="arguments-weakening-central"><div class="shadow"></div> </div>
<div class="arguments-weakening-box" contenteditable><div class="shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>



<div class="arguments-weakening-central"><div class="shadow"></div> </div>
<div class="arguments-weakening-box" contenteditable><div class="shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>


<div class="arguments-supporting-central"><div class="shadow"></div> </div>
<div class="arguments-supporting-box" contenteditable><div class="shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa!!</div>

<div class="arguments-unsure-right-spacer"></div>
<div class="arguments-unsure-left-spacer"></div>
<div class="arguments-unsure-central"><div class="shadow"></div> </div>
<div class="arguments-unsure-box" contenteditable><div class="shadow"></div>
Unsure!
sfd
adsf
sdf
sdfa
</div>

<div class="arguments-supporting-central"><div class="shadow"></div> </div>
<div class="arguments-supporting-box"  contenteditable><div class="shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa</div>



<div class="arguments-weakening-central"><div class="shadow"></div> </div>
<div class="arguments-weakening-box" contenteditable><div class="shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>
</div>
<div class="arguments-terminator"></div>

