<span class="heading-avatar heading-avatar-large"><span class="heading-avatar-image">{{!
No space - important for centering!
}}<img class="heading-avatar-favicon favicon-missing"
  src="https://getfavicon.appspot.com/{{fact_url}}?defaulticon=none" /><i class="icon-globe favicon-alternative"/></span></span>
<a href="{{proxy_scroll_url}}" target="_blank" class="js-open-proxy-link top-fact-heading-link">
  <span class="top-fact-heading-text">{{fact_url_title}}</span>
  <i class="icon-export fact-url-icon"></i>
</a>
