{{#global.can_haz.share_discussion_buttons}}
  <div class="js-social-share top-fact-share-buttons-social">
    {{#current_user.services.twitter}}
      <a class="share-button share-discussion-button share-button-twitter js-twitter" href="javascript:void(0)">Twitter</a>
    {{/current_user.services.twitter}}

    {{#current_user.services.facebook}}
      <a class="share-button share-discussion-button share-button-facebook js-facebook" href="javascript:void(0)">Facebook</a>
    {{/current_user.services.facebook}}
  </div>
{{/global.can_haz.share_discussion_buttons}}

<a class="share-button share-discussion-button share-button-message js-start-conversation" href="javascript:void(0)">Share</a>
