<div class="js-user-heading-region"></div>

{{#global.signed_in}}
  <button class="button button-white button-small top-fact-share js-share">Share</button>
{{/global.signed_in}}

<div class="top-fact-text">
  {{displaystring}}
</div>

<div class="top-fact-controls">
  <div class="top-fact-control">
    <span class="factlink-icon-time"></span>{{created_by_ago}}
  </div>

  <div class="top-fact-delete top-fact-control">Delete!</div>

  {{#global.signed_in}}
    <button class="button button-small button-confirm js-repost">Repost</button>
  {{/global.signed_in}}
</div>

<div class="top-fact-wheel">
  <div class="js-fact-wheel-region fact-wheel"></div>
</div>

<div class="top-fact-weakening-information">Weakening information</div>
<div class="top-fact-supporting-information">Supporting information</div>
