{{#global.can_haz.share_discussion_buttons}}
  <li class="top-fact-share-buttons-option"><a class="share-button share-discussion-button share-button-facebook" href="javascript:void(0)">Facebook</a></li>
  <li class="top-fact-share-buttons-option"><a class="share-button share-discussion-button share-button-twitter" href="javascript:void(0)">Twitter</a></li>
{{/global.can_haz.share_discussion_buttons}}

<li class="top-fact-share-buttons-option"><a class="share-button share-discussion-button share-button-message js-share" href="javascript:void(0)">Share</a></li>
