<span class="heading-avatar heading-avatar-large"><img src="{{avatar_url_48}}" /></span>
<div class="top-fact-heading-text">
  <div>
    <a class="top-fact-heading-link" {{#global.signed_in}}href="{{link}}" rel="backbone"{{/global.signed_in}}>{{name}}</a>
  </div>
  <div class="top-fact-heading-authority"><span class="factlink-icon-brain"></span> {{authority_for_subject.authority}}</div>
</div>
