
<div class="evidence-supporting-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-supporting-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa</div>


<div class="evidence-supporting-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-supporting-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa and this is some longer text!
It even reaches the next weakening evidence.</div>


<div class="evidence-weakening-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-weakening-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>



<div class="evidence-weakening-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-weakening-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>


<div class="evidence-supporting-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-supporting-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa!!</div>

<div class="evidence-unsure-right-spacer"></div>
<div class="evidence-unsure-left-spacer"></div>
<div class="evidence-unsure-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-unsure-box" contenteditable><div class="new-design-background-shadow"></div>
Unsure!
sfd
adsf
sdf
sdfa
</div>

<div class="evidence-supporting-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-supporting-box"  contenteditable><div class="new-design-background-shadow"></div> sdsdf sadf
sfd
sfd
adsf
sdf
sdfa
adfs
dfsa</div>



<div class="evidence-weakening-impact"><div class="new-design-background-shadow"></div> </div>
<div class="evidence-weakening-box" contenteditable><div class="new-design-background-shadow"></div> sdsdf asf asd fasdf
safd
asfd
fsad
fsda
afs d??</div>
</div>
<div class="evidence-terminator"></div>

