<div class="js-user-heading-region"></div>

<div class="top-fact-text">
  {{displaystring}}
</div>

<div class="top-fact-controls">
  Apple, Hardware, Blah (Repost)

  {{created_by_ago}} (Should be: "Originally posted")
</div>

<div class="top-fact-wheel">
  (Factwheel)
  <div class="js-fact-wheel-region"></div>
</div>
