<span class="heading-avatar heading-avatar-large"><span class="heading-avatar-image"><img src="https://getfavicon.appspot.com/{{fact_url}}" /></span></span>
<div class="top-fact-heading-text">
  <a href="{{proxy_scroll_url}}" target="_blank" class="js-open-proxy-link">
    {{fact_url_title}}
    <i class="icon-export fact-url-icon"></i>
  </a>
</div>
