<span class="heading-avatar heading-avatar-large"><img src="{{avatar_url_48}}" class="heading-avatar-image"/></span>
<a {{#global.signed_in}}href="{{link}}" rel="backbone"{{/global.signed_in}} class="top-fact-heading-link top-fact-heading-text js-user-link">{{name}}</a>

