{{#believes}}
  <span class="vote-up-down-text">You think this is correct or true.</span><button class="button button-small vote-up-down-button js-fact-unbelieve">Undo</button>
{{/believes}}
{{^believes}}
  <span class="vote-up-down-text">Is this argument correct or true?</span><button class="button button-small vote-up-down-button js-fact-believe">Yes</button>
{{/believes}}
