<% content_for :test_text do %>
  <h2>About Factlink</h2>
  <p> Factlink helps people find credibility in the world's information. 
    It transforms pieces of information from web documents into dynamic channels of information.</p>

<% end %>