<% content_for :title do %>
  About Factlink
<% end %>

<% content_for :menu_items do %>
  <li class="selected_menu_item"><%= link_to "About Factlink", pages_path("about") %></li>
  <li><%= link_to "Our Team", pages_path("team") %></li>
<% end %>
  
<% content_for :body_text do %>
  <h1>About Factlink</h1>
  <p>Factlink helps people find credibility in the world's information. The service is built on the belief that information should be openly shared, accessible, and transparent. 
  
  <p>Factlink provides immediate access to the state of knowledge on the topics people are discussing by transforming web documents into dynamic channels of information.</p>   
  
  <br/>
  <a href ="signup"><span class="btn success">Sign up for our Beta</span></a>
<% end %>
