<% content_for :header do %>
  <h1>About Factlink</h1>
  <p>
    We’re making the web more open and credible. Working at Factlink means to have freedom in your work and collaborating with the brightest people.
  </p>
<% end %>

<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :about %>
<% end %>

<% content_for :content do %>
  <h1>Because the web needs what you know</h1>

  <ul class="thumbnails">
    <li class="span9">
      <a href="#" class="thumbnail">
        <iframe src="https://player.vimeo.com/video/39821677" width="690" height="388" style="border: 0px;"></iframe>
      </a>
    </li>
  </ul>

  <p>
    The new web inspires us to bring together the content of billions of users in one simple and elegant perspective that shows what people know.
  </p>

  <p>
    Factlink works on helping people understand how credible the information is that they’re reading. The service is built on the belief that information should be openly shared, accessible, and transparent.
  </p>

  <p>
    Factlink is located in both the San Francisco Bay Area and the Netherlands.
  </p>

<% end %>
