<% content_for :title do %>
Factlink &mdash; Frequently Asked Questions
<% end %>

<% content_for :menu_items do %>
  <li><%= link_to "Help", pages_path("help") %></li>
  <li><%= link_to "FAQ", pages_path("faq") %></li>
  <li class="selected_menu_item"><%= link_to "Install Chrome extension", pages_path("chrome-extension") %></li>
<% end %>

<% content_for :body_text do %>
  <h1>Install Chrome extension</h1>

  <p>To install the Chrome extension you need to install Chrome....</p>

<% end %>
