<% content_for :title do %>
  Contact us
<% end %>

<% content_for :menu_items do %>
  <li class="selected_menu_item"><a href="contact">Contact us</a></li>
<% end %>

<% content_for :body_text do %>
  <h1>Contact us</h1>
  <p>For ongoing information about Factlink, please read our company blog. Also, feel free to contact us with service questions, partnership proposals, or media inquiries.</p>
  <br/><br/>
  <div class="span-7 enquiries">
    <h5>General enquiries</h5>
    <a href="mailto:info@factlink.com">info@factlink.com</a>
    <br/>
    <br/>
    <h5>Feedback (thank you)</h5>
    <a href="mailto:feedback@factlink.com">feedback@factlink.com</a>
  </div>
  <div class="span-5">
    <h5>US: Alameda</h5>
    <p class="address">Factlink Inc. <br/>
      1309 Santa Clara Ave #4<br/>
      CA 94501 Alameda<br/>
      +1 650 646 3697</p>
  </div>
  <div class="span-5 last">
    <h5>NL: Groningen</h5>
    <p class="address">Factlink B.V.<br/>
      Stationsweg 3D<br/>
      9726 AC Groningen<br/>
      +31 (0)50 - 2101047</p>
  </div>
<% end %>