<% content_for :header do %>
  <h1>Get in touch</h1>
  <p>
    We love to talk to people!
  </p>
<% end %>

<% content_for :title do %>
  Factlink &mdash; Contact us
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :contact %>
<% end %>

<% content_for :content do %>
<div class="row">
  <div class="span3">
    <h5>General enquiries</h5>
    <a href="mailto:info@factlink.com">info@factlink.com</a>
    <br/>
    <br/>
    <h5>Jobs</h5>
    <a href="mailto:jobs@factlink.com">jobs@factlink.com</a>
    <br/>
    <br/>
    <h5>Feedback (thank you)</h5>
    <a href="mailto:support@factlink.com">support@factlink.com</a>
  </div>
  <div class="span3">
    <h5>US: Alameda</h5>
    <p class="address">Factlink Inc. <br/>
      1309 Santa Clara Ave #4<br/>
      CA 94501 Alameda<br/>
      +1 650 646 3697</p>
  </div>
  <div class="span3">
    <h5>NL: Groningen</h5>
    <p class="address">Factlink B.V.<br/>
      Prinsenstraat 9B<br/>
      9711 CL Groningen<br/>
      +31 50 8512915</p>
  </div>
</div>
<% end %>
