<% content_for :header do %>
  <div class="publisher-page-header">
    <h1>Share your knowledge for a better world</h1>
    <p class="publisher-page-paragraph">Use Factlink to discuss <i>anything</i> on the web.</p>
  </div>
<% end %>

<% content_for :content do %>
  <div class="homepage-factlink-aspects">
    <div class="grid-row">
      <div class="homepage-factlink-aspect-box grid-2-col">
        <i class="homepage-icon-layer"></i>
        <h1>Discuss anything, anywhere</h1>
        <p>We believe in an open internet where everything can be discussed. With Factlink we have created a layer over the web that shows discussions inside the text you are reading.</p>
      </div>
      <div class="homepage-factlink-aspect-box grid-2-col">
        <i class="homepage-icon-social"></i>
        <h1>A social network for knowledge</h1>
        <p>Building and discovering knowledge is a social activity. We make it easy to involve your friends or followers in discussions, and build a reputation. Invite them to share their knowledge with the world!</p>
      </div>
    </div>
  </div>
<% end %>
