<% content_for :title do %>
  Factlink &mdash; Because the web needs what you know
<% end %>

<% content_for :header do %>
  <h1>A layer over the web to add and view credibility</h1>
  <div class="row">
    <div class="span4 sign_up_form">
      <h2>Sign up for the beta now:</h2>

     <%= render template: "users/registrations/new2", locals: { form_id: "top_registration_form" } %>

    </div>
    <div class="span4 video">
      <a href="#factlink_video" role="button" data-toggle="modal" id="watch_factlink_video">Play video</a>
    </div>
    <div class="span4 statement">
      <h3>&#x2713; With Factlink you can select any statement on the web, review its credibility, and add what you know.</h3>
    </div>
  </div>
<% end %>

<% content_for :modal do %>
<div class="modal hide fade" id="factlink_video" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal_label">An introduction to Factlink</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
<% end %>

<% content_for :content do %>
  <div class="row">
    <div class="span6 authority">
      <i></i>
      <h2>Authority &amp; peer recognition</h2>
      <p>Factlink helps uncovering what people know by measuring their authority on any specific subject. It enables you to reach out to peers and get recognition.</p>
    </div>
    <div class="span6 social">
      <i></i>
      <h2>A social network for knowledge</h2>
      <p>Discover relevant knowledge and connect to curated expertise. Get immediate updates as new information comes in and new facts come to light. Have impact on what people learn.</p>
    </div>
  </div>

  <div class="row">
    <div class="span6 curation">
      <i></i>
      <h2>Collective curation</h2>
      <p>The platform can combine the expertise of billions of people and provide a collectively curated perspective on the worlds information. Anybody can annotate any statement on the web and share and discuss it with others.</p>
    </div>

    <div class="span6 web">
      <i></i>
      <h2>A layer over the web</h2>
      <p>As an app for your browser, Factlinks works as a layer over the web, and, for any web page or article, enables you to add what you know and see what others have added.</p>
    </div>
  </div>
<% end %>
