<% content_for :header do %>
  <h1>Jobs</h1>
  <p>
    We love talking to talented people.
  </p>
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :jobs %>
<% end %>

<% content_for :content do %>
  <h1>Help us make the world more credible.</h1>
  <p>
    At Factlink, we’re building web-wide scale. The most important thing we look for in our people is talent. Our development team is using Agile Development and each team member has expertise on several fields. If your skills match one or more of the positions on the left and you think building Factlink could be exciting, please contact us at <a href="mailto:jobs@factlink.com">jobs@factlink.com</a>, or call us at +1 650 646 3697 (US) or +31 50 8512915 (NL).
  </p>

  <h4>UX and UI developer</h4>

  <p>
    We believe UI and UX are paramount to great applications. We’re expanding our team and are looking for people that are passionate about bringing UX and UI to the next level. We think it’s important to be light on your feet and inquisitive and interested in being wrong (do you know who is quoted here?). We expect a great designer to have the skills to express why he feels things need to change. A sophistic and highly dynamic application like Factlink requires a communicative team. Design is a conversation. Stuff we use includes Balsamiq, Mustache, Backbone, Bootstrap, Less and our standard web stack (html, css, javascript). Relevant experience with templating languages, as well as experience with designing for high volume interactive consumer applications where the users create the data (like GitHub or Facebook) is highly valued.
  </p>

  <p>
    Keywords: design, UI/UX, web applications.
  </p>

  <h4>Web developer</h4>

  <p>
    We’re looking for product guys. The growth of the Factlink web application drives our web development group. We’re continuously refactoring, use continuous deployment at the feature level and work with things like Ruby, MongoDB, Node.js, Lucene, Redis and Javascript. Our development infrastructure includes GitHub, Mixpanel, Mustache, Backbone, and automated integration testing. Every team member can touch any aspect of the application. Each is responsible for the full product. Experience with automated testing is a big advantage.
  </p>
  <p>
    Keywords: product, refactoring, continuous deployment, test-driven.
  </p>

  <h4>DevOps</h4>

  <p>
    DevOps is about automation to improve productivity, reduce risk, and achieve scale. DevOps engineers should always be striving to deprecate themselves, while the product expands and creates new challenges to tackle. Supporting of and participating in development to grow the application globally across multiple data centers. We’re looking for someone who can bridge back-end data structure choices to the flow of application data through the complete infrastructure. Applications we use include New Relic, Chef, Capistrano, Capybara, Graphene, Grunt, Fabric, Watchmen.
  </p>

  <p>
    Keywords: Infrastructure automation, high availability, data flow.
  </p>

  <h4>Back-end developer</h4>

  <p>
    Scaling Factlink is web-wide and we need back-end developers that have created web-scale software systems. Experience with MapReduce/Hadoop, Lucene/Solr and NoSQL storage like MongoDB, Redis or similar is mandatory. We currently use Ruby/Scala but a back-end developer should be comfortable with applying whatever library (Java if necessary) makes sense in any given situation. The ability to quickly scan and evaluate existing approaches to problems, platforms and articles is key. Don’t re-invent the wheel, extend it! Experience with supporting large scale Open Source projects is a pre. Task will include extending the Factlink back-end data structure and service layer so our application developers and third-parties (API!) can build inspiring apps.
  </p>

  <p>
    Keywords: PAAS, API’s, scalability & distributed processing, algorithms.
  </p>

  <h4>Data scientist</h4>

  <p>
    We need people who not only love to wrestle with data but also love to create applications that use results of their analysis. Being a good data scientist isn’t about applying machine learning to large volumes of data only. A good data scientist understands what key aspects need to be present in the UX model in order to measure and collect what is needed to deliver real insight and value back to our end users. He understands what different types of data mean for data analysis and is pragmatic about crafting and iterating approaches to data. Our data scientist can touch any aspect of the application and work with all teams to get to unlocking the value of Factlink content. We’re looking for someone who is not only passionate about Factlink’s vision of building a collective knowledge platform, we’re also looking for someone who can present our data vision and give talks at meet-ups and conventions.
  </p>

  <p>
    Keywords: UX, data-structures & algorithms, presenting.
  </p>

  <h4>Growth Hacker</h4>

  <p>
    From @andrewchen's blog: Growth hackers are a hybrid of marketer and coder, one who looks at the traditional question of “How do I get customers for my product?” and answers with A/B tests, landing pages, viral factor, email deliverability, and Open Graph. On top of this, they layer the discipline of direct marketing, with its emphasis on quantitative measurement, scenario modeling via spreadsheets, and a lot of database queries.
  </p>
  <p>
    Growth hackers at Factlink need to understand UX and will most likely have a technical background.
  </p>
  <p>
    Factlink blogpost on UX: <a href="http://blog.factlink.com/post/23308427848/dont-look-for-a-ux-guy-be-a-ux-guy">http://blog.factlink.com/post/23308427848/dont-look-for-a-ux-guy-be-a-ux-guy</a>
  </p>
  <p>
    Andrew Chen's blogpost on Growth Hacking: <a href="http://andrewchenblog.com/2012/04/27/how-to-be-a-growth-hacker-an-airbnbcraigslist-case-study/">http://andrewchenblog.com/2012/04/27/how-to-be-a-growth-hacker-an-airbnbcraigslist-case-study/</a>
  </p>
<% end %>
