<% content_for :title do %>
  Jobs - Senior Software Engineer
<% end %>

<% content_for :menu_items do %>
  <li class="selected_menu_item"><%= link_to "Senior Software Engineer", pages_path("jobs") %></li>
<% end %>
  
<% content_for :body_text do %>
  <h1>Senior Software Engineer</h1>
  <p>
    Vacancy text will appear soon!
  </p>
  <a href ="apply"><span class="btn success">Apply for this position</span></a>
<% end %>