<% content_for :header do %>
  <h1>Factlink on your site</h1>
<% end %>

<% content_for :title do %>
  Factlink &mdash; On your site
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :site %>
<% end %>

<% content_for :content do %>
  <%= image_tag('static/add-factlink.png', class: 'on-your-site-image') %>
  <h1>Empower your visitors</h1>
  <p>Factlink gets your visitors more involved, by better structuring discussions and actively engaging users. Your content can get used in other discussions and featured on factlink.com, thus getting shared with a larger audience.</p>

  <section class="install-step">
    <h3><span class="install-step-number">1</span>Installing Factlink</h3>

    <h4>Wordpress</h4>
    <p>If you own a WordPress website manual implementation is not required. Just download and install the <%= link_to 'WordPress plugin', 'http://wordpress.org/plugins/factlink/'%>. You can annotate any statement on your website by selecting the statement and clicking the add Factlink button. The WordPress plugin includes the same functionality as the manual install.</p>
    <%= link_to 'Get WordPress plugin', 'http://wordpress.org/plugins/factlink/', class: 'button-confirm' %>

    <h4>Manually</h4>
    <p>Factlink can also be manually integrated in your site. Just add the following code:</p>
    <code class="code-line">
      &lt;script async defer src=&quot;https://static.factlink.com/lib/dist/factlink_loader.min.js&quot;&gt;&lt;/script&gt;
    </code>
    <p>Factlink will load more quickly if you include it near the top of your document.</p>
  </section>

  <section class="install-step">
    <h3><span class="install-step-number">2</span>Factlink button <span class="button-optional">(optional)</span></h3>
    <p>After installing Factlink, you can add the Factlink button to your website. The Factlink button enables users to easily create new Factlinks with one click. You can choose the button you like and paste the code below into the HTML of your site.</p>

    <div class="factlink-create-button"></div>
    <code class="code-line">
      &lt;div class=&quot;js-factlink-create-button factlink-create-button&quot;&gt;&lt;/div&gt;
    </code>

    <div class="factlink-create-button-square"></div>
    <code class="code-line">
      &lt;div class=&quot;js-factlink-create-button factlink-create-button-square&quot;&gt;&lt;/div&gt;
    </code>
  </section>
<% end %>
