<% content_for :header do %>
  <h1>Factlink on your site</h1>
  <p>By integrating Factlink into your website you enable your visitors to interact and discuss about statements that are made on your website. Integration of Factlink is very easy!</p>
<% end %>

<% content_for :title do %>
  Factlink &mdash; On your site
<% end %>

<% content_for :content do %>
  <div class="grid-2-col ">
    <h1>Wordpress</h1>
  </div>
  <div class="grid-2-col others-column">
    <h1>Other sites</h1>
  </div>
<% end %>
