<% content_for :header do %>
  <h1>Factlink on your site</h1>
<% end %>

<% content_for :title do %>
  Great discussions on your site
<% end %>

<% content_for :content do %>
<div class="publisher-container">
  <div class="publisher-animation-area">
    <!-- SIDEBAR Animation -->
    <div class="animation-sidebar-text">

      <ul class="animation-sidebar-paragraph">
        <li class="animation-first-sentence"></li>
        <li></li>
      </ul>



      <ul class="animation-sidebar-paragraph">
        <li class="animation-first-sentence"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>


      <ul class="animation-sidebar-paragraph">
        <li class="animation-first-sentence"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="publisher-content-area">
    <h1>More engagement</h1>
    <p>It’s easy for your audience to participate and get engaged with the content you post online. They can leave their opinion and comment directly within context. Direct interaction with your audience.</p>
  </div>
</div>
<% end %>
