<% content_for :header do %>
  <h1>Factlink on your site</h1>
<% end %>

<% content_for :title do %>
  Factlink &mdash; On your site
<% end %>

<% content_for :left_column do %>
  <%= render "home/static_pages_menu", active: :site %>
<% end %>

<% content_for :content do %>

<p>Publisher page</p>

<% end %>
