<% content_for :title do %>
  Our Team
<% end %>

<% content_for :menu_items do %>
  <li><a href="about">About Factlink</a></li>
  <li class="selected_menu_item"><a href="team">Our team</a></li>
<% end %>

<% content_for :body_text do %>
  <h1>Our Talented Team</h1>
  <p>Factlink is made by a world-class ...</p>

  <div class="team_photos">
    <img src="/images/team/merijn.jpg" height="72" width="72" alt="Merijn Terheggen"> </img>
    <img src="/images/team/gordon.jpg" height="72" width="72" alt="Gordon Rios"> </img>
    <img src="/images/team/tom.jpg" height="72" width="72" alt="Tom de Vries"> </img>
    <img src="/images/team/remon.jpg" height="72" width="72" alt="Remon Oldenbeuving"> </img>
    <img src="/images/team/michiel.jpg" height="72" width="72" alt="Michiel Prins"> </img>
    <img src="/images/team/jobert.jpg" height="72" width="72" alt="Jobert Abma"> </img>
    <img src="/images/team/jan.jpg" height="72" width="72" alt="Jan Salvador van der Ven"> </img>
    <img src="/images/team/mark.jpg" height="72" width="72" alt="Mark Ijbema"> </img>
    <img src="/images/team/jordin.jpg" height="72" width="72" alt="Jordin van Zwol"> </img>
    <img src="/images/team/joel.jpg" height="72" width="72" alt="Joel Kuiper"> </img>
    <img src="/images/team/jens.jpg" height="72" width="72" alt="Jens Kanis"> </img>
  </div>
  <h2>Join our team?</h2>
  <p>We're always looking for talented people to add to our team. Are you one of those people? Maybe you should take a look at our opportunities.</p>
  <br/><br/>
  <a href ="jobs"><span class="btn success">Apply for a job</span></a>
<% end %>