<% content_for :title do %>
  Our Team
<% end %>

<% content_for :menu_items do %>
  <li><a href="about">About Factlink</a></li>
  <li class="selected_menu_item"><a href="our_team">Our team</a></li>
<% end %>
  
<% content_for :body_text do %>
  <h1>Our Talented Team</h1>
  <p>Factlink is made by a world-class ...</p>
  
  
  <h2>Join our team?</h2>
  <p>We're always looking for talented people to add to our team. Are you one of those people? Maybe you should take a look at our opportunities.</p>
  <br/><br/>
  <a href ="jobs"><span class="btn success">Apply for a job</span></a>
<% end %>