@import "bootstrap/mixins";

.add-evidence-form {
  .auto-complete-fact-relations {
    overflow: hidden;
    position: relative;
    margin: 0;

    .fact-relations-input-container {
      margin-bottom: 10px;
    }

    .fact-wheel {
      margin-left: -5px;
      margin-right: 5px;

      .authority {
        display: none;
      }
    }

    .auto-complete-fact-relations-result-text {
      overflow: hidden;
    }
  }

  .view-toggle {
    box-shadow: 0px -1px @mutedBorderBottomColor, 0px -2px @mutedBorderTopColor;
    display: inline-block; // for block formatting context
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
  }
}
