@import "bootstrap/mixins";

.add-evidence-form {
  position: relative;
  .block-box-shadow();
  background: white;
  margin-bottom: @sidebarMarginBetween;
}

.add-evidence-form {
  margin-top:12px;
}

.add-evidence-arrow {
  position: absolute;
  left: 50%;
  .triangle-arrow-up();
}

.opinion-help {
  text-align: center;
  padding: 10px;
}

.opinion-help-question {
  font-size: @heading2FontSize;
  font-weight: @headingsFontWeight;
  color: @headingFontColor;
  padding-right: 10px;
}

.opinion-help-login-options {
  display: block;
  margin-top: 5px;
}

.opinion-help-button {
  margin-right: 5px;
}

.add-evidence-form-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-evidence-form-search-facts {
  box-shadow: 0px -1px @mutedBorderBottomColor, 0px -2px @mutedBorderTopColor;
  display: inline-block; // for block formatting context
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
}
