@import "bootstrap/variables";
@import "bootstrap/mixins";

.add-to-topic-container {
  margin: 0 0 0 60px;
  width: 300px;

  .add-to-topic-header, .js-suggestions-title {
    display: inline-block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: @baseFontSize;
  }
}
