@import "bootstrap/mixins";

.bottom-base {
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  .bottom-actions {
    margin: 0;
    padding: 0;

    .bottom-action {
      display: inline-block;

      &.hide {
        display: none;
      }
    }
  }
}

.bottom-action-delete {
  float: right;

  &:after {
    content: "·";
    margin: 0 1em 0 0.5em;
  }
}

.pre-ndp-bottom-base {
  font-size: @baseFontSize;
  margin-top: 8px;
  clear: both;

  > .title-overflow {
    z-index: 100;
    background: image-url('discussions/title_fade.png') right repeat-y;
    display: block;
    height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .bottom-actions-without-discussion {
    padding-left: 55px;
  }

  .bottom-action {
    &:after {
      content: "·";
      margin: 0 7px;
    }

    &:last-child:after {
      content: "";
      margin: 0;
    }

    &.fact-info {
      color: @mutedFontColor;
    }
  }


  a {
    cursor: pointer;
    font-weight: bold;
    .transition(color .15s ease-in-out);
    &:hover {
      text-decoration: none;
    }
  }

  .fact-favicon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }
}

// old discussion page
.evidence-bottom {
  margin-left: 92px;
}

.ndp-evidenceish-bottom {
  .bottom-actions .bottom-action-time {
    float: right;
  }
}

div.facts-view, #activity_for_channel .activity-group {
  div.fact-view {
    .bottom-base > .bottom-actions {
      .opacity(.25);
      .transition(opacity .15s ease-in-out);
    }
    &:hover {
      .bottom-base > .bottom-actions {
        .opacity(1);
      }
    }
  }
}
