@import "bootstrap/mixins";
@import "twitter/bootstrap/variables";

.bottom-base {
  font-size: @baseFontSize;
  clear: both;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-top: 8px;

  > .title-overflow {
    z-index: 100;
    background: image-url('discussions/title_fade.png') right repeat-y;
    display: block;
    height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.actions {
    margin: 0;
    padding: 0;

    &.without_discussion {
      padding-left: 55px;
    }

    > li {
      display: inline-block;

      &.hide {
        display: none;
      }

      &:after {
        content: "·";
        margin: 0 7px;
      }

      &:last-child:after {
        content: "";
        margin: 0;
      }

      .opinion_indicators {
        font-size: @metaFontSize;

        a {
          color: @baseFontColor;
          font-weight: normal;
        }

      }
      .opinion_indicator_small {
        margin: 0 5px 0 5px;
      }

      &.fact-info {
        color: @mutedFontColor;
      }
    }
  }

  a {
    cursor: pointer;
    font-weight: bold;
    .transition(color .15s ease-in-out);
    &:hover {
      text-decoration: none;
    }
  }

  img.fact-favicon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }
}

div.facts-view, #activity_for_channel .activity-group {
  div.fact-view {
    .bottom-base > ul.actions {
      .opacity(.25);
      .transition(opacity .15s ease-in-out);
    }
    &:hover {
      .bottom-base > ul.actions {
        .opacity(1);
      }
    }
  }
}
