@import "bootstrap/mixins";
@import "bootstrap/variables";

li.evidence-item {

  .evidence-user-avatar {
    float: left;
    > img { .border-radius(3px); }
  }

  .evidence-activity {
    margin-bottom: 6px;
    color: #bbb;
  }
}
