@import "bootstrap/mixins";
@import "bootstrap/variables";

li.evidence-item {

  padding: 14px 15px;
  border-bottom: 1px solid @baseBorderColor;
  .clearfix();
  position: relative;

  .evidence-user-avatar {
    float: left;
    > img { .border-radius(3px); }
  }

  .evidence-activity {
    margin-bottom: 6px;
    color: @mutedFontColor;
    .authority {
      display: inline;
      padding: 0 !important;
      font-size: 11px;
      color: @baseFontColor;
    }
  }
}
