//= require ../users/created_by_info_box

@import "bootstrap/variables";
@import "bootstrap/mixins";

#container #main-wrapper {
  > div > header {
    padding: 0 16px 0 19px !important;
    > h1 {
      height: auto !important;
      margin: 0 !important;
    }
  }

  header#single-factlink-header {
    height: 45px;
  }
}
