@import "bootstrap/mixins";

.fact-new {
  .white-block-with-shadow();
  visibility: visible;
  width: @factNewAndSignInWidth;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  z-index: 1; // should be lower than Twitter tooltip z-index
  cursor: auto;

  .finish-popover {
    position: relative;
  }
}

.fact-new-fact-container {
  display: inline-block; // for new block formatting context

  position: relative;
  z-index: 120; // above z-index of .popover-container
}
