// TODO: we shouldn't call this "voting" but opinionating, polling, or something else
//       since it's quite distinct from voting (on comments)

$avatarSize: 24px;

.fact-opinionate {
  display: table;
  margin: 10px 0;
}

.fact-opinionate-button {
  display: table-cell;
}

.fact-opinion-indicator {
  font-size: 15px;
  color: $grayLight;
}

.fact-opinionators {
  display: table;
  width: 100%;
}

.opinionators-avatar,
.opinionators-more {
    float: left;
    margin-right: 4px;
}

.opinionators-avatar-image {
  border-radius: 3px;
}

.opinionators-more {
  background: $green;
  font-weight: 600;
  color: white;
  padding: 0 5px;
  border-radius: 3px;
  line-height: $avatarSize;
}

.interesting-tally {
  display: inline-block;
  border-right: 1px #BEC1CD solid;
  min-width: 34px;
  text-align: center;
}

.button-interesting-active {
  color: yellow;
}
