@import "bootstrap/mixins";
@import "bootstrap/variables";

.fact-relation-search {
  background: #f7f7f7;
  border-top: 1px solid @baseBorderColor;
  padding: 15px;
  .custom-radius(0, 5px, 5px, 0);

  ul.search-results {
    display: none;

    > li {
      &.loading, &.add {
        display: none;
      }
    }
  }

  .add-evidence {
    display: none;

    input[type="text"] {
      @shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0px rgba(255,255,255,.1);
      .box-shadow(@shadow);
      border: 1px solid #ccc;
      font-size: 12px;
      padding: 8px 9px;
      .border-radius(4px);
      #font > .sans-serif(normal, @tabItemFontSize, @baseLineHeight);
      height: 32px;
      width: 100%;
      margin: 0;
      .box-sizing();

      &:focus {
        outline: 0;
        border: 1px solid @linkColor;
      }
    }
  }
}
