.fact-new {
  position: relative;
  z-index: 1; // should be lower than Twitter tooltip z-index

  .finish-popover {
    position: relative;
  }
}

.fact-new-fact-container {
  font-size: 14px;
  overflow: hidden;
}
