@import "bootstrap/mixins";

.fact-new {
  .white-block-with-shadow();
  visibility: visible;
  width: @factNewAndSignInWidth;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  z-index: 1; // should be lower than Twitter tooltip z-index

  .finish-popover {
    position: relative;
  }
}

.fact-new-fact-container {
  font-size: @baseFactFontSize;
  overflow: hidden;
}
