@import "bootstrap/mixins";

.fact-vote-table {
  border-collapse: collapse;
  width: 100%;
}

.fact-vote-table-cell-believes,
.fact-vote-table-cell-disbelieves,
.fact-vote-table-cell-doubts {
  padding: 5px 10px;
  width: 33%;
}

.cell-background(@color) {
  background-color: lighten(@color, 10%);
  &.fact-vote-table-cell-active {
    background-color: darken(@color, 10%);
  }
}
.fact-vote-table-cell-believes {
  .cell-background(@believesEvidenceImpactColor);
}
.fact-vote-table-cell-disbelieves {
  .cell-background(@disbelievesEvidenceImpactColor);
}
.fact-vote-table-cell-doubts {
  .cell-background(@doubtsEvidenceImpactColor);
}

.fact-vote-table-active-icon {
  display: none;
}
.fact-vote-table-cell-active .fact-vote-table-active-icon {
  display: inline;
}

.opinionators-avatars-avatar {
  position: relative;
  margin-left: 4px;
}

.opinionators-avatars-avatar-image {
  border-radius: 3px;
  line-height: 36px;
}
