@import "bootstrap/mixins";
@import "bootstrap/variables";

.fact-body {
  margin: 0 0 5px 55px;
}

div.facts .fact-body, div.activity-group .fact-body  {
  font-size: 13px;
}

li.fact-relation .fact-body > div > span {
  cursor: pointer;
}
