@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "channels/create_fact";

div.facts-view {
  .header {
    margin: 0 -15px;
    padding: 0 15px;
    border-bottom: 1px solid @baseBorderColor;

    > div, > form {
      padding: 0;

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 15px;
      }
    }

    #create_fact_for_channel {
      #channel > .create_fact_for_channel();
    }

    .more_facts {
      margin: 0 0 15px;
      a {
        span {
          padding: 0 5px 0 0;
          #font > .iconic();
          font-size: 13px;
        }

        &:hover {
          text-decoration: none;
          border: 1px solid darken(#dee5ef, 10%);
        }

        border: 1px solid #dee5ef;
        background: #f3f6fa;
        .border-radius(5px);
        display: block;
        text-align: center;
        line-height: 40px;
      }
    }
  }

  div.fact-view:last-child {
    margin-bottom: -30px;
    .border-bottom-radius(5px);
    border-bottom: none;
  }
}
