@import "bootstrap/mixins";

div.fact-view {
  color: @baseFontColor;
  font-size: 14px;
  line-height: 19px;

  .reset-main-padding();
  padding-top: 20px;
  padding-bottom: 10px;

  position: relative;
  .clearfix();

  border-bottom: 1px solid @mutedBorderColor;
}

#activity_for_channel div.fact-view {
  padding: 10px 0 0;
}
