@import "bootstrap/mixins";
@import "bootstrap/variables";

.fact-relation-listing .evidence-item {
  padding: 15px @mainRightPadding 15px @mainLeftPadding;

  &:first-child { border-top: none; }

  .evidence-activity {
    margin: 0 0 0 91px;
  }

  .fact-relation-body {
    margin: 5px 0 0 82px;

    > img {
      float: left;
      margin: 4px 10px 0 0;
      .border-radius(3px);
    }

    .fact-base-region {
      .fact-body {
        span {
          cursor: pointer;
        }
      }
    }
  }
}
