@import "bootstrap/mixins";
@import "bootstrap/variables";

.fact-relation-search {
  background: @whiteDarker;
  border-top: 1px solid @baseBorderColor;
  padding: 15px;
  .border-bottom-radius(5px);

  .auto-complete-fact-relations {
    overflow: hidden;
  }

  .fact-relation-post {
    float: right;
    margin-top: 10px;
  }
}
