@import "mixins/mixins";

div.fact-view {
  color: $baseFontColor;
  line-height: 19px;

  $include reset-main-padding();
  padding-top: 20px;
  padding-bottom: 10px;

  position: relative;
  $include clearfix();

  border-bottom: 1px solid $mutedBorderColor;
}
