@import "bootstrap/variables";
@import "bootstrap/mixins";

.fact2 {
  position: relative;
  border: 1px solid @mutedBorderColor;
  border-radius: 4px;
  box-shadow: 0px 1px rgba(0,0,0,0.2);
}

.fact2-avatar {
  position: absolute;
  top: -10px;
  left: 35px;
}

.fact2-text {
  padding: 35px 35px 20px;
  font-size: 18px;
  line-height: 27px
}

.fact2-controls {
  padding: 0 35px 25px;
}

.fact2-wheel {
  position: absolute;
  left: 50%;
  bottom: 0;

  width: 50px;
  margin-left: -25px;
  text-align: center;
}
