@import "bootstrap/mixins";

@avatarSize: 32px;
@avatarLineHeight: @avatarSize + 4px;
@cellVerticalPadding: 5px;

.fact-vote-table {
  border-collapse: collapse;
  width: 100%;
  min-height: @avatarLineHeight + 2*@cellVerticalPadding;
}

.fact-vote-table-cell-believes,
.fact-vote-table-cell-disbelieves,
.fact-vote-table-cell-doubts {
  padding: @cellVerticalPadding 10px;
  width: 33%;
  text-align: right;
  vertical-align: top;
}

.cell-background(@color) {
  background-color: fade(@color, 15%);
  &.fact-vote-table-cell-active {
    background-color: @color;
  }
}
.fact-vote-table-cell-believes {
  .cell-background(@believesEvidenceImpactColor);
  border-bottom-left-radius: @baseBorderRadius;
}
.fact-vote-table-cell-disbelieves {
  .cell-background(@disbelievesEvidenceImpactColor);
  border-bottom-right-radius: @baseBorderRadius;
}
.fact-vote-table-cell-doubts {
  .cell-background(@doubtsEvidenceImpactColor);
}

.fact-vote-table-cell-text-believes,
.fact-vote-table-cell-text-disbelieves,
.fact-vote-table-cell-text-doubts {
  line-height: @avatarLineHeight;
  float: left;
}

.fact-vote-table-cell-text-believes {
  color: darken(@believesEvidenceImpactColor, 10%);
}

.fact-vote-table-cell-text-disbelieves {
  color: darken(@disbelievesEvidenceImpactColor, 10%);
}

.fact-vote-table-cell-text-doubts {
  color: darken(@doubtsEvidenceImpactColor, 10%);
}

.fact-vote-table-cell-button {
  float: left;
  margin-top: 4px;
}

.opinionators-avatars {
  line-height: @avatarLineHeight
}

.opinionators-avatar {
  margin-left: 4px;

  // for user statistics popovers:
  display: inline-block;
  position: relative;
  text-align: left;
}

.opinionators-avatar-link {
  // for user statistics popovers:
  display: inline-block;
  height: @avatarSize;
}

.opinionators-avatar-image {
  border-radius: 3px;
}
