@import "bootstrap/mixins";

.fact-bottom {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 55px;
  clear: both;

  a {
    font-weight: bold;
    .transition(color .15s ease-in-out);
  }
}

.fact-bottom-actions {
  margin: 0;
  padding: 0;

  opacity: .7;
  color: @black;
  .new-design-font();
  font-size: 13px;
  .transition(opacity .15s ease-in-out);
}

.fact-bottom-actions:hover {
  opacity: 1;
}

.fact-bottom-action {

  &:after {
    content: "·";
    margin: 0 7px;
  }

  &:last-child:after {
    content: "";
    margin: 0;
  }
}

.fact-bottom-title-overflow {
  z-index: 100;
  background: image-url('discussions/title_fade.png') right repeat-y;
  display: block;
  height: 100%;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.fact-bottom-opinion-indicators {
  font-size: @metaFontSize;
}

.fact-bottom-opinion-indicator {
  margin: 0 5px 0 5px;
}

.fact-bottom-favicon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
