@import "bootstrap/mixins";
@import "bootstrap/variables";

div.fact-view {
  color: #555;
  font-size: 14px;
  line-height: 19px;

  padding: 20px 20px 10px;
  margin: 0 -15px;

  position: relative;
  .clearfix();

  border-bottom: 1px solid #ddd;
}

#channel div.fact-view:last-child {
  margin-bottom: -30px;
  .custom-radius(0, 5px, 5px, 0);
}
