@import "bootstrap/mixins";

.fact-vote-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 46px;
}

.fact-vote-table-cell-believes,
.fact-vote-table-cell-disbelieves,
.fact-vote-table-cell-doubts {
  padding: 5px 10px;
  width: 33%;
  text-align: right;
}

.cell-background(@color) {
  background-color: fade(@color, 35%);
  &.fact-vote-table-cell-active {
    background-color: @color;
  }
}
.fact-vote-table-cell-believes {
  .cell-background(@believesEvidenceImpactColor);
  border-bottom-left-radius: @baseBorderRadius;
}
.fact-vote-table-cell-disbelieves {
  .cell-background(@disbelievesEvidenceImpactColor);
  border-bottom-right-radius: @baseBorderRadius;
}
.fact-vote-table-cell-doubts {
  .cell-background(@doubtsEvidenceImpactColor);
}

.fact-vote-table-cell-button {
  float: left;
  margin-top: 4px;
}

.fact-vote-table-active-icon {
  display: none;
}
.fact-vote-table-cell-active .fact-vote-table-active-icon {
  display: inline;
}

.opinionators-avatars {
  line-height: 36px;
}

.opinionators-avatar {
  margin-left: 4px;

  // for popovers:
  display: inline-block;
  position: relative;
  line-height: @baseLineHeight;
  text-align: left;
}

.opinionators-avatar-link {
  // for popovers:
  display: inline-block;
  height: 32px;
}

.opinionators-avatar-image {
  border-radius: 3px;
}
