@import "bootstrap/variables";
@import "bootstrap/mixins";

.interactor-avatars-collection {
  margin-left: 0px; // Reset default bootstrap ul styling

  .interactor-avatar {
    float: left;
    margin-right: 4px;
  }
}
