@import "bootstrap/variables";
@import "bootstrap/mixins";

.evidence-box {
  .new-design-white-block-with-shadow();
  .new-design-font();
  .clearfix();
  padding: 20px;
}

.interacting-users-box-agree {
  margin-left: 450px;
}

.interacting-users-box-disagree {
  margin-left: 450px;
}

.interactor-avatars-collection {
  margin-left: 0px; // Reset default bootstrap ul styling

  .interactor-avatar {
    float: left;
    margin-right: 4px;
  }

}
