@import "bootstrap/variables";
@import "bootstrap/mixins";

// TODO: remove in new layout
.evidence-box {
  .new-design-white-block-with-shadow();
  .new-design-font();
  .clearfix();
  padding: 20px;
  margin-left: 450px;
}

.interactor-avatars-collection {
  margin-left: 0px; // Reset default bootstrap ul styling
  overflow: hidden;

  .interactor-avatar {
    float: left;
    margin-right: 4px;
  }
}
