@import "bootstrap/mixins";

.opinion_indicator_small {
  display: inline-block;
  height: 7px;
  width: 7px;
  background: image-url('discussions/opinion_type_indicators.png') 0 0 no-repeat;
  position: relative;
  top: -1px;

  &.agreeing {
    background-position: 0 0;
  }

  &.disagreeing {
    background-position: -8px -0;
  }
}


.pre-ndp-bottom-base .bottom-actions .bottom-action {
  .opinion_indicators {
    font-size: @metaFontSize;

    a {
      color: @baseFontColor;
      font-weight: normal;
    }
  }

  .opinion_indicator_small {
    margin: 0 5px 0 5px;
  }
}
