@import "mixins/mixins";

.opinion-help {
  text-align: center;
  padding: 10px;
}

.opinion-help-question {
  font-size: $heading2FontSize;
  font-weight: $headingsFontWeight;
  color: $headingFontColor;
  padding-right: 10px;
}

.opinion-help-login-options {
  display: block;
  margin-top: 5px;
}

.opinion-help-button {
  margin-right: 5px;
}
