@import "bootstrap/mixins";

.relation-tabs-view {
  margin: 15px 0 0;
  .reset-main-padding();
  padding: 0;

  .tab-control {
    cursor: pointer;
    list-style: none;
    position: relative;
    top: 1px;
    margin: 0 @mainLeftPadding 0 @mainRightPadding;
    padding: 0;

    > li {
      display: inline-block;
      border: 1px solid transparent;
      .border-top-radius(5px);
      padding: 0 10px;
      color: @baseFontColor;

      &:hover {
        > a {
          text-decoration: underline;
          color: @linkColorHover;
        }
      }

      &.active {
        cursor: default;
        background: @whiteDarker;
        border: 1px solid @baseBorderColor;
        border-bottom: 1px solid @whiteDarker;

        &:hover {
          > a {
            text-decoration: none;
            color: @baseFontColor;
          }
        }

        > a {
          cursor: default;
          color: @baseFontColor;
        }
      }

      > a {
        padding: 0 7px 0 0;
        line-height: 25px;
        font-weight: bold;
      }
    }
    span.opinion_indicator {
      margin: 0 5px 3px 0;
    }
  }

  .tab-content {
    .box-shadow(0 -1px 1px rgba(0, 0, 0, .04));

    > .interacting-users {
      background: @whiteDarker;
      border: 1px solid @baseBorderColor;
      border-left: none;
      border-right: none;

      padding: 10px @mainLeftPadding 10px @mainRightPadding;
    }

    &.doubting > .interacting-users {
      .border-bottom-radius(0);
    }

    ul.fact-relation-listing {
      margin: 0;
      padding: 0;
      list-style: none;

      li.no-evidence-listing {
        padding: 15px 25px;
      }
    }
  }
}
