@import "bootstrap/variables";
@import "bootstrap/mixins";

.top-fact {
  .new-design-box();
  .new-design-font();

  background: white;
  position: relative;
}

.top-fact-avatar {
  position: absolute;
  top: -10px;
  left: 35px;
}

.top-fact-text {
  padding: 35px 35px 20px;
  font-size: @topFactFontSize;
  line-height: @topFactFontSize * 1.5;
}

.top-fact-controls {
  position: relative;
  padding: 0 35px 25px;

  .top-fact-time-ago {
    .top-fact-time-ago-icon {
      margin-right: 5px;
    }

    position: absolute;
    top: 2px;
    right: 35px;
    color: @mutedFontColor;
  }
}

.top-fact-wheel {
  position: absolute;
  left: 50%;
  bottom: -10px;

  // TODO: remove this and style properly
  width: 50px;
  margin-left: -25px;
  text-align: center;
}
