@import "bootstrap/mixins";

.top-fact {
  .block-box-shadow();
  background: white;
  position: relative;
  margin-top: 50px;
}

.top-fact-content {
  padding: 30px @topFactHorizontalPadding 20px;
}

.top-fact-text {
  font-size: @topFactFontSize;
  line-height: @topFactFontSize * 1.5;
  word-break: break-word;
}

.top-fact-delete {
  margin-top: 2px;

  &:after {
    content: "·";
    margin: 0 8px;
    margin-left: 0;
  }

  &:last-child:after {
    content: "";
    margin: 0;
  }
}
