@import "bootstrap/mixins";

.top-right-arrow {
  position: absolute;
  border: 1px solid @baseBorderColor;
  height: 22px;
  width: 22px;
  top: -4px;
  right: 15px;
  border-radius: @baseBorderRadius;
  opacity: 0;
  .transition(opacity .15s ease-in-out);

  &.active {
    display: block;
    .border-bottom-radius(0);
  }

  &:hover {
    border-color: @linkColor;
  }

  &.active:hover {
    border-color: @baseBorderColor;
  }

  .caret-container {
    display: block;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: @baseBorderRadius;
    cursor: pointer;

    .caret {
      margin: 8px 0 0 6px;
    }
  }

  &.active .caret-container {
    z-index: 102;
    position: absolute;
    border-bottom: 1px solid #fff;
    .border-bottom-radius(0);
  }

  ul {
    display: none;
    position: absolute;
    border: 1px solid @baseBorderColor;
    border-radius: @baseBorderRadius 0 @baseBorderRadius @baseBorderRadius;
    top: 100%;
    right: -1px;
    margin: 0;
    z-index: 101;
    background: #fff;
    padding: 3px 0;

    li {
      list-style: none;
      color: @baseFontColor;
      white-space: nowrap;

      &.delete {
        border-top: 1px solid @baseBorderColor;
      }

      &:first-child {
        border: none;
      }

      a {
        cursor: pointer;
        padding: 7px 15px;
        color: @baseFontColor;
        display: block;
        text-shadow: none;

        > img {
          margin: -4px 0 0 0;

          &.hover {
            display: none;
          }
        }

        &:hover {
          background: @linkColor;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.discussion-modal .top-right-arrow {
  right: 25px;
}

.fact-view {
  &:hover {
    .top-right-arrow {
      opacity: 1;
    }
  }
}
