@middleColumnWidth: 66px;
@topFactWheelOverhang: 70px;
@impactCircleRadius: 26px;
@argumentBoxTopOverhang: 10px;

@triangleSize: 8px;
@innerTriangleOffset: @triangleSize - 1px;
@triangleTop: @impactCircleRadius + @argumentBoxTopOverhang - 1px;

@impactCircleWidth: @impactCircleRadius * 2;
@perColumnPadding: @middleColumnWidth/2;
@argumentBoxTopOffset: -(@impactCircleWidth + @argumentBoxTopOverhang);

.top-fact-evidence {
  position:relative;
  padding: @topFactWheelOverhang @perColumnPadding 10px;

  margin:0 auto;
  box-sizing: content-box;
}

.top-fact-evidence:before {
  //Fake middle line.
  display:block;
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  margin-left:-1px;
  z-index: -2;
  top:0;bottom:0;
  background:#888;
}

.evidence-terminator { display:block; content:''; clear:both; }

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-supporting-box, .evidence-weakening-box, .evidence-unsure-impact, .evidence-unsure-box {
  position:relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.evidence-supporting-impact, .evidence-supporting-box {
  float:left; clear:left;
  background:#afa;
}

.evidence-supporting-box:after, .evidence-supporting-box:before {
  position:absolute;
  content:'';
  top: @triangleTop;
  border-style: solid;
  border-right:none;
  border-color: transparent;
}



.evidence-supporting-box:after {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  right:-@innerTriangleOffset;
  border-left-color: #afa;
}
.evidence-supporting-box:before {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  right:-@triangleSize;
  border-left-color: blue;
  z-index:-1;
}

.evidence-weakening-box:after, .evidence-weakening-box:before {
  position:absolute;
  content:'';
  top: @triangleTop;
  border-style: solid;
  border-left:none;
  border-color: transparent;
}

.evidence-weakening-box:after {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  left:-@innerTriangleOffset;
  border-right-color: #faa;
}
.evidence-weakening-box:before {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  left:-@triangleSize;
  border-right-color: blue;
}

.evidence-unsure-box:after, .evidence-unsure-box:before {
  position:absolute;
  content:'';
  left:50%;
  border-style:solid;
  border-top:none;
  border-color: transparent;
}

.evidence-unsure-box:after {
  top: -@innerTriangleOffset;
  margin-left: -@triangleSize;
  border-width: @triangleSize;
  border-bottom-color: #aaf;
}
.evidence-unsure-box:before {
  top: -@triangleSize;
  margin-left: -@triangleSize;
  border-width: @triangleSize;
  border-bottom-color: blue;
}

.evidence-weakening-impact, .evidence-weakening-box {
  float:right; clear:right;
  background: #faa;
}

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-unsure-impact {
  width:@impactCircleWidth; height:@impactCircleWidth;
  border:1px solid black;
  border-radius:1000px;
}

.evidence-supporting-impact, .evidence-weakening-impact {
  margin-top:10px;
  position:relative;
}

.evidence-supporting-impact { margin-left: 50%; left:-@impactCircleRadius; }
.evidence-weakening-impact { margin-right: 50%; right:-@impactCircleRadius; }

.evidence-supporting-box, .evidence-weakening-box, .evidence-unsure-box {
  width:50%;
  padding:5px;
  border:1px solid blue;
}

.evidence-supporting-box, .evidence-weakening-box {
  margin: @argumentBoxTopOffset -@perColumnPadding 5px -@perColumnPadding;
  min-height: (2 * @argumentBoxTopOverhang + @impactCircleWidth);
}

.evidence-unsure-right-spacer, .evidence-unsure-left-spacer {
  width:1px;
  height:35px;
}

.evidence-unsure-right-spacer { float:right; background: red;}
.evidence-unsure-left-spacer { float:left; background:green;}

.evidence-unsure-impact, .evidence-unsure-box {
  margin:auto;
  background:#aaf;
  clear:both;
}

.evidence-unsure-impact {
  top:-25px;
  margin-bottom:-20px;
}

.evidence-unsure-box {
  margin-bottom:5px;
}



.shadow
{

  content:'';
  position:absolute;
  display:block;
  left:0;right:0;top:0;bottom:0;
  box-shadow:0 0 30px rgba(0,0,0,0.5);
  background:blue;
  z-index:-1;
  border-radius:inherit;
}
