@import "bootstrap/variables";
@import "bootstrap/mixins";

.top-fact {
  .new-design-white-block-with-shadow();
  .new-design-font();
  position: relative;
  padding: 30px 35px 25px;
}

.top-fact-user-heading {
  position: absolute;
  top: -10px;
  left: 35px;
}

.top-fact-text {
  font-size: @topFactFontSize;
  line-height: @topFactFontSize * 1.5;
  margin-bottom: 25px;
}

.top-fact-controls {
  position: relative;
}

.top-fact-time-ago {
  position: absolute;
  top: 2px;
  right: 0;
  color: @mutedFontColor;
}
