@import "bootstrap/variables";
@import "bootstrap/mixins";

@middleColumnWidth: 100px;
@topFactWheelOverhang: 70px;
@impactCircleDiameter: 53px;
@argumentBoxTopOverhang: 12px;
@impactCircleSpacing: 30px;
@evidenceBoxSpacing: 10px;

@triangleSize: 8px;
@innerTriangleOffset: @triangleSize - 1px;
@triangleTop: floor(@impactCircleDiameter/2) + @argumentBoxTopOverhang - 1px;

@perColumnPadding: @middleColumnWidth/2;
@evidenceBoxTopOffset: -(@impactCircleDiameter + @argumentBoxTopOverhang);
// @evidenceBoxMinHeight:  @argumentBoxTopOverhang + @impactCircleRadius + @triangleSize + 1px;
@unsureBoxTopToImpactTop: @impactCircleDiameter + @impactCircleSpacing + @triangleSize/2;

@evidenceBoxMinHeight: 2 * @argumentBoxTopOverhang + @impactCircleDiameter;

@evidenceBoxBorderColor: rgba(0,0,0,0.2);

.top-fact-evidence {
  position:relative;
  padding: 0 @perColumnPadding 10px;

  margin:@topFactWheelOverhang auto 0;
  box-sizing: content-box;
}

.top-fact-evidence:before {
  //Fake middle line.
  display:block;
  content:'';
  position:absolute;
  left:50%;
  width:3px;
  margin-left:-2px;
  z-index: -2;
  top:-@topFactWheelOverhang;
  bottom:0;
  background: rgba(150,150,150, 0.7);
}

.evidence-terminator { display:block; content:''; clear:both; }

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-supporting-box
, .evidence-weakening-box, .evidence-unsure-impact, .evidence-unsure-box {
  position:relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  .new-design-white-block-with-shadow();
}

.evidence-supporting-impact, .evidence-supporting-box {
  float:left; clear:left;
  background: white;
}

.evidence-supporting-box:after, .evidence-supporting-box:before {
  position:absolute;
  content:'';
  top: @triangleTop;
  border-style: solid;
  border-right:none;
  border-color: transparent;
}


.evidence-supporting-box:after {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  right:-@innerTriangleOffset;
  border-left-color: white;
}
.evidence-supporting-box:before {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  right:-@triangleSize;
  border-left-color: @evidenceBoxBorderColor;
  z-index:-1;
}

.evidence-weakening-box:after, .evidence-weakening-box:before {
  position:absolute;
  content:'';
  top: @triangleTop;
  border-style: solid;
  border-left:none;
  border-color: transparent;
}

.evidence-weakening-box:after {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  left:-@innerTriangleOffset;
  border-right-color: white;
}
.evidence-weakening-box:before {
  border-width: @triangleSize;
  margin-top: -@triangleSize;
  left:-@triangleSize;
  border-right-color: @evidenceBoxBorderColor;
}

.evidence-unsure-box:after, .evidence-unsure-box:before {
  position:absolute;
  content:'';
  left:50%;
  border-style:solid;
  border-top:none;
  border-color: transparent;
}

.evidence-unsure-box:after {
  top: -@innerTriangleOffset;
  margin-left: -@triangleSize;
  border-width: @triangleSize;
  border-bottom-color: white;
}
.evidence-unsure-box:before {
  top: -@triangleSize;
  margin-left: -@triangleSize;
  border-width: @triangleSize;
  border-bottom-color: @evidenceBoxBorderColor;
}

.evidence-weakening-impact, .evidence-weakening-box {
  float:right; clear:right;
  background: white;
}

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-unsure-impact {
  width:@impactCircleDiameter;
  height:@impactCircleDiameter;
  border: 1px solid #ccc;
  border-radius: 1000px;
  box-shadow: 0px 1px rgba(0,0,0,0.1);
}

.evidence-supporting-impact, .evidence-weakening-impact {
  margin-top:@impactCircleSpacing;
  position:relative;
}

.evidence-supporting-impact { margin-left: 50%; left: floor(-@impactCircleDiameter/2); }
.evidence-weakening-impact { margin-right: 50%; right: ceil(-@impactCircleDiameter/2); }

.evidence-supporting-box, .evidence-weakening-box, .evidence-unsure-box {
  width:50%;
  padding:5px;
}

.evidence-supporting-box, .evidence-weakening-box {
  margin: @evidenceBoxTopOffset -@perColumnPadding @evidenceBoxSpacing -@perColumnPadding;
  min-height: @evidenceBoxMinHeight;
}

.evidence-unsure-right-spacer, .evidence-unsure-left-spacer {
  width:0;
  visibility: hidden;
  height: @unsureBoxTopToImpactTop + @impactCircleSpacing;
}

.evidence-unsure-right-spacer { float:right; }
.evidence-unsure-left-spacer { float:left; }

.evidence-unsure-impact, .evidence-unsure-box {
  margin:auto;
  background: white;
  clear:both;
}

.evidence-unsure-impact {
  top:-@unsureBoxTopToImpactTop;
  margin-bottom:-@impactCircleDiameter;
}

.evidence-unsure-box {
  margin-bottom:@evidenceBoxSpacing;
}

