@import "bootstrap/variables";
@import "bootstrap/mixins";

//layout variables

@middleColumnWidth: 100px;
@topFactWheelOverhang: 70px;
@impactCircleDiameter: 53px;
@argumentBoxTopOverhang: 12px;
@impactCircleSpacing: 30px;
@evidenceBoxSpacing: 10px;
@impactColouredBorderWidth: 3px;

//triangles:
// - an inner triangle with the box's background color
// - an outer triangle "fake border" that's 1px offset
@triangleSize: 8px;
@innerTriangleOffset: @triangleSize - 1px;
@triangleTop: floor(@impactCircleDiameter/2) + @argumentBoxTopOverhang;

//the dicussion page has 3 columns, 2x 50% and one fixed - so more than 100% total.
//this means we need some negative margins to make it fit.
@negativeColumnMargin: @middleColumnWidth/2;

//evidence boxes are after imact circles in DOM, but are pulled up so they're
//visual top is above the imact circle top.
@evidenceBoxTopOffset: -(@impactCircleDiameter + @argumentBoxTopOverhang);
//The unsure (middle) box needs to leave space for the impact circle since its
//imact circle cannot be floated (both left/right would be problematic).
@unsureBoxTopToImpactTop: @impactCircleDiameter + @impactCircleSpacing/2 + @triangleSize;

//It would look weird for the evidence boxes to end before the impact circles.
//therefore, the supporting/weaking boxes need a minimum height.
@evidenceBoxMinHeight: 2 * @argumentBoxTopOverhang + @impactCircleDiameter;

@evidenceBoxBorderColor: rgba(0,0,0,0.2);
@supportingImpactColor: rgba(100,190,160, 0.9);
@weakeningImpactColor: rgba(220,120,120, 0.9);
@unsureImpactColor: rgba(90,140,170, 0.9);

.top-fact-evidence {
  position:relative;
  padding: 0 @negativeColumnMargin 10px;

  margin:@topFactWheelOverhang auto 0;
  box-sizing: content-box;
}

.top-fact-evidence:before {
  //Fake middle line.
  display:block;
  content:'';
  position:absolute;
  left:50%;
  width:3px;
  margin-left:-1px;
  z-index: -2;
  top:-@topFactWheelOverhang;
  bottom:0;
  background:rgba(0,0,0,0.15);
}

.evidence-terminator { display:block; content:''; clear:both; }

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-supporting-box
, .evidence-weakening-box, .evidence-unsure-impact, .evidence-unsure-box {
  position:relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  .new-design-white-block-with-shadow();
}

.evidence-supporting-impact, .evidence-supporting-box {
  float:right; clear:right;
  background: white;
}


.evidence-weakening-impact, .evidence-weakening-box {
  float:left; clear:left;
  background: white;
}

.evidence-supporting-impact, .evidence-weakening-impact, .evidence-unsure-impact {
  .new-design-font();
  font-size: @heading1FontSize;
  line-height: @impactCircleDiameter;
  text-align: center;
  width:@impactCircleDiameter;
  height:@impactCircleDiameter;
  border-radius: 1000px;
}

.evidence-supporting-impact, .evidence-weakening-impact {
  margin-top:@impactCircleSpacing;
  position:relative;
}

.evidence-supporting-impact { margin-right: 50%; right: ceil(-@impactCircleDiameter/2); }
.evidence-weakening-impact { margin-left: 50%; left: floor(-@impactCircleDiameter/2); }

.evidence-supporting-impact::after, .evidence-weakening-impact::after, .evidence-unsure-impact::after {
  content: '';
  position: absolute;
  top: -@impactColouredBorderWidth;
  bottom: -@impactColouredBorderWidth;
  left: -@impactColouredBorderWidth;
  right: -@impactColouredBorderWidth;
}

.evidence-supporting-impact::after {
  left: ceil(@impactCircleDiameter/2) - 1px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;

  border: @impactColouredBorderWidth solid @supportingImpactColor;
  border-left:none;
}

.evidence-weakening-impact::after {
  right: floor(@impactCircleDiameter/2) - 2px;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border: @impactColouredBorderWidth solid @weakeningImpactColor;
  border-right: none;
}

.evidence-unsure-impact::after {
  top: floor(@impactCircleDiameter/2) - 1px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border: @impactColouredBorderWidth solid @unsureImpactColor;
  border-top: none;
}

.evidence-supporting-box, .evidence-weakening-box, .evidence-unsure-box {
  width:50%;
  padding:16px;
}

.evidence-supporting-box, .evidence-weakening-box {
  margin: @evidenceBoxTopOffset -@negativeColumnMargin @evidenceBoxSpacing -@negativeColumnMargin;
  min-height: @evidenceBoxMinHeight;
}

.evidence-unsure-right-spacer, .evidence-unsure-left-spacer {
  width:0;
  visibility: hidden;
  height: @unsureBoxTopToImpactTop + @impactCircleSpacing;
}

.evidence-unsure-right-spacer { float:right; }
.evidence-unsure-left-spacer { float:left; }

.evidence-unsure-impact, .evidence-unsure-box {
  margin:auto;
  background: white;
  clear:both;
}

.evidence-unsure-impact {
  top:-@unsureBoxTopToImpactTop;
  margin-bottom:-@impactCircleDiameter;
}

.evidence-unsure-box {
  margin-bottom:@evidenceBoxSpacing;
}



//Evidence triangles (arrows)
.evidence-triangle-base() {
  position:absolute;
  border-style: solid;
  border-color: transparent;
  height:1px;
  width:0;
  .box-sizing(content-box);
  border-width: @triangleSize;
}

.evidence-triangle-vertical-container() {
  .evidence-triangle-base();
  top: @triangleTop;
  margin-top: -@triangleSize;
}

.evidence-triangle-vertical-background() {
  .evidence-triangle-base();
  content:'';
  z-index:-1;
  margin-top: -@triangleSize;
}

.evidence-triangle-unsure-base() {
  .evidence-triangle-base();
  height: 0;
  width: 1px;
  border-top:none;
}

.evidence-supporting-box-triangle {
  .evidence-triangle-vertical-container();
  right: 100%;
  border-right-color: white;
}

.evidence-weakening-box-triangle {
  .evidence-triangle-vertical-container();
  left: 100%;
  border-left-color: white;
}

.evidence-supporting-box-triangle:before {
  .evidence-triangle-vertical-background();
  border-left: none;
  border-right-color: @evidenceBoxBorderColor;
  margin-left: -1px;
}

.evidence-weakening-box-triangle:before {
  .evidence-triangle-vertical-background();
  border-right: none;
  border-left-color: @evidenceBoxBorderColor;
  right:-1px;
}

.evidence-unsure-box-triangle {
  .evidence-triangle-unsure-base();
  left:50%;
  top: -@innerTriangleOffset;
  margin-left: -@triangleSize;
  border-bottom-color: white;
}
.evidence-unsure-box-triangle:before {
  .evidence-triangle-unsure-base();
  content:'';
  top: -1px;
  margin-left: -@triangleSize;
  border-bottom-color: @evidenceBoxBorderColor;
  z-index:-1;
}

