@import "mixins/mixins";

.top-annotation {
  .block-box-shadow();
  background: white;
  position: relative;
  padding: @votePadding;
}

.top-annotation-text {
  line-height: @baseFontSize * 1.5;
  word-break: break-word;
}
