@import "bootstrap/variables";
@import "bootstrap/mixins";

.user-fact-heading {
  //the user's avatar+name should be raised slightly above + overlapping
  //the overall user-info block.
  position: absolute;
  top: -38px;

}

.user-fact-heading-text {
  display: inline-block;
  vertical-align: top;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.user-fact-heading-link {
  font-size: @baseFactFontSize;
}

.user-fact-heading-authority {
  margin-top: -2px;
}
