@import "bootstrap/mixins";

.top-fact-heading {
  //the fact's avatar +link should be raised slightly above + overlapping
  //the overall fact-info block.
  position: absolute;
  top: -38px;

  .heading-avatar-image {
    border: 1px solid @baseBorderColor;
    background: @semiTransparentLayerColor;
    display: inline-block;
  }

  img {
    width: 32px;
    height: 32px;
    margin: auto;
    display: block;
    position: relative;
    top: 7px;
  }
}

.top-fact-heading-text {
  display: inline-block;
  position: relative;
  top: 8px;
  font-size: @heading2FontSize;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.top-fact-heading-link {
  font-size: @baseFactFontSize;
}

.top-fact-heading-authority {
  margin-top: -2px;
}

.fact-url-icon {
  color: @grayLight;
  font-size: 0.9em;
  margin-left: 5px;

  &:hover {
    color: @gray;
  }
}
