@import "bootstrap/mixins";
@import "bootstrap/variables";

.fact-wheel {
  .box-sizing(border-box);
  float: left;
  margin: 0;
  position: relative;

  input {
    display: none;
  }

  .authority {
    position: absolute;
    padding: 0 !important;
    width: 22px;
    height: 16px;
    left: 11px;
    top: 13px;
    font-family: @baseFontFamily;
    font-size: @metaFontSize;
    line-height: @baseLineHeight;
    color: #999;
    text-align: center;
  }

  svg {
    display: block;
  }

  .fact-wheel-responding-to-mouse {
    svg {
      path:hover {
        cursor: pointer;
      }
    }
  }
}

.top-fact-wheel {
  left: 0; right: 0;
  position: absolute;
  bottom: -68px;
  text-align: center;

  > .fact-wheel {
    padding: 3px;
    display: inline-block;
    background-color: white;
    border-radius: 10000px;
    float: none;

    .authority {
      width: 60px;
      height: 20px;
      left: 31px;
      top: 52px;
      font-size: @topFactFontSize;
    }

    //The following css generates a surrounding rounded box around the image.
    //this is equivalent to a fake border, with the advantage
    //that the "padding" overlays the wrapping boxes border, whereas the
    //"border" is underneath it.  This causes the visual border to appear
    //continuously to wrap the jutting out avatar image.
    &:after {
      display: block;
      top: 0; left: 0; right: 0; bottom: 0;
      border-radius: 10000px;
      content: ' ';
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
    }
  }
}
