//= require_tree ./wheel

@import "bootstrap/mixins";

.fact-wheel {
  .box-sizing(border-box);
  float: left;
  margin: 0;
  position: relative;

  .wheel {
    position: relative; // for tooltips
  }

  input {
    display: none;
  }

  svg {
    display: block;
  }

  .fact-wheel-responding-to-mouse {
    svg {
      path:hover {
        cursor: pointer;
      }
    }
  }
}
