@import "bootstrap/mixins";
@import "bootstrap/variables";

div.fact-wheel {
  .box-sizing(border-box);
  float: left;
  margin: 0 10px 10px 0;
  position: relative;

  input {
    display: none;
  }

  .authority {
    position: absolute;
    padding: 0 !important;
    width: 22px;
    height: 16px;
    left: 11px;
    top: 13px;
    font-family: @baseFontFamily;
    font-size: @metaFontSize;
    line-height: @baseLineHeight;
    color: #999;
    text-align: center;
  }

  svg {
    path:hover {
      cursor: pointer;
    }
  }
}
