.application-background {
  height: 100%;
  width: 100%;
  position: fixed;

  .left {
    height: 100%;
    width: 50%;
    float: left;
    background: #F9F9F9;
  }

  .right {
    height: 100%;
    width: 50%;
    float: left;
    background: white;
  }
}
