@import "bootstrap/mixins";
@import "bootstrap/variables";


.button-background(@start, @stop, @angle: top) {
    background: @start;
    background: -moz-linear-gradient(@angle, @stop 0%, @start 100%);
    background: -o-linear-gradient(@angle, @stop 0%, @start 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @stop), color-stop(100%, @start));
    background: -webkit-linear-gradient(@angle, @stop 0%, @start 100%);
    background: linear-gradient(@angle, @stop 0%, @start 100%);
}

header .btn-back-region {
    float: left;
}
header .btn-back {
    margin: 7px 0 0 13px;
}
// CSS3 iOS like back button, inspired by: http://jsfiddle.net/stowball/XvFFX/
.btn-back {
    .button-background(#eee, white);

    border: solid #d8d8d8;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    height: 27px;
    line-height: 24px;
    padding: 0 12px 0 8px;
    position: relative;
    text-decoration: none;

    vertical-align: middle;
}

.btn-back:before {
    .button-background(#eee, #fff, -45deg);
    background: -moz-linear-gradient(135deg, #eee 0%, #fff 100%); // mozilla rotates the wrong way?
    border: solid #c2c2c2;
    border-width: 0 0 1px 1px;
    border-radius: 2px 0 2px 2px;
    content: '';
    display: block;
    height: 18px;
    width: 18px;
    left: -10px;
    position: absolute;
    top: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-back:hover, .btn-back:focus {
    border-color: #ccc;
    .button-background(#ddd, #fff);
    text-decoration: none;
}

.btn-back:hover:before, .btn-back:focus:before {
    border-color: #ccc;
    .button-background(#ddd, #fff, -45deg);
    background: -moz-linear-gradient(135deg, #ddd 0%, #fff 100%); // mozilla rotates the wrong way?
}

.btn-back span {
  position: relative;
  text-shadow: 0 1px 0px #fff;
  color: @baseFontColor;
}
