@import "bootstrap/mixins";
@import "bootstrap/variables";

.content-header {
  border-bottom: 1px solid @baseBorderColor;
  padding-bottom: 5px;
  margin-bottom: 1em;
  .content-title > h1 {
  		float: left;
  }
}
