@import "bootstrap/mixins";
@import "bootstrap/variables";

.facts-view-more,
.activities-more {
  .reset-main-padding();
  padding: 15px 0;
  border-bottom: 1px solid @baseBorderColor;
  display: none;

  > .facts-view-more-button,
  > .activities-more-button, {
    border: 1px solid #dee5ef;
    background: #f3f6fa;
    .border-radius(5px);
    text-align: center;
    line-height: 40px;
    display: block;

    > .list {
      background: image-url('stream/load_more.png') no-repeat;
      width: 12px;
      height: 11px;
      display: inline-block;
      margin-bottom: -1px;
    }

    &:hover {
      text-decoration: none;
      border: 1px solid darken(#dee5ef, 10%);
    }
  }
}