@import "bootstrap/mixins";
@import "bootstrap/variables";

.tabs {
	float: right;
	margin-top: 15px;
	> li {
		float: left;
		&:before {
			content: '·';
			color: @metaFontColor;
			padding: 0 7px;
		}
		&:first-child:before {
			content: '';
      padding: 0;
		}
    &.active > a {
      color: @metaFontColor;
    }
	}
}
