<div class="navbar">
  <div class="navbar-inner">
    <div class="background"></div>
    <div class="container">
      <%= link_to "Home", click_path(:logo), class: 'brand' %>

      <span class="pull-right">
        Have an account? <a href="javascript:void(0);" class="sign_in">Sign in <i></i></a>
      </span>
    </div>
  </div>
</div>
