.avatar-wrapper(@size: 32) {
  @avatarWhiteBorderWidth: @size/16;

  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: @avatarWhiteBorderWidth;
  margin: -@avatarWhiteBorderWidth; //compensate for padding.
  margin-right: @size / 6; //avatar is inline with text, wants space after it.
  background-color: white;
  border-radius: @avatarWhiteBorderWidth + 1;

  > img {
    border-radius: @avatarWhiteBorderWidth;
    width: @size;
    height: @size;
    position: relative;
    z-index: 1; //stacking is necessary due to fake border construct explained below.
  }

  //The following css generates a surrounding rounded box around the image.
  //this is equivalent to a fake border, with the advantage
  //that the "padding" overlays the wrapping boxes border, whereas the
  //"border" is underneath it.  This causes the visual border to appear
  //continuously to wrap the jutting out avatar image.
  &:after {
    display: block;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    background: @tableBorder;
    border-radius: inherit;
    content: '';
    position: absolute;
    z-index: -1;
    .new-design-box-shadow();
  }
}
