.avatar-wrapper {
  width: 32px; //override width/height and the rest scales.
  height: 32px;
  top: -2px;
  margin-right: 6px;

  display: inline-block;
  vertical-align: top;
  .box-sizing(content-box);
  position:relative;
  background-color: white;


  > img {
    border-radius: 6.25%;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &:before, &:after {
    display: block;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    margin: -6.25%;
    border-radius: 7%;
    border-radius: calc(6.25% + 1px);
    content: '';
    position: absolute;
    background:white;
  }


  //The following css generates a surrounding rounded box around the image.
  //this is equivalent to a fake border, with the advantage
  //that the "padding" overlays the wrapping boxes border, whereas the
  //"border" is underneath it.  This causes the visual border to appear
  //continuously to wrap the jutting out avatar image.
  &:after {
    z-index: -1;
    .new-design-box-shadow();
  }
}
