@mixin from-width($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin remove-element-below($breakpoint) {
  @media only screen and (max-width: $breakpoint) { display: none; }
}

%ellipsis-inline-block {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%reset-main-padding {
  margin-left: -$mainLeftPadding;
  margin-right: -$mainRightPadding;
  padding-left: $mainLeftPadding;
  padding-right: $mainRightPadding;
}

// keep in sync with jslib
@mixin striped($angle: 45deg, $stripeColor: rgba(255, 255, 255, .15)) {
  background-image: -webkit-linear-gradient($angle, $stripeColor 25%, transparent 25%, transparent 50%, $stripeColor 50%, $stripeColor 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $stripeColor 25%, transparent 25%, transparent 50%, $stripeColor 50%, $stripeColor 75%, transparent 75%, transparent);
}

%clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
          background-clip: $clip;
}

@mixin box-sizing($boxmodel) {
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
  //TODO: box-sizing is scheduled to be unprefixed in FF; remove @ about 2014-sept.
}

%non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%white-box-grey-border-bottom {
  background: white;
  border-bottom: 1px lightgrey solid;
}
