.ndp-triangle-arrow-down() {
  &, &:after {
    .box-sizing(content-box);
    position: absolute;
    height: 0;
    width: 1px;
    margin-bottom: -@ndpTriangleSize + @ndpBoxBorderSize;
    border: @ndpTriangleSize solid transparent;
    border-bottom: none;
    border-top-color: white;
  }

  &:after {
    content: '';
    top: -@ndpTriangleSize + @ndpBoxBorderSize + @ndpBoxShadowBottomSize;
    left: -@ndpTriangleSize;
    border-top-color: @ndpBoxShadowBottomColor;
    z-index: -1;
  }
}
