.ndp-triangle-arrow-down() {
  margin-bottom: -@ndpTriangleSize + @ndpBoxBorderSize;

  &, &:after {
    .box-sizing(content-box);
    position: absolute;
    height: 0;
    width: 1px;
    border: @ndpTriangleSize solid transparent;
    border-bottom: none;
    border-top-color: white;
  }

  &:after {
    content: '';
    bottom: -@ndpBoxBorderSize - @ndpBoxShadowBottomSize;
    left: -@ndpTriangleSize;
    border-top-color: @ndpBoxShadowBottomColor;
    z-index: -1;
  }
}

.ndp-triangle-arrow-up() {
  margin-top: -@ndpTriangleSize + @ndpBoxBorderSize;

  &, &:after {
    .box-sizing(content-box);
    position: absolute;
    height: 0;
    width: 1px;
    border: @ndpTriangleSize solid transparent;
    border-top: none;
    border-bottom-color: white;
  }

  &:after {
    content: '';
    top: -@ndpBoxBorderSize;
    left: -@ndpTriangleSize;
    border-bottom-color: @ndpBoxShadowBottomColor;
    z-index: -1;
  }
}
