.new-design-font() {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
}

.new-design-box() {
  .border-radius(4px);
  box-shadow: 0 0 0 1px rgba(0,0,1,0.06), 0 1px 1px rgba(0,0,1,0.15);
}

.new-design-link() {
  font-weight: 500;
}
