// TODO: let's rename these mixins when we're using the new design throughout

.new-design-font() {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  font-size: 12px;
  a {
    font-weight: 500;
  }
}

.new-design-border-radius() {
  border-radius: 4px;
}

.new-design-box-shadow() {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.06),
              0 1px 1px 0 rgba(0,0,0,0.15);
}


.new-design-background-shadow {
  z-index: -10;
  position: absolute;
  top:0; bottom:0; right:0; left:0;
  box-shadow: 0 0 150px 55px rgba(233, 234, 238, .8);
  border-radius: inherit;
}


.new-design-white-block-with-shadow() {
  background: white;
  .new-design-border-radius();
  .new-design-box-shadow()
}


