// TODO: let's rename these mixins when we're using the new design throughout

.new-design-font() {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  font-size: 12px;
  a, .ndp-non-signed-in-link {
    font-weight: 500;
  }
}

.new-design-border-radius() {
  border-radius: 4px;
}

.new-design-box-shadow() {
  box-shadow: @ndpBoxShadowBorder,
              0 @ndpBoxShadowBottomSize 1px 0 rgba(0,0,0,0.15);
}

.new-design-white-block-with-shadow() {
  background: white;
  .new-design-border-radius();
  .new-design-box-shadow();
}
