.style-scrollbars() {
  &::-webkit-scrollbar {
    width: 10px;

    &:hover {
      border: 1px solid #CACACA;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #E0E0E0;

    &:hover {
      background: #CACACA;
      cursor: pointer;
    }
  }
}