@mixin triangle-arrow($borderExtraWidth) {
  &, &:before {
    @include box-sizing(content-box);
    position: absolute;
    border: $triangleSize solid transparent;
  }

  &:before {
    content: '';
    z-index: -1;
    border-width: $triangleSize + $borderExtraWidth;
  }
}

@mixin triangle-arrow-down($color: $blockShadowBottomColor, $borderExtraWidth: $blockShadowBottomSize) {
  @include triangle-arrow($borderExtraWidth);
  margin-bottom: -$triangleSize;
  margin-left: -$triangleSize;

  &, &:before {
    height: 0;
    width: 1px;
    border-bottom: none;
    border-top-color: white;
  }

  &:before {
    bottom: -$blockBorderSize - $borderExtraWidth;
    left: -$triangleSize - $borderExtraWidth;
    border-top-color: $color;
  }
}

@mixin triangle-arrow-up($color: $triangleArrowBorderColor, $arrow-fill-color: white, $borderExtraWidth: 0) {
  @include triangle-arrow($borderExtraWidth);
  margin-top: -$triangleSize;
  margin-left: -$triangleSize;

  &, &:before {
    height: 0;
    width: 1px;
    border-top: none;
    border-bottom-color: $arrow-fill-color;
  }

  &:before {
    top: -$blockBorderSize - $borderExtraWidth;
    left: -$triangleSize - $borderExtraWidth;
    border-bottom-color: $color;
  }
}

@mixin triangle-arrow-left($color: $triangleArrowBorderColor, $borderExtraWidth: 0) {
  @include triangle-arrow($borderExtraWidth);
  margin-left: -$triangleSize;
  margin-top: -$triangleSize;

  &, &:before {
    width: 0;
    height: 1px;
    border-left: none;
    border-right-color: white;
  }

  &:before {
    left: -$blockBorderSize - $borderExtraWidth;
    top: -$triangleSize - $borderExtraWidth;
    border-right-color: $color;
  }
}

@mixin triangle-arrow-right($color: $triangleArrowBorderColor, $borderExtraWidth: 0) {
  @include triangle-arrow($borderExtraWidth);
  margin-right: -$triangleSize;
  margin-top: -$triangleSize;

  &, &:before {
    width: 0;
    height: 1px;
    border-right: none;
    border-left-color: white;
  }

  &:before {
    right: -$blockBorderSize - $borderExtraWidth;
    top: -$triangleSize - $borderExtraWidth;
    border-left-color: $color;
  }
}
