/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,erro
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight: lighter;
	vertical-align: baseline;
	color: #aaa;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-size: 12px;
  line-height: 18px;
  color: #303030;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** End reset. Thanks Eric. */



body {
  overflow: hidden;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background: #fff;
}

div#wrapper{
  height: 48px;
  border-bottom: 1px solid #ccc;
}
header {
}

form {
  padding: 8px;
  line-height: 48px;
  display: inline;
  position: relative;
  z-index: 1;
}

img {
  padding: 12px 24px;
  vertical-align: middle;
}

input[type=text] {
  /** From twitter bootstrap */
  display: inline-block;
/*  width: 600px;*/
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

  /** Own */
  width: 56%;
}

div.top-right {
  position: relative;
  z-index: 0;
  right: 24px;
  float: right;
  top: 10px;
}

/** Bootstrap - append button after input */
.input-append input,
.input-append select .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append .add-on, .input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;

  padding-left: 18px;
  padding-right: 18px;
}



/** Bootstrap - buttons */
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px;margin-bottom:0;font-size:13px;line-height:18px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);border:1px solid #cccccc;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);cursor:pointer;*margin-left:.3em;}
.btn-primary{background-color:#3D75A3;background-image:-moz-linear-gradient(top, #669bbb, #3D75A3);background-image:-ms-linear-gradient(top, #669bbb, #3D75A3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#669bbb), to(#3D75A3));background-image:-webkit-linear-gradient(top, #669bbb, #3D75A3);background-image:-o-linear-gradient(top, #669bbb, #3D75A3);background-image:linear-gradient(top, #669bbb, #3D75A3);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#669BBB', endColorstr='#3D75A3', GradientType=0);border-color:#3D75A3 #3D75A3 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn {vertical-align: baseline;}
.btn:hover {color: #333;text-decoration: none;background-color: #E6E6E6;background-position: 0 -15px;-webkit-transition: background-position 0.1s linear;-moz-transition: background-position 0.1s linear;-ms-transition: background-position 0.1s linear;-o-transition: background-position 0.1s linear;transition: background-position 0.1s linear;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color: #3D75A3;}
.btn-primary,.btn-primary:hover{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);color:#ffffff;cursor: pointer;}

/** Bootstrap - button group */
.btn-toolbar .btn-group {
  display: inline-block;
}
.btn-group {
  position: relative;
}
.btn-group::before, .btn-group::after {
  display: table;
  content: "";
}
.btn-group::after {
  clear: both;
}
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group .btn:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

/** Bootstrap - icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
.icon-info-sign {background-position: -120px -96px;}
.icon-remove {background-position: -312px 0;}
.icon-home {background-position: 0 -24px;}
.icon-exclamation-sign{ background-position: 0 -120px;}

#error_in_proxy {
  display:none;
  background-color:#d28876;background-image:-moz-linear-gradient(top, #e8a991, #d28876);
  background-image:-ms-linear-gradient(top, #e8a991, #d28876);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e8a991), to(#d28876));
  background-image:-webkit-linear-gradient(top, #e8a991, #d28876);
  background-image:-o-linear-gradient(top, #e8a991, #d28876);
  background-image:linear-gradient(top, #e8a991, #d28876);
  background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e8a991', endColorstr='#d28876', GradientType=0);
  border-color:#d28876 #d28876 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}

#error_in_proxy:hover, .error_in_proxy:active  {background-color: #d28876;}

