@import "bootstrap/mixins";
@import "bootstrap/variables";

#activity_for_channel {

  .activity-block {
    border-bottom: solid 1px @baseBorderColor;
    margin: 0 -15px;
    padding: 10px 15px;
    .box-sizing(border-box);
    .clearfix();

    &:last-child {
      border-bottom: solid 1px transparent;
    }

    a { .transition(color .15s ease-in-out); }
    a:hover { text-decoration: none; }

    .the-user {
      padding: 0;
      float: left;
      img {
        .border-radius(3px);
        float: left;
        margin: 0 8px 0 0;
      }
    }

    .the-link {
      float: left;
      padding: 0 3px 0 0;
      font-size: @metaFontSize;
      line-height: @baseLineHeight;
    }

    .the-activities {
      .box-sizing(border-box);
      padding: 0 0 0 32px;
      line-height: @baseLineHeight;
      font-size: @metaFontSize;

      div {
        .activity-description {
          color: @mutedFontColor;
        }
      }
      > div {

        &:nth-child(n + 2) {
          .meta {
            .opacity(0);
          }
        }
        .meta {
          color: #ccc;
          display: block;
          float: right;
        }
      }
    }
  }
  .below_activities > div > div {
    margin: 0 -15px;
    border-top: 1px solid @baseBorderColor;
  }
}
