// = require bubble
@import "bootstrap/mixins";
@import "bootstrap/variables";

#activity_for_channel {

  .fact-block {
    // Removes the border-bottom the .fact-block default has
    border: none;
    .tab-control {
      width: 530px;
    }
  }

  .user-avatar img {
    .border-radius(3px);
  }

  .activity-block {
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 0;
    overflow: auto;
    width: 100%;

    .left-col  {
      float: left;
      margin: 0 0 0 4px;
      width: 24px;
    }
    .right-col {
      float: left;
      margin: 0 0 0 12px;
      width: 626px;
    }

    .meta {
      color: #ccc;
      display: block;
      float: right;
      font-weight: 200;
    }
  }
}
