// Core variables and mixins
@import "frontend.css";
@import "grid";

tr {
  background: white;
}

form {

  .row {
    position: relative;

    label {
      position: absolute;
      width: 140px;
      float: left;
      text-align: right;
    }

    .field {
      display: block;
      padding-left: 150px;
    }

    input, textarea {
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 2px 5px;
      width: 380px;
      height: 20px;
    }

    textarea {
      height: 60px;
    }
  }
}


.actions {
  margin-left: 410px;

  a {
    opacity: 0.6;
    margin-left: -12px;
    padding-right: 12px;

    &:hover {
      opacity: 1.0;
    }
  }
}
h1 {
  font-size: @basefont * 2;
}
