@import "bootstrap/mixins";

.form-label-column {
  text-align: right;
  padding-right:1em;
}

.admin-form textarea {
  height: 60px;
}

.admin-form-irrelevant-feature {
  color: @mutedFontColor;
}

.edit-user-delete-link {
  color: rgb(206, 0, 0);
}

.admin-dangerous-area {
  padding: 20px;
  background-color: @errorBackground;
  border: 1px solid @errorBorder;
}

.table {
  width: 100%;
  margin-bottom: @baseLineHeight;
  background-color: @backgroundGray;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid @tableBorder;
  border-left: 0;
  max-width: 100%;
  // Cells
  th,
  td {
    padding: 8px;
    line-height: @baseLineHeight;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid @tableBorder;
    border-left: 1px solid @tableBorder;
  }
  th {
    font-weight: bold;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
}

.label {
  font-weight: bold;
  line-height: 14px; // ensure proper line-height if floated
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: @grayLight;
  padding: 1px 4px 2px;
  border-radius: @baseBorderRadius;

  &-important         { background-color: @errorText; }
  &-warning           { background-color: @orange; }
  &-success           { background-color: @successText; }
  &-danger            { background-color: #d9534f; }
}
