.annotation-site {
  display: table-cell;
  width: 30px;
  padding-right: 15px;
}

.annotation-site-avatar {
  line-height: 32px;
  padding: 5px;
  border: 1px lightgrey solid;
  border-radius: 4px;
}

.annotation-body {
  display: table-cell;
  vertical-align: middle;
}

.annotation-body-content {
  word-wrap: break-word;
  padding: 1px 0;
  background-color: rgba(255,255,0, 0.2);
  transition: background-color 0.4s;

  &:hover {
    background-color: rgba(255,255,0, 0.6);
  }
}
