@import "bootstrap/variables";
@import "bootstrap/mixins";

.auto-complete {
  ul {
    list-style: none;
    margin: 0;
    font-size: 13px;
  }

  .auto-complete-results-container {
    li {
      background: #f0f0f0;
      .box-sizing();
      color: @metaFontColor;
      margin: 0 0 5px;
      padding: 8px 10px 7px 9px;
      width: 300px;
      .custom-radius(4px, 4px, 4px, 4px);
      border-bottom: 1px solid #e4e4e4;

      a { font-size: 13px; }

      a.icon-remove {
        cursor: pointer;
        float: right;
        .opacity(0.4);
        position: relative;
        top: 2px;
        &:hover {
          .opacity(1.0);
        }
      }

      input {
        display: none;
      }
    }
  }

  .auto-complete-search-list-container {
    position: relative;

    .auto-complete-search-list {
      border: 1px solid #b5b5b5;
      .box-sizing();
      .custom-radius(5px, 5px, 5px, 5px);

      display: none;
      .drop-shadow(0, 1px, 4px, 0.17);
      width: 300px;

      ul {
        max-height: 190px;
        overflow-y: scroll;
        list-style: none;
        margin: 0;
        background: white;

        li {
          background: white;
          cursor: pointer;
          font-weight: 200;

          .text {
            margin-top: 4px;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            padding: 0 10px;
            text-overflow: ellipsis;
            white-space: nowrap;

            em {
              color: @linkColor;
              font-style: normal;
              font-weight: bold;
            }
          }

          &.user-logo {
            background-image: image-url("glyphicons/user.png");
            background-position: 264px 8px;
            background-repeat: no-repeat;
            padding-right: 30px;
          }

          .add-new-block {
            border-top: 1px solid #e0dcdc;
            padding: 5px 10px;
            color: @baseFontColor;
            cursor: pointer;
            background: @whiteDarker;

            a {
              margin: 0 10px 0 0;
            }

            > span {
              vertical-align: middle;
              display: inline-block;
              width: 190px;
              word-wrap: break-word;
              text-shadow: none;
            }

            .btn-mini {
              padding: 4px 4px 5px 5px;
            }
          }

          &:first-child, &:first-child .add-new-block {
            .custom-radius-top-left(3px);
            .custom-radius-top-right(3px);

            .text {
              margin-top: 0;
            }
          }

          &:last-child, &:last-child .add-new-block {
            .custom-radius-bottom-left(3px);
            .custom-radius-bottom-right(3px);
          }

          &.active {
            background-color: @linkColor;
            color: #fff;
            text-shadow: none;

            .add-new-block {
              background: @linkColor;
            }

            em {
              color: #fff;
            }

            &.user-logo {
              background-image: image-url("glyphicons/user--white.png")
            }

            .add-new-block {
              border-top: 1px solid @linkColor;
              color: #fff;

              a {
                border: 1px solid @linkColor;
              }
            }
          }
        }
      }
    }
  }

  .auto-complete-input-container {
    background: transparent;
    border: 1px solid #ccc;
    .box-sizing();
    color: @baseFontColor;
    display: inline-block;
    line-height: 18px;
    margin-bottom: 2px;
    padding: 3px;
    position: relative;
    width: 300px;
    .custom-radius(4px, 4px, 4px, 4px);
    .box-shadow(inset 0 1px 1px rgba(0, 0, 3px, 0.10));

    .typeahead {
      background: transparent;
      border: none;
      margin: 0;
      .box-shadow(none);
      font-size: 13px;
      width: 280px;
    }

    .loading {
      position: absolute;
      top: 8px;
      right: 35px;
      display: none;
    }

    a.btn {
      display: none;
      float: right;
    }
  }

  &.disabled {
    .auto-complete-input-container {
      background-color: #eee;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }

  &.hide-input .auto-complete-input-container {
    display: none;
  }
}

.auto-complete-floating-list .auto-complete-search-list {
  position: absolute;
  left: 0px;
  top: 0px;
}
