.visible-when-chrome,
.visible-when-mozilla,
.visible-when-unsupported-browser { display: none; }

html {
  &.chrome              { .visible-when-chrome              { display: block; } }
  &.mozilla             { .visible-when-mozilla             { display: block; } }
  &.unsupported-browser { .visible-when-unsupported-browser { display: block; } }
}


html.chrome {
  .should-install-chrome-extension { display: none; }

  &.chrome_extension_installed {
    .chrome-extension-installed {
      display: inline;
    }
  }
  &.chrome_extension_not_installed {
    .should-install-chrome-extension {
      display: inline;
    }
  }
}


html.mozilla {
  .should-install-firefox-extension { display: none; }
}
