@import "twitter/bootstrap/reset";
@import "style.css.less";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/patterns";
/** Fact block */
div.modal {
  border: none;
  top: 40px;
  .drop-shadow(0px, 0, 5px, 0.2);
  margin: 0 auto;
  left: 30%;
  padding: 0;
  width: 510px;
  span.proxyWindow {
    display: inline !important;
  }
}
div.fact-block .close {
  margin: 5px;
}
.float {
  background-color: @white;
  display: none;
  z-index: 2000;
  .drop-shadow(0, 0, 5px, 0.2);
  border: 1px solid @grayLighter;
}
.channel-listing {
  .float;
  width: 200px;
  position: absolute;
  ul {
    max-height: 160px;
    overflow-y: auto;
    .visible-scroll();
    padding: 4px 0 0 4px;
    margin: 0;
    li {
      .ellipsis();
      padding: 5px 0 5px 0 !important;
      width: 180px;
      margin: 0 0 0 5px !important;
      border: none !important;
      a {
        margin: 0;
        padding: 0;
        }
      }
    }
  .add-channel {
    border-top: solid 1px #ddd;
    padding: 8px;

    input[type="text"] {
      width: 130px;
      padding: 2px;
      border: solid 1px #ccc;
    }
  }
}
@rightIndent: 10px;
.fact-block {
  color: #555;
  background: @white;
  border: 1px solid @grayLight;
  article.fact {
    padding: 10px 0 10px (@rightIndent / 2);
    min-height: 50px;
    .wheel {
      float: left;
      svg {
        margin: -7px 0 0 (@rightIndent / 2);
        path:hover {
          cursor: pointer;
        }
      }
    }

    header {
      margin: 0 0 0px 75px;
      padding-right: 20px;
      #font > .sans-serif(normal,12px,@baseline);
      sub {
        line-height: inherit;
        font-size: x-small;
        a {
          color: @linkColor;
        }
      }
      .head {
				display: block;
        font-weight: bold;
      }
			.edit {
        #font > .sans-serif(normal,9pt,@baseline);
        color: @linkColor;
        &:before {
	        font-family: "IconicStroke";
          content: "P ";
        }
				&:hover {
					background-color: @lightYellow;
				}

				form {
          display: inline-block;
          input, input:focus {
            #font > .sans-serif(normal,9pt,@baseline);
						background-color: @lightYellow;
            border: none;
						outline: none;
            padding: 0;
            margin: 0;
					}
				}
			}

      .body {
        word-wrap: break-word;
        vertical-align: baseline;
        span a {
          color: @linkColor;
        }
			}
    }
  }
  .controls {
    font-size: 12px;
    .opacity(0);
    .transition(opacity 0.2s ease);
    border-bottom: 1px solid @grayLighter;
    ul.evidence {
      height: 23px;
      li {
        display: block;
        float: left;
        margin: 0 0 0 15px;
        .border-radius(3px 3px 0 0);
        border: 1px solid transparent;
        border-bottom: none;
        a {
          display: block;
          padding: 5px;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover, &.active {
          border-color: @grayLight;
        }
        &.active a {
          color: #555;
        }
      }
    }
  }
  .dropdown-container {
    display: none;
  }
  &:hover, &.active, .controls.active {
    .controls {
      .opacity(100);
    }
  }
  .evidence-list {
    max-height: 260px;
    min-height: 50px;
    overflow: auto;
    .visible-scroll();
    background-color: @whiteDarker;
    ul.evidence-listing {
      .relation {
        display: none;
      }
    }
    .no-evidence-message {
      display: none;
      text-align: center;
      padding: 5px;
    }
    .loading-evidence {
      position: relative;
      top: 15px;
      left: 45%;
    }
    li {
      &:not(:first-child) {
        border-top: 1px solid @grayLight;
      }
      article.fact {
        margin-left: 30px;
      }
    }
  }
}
