@import "twitter/bootstrap/reset";
@import "style.css.less";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/patterns";
/** Fact block */
div.modal {
  border: none;
  top: 40px;
  .drop-shadow(0px, 0, 8px, 0.2);
  .border-radius(3px);
  border: 1px solid @grayLighter;
  margin: 0 auto;
  left: 30%;
  padding: 0;
  width: 510px;
  span.proxyWindow {
    display: inline !important;
  }
}
div.fact-block .close {
  margin: 5px;
}
.float {
  background-color: @white;
  display: none;
  z-index: 2000;
  .drop-shadow(0, 0, 5px, 0.2);
  border: 1px solid @grayLight;
}
.channel-listing {
  .float;
  width: 200px;
  position: absolute;
  ul {
    max-height: 160px;
    overflow-y: auto;
    .visible-scroll();
    padding: 4px 0 0 4px;
    margin: 0;
    li {
      .ellipsis();
      width: 170px;
      padding: 5px 0 5px 0 !important;
      margin: 0 0 0 5px !important;
      border: none !important;
      a {
        margin: 0;
        padding: 0;
        }
      }
    }
  .add-channel {
    border-top: solid 1px #ddd;
    padding: 8px;

    input[type="text"] {
      width: 130px;
      padding: 2px;
      border: solid 1px #ccc;
    }
  }
}
@rightIndent: 10px;
.fact-block {
  color: #555;
  background: @white;
  article.fact {
    padding: 10px 0 3px (@rightIndent / 2);
    .wheel {
      float: left;
      margin: 0 0 0 4px;
      svg {
        path:hover {
          cursor: pointer;
        }
      }
    }

    header {
      margin: 0 0 0px 75px;
      min-height: 70px;
      padding-right: 20px;
      #font > .sans-serif(normal,12px,@baseline);
      sub {
        line-height: inherit;
        font-size: x-small;
        a {
          color: @linkColor;
        }
      }
      .head {
				display: block;
        font-weight: bold;
      }
			.edit {
        #font > .sans-serif(normal,9pt,@baseline);
        color: @linkColor;
        &:before {
	        font-family: "IconicStroke";
          content: "p ";
        }
				&:hover {
					background-color: @lightYellow;
				}

				form {
          display: inline-block;
          input, input:focus {
            #font > .sans-serif(normal,9pt,@baseline);
						background-color: @lightYellow;
            border: none;
						outline: none;
            padding: 0;
            margin: 0;
					}
				}
			}

      .body {
        word-wrap: break-word;
        vertical-align: baseline;
        span a {
          color: @linkColor;
        }
			}
    }
  }
  .controls {
    font-size: 12px;
    .opacity(0);
    .transition(opacity 0.2s ease);
    border-bottom: 1px solid @grayLighter;
    ul.evidence {
      height: 23px;
      margin-left: 60px;
      li {
        display: block;
        float: left;
        margin: 1px 0 0 15px;
        border: 1px solid transparent;
        .border-radius(3px 3px 0 0);
        border-bottom: none;
        a {
          display: inline-block;
          padding: 5px;
          &:hover {
            text-decoration: none;
          }
        }
        .add-button {
	        font-family: "IconicStroke";
          display: none;
          line-height: 3px;
          margin: 0 -3px -5px -5px;
          color: @grayLight !important;
          &:before {
            font-size: 18px;
            content: " =";
          }
          &:hover {
            color: @gray !important;
          }
        }
        &:hover, &.active {
          border: 1px solid @grayLight;
          border-bottom: none;
          background-color: @whiteDarker;
        }
        &:hover a {
          color: @linkColorHover;
        }
        &.active a {
          display: inline-block;
          color: #555;
        }
      }
    }
  }
  .dropdown-container {
    .visible-scroll();
    width: 100%;
    overflow: auto;
    display: none;
    background: @whiteDarker;
    padding: 7px 0 8px 0;
    min-height: 55px;
    .no-evidence-message {
      display: none;
      text-align: center;
      padding: 5px;
      height: 55px;
    }
    .loading-evidence {
      height: 55px;
      padding-top: 20px;
      text-align: center;
    }
    .arrow {
      position: absolute;
      .arrow-down, .arrow-down-border {
        position: relative;
        left: 10px;
      }
      .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @whiteDarker;
        position: relative;
        top: -21px;
      }
      .arrow-down-border {
        border-color: @grayLighter transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        height:0;
        width:0;
        top: 1px;
      }
    }
  }
  &:hover, &.active, .controls.active {
    .controls {
      .opacity(100);
    }
  }
  .evidence-list {
    .drop-shadow(0, 1px, 2px, 0.1);
    background-color: @white;
    border-top: 1px solid @grayLighter;
    ul.evidence-listing {
      li {
        &:not(:first-child) {
          border-top: 1px solid @grayLight;
        }
        article.fact {
          margin-left: 30px;
        }
      }
    }
  }
}
