//= require users/session_new
//= require_tree ./bubble
//= require_tree ./evidence
//= require_tree ./facts
//= require_tree ./fact_relations
//= require_tree ./comments
//= require_tree ./widgets
//= require_tree ./share
//= require channels/suggested_topics

//= require bootstrap/bootstrap-workarounds
//= require frontend/tabular
//= require phantomjs_hack

@import "bootstrap/mixins";

body.client {
  font-size: @baseFontSize;
  line-height: @baseLineHeight;

  padding: 0 0 100px;
  .box-sizing(border-box);
}

.client-modal-region {
  width: @discussionModalWidth;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}

.new-discussion-page {
  width: @newDiscussionModalWidth;
  visibility: hidden;
  .new-design-font();
}
