@blue: #306D90;
@dark-blue: #306D90;
@bg: #FBFAFA;
@grey: #9D9D9C;
@red: #CE0000;


/** Popup redesign */
@popup-bg:      #ffffff;
@popup-font:    #313131;
@underbar-bg:   #f5f5f5;
@underbar-font: #999999;
@divider:       #eeeeee;
/*@link-blue:     #306d90;*/
@link-blue:     darken(#7fa3b8, 10);
