//= require_tree ./email

@import "bootstrap/mixins";

* {
  margin:0;
  padding:0;
}

h1, h2 {
  color: #333;
  font-family: @sansFontFamily;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

a {
  color: #3D75A3;
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
  width: 100%!important;
  height: 100%;
  background-color:#EEEEEE;
}

table.body-wrap {
  margin-top: 30px;
  width: 100%;
  background-color:#EEEEEE;
}

.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

.content {
  margin: 0 auto;
  max-width:600px;
  display:block;
}

.white-well {
  margin-top: 30px;
  padding:30px 30px 0;
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: @baseBorderRadius;
  .background-clip(padding-box);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

p { margin-bottom: 1em; }

.body, p, td {
  color: #555;
  font-size: @baseFontSize;
  font-family: @baseFontFamily;
}

.cta {
  margin: 36px 0;
  line-height: 36px;
}

.btn-email {
  .new-design-font();
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
  height: @largeButtonHeight;
  line-height: @largeButtonHeight - 2*@baselinePixelsUp;
  padding: 0 @largeButtonPadding;

  background-color: @buttonHomeBackground;
  color: @buttonHomeLink;
  text-shadow: 0 1px 0 @buttonHomeTextShadow;

  border-bottom: @largeButtonBorderWidth solid @buttonHomeBorder;
}

.content table { width: 100%; }

.content table a { word-break: break-word; }

.clear { display: block; clear: both; }

.factlink-post-stamp {
  float: right;
  padding: 4px 4px 0 0;
  width:104px;
  height:208px;
  .box-sizing(content-box);
}

.discussion-of-the-week {
  h1 { margin-top: 40px; }
  h2 { margin: 32px 0 6px; }
}

.quoted-factlink {
  width: 494px !important;

  .quoted-factlink-image {
    vertical-align: top;
    width: 40px;
    img { margin-top: 2px; }
  }

  .quoted-factlink-quote {
    color: #333;
    font-size: 18px;
    line-height: 31px;
    margin-left: 10px;
  }

}

.footer {
  text-align: right;
  padding-top: 5px;

  a {
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.7);
  }
}
