//= require_tree ./email

* {
  margin:0;
  padding:0;
}

h2 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: #3D75A3;
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
  width: 100%!important;
  height: 100%;
  background-color:#EEEEEE;
}

table.body-wrap {
  width: 100%;
  background-color:#EEEEEE;
}

.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

.content {
  background: #FFFFFF;
  padding:30px;
  max-width:600px;
  margin:30px auto;
  display:block;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

p { margin-bottom: 1em; }

.body {
  color: #555;
  font-size: 13px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.btn-email {
    #gradient > .vertical(#F8D36D, #FDBA39);
    background-color: #FDBA39;
    border-color: #FDBA39 #FDBA39 #DC941F;
  }

.content table { width: 100%; }

.content table a { word-break: break-word; }

.clear { display: block; clear: both; }
