$darkred: rgb(128, 0, 0);
$black:   rgb(48, 48, 48);

.environment-message {
  background: repeating-linear-gradient(-45deg, $darkred, $darkred 14px, $black 14px, $black 28px, $darkred 28px);

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px black;
  padding: 5px;
  margin: 5px;
  color: rgb(255, 255, 128);
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
