//= require frontend

a.site,
.scroll-to-container,
.fact-body > sub,
li.authority,
.fact-block > h3,
.fact-block > .controls {
  display: none !important;
}

li.interacting {
  border-right: none !important;
}

.fact-block {
  margin: 0 auto !important;
  margin-left:-310px !important;
  margin-top: 100px !important;
  position: absolute;
  left: 50%;

  article.fact header {
    min-height: 30px;
  }
}