@import "bootstrap/mixins";
@import "bootstrap/variables";

#feedback {
  position: fixed;
  top: 160px;
  background: url("/assets/feedback.png") top left no-repeat transparent;
  height: 97px;
  width: 37px;
  left: 0;
  a {
    text-indent: -10000em;
    display: block;
    width: 100%;
    height: 100%;
  }
}