$feedPadding: 5px;
$smallFeedPadding: 3px;
$headerHeight: 48px;
$headerInnerHeight: 32px;
$avatarSmallHeight: 32px;
$headerBorder: 1px;

.feed-activity {
  padding: $feedPadding 0;

  &:first-child {
    padding-top: 0;
  }

  @include respond-to(600) {
    padding: $smallFeedPadding 0;
  }
}

.feed-activity-user-avatar {
  position: absolute;
  border-radius: $baseBorderRadius;
  vertical-align: middle;
  height: $headerHeight;
  width: $headerHeight;

  @include respond-to(600) {
    width: $avatarSmallHeight;
    height: $avatarSmallHeight;
  }
}

.feed-activity-followed-avatar {
  margin: 0 3px;

  @include respond-to(600) {
    display: none;
  }
}

a.feed-activity-container {
  display: block;
  min-height: $headerHeight;
  vertical-align: top;
  margin-left: $headerHeight + 2*$feedPadding;
  padding: (($headerHeight - $headerInnerHeight)/2 - $headerBorder) 10px;
  border-bottom: $headerBorder lightgrey solid;
  border-radius: $baseBorderRadius;
  color: $baseFontColor;
  background: white;
  opacity: 0.85;

  @include respond-to(600) {
    margin-left: $avatarSmallHeight + 2*$smallFeedPadding;
    min-height: $avatarSmallHeight;
  }

  &:hover {
    opacity: 1;
  }
}

.feed-activity-heading {
  line-height: $headerInnerHeight;

  @include respond-to(600) {
    line-height: $avatarSmallHeight - (($headerHeight - $headerInnerHeight) - (2 * $headerBorder));
  }
}

.feed-activity-description {
  color: #999;
}

.feed-activity-username {
  font-weight: 600;
}

.feed-activity-time {
  float: right;
  font-size: 11px;
  text-align: right;
  color: #999;
}

.feed-comment-box {
  position: relative;
  min-height: $avatarSmallHeight;
}

.feed-comment-box-avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: $avatarSmallHeight;
  height: $avatarSmallHeight;
}

.feed-comment-box-body {
  margin-left: $avatarSmallHeight + 10px;;
  background: $grayLighter;
  display: inline-block;
  padding: 5px 8px;
  border-radius: $baseBorderRadius;
  position: relative;

  &:before {
    content: '';

    position: absolute;
    left: -$triangleSize;
    top: $avatarSmallHeight/2 - $triangleSize;

    width: 0;
    height: 1px;
    border: $triangleSize solid transparent;
    border-left: none;
    border-right-color: $grayLighter;
  }
}

.feed-lowest-comment {
  margin-top: 5px;
}
