@import "bootstrap/mixins";
@import "bootstrap/variables";

#feedback {
  position: fixed;
  top: 188px;
  background: #6589a6;

  width: 78px;
  height: 30px;
  line-height: 30px;
  left: -28px;

  font-size: 1.0em;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0);

  border: 3px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);

  -webkit-border-bottom-right-radius: 8px;
   -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
       -moz-border-radius-bottomleft: 8px;
          border-bottom-right-radius: 8px;
           border-bottom-left-radius: 8px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

.box-rotate {
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
               zoom: 1;
}