$feedPadding: 5px;
$headerHeight: 48px;
$headerInnerHeight: 32px;
$avatarSmallHeight: 32px;
$headerBorder: 1px;

.feed-activity {
  padding: $feedPadding 0;

  &:first-child {
    padding-top: 0;
  }
}

.feed-activity-user-avatar {
  position: absolute;
  border-radius: $baseBorderRadius;
  vertical-align: middle;
  height: $headerHeight;
  width: $headerHeight;

  @include respond-to(600) {
    margin-top: ($headerHeight - $avatarSmallHeight)/2;
    width: $avatarSmallHeight;
    height: $avatarSmallHeight;
  }
}

.feed-activity-followed-avatar {
  margin: 0 3px;
}

.feed-activity-container {
  vertical-align: top;
  margin-left: $headerHeight + 2*$feedPadding;
  padding: (($headerHeight - $headerInnerHeight)/2 - $headerBorder) 10px;
  background: white;
  border-bottom: $headerBorder lightgrey solid;
  border-radius: $baseBorderRadius;

  @include respond-to(600) {
    margin-left: $avatarSmallHeight + 2*$feedPadding;
  }
}

.feed-activity-heading {
  line-height: $headerInnerHeight;
}

.feed-activity-description {
  color: #999;
}

.feed-activity-username {
  font-weight: 600;
}

.feed-activity-time {
  float: right;
  font-size: 11px;
  text-align: right;
  color: #999;
}

.feed-activity-annotation {
  min-height: 16px;
  vertical-align: top;
}
