@import "grid";
@import "bootstrap";
@import "tour.css";
@import "bubble.css";

/* ==|== primary styles =====================================================
Author: Factlink
========================================================================== */
body {
  background: #F4F4F4;
}

body.factlink-site .fact-block,
body.factlink-site div.user-block {
  border-bottom: 1px solid @grayLighter;
  margin: 0px;
  .transition(all 0.2s ease);
  &.active {
    margin: 15px 0 15px 0;
    .drop-shadow(0px, 0, 8px, 0.3);
  }

}

#tos {
  textarea {
    width: 500px;
    height: 240px;
    border: solid 1px #ccc;
    .border-radius(4px);

    #font > .serif(normal, @basefont, @baseline);
    line-height: 1.4em;
    color: #666;
    padding: 10px;
    margin: 0 0 24px 0;
  }
  h1 {
    font-size: @basefont * 2;
    font-weight: bold;
    margin-bottom: @baseline;
  }
  .explanation {
    font-size: 0.8em;
    width: 100%;
    text-align: right;
    color: #aaa;
  }

  form {
    .row {
      padding: 10px 0px;
      color: #777;
      text-shadow: 0px 1px 0px @white;

      label {
        display: block;
        float: left;
        width: 100px;
        margin-top: 6px;
      }

      input {
        padding: 8px;
        width: 320px;
        .border-radius(3px);
        border: solid 1px #ddd;
      }
    }

    input[type="submit"] {
      margin: 16px 0 0 384px;
    }

    .tos_checkbox {
      margin: 0 0 0 100px;
      .field_with_errors {
        width: 20px; float:left;
      }
    }
  }
}
#feedback {
  position: fixed;
  top: 160px;
  background: url("/assets/feedback.png") top left no-repeat transparent;
  height: 97px;
  width: 37px;
  left: 0;
  a {
    text-indent: -10000em;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tour-modal {
  width: 920px !important;

  top: 60px !important;
  left: 50% !important;
  margin: 0 0 0 -470px !important;

  .modal-body {
    height: 400px;
  }
}

.modal-backdrop {
  background: rgba(255, 255, 255, 0.75) !important;
}


a.bookmarklet {
  cursor: move;
}
// TODO should be in the patterns, fix when using bootstrap grid.
.topbar h3 {
  top: 1px;
  left: 80px!important;
  margin-left: 0px !important;
}
.topbar .search {
  left: 153px;
  top: 1px;
}

.search-results .results .user-block {
  padding: 10px 0 0px 5px;
  height: 72px;

  .avatar-container {
    height: 72px;
    &:hover {
      cursor: pointer;
    }
  }

  .user-avatar {
    width: 76px;
    float: left;

    img {
      height: 32px;
      width: 32px;
      margin: 0 0 0 16px;
      border: solid 1px #ddd;
      .border-radius(3px);
    }
  }
  .wrapper {
    h3, sub {
      color: #555 !important;
    }
  }
}


#container {
  padding-top: 60px;

  h1 {
    font-size: @basefont * 1.5;
    margin-bottom: @basefont;
  }

  form {
    .row {
      padding: 10px 0px;
      color: #777;
      text-shadow: 0px 1px 0px #fff;
      label {
        display: block;
        float: left;
        width: 100px;
        margin-top: 6px;
      }

      input {
        padding: 8px;
        width: 320px;
        border-radius: 3px;
        border: solid 1px #ddd;
      }
    }

    .action-wrapper {
      margin-top: 10px;
      height: 20px;

      input, span, button {
        float: right;
      }

      span {
        padding: 0;
      }
    }
  }

  sub {
    color: #333;
    #font > .sans-serif(normal, x-small, @baseline);
    bottom: 0.45em;
   }
  .side-column {
    header {
      margin-top: 16px;
    }
    // User block for side column heading
    .user-block {
      .avatar-container {
        padding: 1em;
        .border-radius(3px);
        width: 160px;
        border-bottom: 1px solid white;
        background-color: #ededed;
        .inner-shadow(0, 1px, 1px, 0.2);
      }
      margin-bottom: 8px;
      h3 {
        #font > .sans-serif(bold, @baseline * 0.9, @baseline);
      }
      .wrapper {
        margin-left: 48px;
      }
      .user-avatar {
        background: #f7f7f7;
        float: left;
        position: relative;
        top: 0px;
        left: 0px;
        display: block;
        height: 32px;
        width: 32px;
        border: solid 1px #ddd;
        .border-radius(3px);
      }
    }
    h2 {
      #font > .sans-serif(bold, @baseline * 0.9, @baseline);
      display: inline;
    }
    .add-channel {
      float: right;
      padding: 4px;
      margin-right: 18px;
      margin-top: -2px;
      &:before {
        content: "+ ";
        #font > .iconic();
      }
    }
    .related-users {
      padding-top: @baseline;
      article, li {
        padding-bottom: @baseline / 2;
      }
      // User block for related users
      .user-block {
        padding: 0;
        background-color: transparent;
        &:hover {
          cursor: pointer;
          h1 {
            color: @linkColor;
          }
        }
        .wrapper {
          margin-left: 48px;
          h3 {
            color: @linkColor;
            font-size: @basefont;
            font-weight: bold;
            &:hover {
              color: @linkColorHover;
            }
          }
        }
      }
    }
  }
  @borderRadius: 4px;
  #main-wrapper {
    padding: 15px;
    margin-bottom: 172px;
    background: @white;
    .border-radius(@borderRadius);
    border: 1px solid @grayLighter;
    min-height: 400px;
    .drop-shadow();
    position: relative;
    z-index: 100;
    header.title {
      border-top: 1px solid @white;
      background-color: #f8f8f8;
      text-shadow: 0px 1px 0px @white;
      .border-radius(@borderRadius @borderRadius 0 0);
      margin: -15px -15px 0 -15px;
      padding: 10px 16px 6px 19px;
      border-bottom: 1px solid #d8d8d8;
      span.contained-channel-description {
        display: none;
      }
      h1 {
        .ellipsis();
        margin: 3px 0px 6px 0;
        display: block;
        font-size: 16pt;
        height: @basefont * 2;
        width: 70%;

      }
      a {
        float: right;
        display: block;
        color: @black;
      }
      div.float-box-container {
        float: right;
        position: relative;
      }
      p {
        margin: 0 0 6px 0;
      }
      .more {
        width: 100%;
        text-align: center;
      }
      #more-button {
        float: none;
        display: none;
        &:hover {
          text-decoration: none;
        }

        .label {
          &:hover {
            background-color: darken(#bfbfbf, 10%);
          }
        }
      }
      #contained-channels {
        .overflow {
          display: none;
        }
      }
      #contained-channel-list {
        display: block;
        li {
          width: 155px;
          display: inline-block;
          margin: 4px 8px 4px 0;
          border: 1px solid transparent;
          .box-shadow(0px 0px 3px #a8a8a8);
          padding: 2px;
          .border-radius(3px);

          a  {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
            img {
              width: 24px;
              vertical-align: -30%;
              height: 24px;
              margin-right: 6px;
            }
            span {
              .ellipsis();
              display: inline-block;
              width: 110px;
            }
            &:hover {
              text-decoration: none;
              color: #333;
            }
          }
          &:hover {
            box-shadow: 0px 0px 3px #1d8cc8;
            border: 1px solid #1d8cc8;
            background-color: #fbfbfb;
          }
        }
      }
    }
  }

  #facts_for_channel {
    div.loading {
      text-align: center;
      line-height: 100px;

      img, span {
        vertical-align: middle;
      }
    }

  }

  #channel-listing {
    @margin: 6px;
    margin: 1.5em 0 1em 0;
    li a {
      padding: @margin 4px @margin 0;
      width: 140px;
      display: block;
      .ellipsis();
      #font > .sans-serif(normal, @basefont, @baseline);
      text-shadow: 0px 1px 0px @white;
      padding-left: 24px;
      &:hover {
        text-decoration: none;
      }
      &.stream {
        padding-bottom: 3px;
        background: url("/assets/homeIcon.png") 4px @margin no-repeat transparent;
        border-bottom: 1px solid #dbdbdb;
      }
      &.created {
        border-top: 1px solid white;
        background: url("/assets/userIcon.png") 5px @margin no-repeat transparent;
      }
      .new {
        color: @black;
        margin-left: -20px;
        float: right;
      }
    }
    li.active {
      a {
        color: @black;
      }
      background: url("/assets/menuBackground.png") left (@margin / 2) - 2 no-repeat transparent;
    }
  }
  .no_facts {
    margin-top: 15px;
    font-size: @basefont;
    text-align: center;
    p {
      padding-bottom: 1em;
    }
    h3 {
      font-size: @basefont*1.5;
      padding-bottom: 0.5em;
    }

    .empty-channel-action {
      float: left;
      width: 49%;
    }
    .empty-channel-action-end {
      display: block;
      width: 1px;
      height: 212px;
    }
  }
}
