@import "twitter/bootstrap/mixins.less";

.glyphicon-sizing {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  margin-top: 1px;
}

.glyphicon-color {
  color: black !important;
}
