@import "grid";
@import "bootstrap";
@import "twitter/bootstrap/forms";
body {
  background: white;
}
.factlink {
  a {
    color: @linkColor;
  }
  h1, h2, h3 {
    #font > .sans-serif(bold, @basefont, @baseline);
    color: #303030;
  }
  h3 {
    font-size: 14pt;
  }
  h4 {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 6px;
  }
  p, li, footer {
    #font > .sans-serif(normal, @basefont, @baseline);
    color: #505050;
  }
  #body {
    padding: 2.5em 0;
    .inner-shadow(0, 0px, 9px, 0.1);
    background-color: #f4f4f4;
    text-shadow: 0 1px 1px #fff;
    border: solid 1px rgba(0, 0, 0, 0.06);
  }
  header {
    h1 {
      margin-top: 12px;
    }
    margin-top: 1em;
    margin-bottom: 0;
  }

  #sign-in-form {
    margin: 0px;
    line-height: 10pt;
    form {
      margin-top: 10px;
      float: right;

      .input-fields {
        input[type="text"],
        input[type="password"] {
          width: 160px;
          margin-right: 8px;
        }
        input[type="submit"] {
          top: -1px;
          right: -2px;
          position: relative;
        }
      }
    }
    a {
      opacity: 1.0;
      font-size: 0.8em;
    }

  }
  #payoff {
    h2 {
      font-weight: bold;
      font-size: 24pt;
      margin-bottom: @basefont;
    }
    p {
      margin-top: 0.25em;
      line-height: @basefont * 1.8;
      font-size: 14pt;
    }
  }
  #selling-points {
    ul li {
      padding-top: 2em;

      img {
        float: left;
        margin-right: 1em;
        height: 31px;
      }
    }
  }

  #movie-container {
    width: 307px;
    height: 307px;
  }
  #top-facts {
    ul li {
      padding-bottom: 1em;
      min-height: 50px;
      &:not(:last-child) {
        border-bottom: 1px solid #dbdbdb;
      }
      &:not(:first-child) {
        border-top: 1px solid #ffffff;
      }
      .wheel {
        width: 0px;
        height: 0px;
        float: left;
      }
      header {
        margin-left: 65px;
        padding-top: 10px;
        .head, sub {
          display: block;
          width: 205px;
          font-size: 8pt;
          font-family: "Helvetica", Arial, sans-serif;
          color: #888;
          .ellipsis();
        }
        .body {
          a {
            color: #505050;
            text-align: justify;
          }
          span a {
            color: @linkColor;
          }
        }
      }
    }
  }
  #signup {
    background-color: #e9f2e2;
    padding: 20px 20px 10px 20px;
    .border-radius(3px);
    border: 1px solid #e2eed9;
    p {
      font-size: 9pt;
      padding-bottom: 1em;
      margin-right: -0.5em;
    }
    input {
      margin-bottom: 1em;
    }
    input[type=submit] {
      float: right;
      margin-right: 0.9em;
    }
  }
  footer {
    border: none;
    margin-top: 1em;
    margin-bottom: 2em;
    a.bookmarklet {
      cursor: move;
    }
    ul {
      text-align: right;
      li {
        display: inline;
        &:not(:last-child):after {
          content: " | ";
        }
      }
    }
  }
  #feedback {
    position: fixed;
    top: 160px;
    background: url("/assets/feedback.png") top left no-repeat transparent;
    height: 97px;
    width: 37px;
    left: 0;
    a {
      text-indent: -10000em;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
