/*
 *= require bootstrap
 *= require_self
 *= require feedback
 *= require footer
 *= require topbar
*/

@import "bootstrap/variables";
@import "bootstrap/mixins";



body {
  background: @white;
}


.factlink-site {
  a {
    color: @linkColor;
  }
  #body {
    h1, h2, h3 {
      #font > .sans-serif(bold, @baseFontSize, @baseLineHeight);
      color: #303030;
    }
    h1 {
      font-size: 30px;
  	margin-bottom: 15px;
    }
    h2 {
      font-size: 20px;
  	margin-bottom: 10px;
    }
    h3 {
      margin-top: 23px;
      font-size: 14pt;
    }
    h4 {
      font-size: 12pt;
      font-weight: bold;
      margin-bottom: 6px;
    }
  }
  p, li, footer {
    #font > .sans-serif(normal, @baseFontSize, @baseLineHeight);
    color: #505050;
    list-style-type:none;
  }
  #body {
    padding: 63px 0 20px 0;
    .inner-shadow(0, 0px, 9px, 0.1);
    background-color: #f4f4f4;
    text-shadow: 0 1px 1px #fff;
    border: solid 1px rgba(0, 0, 0, 0.06);
  }

  #payoff {
	margin-bottom: 60px;
    h2 {
      font-weight: bold;
      font-size: 24pt;
      margin-bottom: 20px;
	  line-height: 36px;
    }
    p {
      margin-top: 0.25em;
      line-height: @baseFontSize * 1.8;
      font-size: 14pt;
    }
  }
  #selling-points {
    width: 270px;
    margin-right: 20px;
    ul {
      margin-left: 0;
      li {
        padding-top: 2em;
		font-size: 14px;
        img {
          float: left;
          margin-right: 1em;
          height: 31px;
        }
      }
    }
  }
  
  #top-facts {
    ul {
      margin-left: 0;
      
      li {
        padding-bottom: 1em;
        min-height: 50px;
        &:not(:last-child) {
          border-bottom: 1px solid #dbdbdb;
        }
        &:not(:first-child) {
          border-top: 1px solid #ffffff;
        }
        .wheel {
          width: 0px;
          height: 0px;
          float: left;
        }
        header {
          margin-left: 65px;
          padding-top: 10px;
		  .head {
		    display:none;
		  }
          sub {
            display: block;
            width: 205px;
            font-size: 8pt;
            color: #888;
            .ellipsis();
          }
          .body {
            a {
              color: #505050;
              text-align: justify;
            }
            span a {
              color: @linkColor;
            }
          }
        }
      }
    }
  }
  #signup {
    background-color: #e9f2e2;
    padding: 20px 20px 10px 20px;
    .border-radius(3px);
    border: 1px solid #e2eed9;
    p {
      font-size: 9pt;
      padding-bottom: 1em;
      margin-right: -0.5em;
    }
    input {
      margin-bottom: 1em;
    }
    input[type=text],
    input[type=email] {
      width: 237px;
    }
    input[type=submit] {
      float: right;
      margin-right: 0.9em;
    }
  }
  #body_text{
	p {
	  font-size: 15px;
	  margin-bottom: 1em;
	}
  }
  .team_photos {
    margin-bottom: 2em;
  }

  .address {
    line-height: 1.5em;
  }

  .enquiries{
	margin: 0;	
  }
}
