/*
 *= require_tree ./messages
 */

@import "bootstrap/mixins";
@import "bootstrap/variables";

#main-wrapper {
  header#conversation {
    color: @headerColor;
    padding: 0;
    white-space: nowrap;
    font-size: @baseFontSize;

    vertical-align: center;
    height: 48px;
    line-height: 48px;


  }
}

#main-wrapper .content {

  .conversation {
    margin: 0 -15px 0;
    padding: 0 15px 15px;
  }
}
