@import "frontend.css";
@import "grid";
@import "bootstrap";

body {
  background: #fff;
  width: 427px;
  font-family: "Lucida Grande", 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  padding: 10px 5px;
}

#container {
  padding: 0 !important;
  
  #header {
    overflow: auto;
    width: 100%;
    padding: 0 0 3px 0;
    border-bottom: 1px solid #ccc;
    color: #000;
  }
  
  span.float {
    float: left;
  }
  
  ul.float {
    padding: 0;
    margin: 0;
    float: right;

    li {
      vertical-align: middle;
      display: inline-block;
      margin: 0 3px;
    }
  }
    
  form {
    .row {
      position: relative;

      input, textarea {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 2px 5px;
        width: 410px;
        height: 20px;
      }

      textarea {
        height: 60px;
      }
    }
    
    input[type=submit] {
      margin: 5px 3px 0 0;
      float: right;
    }
  }
  
  #annotate_button {
    &:before { 
      #font > .iconic();
      content: "p "
    }
  }
}

div.alert-message {
  a.close {
    font-size: 20px;
    margin-top: -3px;
  }
}
