/*
 *= require bootstrap
 */

@import "bootstrap/variables";
@import "bootstrap/mixins";

html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  width: 460px;
  font-family: "Lucida Grande", 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  padding: 10px 5px 0;
}

#container {
  padding: 0 !important;

  #header {
    overflow: auto;
    border-bottom: 1px solid #ccc;
    color: #000;
    margin: 0 0 10px;
    padding: 0 0 5px;

    label {
      display: inline;

      input[type=checkbox] {
        display: inline;
      }
    }

    img {
      vertical-align: middle;
    }
  }

  label#annotate_button {
    display: inline-block;
  }

  textarea {
    color: #555;
    border: none;
    background: transparent;
    cursor: default;
    box-shadow: none;
    resize: none;
    height: 60px;
    line-height: 20px;
  }

  form.form-horizontal {
    margin: 0;
  }
}

div.alert-message {
  a.close {
    font-size: 20px;
    margin-top: -3px;
  }
}
