@import "bootstrap/variables";
@import "bootstrap/mixins";

.list-channel {
  width: 200px;
  float: left;
  margin-right: 10px;
}

.list-channel-avatar {
  float: left;
  margin-right: 10px;
  font-size: ;
}

.list-channel-user {
  color: #AFAFAF;
  font-style: italic;
  font-size: @baseFontSize * 0.9;
}

a.link-channel-link {
  text-decoration: none;
  color: #000;
}
