.search-results-capped-message {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  color: $metaFontColor;
}

.feed-activity-container.search-results {
  display: block;
  margin: 7px 0px;
}
