/* =============================================================================
Iconic font for icons
========================================================================== */

@font-face {
  font-family: 'IconicStroke';
    src: url("/fonts/iconic_stroke.eot");
    src: local('IconicStroke'),
       url("/fonts/iconic_stroke.svg#iconic") format('svg'),
	   url("/fonts/iconic_stroke.otf") format('opentype');
}
.iconic { 
  font-family: "IconicStroke";
}
body {
  #font > .sans-serif(normal,@basefont,@baseline);
  color: @grayDark;
}
// Links
a {
  color: @linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: @linkColorHover;
    text-decoration: underline;
    cursor: pointer;
  }
}
