/*
 *= require_tree ./topbar
 */

@import "bootstrap/mixins";
@import "bootstrap/variables";

// Our navbar is white :)
.navbar-inner {
  background: @navbarBackground;
  @shadow: 0 0px 3px rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);

  // IE Fix, don't show the gradient
  filter: none;
}
// Overwrite the default link styles
.navbar .nav > li > a {
  color: @linkColor;
  text-shadow: 0 -1px 0 rgba(255,255,255,.25);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: @linkColorHover;
  }
}

.navbar {
  div.field_with_errors {
    display: inline-block;
    label.message.help-inline {
      display: none;
    }
  }
}

// Overwrite caret color
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
  border-top-color: @black;
  .opacity(30);
}

// Overwrite Text color for the active dropdown text (defaults to white)
.dropdown.open {
  .dropdown-toggle {
    color: @linkColorHover;
  }
}

// Dividers (basically a vertical hr)
.navbar .divider-vertical {
  background-color: @navbarBackground;
  border-right: 1px solid @navbarBackgroundHighlight;
}

.navbar-search {
  .search-query {
    background: image-url("searchIcon.png") 8px center no-repeat #fff;
    padding-left: 28px;
    color: @gray;
    border: 1px solid #ccc;
    .border-radius(4px);
    padding-bottom: 5px;

    // Placeholder text gets special styles; can't be bundled together though for some reason
    &:-moz-placeholder {
      padding-top: 2px;
      color: @grayLight;
    }
    &::-webkit-input-placeholder {
      padding-top: 2px;
      color: @grayLight;
    }
    // Hover states
    &:hover {
      color: @grayDark;
      border: 1px solid @gray;
    }
    // Focus states (we use .focused since IE8 and down doesn't support :focus)
    &:focus,
    &.focused {
      padding-left: 28px;
      outline: 0;
      background-color: @white;
      color: @gray;
      text-shadow: 0 1px 0 @white;
      border: 1px solid @linkColor;
    }
  }
}
.navbar-search .search-query:focus,.navbar-search .search-query.focused {
  padding: 4px 9px 5px 28px;
}
.navbar #sign-in-form form{
  #cannot_access_account {
    float: right;
    margin-top: 1px;
    font-size: 11px;
  }

  margin: 0;
  .input-fields {
    #user_login, #user_login_password {
      margin: 0;
      margin-top: 5px;
    }
  }
}

.navbar a.bookmarklet {
  cursor: move;
}
.navbar a.bookmarklet::after {
  content: ' Bookmarklet';
}
html.chrome_extension_installed{
  .chrome_extension_download{
    display:none;
  }
}

.chrome_install{
  vertical-align: baseline;
  display:none;
}

html.chrome_without_extension{
  .chrome_install{
    display: inline;
  }
}

#steps {
  float: right;
  margin-top: 9px;
  li {
    float: left;
    margin-left: 20px;
    line-height: 22px;
    font-size: 16px;
    color: #777;
    padding-left: 25px;
    background: url(steps-arrow.png) no-repeat left center;
    span {
      float: left;
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      margin-right: 10px;
      color: #fff;
      font-weight: bold;
      background: url(steps.png) no-repeat top;
    }
    &.active {
      color: #5E8BA6;
      span {
        background-position: bottom;
      }
    }
    &:first-child {
      padding: 0;
      background: none;
    }
  }
}
