@import "variables";
@import "mixins/blocks";

body {
  font-family: $baseFontFamily;
  padding-top: 20px;
  min-width: 1px; // to overwrite our base rule of 960px
}

.fluid-container {
  width: 500px;
  max-width: 90%;
  margin: auto;
}

.container-box {
  @extend %white-block-with-shadow;
  padding: 10px;
  text-align: center;
}

.unsubscribe-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
