// VARIABLES KENNISLAND

// Base elements
// -------------------------------------------------

%logo {
  height: 20px;
  width: 220px;
  background: asset-data-url("base/topbar/logo-fgf.svg") 0 0 no-repeat;
}
