@import "bootstrap/variables";
@import "bootstrap/mixins";

.auto-complete-results-container {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      background: #f0f0f0;
      .box-sizing(border-box);
      color: @metaFontColor;
      margin: 0 0 5px;
      padding: 7px 10px 7px 9px;
      .border-radius(3px);
      border: 1px solid @baseBorderColor;
      font-size: @baseFontSize;
      .box-shadow(inset 0 1px 1px rgba(255, 255, 255, .5));

      > a {
        font-weight: normal;
      }

      > a.icon-remove {
        cursor: pointer;
        float: right;
        .opacity(.40);
        position: relative;
        top: 2px;

        &:hover {
          .opacity(1);
        }
      }

      > input {
        display: none;
      }
    }
  }
}
