@import "bootstrap/mixins";

@border-radius: 5px;
@inner-border-radius: 4px;

.auto-complete-search-list-container {
  position: relative;
  margin-top: -3px;

  .auto-complete-search-list {
    background: white;
    border: 1px solid #ccc;
    .box-sizing(border-box);
    .border-bottom-radius(@border-radius);

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .17);

    overflow-y: auto;
    max-height: 155px;

    .auto-complete-search-list-item {
      cursor: pointer;
      font-weight: 200;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      overflow: hidden;

      padding: 5px 10px 3px;
      .ellipsis(100%);
      text-shadow: 0 1px 0 rgba(255,255,255, 0.5);

      &.selected {
        background-color: #ebf3f9;

        border-top: 1px solid #d9e5ef;
        border-bottom: 1px solid #d9e5ef;
      }

      em {
        color: @linkColor;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}
