@focusOverlayBaseZindex: 100;

.focus-overlay, .focus-overlay-transparent {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
}

.focus-overlay {
  background: rgba(240, 240, 240, 0.7);
  z-index: @focusOverlayBaseZindex;
}

.focus-overlay-element {
  z-index: @focusOverlayBaseZindex+1 !important;
}

.focus-overlay-transparent {
  background: rgba(0,0,0,0.0);
  z-index: @focusOverlayBaseZindex+2;
}
