.notification-center-alerts {
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 1060; // Highest found was 1050, modal window
  text-align: center;
}

.notification-center-alert {
  display: inline-block;
}
