@import "bootstrap/mixins";

.notification-center-alerts {
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 1060; // Highest found was 1050, modal window
  visibility: hidden;
}

.notification-center-alert-container {
  margin-bottom: 10px;
  text-align: center;
}

.notification-center-alert {
  display: inline-block;
  padding: 7px 17px;
  border: 1px solid transparent;
  border-radius: 4px;
  visibility: visible;
}

.notification-center-alert-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @errorText;
}

.notification-center-alert-success {
  background-color: @successBackground;
  border-color: @successBorder;
  color: @successText;
}

.notification-center-alert-close {
  color: @grayLight;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: @gray;
  }
}

.notification-center-alert-success .notification-center-alert-close {
  display: none;
}
