<div id="activity-listing">
	
	<h1><%= link_to("#{activities.first.user.user.username}'s activity", user_activity_path(activities.first.user.user.username)) %></h1>
	
	<%= activity_list(activities, nr=0) %>

</div>