#fl .resetStyles {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: none;
  border-collapse: collapse;
  border: 0;
  text-decoration: none  !important;
  text-align: left;
  text-transform: none;
  border-spacing: 0;
  float: none;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  vertical-align: baseline;
  font-size: 100%;
  box-shadow: none;
  white-space: normal;
  text-shadow: none;
  list-style: none;
  list-style-type: none;
  color: #000;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Actual styles start */.fl-float-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #a8a8a8;
  background: #f6f6f6;
  padding: 6px;
  position: relative;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.fl-float-box:hover {
  border: solid 1px #555;
}
.text-shadow {
  text-shadow: 0px 1px 0px #fff;
}
#fl {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: none;
  border-collapse: collapse;
  border: 0;
  text-decoration: none  !important;
  text-align: left;
  text-transform: none;
  border-spacing: 0;
  float: none;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  vertical-align: baseline;
  font-size: 100%;
  box-shadow: none;
  white-space: normal;
  text-shadow: none;
  list-style: none;
  list-style-type: none;
  color: #000;
  font-size: 0.8em;
  font-family: "Helvetica", Arial, sans-serif;
}
#fl *, #fl * * {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: none;
  border-collapse: collapse;
  border: 0;
  text-decoration: none  !important;
  text-align: left;
  text-transform: none;
  border-spacing: 0;
  float: none;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  vertical-align: baseline;
  font-size: 100%;
  box-shadow: none;
  white-space: normal;
  text-shadow: none;
  list-style: none;
  list-style-type: none;
  color: #000;
}
#fl .fl-popup {
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e2e2e2, #ffffff);
  background: -moz-linear-gradient(center bottom, #e2e2e2 0%, #ffffff 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  height: 24px;
  z-index: 2147483644;
  border: solid 1px #a8a8a8;
}
#fl .fl-popup:hover {
  border: solid 1px #555;
}
#fl .fl-popup:hover .fl-arrow {
  background-position: 12px 0px !important;
}
#fl .fl-popup:hover > ul.fl-channels, #fl .fl-popup:hover > ul.fl-add-options {
  border: solid 1px #555;
}
#fl .fl-popup.fl-popup-create {
  width: 72px;
}
#fl .fl-popup.fl-popup-create > div.fl-label > span {
  width: 72px;
  margin: 0;
}
#fl .fl-popup.channel-active.bottom {
  border-bottom-left-radius: 0;
}
#fl .fl-popup.channel-active.bottom > div.fl-share {
  border-bottom-left-radius: 0;
}
#fl .fl-popup.channel-active.bottom > ul.fl-channels {
  border-top-left-radius: 0;
}
#fl .fl-popup.channel-active.top {
  border-top-left-radius: 0;
}
#fl .fl-popup.channel-active.top > div.fl-share {
  border-top-left-radius: 0;
}
#fl .fl-popup.channel-active.top > ul.fl-channels {
  border-bottom-left-radius: 0;
}
#fl .fl-popup.channel-active > div.fl-share {
  background: #e2e2e2;
}
#fl .fl-popup.channel-active > ul.fl-channels {
  display: block;
}
#fl .fl-popup .fl-label {
  text-align: center;
  overflow: auto;
}
#fl .fl-popup .fl-label > span {
  float: left;
  line-height: 24px;
  margin: 0 8px;
  /*        margin-left: 8px;*/

  display: inline-block;
  min-width: 40px;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
}
#fl .fl-popup .fl-label .fl-indication {
  float: right;
  overflow: auto;
}
#fl .fl-popup .fl-label .fl-indication .fl-authority {
  float: left;
  margin: 0 3px 0 0;
  color: #a0a0a0;
  font-size: 0.8em;
  line-height: 24px;
}
#fl .fl-popup .fl-label .fl-indication .fl-icon {
  float: right;
  margin-top: 2px;
  padding-right: 4px;
  width: 17px;
  height: 20px;
  background-repeat: none;
  background-color: transparent;
}
#fl .fl-popup .fl-label .fl-indication .fl-icon.believe {
  background-position: 1px 0px !important;
}
#fl .fl-popup .fl-label .fl-indication .fl-icon.disbelieve {
  background-position: 41px 0px !important;
}
#fl .fl-popup .fl-label .fl-indication .fl-icon.doubt {
  background-position: 21px 0px !important;
}
#fl .fl-popup .fl-add-options {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #a8a8a8;
  background: #f6f6f6;
  padding: 6px;
  position: relative;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  /*      display: none;*/

  position: absolute;
  top: 0;
  margin: -1px 0 0 0;
  padding: 0px;
  z-index: 2147483644;
}
#fl .fl-popup .fl-add-options:hover {
  border: solid 1px #555;
}
#fl .fl-popup .fl-add-options li {
  padding: 2px 12px;
  margin: 3px 0px;
}
#fl .fl-popup .fl-add-options li:hover {
  background: #4e9cb5;
  background: #605df5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3600e6), color-stop(1, #605df5));
  background: -ms-linear-gradient(bottom, #3600e6, #605df5);
  background: -moz-linear-gradient(center bottom, #3600e6 0%, #605df5 100%);
  cursor: pointer;
}
#fl .fl-popup .fl-add-options li:hover a {
  color: #fff;
  text-shadow: 0px 0px 0px transparent;
  font-weight: 100;
}
#fl .fl-popup .fl-add-options li a {
  display: block;
  padding: 2px 0px;
  text-shadow: 0px 1px 0px #fff;
}
#fl .fl-popup .fl-add-options.right {
  top: 0;
  left: 72px;
}
#fl .fl-popup .fl-add-options.left {
  top: 0;
}
#fl .fl-popup .fl-share {
  float: left;
  padding: 6px 4px;
  border-top: solid 1px transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px #d1d1d1;
  border-bottom: solid 1px transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#fl .fl-popup .fl-share:hover {
  background: #e2e2e2;
}
#fl .fl-popup .fl-channels {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #a8a8a8;
  background: #f6f6f6;
  padding: 6px;
  position: relative;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 0.9em;
  margin-left: -1px;
  z-index: 2147483644;
  position: absolute;
}
#fl .fl-popup .fl-channels:hover {
  border: solid 1px #555;
}
#fl .fl-popup .fl-channels li {
  padding: 4px 0px;
}
#fl .fl-popup .fl-channels li label {
  white-space: nowrap;
}
#fl .fl-popup .fl-channels li label > input {
  margin-right: 5px;
}
#fl .fl-popup .fl-arrow {
  width: 12px;
  height: 8px;
  position: absolute;
  left: 24px;
}
#fl .fl-popup .fl-arrow.fl-arrow-top {
  background-image: url(../images/arrows-top.png);
  top: -8px;
}
#fl .fl-popup .fl-arrow.fl-arrow-bottom {
  background-image: url(../images/arrows-bottom.png);
  top: 100%;
}
