@import "reset.less";
@import "elements.less";

/* Actual styles start */ 
@z-index      : 2147483644; 
@hover-color  : darken(rgb(240,240,240), 10);
@bg-color-stop: #fbfbfb;
@bg-color     : #e2e2e2;
@popup-width  : 108px;
@popup-create-width: 72px;
@popup-height : 24px;
@border-color : #a8a8a8;
@border-hover-color: #1d8cc8;
@context-menu-highlight-color: #4E9CB5;

@pink: #e6007e;

// Offset for the floating boxes
@positioning-y-offset: 3;

span.factlink {
  cursor: pointer;

  &.fl-first {
    padding: 0 3px 0 0;
  }

  &.fl-active {
    background: #B4D5FE !important;
  }

  -webkit-transition: all 0.4s ease-in-out;
}

.fl-float-box {
  .rounded(3px);
  border: solid 1px @border-color;
  background: lighten(@bg-color, 8);
  padding: 6px;
  position: relative;
  
  .drop-shadow(1px, 2px, 3px, 0.20);
  
  &:hover {
    border: solid 1px #555;
  }
}

.text-shadow {
  text-shadow: 0px 1px 0px #fff;
}
        
#fl {
  #fl > .reset;
  font-size: 0.8em;
  font-family: "Helvetica", Arial, sans-serif;
  height: 0;
  width: 0;
  
  .fl-popup {
    .gradient(@bg-color, @bg-color,  lighten(@bg-color, 30));
    .rounded(3px);
    .drop-shadow(1px, 2px, 3px, 0.20);
    

    
    position: absolute;
    display: inline-block;
    height:   @popup-height;
    z-index:  @z-index;
    border:   solid 1px @border-color;
    
    &:hover {
      border: solid 1px #555;
      
      .fl-arrow {
        background-position: 12px 0px !important;
      }
      
      >ul.fl-channels,
      >ul.fl-add-options {
        border: solid 1px #555;
      }
    }
    
    &.fl-popup-create {
      width: @popup-create-width;

      >div.fl-label > span {
        width: @popup-create-width;
        margin: 0;
      }
    }
    
    &.channel-active {
      &.bottom {
        border-bottom-left-radius: 0;
        
        >div.fl-share {
          border-bottom-left-radius: 0;
        }
        
        >ul.fl-channels {
          border-top-left-radius: 0;
        }
      }
      
      &.top {
        border-top-left-radius: 0;
        
        >div.fl-share {
          border-top-left-radius: 0;
        }
        
        >ul.fl-channels {
          border-bottom-left-radius: 0;
        }
      }
      
      >div.fl-share {
        background: @bg-color;
      }
      
      >ul.fl-channels {
        display: block;
      }
    }
        
    .fl-label {
      text-align: center;
      overflow: auto;
      
      > span {
        float: left;  
        line-height: @popup-height;
        margin: 0 8px;
/*        margin-left: 8px;*/
        display: inline-block;
        min-width: 40px;
        text-align: center;
        .text-shadow;
      }
      
      .fl-indication {
        float: right;
        
        overflow: auto;
       
        .fl-authority {
          float: left;
          margin: 0 3px 0 0;
          color: #a0a0a0;
          font-size: 0.8em;
          line-height: @popup-height;
          
        }
        .fl-icon {
          float: right;
          margin-top: 2px;
          padding-right: 4px;
          width: 17px;
          height: 20px;
          background-repeat: none;
          background-color: transparent;

          &.believe {
            background-position: 1px 0px !important;
          }
          &.disbelieve {
            background-position: 41px 0px !important;
          }
          &.doubt { 
            background-position: 21px 0px !important;
          }
        } 
      }
    }

    // Create
    .fl-add-options {
      .fl-float-box;
/*      display: none;*/
      position: absolute;
      top: 0;
      
      margin: -1px 0 0 0;
      padding: 0px;
      z-index: @z-index;
      
      li {        
        padding: 2px 12px;
        margin: 3px 0px;
        
        &:hover {
          background: @context-menu-highlight-color;
          .gradient(rgba(96,93,245,1), rgb(54,0,230),  rgb(96,93,245));
          cursor: pointer;
          
          a { 
            color: #fff;
            text-shadow: 0px 0px 0px transparent;
            font-weight: 100;
          }
        }
        
        a {
          display: block;
          padding: 2px 0px;
          .text-shadow;
        }
      }
      
      &.right {
        top: 0;
        left: @popup-create-width;
      }
      &.left {
        top: 0;
      }
    }

    // Indicator
    .fl-share {
      float: left;
      padding: 6px 4px;
      .bordered(transparent, lighten(@border-color, 16), transparent, transparent);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      
      &:hover {
        background: @bg-color;
      }
    }
    .fl-channels {
      .fl-float-box;
      
      display: none;
      font-size: 0.9em;
      margin-left: -1px;        // Position underneath popup
      z-index: @z-index;
      position: absolute;
      
      li {
        padding: 4px 0px;
                
        label {
          white-space: nowrap;
          > input {
            margin-right: 5px;
          }
        }
      }
    }

    .fl-arrow {
      width: 12px;
      height: 16px;
      position: absolute;
      left: 24px;      

      &.fl-arrow-bottom {
        top: 100%;
      }
      
      &.fl-arrow-top {
        top: -15px;
      }
    }
  }
}