/*---------------------------------------------------
		Some LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
/*-----------------------------------------------------*/
span.factlink {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
}
span.factlink.fl-first {
  padding: 0 3px 0 0;
}
span.factlink.fl-active {
  background: #B4D5FE !important;
}
div#factlink-modal-frame {
  background: transparent;
  border: none;
  z-index: 2147483647;
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
div#factlink-modal-frame iframe {
  border: none;
  height: 100%;
  width: 100%;
}
div#factlink-indicator {
  display: none;
  position: absolute;
  top: 200px;
  left: 200px;
  height: 49px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #eee;
  cursor: pointer;
  padding: 5px 4px 0;
  margin: 0;
}
div#factlink-indicator img {
  vertical-align: top;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}
div#factlink-indicator ul {
  vertical-align: top;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
div#factlink-indicator ul li {
  display: inline-block;
  min-height: 10px;
  width: 14px;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
div#factlink-indicator ul li div {
  margin: 0 auto;
}
div#factlink-indicator ul li.fl-bar-proves {
  left: 30px;
}
div#factlink-indicator ul li.fl-bar-proves div {
  background: #52d623;
  height: 100%;
}
div#factlink-indicator ul li.fl-bar-maybe {
  left: 15px;
}
div#factlink-indicator ul li.fl-bar-maybe div {
  background: #ffe400;
  height: 100%;
}
div#factlink-indicator ul li.fl-bar-denies {
  left: 0;
}
div#factlink-indicator ul li.fl-bar-denies div {
  background: #ff6136;
  height: 100%;
}
.popup-style {
  z-index: 13371337;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border-top: 1px solid #c8c8c8;
  font-size: 9pt;
  font-family: "Helvetica", Arial, sans-serif;
  vertical-align: baseline;
  box-shadow: 2px 4px 6px rgba(123, 123, 123, 0.5);
}
div.fl-popup {
  z-index: 13371337;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border-top: 1px solid #c8c8c8;
  font-size: 9pt;
  font-family: "Helvetica", Arial, sans-serif;
  vertical-align: baseline;
  box-shadow: 2px 4px 6px rgba(123, 123, 123, 0.5);
  text-align: center;
  padding: 4px;
}
div.fl-popup .button {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #45bf55), color-stop(1, #93ec87));
  background: -moz-linear-gradient(center bottom, #45bf55 0%, #93ec87 100%);
  display: block;
  padding: 0px 6px;
  border: solid 1px #45bf55;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #fff;
  height: 24px;
}
div.fl-popup .button:hover {
  cursor: pointer;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #93ec87), color-stop(1, #45bf55));
  background: -moz-linear-gradient(center bottom, #93ec87 0%, #45bf55 100%);
}
div.fl-popup .button:active {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #72cc64), color-stop(1, #3ca648));
  background: -moz-linear-gradient(center bottom, #72cc64 0%, #3ca648 100%);
}
div#fl-prepare {
  z-index: 13371337;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border-top: 1px solid #c8c8c8;
  font-size: 9pt;
  font-family: "Helvetica", Arial, sans-serif;
  vertical-align: baseline;
  box-shadow: 2px 4px 6px rgba(123, 123, 123, 0.5);
  display: none;
}
div#fl-prepare ul {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Helvetica", Arial, sans-serif;
}
div#fl-prepare ul li {
  position: relative;
  white-space: nowrap;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  padding: 2px 0px;
  cursor: pointer;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 9pt;
}
div#fl-prepare ul li.first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div#fl-prepare ul li.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div#fl-prepare ul li > span > a {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 2px 18px;
  line-height: 14px;
  display: block;
  border-radius: 1px;
  font-family: "Helvetica", Arial, sans-serif;
}
div#fl-prepare ul li > span > a:hover, div#fl-prepare ul li > span > a.test {
  border-top: solid 1px #5853EA;
  padding: 1px 18px 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #605df5), color-stop(0, #3600e6));
  color: #fff;
}
div#fl-prepare ul li a {
  color: #000;
  text-decoration: none;
  font-family: "Helvetica", Arial, sans-serif;
}
div#fl-prepare ul li img {
  margin: 0 2px 0 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  top: 3px;
  display: inline;
}
