<div class="js-region-evidence-sub-comment-poparrow"></div>
<div class="ndp-evidenceish-content">
  {{content}}
</div>

<div class="ndp-evidenceish-bottom bottom-base">
  <ul class="bottom-actions">
    <li class="posted-time-ago bottom-action">
      <span class="factlink-icon-time-small"></span> {{time_ago}} {{ global.t.ago }}
    </li>
  </ul>
</div>
