<div class="js-region-evidence-sub-comment-poparrow"></div>
<div class="ndp-evidenceish-content ndp-evidenceish-text">{{content}}</div>

<div class="ndp-evidenceish-bottom bottom-base">
  <ul class="bottom-actions">
    <li class="bottom-action-time bottom-action">
      <span class="factlink-icon-time-small"></span> {{time_ago}} {{ global.t.ago }}
    </li>
  </ul>
</div>
