<div class="js-region-evidence-sub-comment-poparrow"></div>
<img src="{{ creator.avatar_url_32 }}" height="32" width="32">
<a href="/{{ creator.username }}" rel="backbone">
  {{ creator.name }}
</a>
{{content}}
