<div class="js-alert js-alert-error alert alert-error hide">
  Your comment could not be posted, please try again.
  <a class="close" href="#" data-dismiss="alert">x</a>
</div>

<div class="js-region-textarea"></div>

<button class="js-submit button button-confirm button-small sub-comments-add-submit">{{global.t.post_comment}}</button>
