<div class="ndp-sub-comment-line-top"></div>
<div class="ndp-sub-comment-line-bottom"></div>
<div class="ndp-sub-comment-line-horizontal"></div>
<div class="ndp-sub-comment-circle"></div>

<div class="discussion-evidenceish-box">
  <div class="js-heading-region"></div>
  <div class="js-inner-region"></div>
</div>
