<div class="discussion-evidenceish-content discussion-evidenceish-text">{{{formatted_comment_content}}}</div>

<div class="comment-bottom">
  <ul class="comment-bottom-actions">
    <li class="comment-bottom-action comment-bottom-action-time">
      <i class="icon-time"></i> {{time_ago}} {{ global.t.ago }}
    </li>

    {{#showDelete}}
      <li class="comment-bottom-action comment-bottom-action-delete js-delete-region"></li>
    {{/showDelete}}
  </ul>
</div>
