<div class="evidence-sub-comments-link"><a class="js-sub-comments-link"></a></div>
<div class="js-sub-comments-list-container evidence-sub-comments-list-container hide">
  <div class="evidence-sub-comments-arrow"></div>
  <div class="js-region-sub-comments-list"></div>
  <div class="js-region-sub-comments-form"></div>
</div>
