<div class="js-region-evidence-sub-comment-poparrow"></div>
<img class="evidence-sub-comments-avatar" src="{{ creator.avatar_url_32 }}" class="image-32px">
<div class="evidence-sub-comment-author">
  <strong>
    {{#global.signed_in}}
    <a href="/{{ creator.username }}" rel="backbone">
    {{/global.signed_in}}
      {{ creator.name }}
    {{#global.signed_in}}
    </a>
    {{/global.signed_in}}
  </strong>
  ( <img src="{{global.brain_image}}"> <span class="evidence-sub-comment-authority">{{ creator.authority }}</span> )

  <span class="pull-right evidence-sub-comment-time-ago">{{time_ago}} {{ global.t.ago }}</span>
</div>
<div class="evidence-sub-comment-content">{{content}}</div>
