<div class="js-region-evidence-sub-comment-popover"></div>
<img class="evidence-sub-comments-avatar" src="{{ creator.avatar_url_32 }}" height="32" width="32">
<div class="evidence-sub-comment-author">
  <strong>
    <a href="/{{ creator.username }}" rel="backbone">{{ creator.username }}</a>
  </strong>
  ( <img src="{{global.brain_image}}"> <span class="evidence-sub-comment-authority">{{ creator.authority }}</span> )
</div>
<div class="evidence-sub-comment-content">{{content}}</div>
