<!DOCTYPE html>
<html>
<head>
	<title>Intermediate action</title>
	<script type="text/javascript" src="/client/easyXDM/work/easyXDM.min.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		
		iframe {
			height: 100%;
			width: 100%;
			border: 0;
		}
	</style>
	<script type="text/javascript">
		var remote = new easyXDM.Rpc({
				swf: "/client/easyXDM/src/easyxdm.swf"
			}, {
				remote: {
					alertMessage: {},
					realAlertMessage: {}
				},
				local: {}
			});

		function getForm() {
			remote.realAlertMessage("testing");				
			return document.getElementsByTagName("form")[0];
		}
	</script>
</head>
<body>
	<form method="post" action="http://development.factlink.com/factlink/new">
		<input type="text" name="url" value="<%= @url %>">
		<textarea name="passage">
			<%= @passage %>
		</textarea>
		<input type="text" name="fact" value="<%= @fact %>">
	</form>
	<iframe src="<%= eval @path %>"></iframe>
</body>
</html>