<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			html, body, div, span, a, ul, li{
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			body {
				line-height: 1;
			}
			.context {
				position: relative;
				float: left;
			}
			.context ul {
				display: none;
				position: absolute;
				padding: 5px 0;
				background: #ccc;
				color: #000;
				top: -5px;
				left: 100%;
				list-style: none;
			}
			.context > ul {
				top: 0;
				display: block;
			}
			.context li {
				position: relative;
				white-space: nowrap;
				padding: 5px 10px;
				cursor: pointer;
				font-family: "Helvetica", Arial, sans-serif;
				font-size: 9pt;
			}
			.context a {
				color: #000;
				text-decoration: none;
			}
			.context li:hover {
				background: #eee;
			}
			.context:hover > ul,
			.context li:hover > ul {
				display: block;
			}
			form input, form textarea {
				display: none;
			}
		</style>
	</head>
	<body>
		<form method="post" action="http://development.factlink.com/factlink/new">
			<div class="context">
				<ul>
					<li>
						I know
						<ul>
							<li>
								something that
								<ul>
									<li><a onclick="getForm(this).submit();" href="javascript:void();">supports this</a></li>
									<li><a onclick="getForm(this).submit();" href="javascript:void();">weakens this</a></li>
									<li><a onclick="getForm(this).submit();" href="javascript:void();">proves this</a></li>
									<li><a onclick="getForm(this).submit();" href="javascript:void();">refutes this</a></li>
								</ul>
							</li>
							<li>
								<a onclick="getForm(this).submit();" href="javascript:void();">topics
							</li>
							<li>
								someone who
								<ul>
									<li><a onclick="getForm(this).submit();" href="javascript:void();">should participate</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						I want
						<ul>
							<li>
								<a onclick="getForm(this).submit();" href="javascript:void();">to know about</a>
							</li>
							<li>
								<a onclick="getForm(this).submit();" href="javascript:void();">ask/tell someone about</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
			<input type="text" name="url" value="<%= @url %>">
			<textarea name="passage">
				<%= @passage %>
			</textarea>
			<input type="text" name="fact" value="<%= @fact %>">
		</form>
		
		<script type="text/javascript">
			function getForm(el) {
				parent.remote.realAlertMessage("testing");				
				while (el) {
					if (el.tagName.toLowerCase() === "form")
						return el;
					el = el.parentNode;
				}
				return 0;
			}
		</script>
	</body>
</html>