<form accept-charset="UTF-8" action="/search" method="get">
	<input id="q" name="q" type="text" value="<%= params[:q] %>" placeholder="Search"> 
</form>

<hr>

<pre>Search results:</pre>

<% unless params[:q] %>

	<pre>No query...</pre>

<% else %>

	<% unless @search.results.count > 0  %>

		<pre>Sorry, no results...</pre>
	
	<% else %>
		<% @search.each_hit_with_result do |hit, factlink| %>
			<li>Hit.score: <%= hit.score %></li>
			<li>Factlink: <%= factlink.displaystring %></li>
			<hr>
		<% end %>
	<% end %>

<% end %>
