$arrowSize: 6px;
$buttonHeight: 30px;
$buttonBackground: #444;
$buttonHoverBackground: #222;
$buttonPadding: 6px;
$iconWidth: 20px;
$buttonSmallWidth: $iconWidth + $buttonPadding * 2;

.fl-button {
  @extend %default-font;
  cursor:   pointer;
  display: block;
  white-space: nowrap;
  text-align: center;
  position: relative;
  min-width: $buttonSmallWidth;

  border-radius: 3px;
  line-height: $buttonHeight;
  background-color: $buttonBackground;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);

  margin-bottom: $arrowSize;

  &:after {
    content: '';
    position: absolute;
    bottom: -$arrowSize;
    left: $buttonSmallWidth / 2;
    margin-left: -$arrowSize;

    border: $arrowSize solid transparent;
    border-top-color: $buttonBackground;
    border-bottom-width: 0;
  }

  &:hover {
    background-color: $buttonHoverBackground;
  }

  &:hover:after {
    border-top-color: $buttonHoverBackground;
  }
}

.fl-button-sub-button {
  display: inline-block;
  height: $buttonHeight;
  padding: 0 $buttonPadding;
  border-left: 1px solid #666;
  background-color: $buttonBackground;

  &:hover {
    background-color: $buttonHoverBackground;
  }
  &:last-child {
    margin-right: -$buttonPadding;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.fl-button-content-hovered, .fl-button-content-loading {
  display: none;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 $buttonPadding;
}

.fl-button-state-hovered, .fl-button-state-loading {
  .fl-button-content-default {
    display: none;
  }
  .fl-button-content-hovered, .fl-button-content-loading {
    display: block;
  }
}

.fl-button-state-hovered .fl-button-content-hovered,
.fl-button-state-loading .fl-button-content-loading {
  height: auto;
}

.fl-button-icon:before, .fl-button-icon-add:before {
  content: url("../images/logo-white.png");
  display: inline-block;
  vertical-align: middle;
  width: $iconWidth;
  height: 24px;
}

.fl-button-icon-add:before {
  content: url("../images/logo-white-add.png");
}

// keep in sync with core .striped
@mixin striped($angle: 45deg, $stripeColor: rgba(255,255,255,.15)) {
  background-image: -webkit-linear-gradient($angle, $stripeColor 25%, transparent 25%, transparent 50%, $stripeColor 50%, $stripeColor 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $stripeColor 25%, transparent 25%, transparent 50%, $stripeColor 50%, $stripeColor 75%, transparent 75%, transparent);
}

@mixin loading-stripes-keyframes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@-webkit-keyframes loading-stripes { @include loading-stripes-keyframes; }
// IE9
@-ms-keyframes loading-stripes { @include loading-stripes-keyframes; }
// Spec
@keyframes loading-stripes { @include loading-stripes-keyframes; }

@mixin animate-stripes($seconds: 1.5s) {
  -webkit-animation:  loading-stripes $seconds linear infinite;
  animation:          loading-stripes $seconds linear infinite;
}

.fl-button-content-loading {
  background-size: 40px 40px;
  @include striped;
  @include animate-stripes;
}
