$borderRadius: 3px;
$arrowSize: 6px;
$buttonBackground: #444;
$buttonHoverBackground: #222;
$buttonWidth: 32px;

.fl-button {
  @extend %default-font;
  cursor: pointer;
  display: block;
  text-align: center;
  position: relative;
  width: $buttonWidth;
  white-space: nowrap;
  font-size: 16px;
  border-radius: $borderRadius;
  line-height: 28px;
  padding-top: 2px;
  background-color: $buttonBackground;

  margin-bottom: $arrowSize;

  &:after {
    content: '';
    position: absolute;
    bottom: -$arrowSize;
    left: $buttonWidth / 2;
    margin-left: -$arrowSize;

    border: $arrowSize solid transparent;
    border-top-color: $buttonBackground;
    border-bottom-width: 0;
  }
}

.hovered .fl-button {
  background-color: $buttonHoverBackground;

  &:after {
    border-top-color: $buttonHoverBackground;
  }
}

.fl-button-icon {
  @extend %comment-icon;
  background: white;

  &:before {
    content: '+';
  }

  &:after {
    @extend %comment-icon-triangle;
    content: '';
    border-top-color: white;
  }
}
