factlink-core-container {
  @extend %frame-styles;
  display: block;
  visibility: hidden;
  z-index: $max-z-index;

  > .factlink-control-frame {
    @extend %frame-styles;
    @extend %fadable-control;
    z-index: 0;
  }

  > .factlink-control-frame-proxy-message  {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  > .factlink-control-frame-environment-message {
    position: fixed;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    z-index: 3;
  }

  > #factlink-sidebar-frame {
    @extend %frame-styles;

    position: fixed;
    width: 100%;
    height: 100%;
    visibility: visible;

    z-index: 1; // below proxy message

    // iOS Safari seems to have trouble with visibility:hidden iframe.
    // And Firefox has trouble with display:none iframe (http://jsfiddle.net/UzZ28/3/)
    // Therefore, just move the iframe far, far away.
    // This also helps when developing, as the inspector inspects invisible
    // elements also, which is very annoying.
    left: -100000px;
    top: -100000px;

    &.factlink-sidebar-frame-visible {
      left: 0;
      top: 0;
    }
  }
}
