#factlink-containment-wrapper {
  @extend %frame-styles;
  visibility: hidden;

  > #factlink-iframe {
    @extend %frame-styles;
    display: none;
    visibility: hidden;
  }

  > .factlink-control-frame {
    @extend %frame-styles;
    @extend %fadable-control;
    z-index: $max-z-index - 1;
  }

  > #factlink-sidebar-frame {
    @extend %frame-styles;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: $max-z-index;
    visibility: visible;

    // iOS Safari seems to have trouble with visibility:hidden iframe.
    // For this iframe using display works fine, as animations and such are
    // done inside the iframe.
    // This also helps when developing, as the inspector inspects invisible
    // elements also, which is very annoying.
    display: none;

    &.factlink-sidebar-frame-visible {
      display: block;
    }
  }
}
