%frame-styles {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: none;
  max-height: none;
  float: none;
  z-index: $max-z-index;
  display: block;

  // options below are overridden elsewhere
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
// visibility is set in %fadable-control
