%frame-styles {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: none;
  max-height: none;
  float: none;
  display: block;

  // NO IDEA! This fixes a crazy Chrome bug where nothing is
  // rendered at all (except when resizing the window)
  -webkit-backface-visibility: hidden;

  // options below are overridden elsewhere
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

// visibility is set in %fadable-control
