.fl-icon-button {
  @extend %default-font;
  cursor: pointer;
  display: block;
  opacity: 0.4;
  transition: opacity $highlight_visibility_transition_time;
  white-space: nowrap;

  &.hovered {
    opacity: 1;
  }
}
