factlink-show-button,
factlink-paragraph-button {
  @extend %default-font;
  @extend %fadable-control;
  cursor: pointer;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  transition: opacity $highlight_visibility_transition_time;
  white-space: nowrap; // TODO: remove when removing ugly '+' from add icon
  //we need to reserve some space around the icons so the text-shadow doesn't get cut off.
  margin: 5px; //keep in sync with icon_buttons.coffee
  position: absolute;
  z-index: $max-z-index - 1;
  font-size: 13px;
  line-height: normal;

  &:hover {
    color: black;
  }

  &:before {
    @extend %icon-font;
    content: '\e80f';
    text-shadow: -1px -1px 1.5px white, 1px -1px 1.5px white, -1px 1px 1.5px white, 1px 1px 1.5px white;
  }
}

factlink-paragraph-button:after {
  content: '+';
  position:absolute;
  top:1px;
  font-weight:bold;
  font-size:85%;
  left:0;
  right:0.5px;
  text-align:center;
  color:white;
  -webkit-font-smoothing: antialiased;
}
