factlink-icon-button {
  @extend %fadable-control;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: $max-z-index - 1;
  margin-left: 0.5em;
}

factlink-bubble-icon {
  @extend %default-font;

  position: relative;
  display: inline-block;
  min-width: 1.4em;
  height: 1.1em;
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-size: 80%;
  line-height: 1;
  vertical-align: text-top;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.5;
}

factlink-icon-button:hover factlink-bubble-icon {
  opacity: 1;
}

factlink-bubble-icon-triangle {
  position: absolute;
  display: block;

  top: 1em;
  left: 20%;
  border-style: solid;
  border-width: 0.43em 0.55em 0 0;
  border-color: transparent;
}
