.proxy-message {
  @extend %default-font;

  background: rgba(0, 0, 0, 0.9);
  opacity: 0.7;
  border-radius: 5px;
  color: white;
  padding: 10px;
  padding-right: 40px;
  display: none;

  a {
    color: white;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 2px;
    padding: 7px;
  }
}

@media only screen and (min-device-width: 500px) {
  .proxy-message {
    display: block;
  }
}
