.proxy-message {
  @extend %default-font;

  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  display: none;

  ul {
    padding-left: 20px;
    margin: 5px 0;
  }

  a {
    color: white;
  }
}

@media only screen and (min-device-width: 500px) {
  .proxy-message {
    display: block;
  }
}
