$max-z-index  : 2147483647;
$z-index      : $max-z-index - 3;
$border-color : #1c5c90;

$control_visibility_transition_time : 300ms; //keep in sync with coffeescript
$highlight_visibility_transition_time: 200ms;

%default-font {
  font: normal normal normal 13px/1.5 "lucida grande", tahoma, verdana, arial, sans-serif;
}

// Keep in sync with variables in core variables.less
$factlinkActiveColor:       rgba(255,255,0, 0.6);
$factlinkInactiveColor:     rgba(255,255,0, 0.2);
