$max-z-index  : 2147483647;
$z-index      : $max-z-index - 3;
$border-color : #1c5c90;

$control_visibility_transition_time : 300ms; //keep in sync with coffeescript
$highlight_visibility_transition_time: 200ms;

%default-font {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 13px;
}
