@import "variables";
@import "frame_styles";
@import "fadable_control"; // should be after frame_styles as it overrides frame_styles
@import "container_frames";
@import "icon_buttons";

html[data-factlink-suppress-scrolling] {
  overflow: hidden !important;
  width:auto;
  max-width: none;
}

span.factlink {
  // elementary reset
  background: transparent !important;
  font: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;

  &.fl-active {
    background: $factlinkInactiveColor !important;
  }

  &.fl-core-highlight {
    background: $factlinkActiveColor !important;
  }

  transition: all $highlight_visibility_transition_time;
}

