@import "variables";
@import "fadable_control";
@import "notification";
@import "publisher_button";

html[data-factlink-suppress-scrolling] {
  overflow: hidden !important;
}

span.factlink {
  cursor: pointer;

  &.fl-active, &.fl-scroll-highlight, &.fl-load-highlight {
    background: #B4D5FE !important;
    color: #333  !important;
  }
  transition: all $highlight_visibility_transition_time;

  &.fl-first::before {
    padding: 0 3px 0 0;
    content: '\2713';
  }
}

#factlink-containment-wrapper {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  > #factlink-iframe {
    border: none;
    height: 0px;
    width: 0px;
    display: none;
  }

  > .factlink-control-frame {
    @extend %fadable-control;

    border: none;
    z-index: $max-z-index;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
  }


  > #factlink-modal-frame {
    @extend %fadable-control;

    background: transparent;
    border: none;
    z-index: $max-z-index;
    padding: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
