@import "variables";
@import "comment_icon";
@import "buttons";
@import "notification";
@import "proxy_message";
@import "environment_message";

html {
  overflow: hidden;
  width: 500px;
}

body {
  margin: 0;
  float: left; //shrink to fit
}

* { -moz-box-sizing:border-box; box-sizing: border-box; }
