$greyLight        : #fafcfb;
$grey             : #e0e0e0;
$greyLightDarker  : darken(#fafcfb, 10%);
$greyDarker       : darken(#e0e0e0, 10%);

.factlink-create-button-square {
  background:url("https://factlink.com/favicon.ico");
  height:24px;
  width:24px;
  background-size:contain;
  position:relative;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-background($top-color, $bottom-color) {
  background: $top-color;
  background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%);
}

.factlink-create-button {
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 70px;
  padding: 2px;
  position: relative;
  @include button-background($greyLight, $grey);

  &:before {
    background: url("https://factlink.com/favicon.ico");
    content: '';
    display: inline-block;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    background-size:contain;
    vertical-align: middle;
  }

  &:after {
    font-family: Arial;
    font-size: 12px;
    content: 'Factlink';
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    @include button-background($greyLightDarker, $greyDarker);
  }
}
