$greyLight        : #fafcfb;
$grey             : #e0e0e0;
$greyLightDarker  : darken(#fafcfb, 10%);
$greyDarker       : darken(#e0e0e0, 10%);

@mixin button-background($top-color, $bottom-color) {
  background: $top-color;
  background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%);
}

.factlink-create-button {
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 70px;
  padding: 2px;
  position: relative;
  @include button-background($greyLight, $grey);

  &:before {
    background: url("../images/icon-14x14.png");
    width: 14px;
    height: 14px;
    content: '';
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
  }

  &:after {
    font-family: Arial, sans-serif;
    font-size: 12px;
    content: 'Factlink';
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    @include button-background($greyLightDarker, $greyDarker);
  }
}

.factlink-create-button-square {
  background: url("../images/icon-24x24.png");
  position:relative;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
}
