<% content_for :title do %>Building a collective perspective<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>27 March 2012</time>
  <h1 class="static-pages-heading-h1">Building a collective perspective</h1>

  <p>At Factlink, we’re currently working on an animated movie that explains our plan to build a platform to bring credibility to the web. This post contains the initial version of the text. Please provide us with your comments!</p>

  <p>The web is beautiful, it’s knowledge mind-boggling. But at the same time it can be overwhelming, information is frequently biased and typically outdated. Connecting to the best sources of information related to what we’re doing or working on is hard. We need to know if the information we come across paints the full picture. When we’re reading something online, the new web should enable us to see what others with expertise know about what we’re reading. Factlink has build a platform that lets you add what you know by creating Factlinks. You can annotate any statement on the web and ‘attach’ review information, for instance supporting or weakening facts. The result is a ‘collective perspective’ that is updated continuously, available to everybody.</p>

  <p>Wikipedia has build an great collective perspective, but as a single website. Factlink builds a collective perspective as a layer over the web as a whole. When a person knows something, their mind also consist of how that knowledge relates to other knowledge, like a mini graph of what supports it and what weakens it. By combining what many people know, we can create a combined graph that shows the larger perspective. The web consists of what many people have written. When we let people connect these statements to each other, we capture the structure of the collective ‘graph’. We call it the FactGraph. This collaborative view includes all the individual perspectives, and thus shows what knowledge is developing, based on the current state of things.</p>

  <p>Creating a Factlink is an intuitive but powerful way for people to add what they know when they have expertise on something they see. The kicker is that other people that look at a Factlink see a clean and visual overview of expertise that is based on the feedback and ‘ratings’ that people have attached to it. Each Factlink directly shows how ‘knowledgeable’ its interacting users are. It also shows the impact of the feedback of each interacting user. When you go to Factlink.com, you can immediately see the latest developments on any topics that matter to you, as information comes in and new facts come to light.</p>

  <p>Factlink is a new way to discover information and contribute to understanding. Factlink, because the web needs what you know.</p>

  <p>—Merijn</p>

<% end %>
