<% content_for :title do %>Collective Knowledge<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>6 February 2012</time>
  <h1 class="on-your-site-content-heading">Collective Knowledge</h1>

  <p>The internet is great. New and exciting paths to share and find information continuously compete for our attention. It’s however also hard to determine if what we’re reading is credible or find reliable sources of information quickly. Information is frequently outdated and many times biased so it’s hard to know if what we’re reading online paints the full picture. When we have questions about something in an article or on a web page, getting the full perspective take isn’t easy. Search isn’t helping as much anymore as it used to because the web has become so much larger. Doing some background research on a topic, besides skills and experience, also requires spending lots of time and energy. And when we’ve put in the work, all the expertise we’ve build up is NOT re-usable for others. The next reader of the same article needs to put in the same work! Millions of readers of a New York Times article means millions of hours of brain cycles that are not shared.</p>

  <p>Imagine what it would mean if each reader of the article that knows something could make that knowledge available to others. A shared frame of reference if you will. Wikipedia has actually build a shared frame of reference to capture the collective knowledge of the web audience on major topics. Collective knowledge is based on the idea that any user can add a piece to the puzzle. Although Wikipedia has achieved something amazing and works well on major topics, there aren’t many other mainstream applications of collective knowledge. I think that similar to Peter Thiel’s statement that <%= link_to 'innovation is in a 40 year slump', 'http://www.foundersfund.com/the-future' %>, collective knowledge solutions aren’t really materializing as fast as the speed of the web would suggest.</p>

  <p>At Factlink, we’re unlocking collective knowledge with a platform that is clear, simple and immediately useful for internet users to access and contribute to during their daily web consumption. Will it work? Keep following our efforts!</p>


<% end %>
