<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>23 July 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #10</h1>

  <p>Our previous discussion about sugar’s effect on your health attracted many arguments. Most people agreed that sugar is a major cause of health problems. Perhaps this week’s topic has a sweeter future.</p>
  <p>Electric cars are constantly improving. Companies like Tesla are attracting more and more attention. This week’s fuel for thought:</p>

  <span class="discussion-of-the-week-container">Electric cars are a feasible long-term replacement for fossil fuel powered cars.</span>

  <p>Join the discussion by clicking the Factlink above!</p>

<% end %>
