<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>4 June 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #3</h1>

  <p>Thanks to everyone who participated in <%= link_to 'last week’s discussion', blog_discussion_of_the_week_2_path %>! These discussions help us a lot in making our discussion platform better.</p>
  <p>This week we’ll discuss a hot topic in the media: tax planning. After media reported that some corporations pay fewer taxes by routing profits through other countries, controversy was ensured. As always we remain impartial, but we ask you to discuss:</p>

  <span class="discussion-of-the-week-container">It should be illegal to avoid taxes by keeping profits in other countries.</span>

  <p>Join the discussion by clicking on the Factlink above!</p>

<% end %>
