<% content_for :title do %>Discussion of the Week #8<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>11 July 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #8</h1>

  <p><%= link_to 'Last week', blog_discussion_of_the_week_7_path %> we discussed online learning. This week we’re featuring a classic discussion: money doesn’t buy you happiness. A Harvard study disagrees… What is your opinion?</p>

  <span class="blog-discussion-of-the-week-container">If money doesn’t make you happy then you aren’t spending it right</span>

  <p>Join the discussion by clicking on the Factlink above!</p>

<% end %>
