<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>19 June 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #5</h1>

  <p>This week we’re looking at genetically modified food. Some say that genetically modified food is not a very good way to fight hunger, while others say that it is. What do you think?</p>

  <span class="discussion-of-the-week-container">Genetically modified food is not a good way to fight hunger.</span>

  <p>Join the discussion by clicking on the Factlink above!</p>

<% end %>
