<% content_for :title do %>Discussion of the Week #7<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>4 July 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #7</h1>

  <p><%= link_to 'Last week', blog_discussion_of_the_week_6_path %> we discussed aqui-hiring; this week we’re getting back to basics. There’s an interesting discussion going on about online learning. Some say online learning is the future of education, but others disagree. What do you think?</p>

  <span class="discussion-of-the-week-container">Online learning is better than conventional instruction.</span>

  <p>Join the discussion by clicking on the Factlink above!</p>

<% end %>
