<% content_for :title do %><% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>17 July 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #8</h1>

  <p>When we look at <%= link_to 'the discussion of last week', blog_discussion_of_the_week_8_path %> it seems that spending money the right way might indeed make you happier.</p>

  <p>What should also make you happy, is this new discussion about health. There has been some debate on whether sugar is bad for your health. So we're discussing:</p>

  <p class="blog-discussion-of-the-week-container"><span class="discussion-of-the-week-factlink">Sugar is a major cause of health problems.</span></p>

  <p>Join the discussion by clicking the Factlink above!</p>

  <p>If you don&rsquo;t have an account yet, be sure to <a href="https://factlink.com?code=FactlinkBlog">sign up for the private beta.</a></p>

<% end %>
