<% content_for :title do %>Discussion of the Week #1<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>22 May 2013</time>
  <h1 class="on-your-site-content-heading">Discussion of the Week #1</h1>

  <p>With Factlink, you can discuss any statement on the web. But the web is big! Therefore we are introducing the Discussion of the Week: a weekly discussion on a current topic.</p>
  <p>This week we are discussing exercising:</p>

  <span class="blog-discussion-of-the-week-container">It is best to exercise in the morning.</span>

  <p>Join the discussion by clicking the Factlink above!</p>

  <p>We will be expanding on this concept in the next couple of weeks. If you have ideas for topics to discuss, or how to further improve this concept, don’t hesitate to leave a comment!</p>

<% end %>
