<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>31 May 2012</time>
  <h1 class="on-your-site-content-heading">How APIs should be: Drop in keys, running in 1 minute</h1>

  <p>Today, Merijn (<%= link_to '@merijn481', 'https://twitter.com/merijn481' %>) wrote a guest post on the <%= link_to 'Singly blog', 'http://blog.singly.com' %>.</p>

  <p>Excerpt:</p>

  <p>"If you’re a startup providing an API, what makes your API successful?</p>

  <p>As a startup offering an API, you know that you’re communicating a product and you have to use a clear and concise message. It needs to be immediately clear for developers how your API solves their problem and how it adds value. Your message is easy to remember and repeat so that happy developers spread the word.</p>

  <p>Getting to a minimal viable version of your API means getting traction and adoption. Once users use it, get value from it, and provide feedback (and crap all over it in the process, which is good), something magical happens: the product gets a chance to grow into something beautiful, and your startup expands with it.</p>

  <p>In order to get that traction, you need developers to convert from “first contact” to championing your API inside their organization. The typical funnel probably looks like this:”</p>

  <p>Read more on <%= link_to 'http://blog.singly.com/2012/05/31/how-apis-should-be-drop-in-keys-and-be-running-in-1-minute/', 'http://blog.singly.com/2012/05/31/how-apis-should-be-drop-in-keys-and-be-running-in-1-minute/' %></p>

<% end %>
