<% content_for :title do %>Learning from Discussions<% end %>

<% content_for :blog_content do %>

  <p><%= link_to "&laquo; Blog".html_safe, blog_index_path %></p>

  <time pubdate>30 July 2013</time>
  <h1 class="static-pages-heading-h1">Learning from Discussions</h1>

  <p>About 3 months ago we started with the <em>Discussion of the Week.</em> Our goal was to explore the possibilities of our discussion platform. We were interested in seeing some focused discussions on one subject to see how they would develop. There were some interesting arguments added about various subjects, such as health, money, governance, education, and sustainability. We&rsquo;ve seen things that worked, and things that needed improvement. Thanks for that.</p>
  <p>For now, we&rsquo;ve decided to halt with the <em>Discussion of the Week</em>, so we can focus on product development and improving our platform based on what we&rsquo;ve learned. We are rolling out some major updates in the coming weeks. Stay tuned!</p>
  <p>You can still follow and join discussions all over the web by using Factlink and the Factlink browser add-on. We hope that Factlink becomes more useful to you every day. If you have any more feedback, do let us know! It&rsquo;s very helpful to us.</p>

<% end %>
