<div class="modal-window-container js-feedback-modal">
  <div class="modal-window feedback-frame-modal-window js-feedback-resize">
    <div class="modal-window-header">Provide us with feedback</div>
    <div class="modal-window-body">
      <iframe src=""<%= ' class="no-user"'.html_safe unless current_user %> scrolling="no"></iframe>
    </div>
  </div>
  <div class="modal-window-layer js-feedback-modal-layer">
    <div class="static-close-button"></div>
  </div>
</div>
