<div class="modal-window-container js-feedback-modal-window">
  <div class="modal-window feedback-frame-modal-window">
    <div class="modal-window-header">Provide us with feedback</div>
    <div class="modal-window-body js-feedback-modal-window-body"></div>
  </div>
  <div class="modal-window-layer js-feedback-modal-window-layer">
    <div class="static-close-button"></div>
  </div>
</div>
