<div class="modal-header">
  <a href="#" class="close">×</a>
  <h1>Share Feedback</h1>
</div>
<div class="alert-message fade in" style="display: none"></div>
<%= form_for(:feedback, url: {action: :create}, remote: true, html: {id: "feedback-form"}) do |f| %>
  <div class="modal-body">
    Your feedback is greatly appreciated.
    <fieldset>
      <div class="clearfix">
        <label for="email">E-mail</label>
        <div class="input">
          <input id="email" type="email" required name="email" size="30"  value="<%= current_user.andand.email || "" %>">
        </div>
      </div>
      <div class="clearfix">
        <label for="subject">Subject</label>
        <div class="input">
          <input id="subject" required name="subject" size="30" type="text">
        </div>
      </div>
      <div class="clearfix">
        <label for="content">Your feedback</label>
        <div class="input">
          <textarea rows="5" columns="30" name="content"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn primary" name="submit" value="Submit">
    <a class="btn secondary cancel">Cancel</a>
  </div>
<% end %>
