<!DOCTYPE html>
<html>
<head>
  <title>Intermediate action</title>

  <%= javascript_include_tag "#{jslib_url}/easyXDM/easyXDM.min.js" %>

  <style type="text/css">
    html, body {
      height: 100%;
      width: 100%;
      margin: 0; padding: 0;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
    }
  </style>

  <%= csrf_meta_tag %>
</head>
<body>
  <iframe src="" name="frame" id="frame"></iframe>

  <%= jquery_include_tag :google %>
  <%= javascript_include_tag "intermediate" %>
</body>
</html>
