<div class="devise-form">
  <h1>Forgot your password?</h1>

  <p>Please enter your email address so we can send you a password reset:</p>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form" }) do |f| %>

    <div class="control-group">
      <div class="controls">
        <%= f.email_field :email, placeholder: "Email address",
          class: "text" %>
        <%= possible_error_for_field(resource, :email) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Send me reset password instructions", :class => "button button-confirm" %>
    </div>
  <% end %>

  <p>Other problems? <a href="mailto:support@factlink.com">Email us!</a></p>
</div>
