.dropdown {
  position: relative;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid $metaFontColor;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px;
}

.dropdown-menu {
  position: absolute;
  z-index: $zindexDropdown;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0 0.6s, opacity 0.2s 0.4s;

  padding: 5px 0;
  background-color: white;
  border: 1px solid $dropdownBorder;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  text-align: left;
  right: 0;

  a {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    color: $grayDark;
    white-space: nowrap;
  }
}

.dropdown-menu-item {
  display: block;
}

.dropdown-menu-item:hover a, .dropdown-menu-item:focus a {
  text-decoration: none;
  color: white;
  background-color: $linkColor;
}

.dropdown:hover {
  & > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0, opacity 0.2s 0;
  }
}
