.about-header {
  margin: 10px 0 20px;
}

.about-contact {
  float: right;
  width: 200px
}

.faces-list {
  display: inline-block; // new block formatting context
  width: 600px;
}

.team-member-block, .team-advisor-block {
  position: relative;
  float: left;
  margin-right: 14.9px;
  margin-bottom: 22px;
}
.team-member-block {
  width: 163.817px;
}
.team-advisor-block {
  width: 104.25px;
}

%team-name {
  position: relative;
  margin: 0;
  text-align: center;
  font-weight: bold;

}
.team-member-name {
  @extend %team-name;
  font-size: 15px;
  width: 150px;
  line-height: 18px;
  left: -10px;
}

.team-advisor-name {
  @extend %team-name;
  font-size: $heading4FontSize;
  width: 95px;
  line-height: 16px;
  left: -7px;
}


.team-photo {
  width: 135px;
  height: 135px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15);
  margin-bottom: 15px;
  border-radius: 1000px;
  padding: 6px;
  border: 1px solid #cbcbcb;
  box-sizing: content-box;

  &.advisor {
    width: 80px;
    height: 80px;
  }
}
