.blog-content {
  overflow: hidden;
}

.blog-content > p {
  padding-right: 10px;
}

.blog-content-image {
  border: 1px solid #cbcbcb;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 0.8em;
}

.blog-content-list {
  margin-bottom: 0.8em;
}

.blog-about-box {
  float: right;
  max-width: 250px;
  margin-left: 50px;

  @include respond-to(600) {
    display: none;
  }
}

.discussion-of-the-week-container {
  border-left: 5px solid #ddd;
  padding: 2px 10px;
  font-style: italic;
  display: block;
  margin-bottom: 0.8em;
}
