.homepage-header {
  padding: 20px 0 10px;
  text-align: center;
}

.homepage-header-button {
  margin-top: 30px;
}

.homepage-horizontal {
  text-align: center;
}

.homepage-horizontal-box {
  display: inline-block;
  width: 355px;
  margin: 0 40px;
  vertical-align: top;
}

.homepage-heading {
  margin: 10px 0 20px;
}

.homepage-dashed-border {
  display: inline-block;
  border: 3px dotted #c9c9c9;
  border-radius: 8px;
}

a.homepage-bookmarklet { cursor: move !important; }
a.homepage-bookmarklet::after { content: 'Factlink bookmarklet'; }

i.homepage-icon-layer,
i.homepage-icon-social {
  display: inline-block;
  width: 157px;
  height: 145px;
}

i.homepage-icon-layer {
  background: asset-data-url('landing/content/layer.png') no-repeat;
}

i.homepage-icon-social {
  background: asset-data-url('landing/content/social.png') no-repeat;
}
