.in-your-browser-header {
  margin: 40px 0; // keep in sync with publisher landing page
  text-align: center;
}

.in-your-browser-horizontal {
  text-align: center;
}

.in-your-browser-horizontal-box {
  display: inline-block;
  width: 45%;
  vertical-align: top;

  &:first-child {
    margin-right: 9%;
  }

  @include respond-to(420) {
    width: 80%;
    margin: 0;

    &:first-child {
      margin: 0;
    }
  }
}

.in-your-browser-dashed-border {
  display: inline-block;
  border: 2px dotted #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

a.in-your-browser-bookmarklet { cursor: move !important; }
a.in-your-browser-bookmarklet::after { content: 'Factlink bookmarklet'; }

i.in-your-browser-icon-layer,
i.in-your-browser-icon-social {
  display: inline-block;
  width: 157px;
  height: 145px;
}

i.in-your-browser-icon-layer {
  background: asset-data-url('landing/content/layer.png') no-repeat;
}

i.in-your-browser-icon-social {
  background: asset-data-url('landing/content/social.png') no-repeat;
}

.in-your-browser-below-content {
  padding: 10px $pagePadding;
  border-top: 1px solid $baseBorderColor;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
}

.in-your-browser-below-content-box {
  padding: 20px;
  width: 50%;
  display: table-cell;
  vertical-align: top;
  &:first-child {
    border-right: 1px lightgrey solid;
  }

  @include respond-to(600) {
    display: block;
    border-bottom: 1px lightgrey solid;
    width: 100%;
    &:first-child {
      border-right: none;
    }
  }
}

.in-your-browser-feed {
  text-align: left;
  max-width: $siteWidth;
  min-height: 400px;
  margin:auto;
}

.in-your-browser-feed-more-button {
  margin-top: 5px;
}

