.discuss-context-content {
  display: block;
  vertical-align: middle;
  padding: 20px;
  text-align: center;

  @include from-width(800px) {
    display: table-cell;
    text-align: left;
  }
}

.discuss-context-list {
  padding-left: 1.5em;
  display: inline-block;
  text-align: left;

  > li {
    list-style-type: initial;
    margin-top: 0.5em;
  }
}

.discuss-context-video {
  display: block;
  text-align: center;

  @include from-width(800px) {
    display: table-cell;
  }
}

$learnMoreColumnPadding: 20px;

.learn-more-container {
  margin: 20px (-$learnMoreColumnPadding+5px);
}

.learn-more-column {
  font-size: 14px;
  display: block;
  vertical-align: top;
  padding: 0 $learnMoreColumnPadding;
  border-left: none;
  border-bottom: 1px lightgrey dotted;

  &:first-child {
    border-left: none;
  }

  @include from-width(600px) {
    display: inline-block;
    width: 33.3%;
    border-left: 1px lightgrey dotted;
    border-bottom: none;
  }
}

.learn-more-column-image {
  @extend %centering-y;
  height: 120px;
}

.learn-more-column-image-inner {
  @extend %centering-inner;
  width: 100%;
}

.extend-your-browser-container {
  @extend %white-block-with-shadow;
  font-size: 14px;
  text-align: center;
  padding: 30px;
  margin: 30px 0;
}

.extend-your-browser-install-button {
  margin: 30px 0 0;
  text-align: center;
}

.social-conversation-comment {
  @extend %centering-y;
  text-align: left;
}

.social-conversation-reply {
  @extend %centering-y;
  text-align: right;
}

.social-conversation-talk-bubble {
  @extend %white-block-with-shadow;
  @extend %centering-inner;
  position: relative;
  font-size: 0.9em;
  margin: 0 0.5em;
  padding: 0.4em 0.6em;
}

.social-conversation-talk-bubble-icon-right {
  @include triangle-arrow-right();
  top: 50%;
  right: 2px;
}

.social-conversation-talk-bubble-icon-left {
  @include triangle-arrow-left();
  top: 50%;
  left: 2px;
}

.social-conversation-avatar {
  @extend %centering-inner;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.best-comment {
  @extend %white-block-with-shadow;
  width: 100%;

  &:first-child {
    margin-bottom: 4px;
  }
}

.best-comment-votes {
  display: table-cell;
  padding: 3px 0 3px 5px;
  font-size: 9px;
  color: lightgrey;
}

.best-comment-list {
  @extend .focused-discussion-list;
  vertical-align: top;
  display: table-cell;
  width: 100%;
  margin-right: 0;
  margin-left: 25px;
}

.best-comment-list-item {
  background: lightgrey;
  margin: 9px 9px 9px 3px;
  padding: 4px;
  transition: background 0.5s ease;
}
