.learn-more-container {
  margin: 20px 0px;
  text-align: center;
}

.learn-more-column {
  font-size: 14px;
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  border-left: 1px lightgrey dotted;
  &:first-child {
    border-left: none;
  }
}

.learn-more-column-image {
  height: 120px;
  @extend %centering-y;
}

.learn-more-column-image-inner {
  @extend %centering-inner;
  width: 100%;
}

.extend-your-browser-container {
  font-size: 14px;
  text-align: center;
  padding: 30px;
  margin: 30px 0px;
  @extend %white-block-with-shadow;
}

.extend-your-browser-install-button {
  margin: 30px 0px 0px;
  text-align: center;
}

.social-conversation-comment {
  text-align: left;
  @extend %centering-y;

}

.social-conversation-reply {
  text-align: right;
  @extend %centering-y;
}

.social-conversation-talk-bubble {
  position: relative;
  font-size: 0.9em;
  margin: 0 0.5em;
  padding: 0.4em 0.6em;
  @extend %white-block-with-shadow;
  @extend %centering-inner;
}

.social-conversation-talk-bubble-icon-right {
  @include triangle-arrow-right();
  top: 50%;
  right: 2px;
}

.social-conversation-talk-bubble-icon-left {
  @include triangle-arrow-left();
  top: 50%;
  left: 2px;
}

.social-conversation-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  @extend %centering-inner;
}

.best-comment {
  width: 100%;
  @extend %white-block-with-shadow;

  &:first-child {
    margin-bottom: 4px;
  }
}

.best-comment-votes {
  display: table-cell;
  padding: 3px 0 3px 5px;
  font-size: 9px;
  color: lightgrey;
}

.best-comment-list {
  vertical-align: top;
  display: table-cell;
  width:100%;
  @extend .focused-discussion-list;
  margin-right: 0px;
  margin-left: 25px;
}

.best-comment-list-item {
  background: lightgrey;
  margin: 9px 9px 9px 3px;
  padding: 4px;
  transition: background 0.5s ease;
}

