.in-your-browser-header {
  margin: 40px 0; // keep in sync with publisher landing page
  text-align: center;
}

.in-your-browser-horizontal {
  text-align: center;
}

.in-your-browser-horizontal-box {
  display: inline-block;
  width: 45%;
  vertical-align: top;

  &:first-child {
    margin-right: 9%;
  }

  @include respond-to(420) {
    width: 80%;
    margin: 0;
  }
}

.in-your-browser-heading {
  margin: 10px 0 20px;
  font-size: 24px;
}

.in-your-browser-dashed-border {
  display: inline-block;
  border: 2px dotted #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

a.in-your-browser-bookmarklet { cursor: move !important; }
a.in-your-browser-bookmarklet::after { content: 'Factlink bookmarklet'; }

i.in-your-browser-icon-layer,
i.in-your-browser-icon-social {
  display: inline-block;
  width: 157px;
  height: 145px;
}

i.in-your-browser-icon-layer {
  background: asset-data-url('landing/content/layer.png') no-repeat;
}

i.in-your-browser-icon-social {
  background: asset-data-url('landing/content/social.png') no-repeat;
}

.in-your-browser-below-content {
  padding: 25px 0;
  border-top: 1px solid $baseBorderColor;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
}

.in-your-browser-below-content-box {
  @extend %white-block-with-shadow;
  padding: 20px;
  margin: 20px;
  width: 330px;
  display: inline-block;
  vertical-align: top;

  @include respond-to(400) {
    margin: 10px;
  }
}

.in-your-browser-feed {
  display: inline-block;
  text-align: left;
  margin: 0 30px;
  max-width: $siteWidth;
  min-height: 400px;
}

.in-your-browser-feed-more-button {
  margin-top: 5px;
}
