.homepage-factlink-aspects {
  width:940px; //HACK: bugfix to match previously implicit foreshortening of columns
}

.homepage-factlink-aspect-box {
  text-align: center;
  height: 300px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    padding: 0 20px;
  }

  i.index-icon-layer,
  i.index-icon-social {
    display: inline-block;
    width: 157px;
    height: 145px;
  }

  i.index-icon-layer {
    background: asset-data-url('landing/content/layer.png') no-repeat;
  }

  i.index-icon-social {
    background: asset-data-url('landing/content/social.png') no-repeat;
  }
}
