.in-your-browser-cta-container {
  @extend %white-block-with-shadow;
  display: inline-block;
  max-width: 840px;
  margin-top: 10px;
  width: 100%;
}

.in-your-browser-dashed-border {
  display: inline-block;
  border: 2px dotted #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

.bookmarklet-install-block {
  display: inline-block;
  background: rgba(white, 0.5);
  padding: 1em 2em;
  border-radius: 0.5em;
}

.in-your-browser-bookmarklet { cursor: move !important; }

.in-your-browser-bookmarklet::after { content: 'Factlink bookmarklet'; }

i.in-your-browser-icon-layer,
i.in-your-browser-icon-social {
  display: inline-block;
  width: 157px;
  height: 145px;
}

i.in-your-browser-icon-layer {
  background: asset-data-url('landing/content/layer.png') no-repeat;
}

i.in-your-browser-icon-social {
  background: asset-data-url('landing/content/social.png') no-repeat;
}

.in-your-browser-feed {
  text-align: left;
  max-width: $siteWidth;
  min-height: 400px;
  margin: auto;
}

.in-your-browser-feed-more-button {
  margin-top: 5px;
}
