.in-your-browser-cta-container {
  @extend %white-block-with-shadow;
  display: inline-block;
  max-width: 840px;
  margin-top: 10px;
  width: 100%;
}

.in-your-browser-dashed-border {
  display: inline-block;
  border: 2px dotted #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

a.in-your-browser-bookmarklet { cursor: move !important; }
a.in-your-browser-bookmarklet::after { content: 'Factlink bookmarklet'; }

i.in-your-browser-icon-layer,
i.in-your-browser-icon-social {
  display: inline-block;
  width: 157px;
  height: 145px;
}

i.in-your-browser-icon-layer {
  background: asset-data-url('landing/content/layer.png') no-repeat;
}

i.in-your-browser-icon-social {
  background: asset-data-url('landing/content/social.png') no-repeat;
}

.in-your-browser-below-content {
  padding: 10px $pageSidePadding;
  border-top: 1px solid $baseBorderColor;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
}

.in-your-browser-below-content-box {
  display: block;
  border-bottom: 1px lightgrey solid;
  width: 100%;

  &:first-child {
    border-right: none;
  }

  @include from-width(600px) {
    display: table-cell;
    border: none;
    width: 50%;
    padding: 20px;
    vertical-align: top;

    &:first-child {
      border-right: 1px lightgrey solid;
    }
  }
}

.in-your-browser-feed {
  text-align: left;
  max-width: $siteWidth;
  min-height: 400px;
  margin:auto;
}

.in-your-browser-feed-more-button {
  margin-top: 5px;
}
