@import "bootstrap/mixins";
@import "twitter/bootstrap/variables";

.publisher-container {
  display: table;
  margin: 40px 0;
}

.publisher-animation-area {
  display: table-cell;
  width: 400px;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}

.publisher-content-heading {
  margin-bottom: 20px;
}

.publisher-content-area {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}


//sidebar animation
.animation-sidebar-text {
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 4px;
}

.animation-sidebar-paragraph {
  margin: 25px 0;
  margin-right: 20px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.animation-sidebar-paragraph:hover li{
  background: @lightYellow;
}

.animation-sidebar-paragraph li{
  background: lightgrey;
  margin: 10px;
  padding: 4px;
  transition: background 0.5s ease;
}

.discuss-icon {
  float: right;
  position: relative;
  right: -30px;
  top: -4px;

}

.discuss-icon-body {
  font-size: 10px;
  line-height: 12px;
  color: white;
  font-weight: 600;
  display: block;
  width: 16px;
  height: 12px;
  border-radius: 3px;
  background: grey;
}

.discuss-icon-arrow {
  position: absolute;
  top: 12px;
  left: 5px;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  display: inline-block;
}
