@import "mixins/mixins";

$mixin paragraph-icon-arrow($arrowWidth){
  border-top: $arrowWidth grey solid;
  border-left: $arrowWidth grey solid;
  border-right: $arrowWidth white solid;
  border-bottom: $arrowWidth white solid;
}

.publisher-page-header {
  padding: 30px 0px;
  text-align: center;
}

.publisher-page-paragraph {
    color: #c9dcfb;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
}

.publisher-page-container {
  border-top: 1px lightgrey solid;
  padding: 20px 0px;
  &:first-child {
    padding: 0px 0px 20px;
    border-top: none;
  }
}

.publisher-page-content {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}

.publisher-page-content-heading {
  margin-bottom: 20px;
}

.publisher-page-illustration {
  display: table-cell;
  width: 400px;
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}

.focussed-discussion {
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 4px;
}

.focussed-discussion-list {
  margin: 25px 0;
  margin-right: 20px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.focussed-discussion-list-item {
  background: lightgrey;
  margin: 10px;
  padding: 4px;
  transition: background 0.5s ease;
}

.focussed-discussion-list:hover .focussed-discussion-list-item {
  background: $lightYellow;
}

.focussed-discussion-paragraph {
  float: right;
  position: relative;
  right: -30px;
  top: -4px;
}

.focussed-discussion-paragraph-icon {
  font-size: 10px;
  line-height: 12px;
  color: white;
  font-weight: 600;
  display: block;
  width: 16px;
  height: 12px;
  border-radius: 3px;
  background: grey;
  &:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    display: inline-block;
    $include paragraph-icon-arrow(2px);
  }
}

.higher-engagement {
  text-align: left;
  background-color: fade($semiTransparentLayerColor, 100%);
  border: 1px lightgrey solid;
  border-radius: 4px;
  padding-top: 3px;
}

.social-reach-avatar {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 12px;
  border-radius: 50%;
}

.social-reach-icon-container {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  width: 60px;
  margin: 2px;
  padding: 15px 0;
  border: 1px lightgrey solid;
  border-radius: 50%;
}

.social-reach-icon {
  position: relative;
  top: 2px;
  font-size: 10px;
  line-height: 12px;
  color: white;
  font-weight: 600;
  display: inline-block;
  width: 25px;
  height: 17px;
  border-radius: 3px;
  background: grey;
  &:before {
    content: "";
    position: absolute;
    top: 17px;
    right: 45%;
    display: inline-block;
    $include paragraph-icon-arrow(4px);
  }
}

.easy-integration {
  background: $lightYellow;
  padding: 20px 15px;
  position: relative;
  text-align: left;
  border-radius: 4px;
}

.easy-integration-title {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  vertical-align: top;
}

.publisher-page-conditions {
  text-align: center;
  font-style: italic;
}

.publisher-page-code-line {
  background:$lightYellow;
  padding: 3px;
  word-wrap: break-word;
}

