@import "bootstrap/mixins";
@import "twitter/bootstrap/variables";

.publisher-container {
  display: table;
}

.publisher-animation-area {
  display: table-cell;
  width: 400px;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}

.publisher-content-area {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}


//sidebar animation
.animation-sidebar-text {
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 4px;
}

.animation-sidebar-paragraph {
  margin: 25px 0;
  margin-right: 20px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.animation-sidebar-paragraph:hover li{
  background: @lightYellow;
}

.animation-sidebar-paragraph li{
  background: lightgrey;
  margin: 10px;
  padding: 4px;
  transition: background 0.5s ease;
}
