@import "mixins/mixins";

.nav-tabs {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav-tabs-item {
  padding: 12px;
  line-height: @baseLineHeight;
  border-bottom: 1px solid #ddd;
  margin-right: 0; // no need for the gap between nav items
  display: block;

  &:last-child {
    border-bottom: none;
  }
}
