<ul id="steps">
  <li<% if @step_in_signup_process == :account %> class="active"<%end%> ><span>1</span>Account</li>
  <li<% if @step_in_signup_process == :create_factlink %> class="active"<%end%> ><span>2</span>Create Factlink</li>
  <li<% if @step_in_signup_process == :almost_done %> class="active"<%end%> ><span>3</span>Done!</li>
</ul>