.content { //TODO: rename this really-hard-to-identify class
  background: #fff;
  padding: $contentPadding 0;
  font-size: 14px;
  overflow: hidden;
}

.narrow-indented-block {
  width: 620px;
  margin-left: 20px;
}
