ul {
  margin: 0;
  padding: 0;

  > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


%user-input {
  @include placeholder();
  padding: 4px 6px;

  color: $gray;
  border-radius: $baseBorderRadius;
  border: 1px solid $inputBorder;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border linear .2s, box-shadow linear .2s;

  &:focus {
    border-color: rgba(82, 168, 236, .8);
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  }
}

input, textarea {
  @extend %user-input;
  font-family: inherit;
  font-size: inherit;
}

// HTML5 invalid states
input:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;

  &:focus {
    border-color: darken(#ee5f5b, 10%);
    box-shadow: 0 0 6px lighten(#ee5f5b, 20%);
  }
}

label {
  display: block;
}
