.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
solr/data/
webrat.log
.nide
coverage.data
coverage/
log/
*.un~
*.log
.idea
public/images/wheel/*.png
*.rej
*.orig
public/system/
*~
solr/pids
temp-8546.rdb
dump.rdb
/nbproject/
.jhw-cache
/public/assets
