.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp
solr/data/
webrat.log
.nide
coverage.data
coverage/
log/
*.un~
*.log
.idea
*.rej
*.orig
public/system/avatars
public/system/wheel/*.png
*~
solr/pids
temp-8546.rdb
dump.rdb
/nbproject/
.jhw-cache
/public/assets
.rvmrc
spec/javascripts/templates/mustache-templates.html
config/config
.vegas
*.sassc
.approvals
