*.log
*.orig
*.rej
*.sassc
*.un~
*~
.approvals
.bundle
.DS_Store
.idea
.jhw-cache
.nide
.vegas
/nbproject/
/public/assets
config/config
coverage.data
coverage/
dump.rdb
fixtures/approvals/*.received.json
log/
tmp/cache
tmp/capybara
webrat.log
