<div class="fl-popup fl-create">
  <div class="fl-label">
    <span class="fl-create">
      <img src=<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/arrow.png" %> alt="">
      Evidence</span>
  </div>

  <ul class="fl-add-options">
    <li><a href="#" id="supporting">Supporting</a></li>
    <li><a href="#" id="weakening">Weakening</a></li>
  </ul>
  <div class="fl-arrow fl-arrow-bottom"></div>
</div>
