<html>
<head>
  <%= stylesheet_link_tag("#{FactlinkUI::Application.config.static_url}lib/src/css/basic.css") %>  
</head>
<body>
<div id="fl">

  <div class="fl-popup fl-popup-create">

    <div class="fl-label">
      <span>Factlink</span>
    </div>
    
    <ul class="fl-add-options right">
      <li><a href="#" id="beliefs">Agree</a></li>
      <li><a href="#" id="doubts">Not sure</a></li>
      <li><a href="#" id="disbeliefs">Disagree</a></li>
    </ul>

    <div class="fl-arrow fl-arrow-down" style="background-image: url('<%= "#{FactlinkUI::Application.config.static_url}lib/src/images/arrows-down.png" %>')"></div>
  </div>
</div>
</body>
</html>