<div class="fl-popup fl-create">
  <div class="fl-label">
    <span class="fl-create"><a href="#">Add factlink</a></span>
    <span class="fl-created">Added!</span>
    <span class="fl-add-evidence">Add evidence?</span>
  </div>
  
  <ul class="fl-add-options">
    <li><a href="#" id="beliefs">Agree</a></li>
    <li><a href="#" id="doubts">Not sure</a></li>
    <li><a href="#" id="disbeliefs">Disagree</a></li>
  </ul>

  <!-- <div class="fl-arrow fl-arrow-top"></div> -->
  <div class="fl-arrow fl-arrow-bottom"></div>
</div>
