<div class="fl-add-new fl-popup fl-blue">
  <span class="fl-default-message">
    <span class="fl-new"><a href="#"><%= t(:add_fact).capitalize %></a></span>
    <span class="fl-created"><%= t(:added_fact).capitalize %></span>
  </span>

  <span class="fl-loading-message"><%= t(:loading).capitalize %>...</span>
</div>
