<div class="fl-add-new fl-popup fl-blue">
  <span class="fl-default-message">
    <span class="fl-new"><a href="#"><%= t_up(:add_fact) %></a></span>
    <span class="fl-created"><%= t_up(:added_fact) %></span>
  </span>

  <span class="fl-loading-message"><%= t_up(:loading) %>...</span>
</div>
