<div class="fl-add-new fl-popup">
  <span class="fl-default-message">
    <span class="fl-new"><a href="#">Add Factlink</a></span>
    <span class="fl-created">Added</span>
  </span>

  <span class="fl-loading-message">Loading...</span>
</div>
