<div class="fl-popup fl-blue" style="display:none">
  <span class="fl-default-message"><%= t(:show).capitalize %> Factlink</span>
  <span class="fl-loading-message"><%= t(:loading).capitalize %>...</span>
</div>
