<div id="fl-indicator"> 
  <div id="fl-balloon" class="bottom">
      <div class="fl-label" data-label="show">
        <span class="fl-label-text"><span class="authority"></span>Show</span>
        <div class="icon believe"    style="width:17px; height:21px; background-position: 1px 0;"></div>
        <div class="icon disbelieve" style="width:17px; height:21px;background-position: 41px 0;"></div>
        <div class="icon doubt"      style="width:17px; height:21px;background-position: 21px 0;"></div>
      </div>

     <div id="fl-balloon-arrow-border"></div>
     <div id="fl-balloon-arrow"></div>
  </div>
</div>
