<div class="fl-popup fl-blue" style="display:none">
  Show Factlink <%= image_tag(image_url("/system/wheel/{%= opinions.believe.percentage %}-{%= opinions.doubt.percentage %}-{%= opinions.disbelieve.percentage %}.png".html_safe), style: "display: none;") %>
</div>
