<div id="fl-balloon-container"> 
  <div id="fl-balloon" class="bottom">
    <div class="fl-labels">

      <div class="fl-label" data-label="show">
        <span class="fl-label-text"><span class="authority">{%= authority %}</span>Show</span>
        <div class="icon {%= highestOpinion.name %}" style="background-image: url('<%= FactlinkUI::Application.config.static_url %>lib/src/images/simple_indicators.png')" ></div>
      </div>
    </div>
     <div id="fl-balloon-arrow-border"></div>
     <div id="fl-balloon-arrow"></div>
  </div>
</div>
