<div class="fl-popup fl-blue" style="display:none">
  <span class="fl-show-message"><%= t(:show).humanize %> Factlink <%= image_tag(image_url("/system/wheel/{%= opinions.believe.percentage %}-{%= opinions.doubt.percentage %}-{%= opinions.disbelieve.percentage %}.png".html_safe), style: "display: none;") %></span>
  <span class="fl-loading-message"><%= t(:loading).humanize %>...</span>
</div>
