<html>
<head>
  <%= stylesheet_link_tag("#{FactlinkUI::Application.config.static_url}lib/src/css/basic.css") %>  
</head>

<body>
<div id="fl">

  <div class="fl-popup">
    hij is nu al zo
  </div>

</div>
</body>
</html>