@import "bootstrap/mixins";

.preview-share-fact {
  display: inline-block; // new block formatting context
  padding: 15px;
}

.preview-share-fact-link-container {
  max-width: 300px;
  margin-bottom: 10px;
}
