@import "bootstrap/mixins";

.share-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: white;
  vertical-align: middle;
}

.share-button-togglable {
  &:hover {
    opacity: 0.4;
  }

  &.share-button-togglable-checked {
    transition: opacity 0.1s;
    opacity: 1;
  }
}

.share-button-hoverable {
  transition: opacity 0.1s;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.share-button-twitter {
  &.share-button-togglable {
    background-image: asset-data-url("sharing_icons/twitter_disabled.png");
  }

  &, &.share-button-togglable:hover, &.share-button-togglable-checked {
    background-image: asset-data-url("sharing_icons/twitter.png");
  }
}

.share-button-facebook {
  &.share-button-togglable {
    background-image: asset-data-url("sharing_icons/facebook_disabled.png");
  }

  &, &.share-button-togglable:hover, &.share-button-togglable-checked {
    background-image: asset-data-url("sharing_icons/facebook.png");
  }
}

.share-button-message {
  background-image: asset-data-url("sharing_icons/message.png");
}
