@import "bootstrap/mixins";

.share-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: white;
  vertical-align: middle;

  // Workaround to fix flickering frame in Chrome
  // (See: http://stackoverflow.com/questions/5814101/css3-transition-transform-translate3d-causes-severe-flicker-on-first-or-last-fr)
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transition: opacity 0.1s;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.share-button-twitter {
  background-image: asset-data-url("sharing_icons/twitter.png");

  &.share-button-disabled {
    background-image: asset-data-url("sharing_icons/twitter_disabled.png");
  }
}

.share-button-facebook {
  background-image: asset-data-url("sharing_icons/facebook.png");

  &.share-button-disabled {
    background-image: asset-data-url("sharing_icons/facebook_disabled.png");
  }
}

.share-button-message {
  background-image: asset-data-url("sharing_icons/message.png");
}
