<div class="profile-box-container">
  <div class="profile-box-item js-profile-information-region"></div><div class="profile-box-item js-bio-region"></div>
</div>
<div class="js-feed profile-feed-activities"></div>
