<h1>Information</h1>

{{#location}}
<div class="profile-information-item">
  <span class="profile-information-label">Location:</span>
  <span class="profile-information-field">{{location}}</span>
</div>
{{/location}}

{{#biography}}
<div class="profile-information-item">
  <span class="profile-information-label">Bio:</span>
  <span class="profile-information-field">{{biography}}</span>
</div>
{{/biography}}

{{^location}}
{{^biography}}
  <div class="profile-information-item">
    <div class="empty-state">{{username}} hasn't filled in his profile information yet.</div>
  </div>
{{/biography}}
{{/location}}
