<h1>Information</h1>

{{#biography}}
<div class="profile-information-item">
  <span class="profile-information-label">Bio:</span>
  <span class="profile-information-field">{{biography}}</span>
</div>
{{/biography}}

{{#location}}
<div class="profile-information-item">
  <span class="profile-information-label">Location:</span>
  <span class="profile-information-field">{{location}}</span>
</div>
{{/location}}

{{^biography}}
{{^location}}
  <div class="profile-information-item">
    <div class="empty-state">{{name}} hasn't added their profile information yet.</div>
  </div>
{{/location}}
{{/biography}}
