<div class="js-region-user-large-profile-picture profile-information-item"></div><div class="profile-information-item">
  <div class="js-region-user-social-statistics"></div>
  <div class="js-region-user-follow-user"></div>
</div>
