<div class="social-statistic-block">
  <h1>{{ following_count }}</h1>
  following
</div>

<div class="social-statistic-block">
  <h1>{{ followers_count }}</h1>
  follower{{#plural}}s{{/plural}}
</div>
