<div class="social-statistic-block">
  <h1>{{ statistics_following_count }}</h1>
  following
</div>

<div class="social-statistic-block">
  <h1>{{ statistics_follower_count }}</h1>
  follower{{#plural_followers}}s{{/plural_followers}}
</div>
