<div class="social-statistic-block">
  <h1>
    {{#followingLoading}}<img src="{{global.ajax_loader_image}}">{{/followingLoading}}
    {{^followingLoading}}{{ following }}{{/followingLoading}}
  </h1>

  following
</div>

<div class="social-statistic-block">
  <h1>
    {{#followersLoading}}<img src="{{global.ajax_loader_image}}">{{/followersLoading}}
    {{^followersLoading}}{{ followers }}{{/followersLoading}}
  </h1>

  follower{{#plural_followers}}s{{/plural_followers}}
</div>
