<h1>Top {{global.t.topics}}</h1>

<div class="top-channels">
</div>

<div class="js-show-more-less-buttons">
  <a class="top-channels-show-more">Show more...</a>
  <a class="top-channels-show-less">Show less...</a>
</div>
