{{#is_current_user}}
<p>You don't have any {{global.t.topics}} yet.</p>
<p>{{topics}} are there to keep your facts categorized and can be interesting for other users to follow.</p>
{{/is_current_user}}

{{^is_current_user}}
<p>{{username}} doesn't have any {{global.t.topics}} yet.</p>
{{/is_current_user}}
