{{#is_current_user}}
<p class="top-topics-text">You don't have any {{global.t.topics}} yet.</p>
<p class="top-topics-text">{{topics}} are there to keep your {{global.t.factlinks}} categorized and can be interesting for other users to follow.</p>
{{/is_current_user}}

{{^is_current_user}}
<p class="top-topics-text">{{name}} doesn't have any {{global.t.topics}} yet.</p>
{{/is_current_user}}
