<div class="factBlock span-13 append-bottom">
	<p><%= factlink.text.html_safe %></p>
	<p class="right user"><%= link_to(factlink.from_user, "http://www.twitter.com/#!/#{factlink.from_user}") %></p>
</div>