<div id="feedback-popup" class="modal hide fade feedback-modal">
  <%= render template: "feedback/new" %>
</div>


<div id="feedback">
  <a class="feedback" href="#feedback-modal">Feedback</a>
</div>
