<% if alert || notice %>
<div class="alert<%= alert ? " alert-error" : (notice ? " alert-success" : "") %>" data-dismiss="alert">
  <a class="close" href="#">x</a>
  <%= notice || '' %>
  <%= alert  || '' %>
</div>
<% end %>
