<% if alert || notice %>
<div class="alert-message <%= alert ? "error" : "warning" %> span-13">
  <a class="close" href="#">x</a>
  	<% if notice %>
			<%= notice %>
		<% end %>
		<% if alert %>
			<%= alert %>
	<% end %>
</div>
<% end %>
