<ul class="nav-tabs">
  <li class="nav-tabs-item"><%= link_to "About us", pages_path("about") %></li>
  <li class="nav-tabs-item"><%= link_to "Publishers", publisher_page_path %></li>
  <li class="nav-tabs-item"><%= link_to "Jobs", pages_path("jobs") %></li>
</ul>
