<div id="first-tour-modal" class="modal hide fade tour-modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= image_tag('factlink-logo.png', height: "24px") %></h3>
  </div>
  <div class="modal-body">
    <p>Hey! Welcome to Factlink. We're glad you've registrered an account and hope you are ready to provide credibility to the web. Factlink is build around cool people like you!</p>
    <p>Let me give you a quick tour to show you what you can expect:</p>

    <%= image_tag(User.first(conditions: {username: "remon"}).avatar.url) %>
    <p>This is Ray. He is a boss. You want to become just like him.</p>
    <p>Here is how:</p>        
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary hide-modal">Close</a>
  </div>
</div>

<a href="#" class="show-modal">Show</a>

<% content_for :javascript do %>
<script>

  $('#first-tour-modal').hide();
  $('#first-tour-modal').modal({backdrop: true});

  $('.show-modal').bind('click', function() {
    $('#first-tour-modal').modal('show');
  });
  $('.hide-modal').bind('click', function() {
    $('#first-tour-modal').modal('hide');
  });  
</script>
<% end %>