<% content_for :responsive_viewport do %>
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
<% end %>

<% content_for :meta_tags do %>
  <% # Because there are two urls for this page, factlink.com and factlink.com/in-your-browser %>
  <link rel="canonical" href="<%= in_your_browser_url %>">
<% end %>

<% content_for :header do %>
  <div class="in-your-browser-header">
    <h1 class="header-heading">Share your knowledge for a better world</h1>
    <p class="header-tagline">Use Factlink to discuss <i>anything</i> on the web.</p>

    <div class="js-install-extension-upper-button"></div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="in-your-browser-horizontal">
    <div class="in-your-browser-horizontal-box">
      <i class="in-your-browser-icon-layer"></i>
      <h1 class="in-your-browser-heading">Discuss anything, anywhere</h1>
      <p>We believe in an open internet where everything can be discussed. With Factlink we have created a layer over the web that shows discussions inside the text you are reading.</p>
    </div>
    <div class="in-your-browser-horizontal-box">
      <i class="in-your-browser-icon-social"></i>
      <h1 class="in-your-browser-heading">A social network for knowledge</h1>
      <p>Building and discovering knowledge is a social activity. We make it easy to involve your friends or followers in discussions, and build a reputation. Invite them to share their knowledge with the world!</p>
    </div>
  </div>
<% end %>

<% content_for :below_content do %>
  <div class="in-your-browser-below-content">
    <div class="in-your-browser-horizontal">
      <h1 class="in-your-browser-heading">Recent activity</h1>
      <div class="js-in-your-browser-feed in-your-browser-feed"></div>
    </div>

    <div class="in-your-browser-horizontal">
      <%= link_to 'Discover more', feed_path, class: 'button in-your-browser-feed-more-button' %>
    </div>

    <div class="in-your-browser-horizontal">
      <div class="in-your-browser-horizontal-box in-your-browser-below-content-box">
        <h1 class="in-your-browser-heading">Join the revolution!</h1>
        <p>Discussion and access to information are key to a well-functioning society. Install the extension to share your knowledge and stay updated.</p>

        <div class="js-install-extension-lower-button"></div>

        <div class="visible-when-unsupported-browser">
          <div class="in-your-browser-dashed-border">
            <a class="js-bookmarklet-button in-your-browser-bookmarklet button-success" onclick="return false"><span style="display: none">Factlink</span></a>
          </div>

          <p>To install Factlink, drag this button to your bookmarks bar</p>
        </div>

      </div>
      <div class="in-your-browser-horizontal-box in-your-browser-below-content-box">
        <h1 class="in-your-browser-heading">Have your own site?</h1>
        <p>Use Factlink for better discussions and user engagement, whether you subscribe to our ideology or not!</p>
        <%= link_to "Learn more", on_your_site_path, class: "button-confirm" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :specific_javascript do %>
  <script>
    React.renderComponent(ReactInstallExtensionButton({extraButtonClasses: 'button-huge'}), $('.js-install-extension-upper-button')[0]);

    React.renderComponent(ReactInstallExtensionButton(), $('.js-install-extension-lower-button')[0]);

    $('.js-bookmarklet-button').attr('href', Factlink.Global.bookmarklet_link);

    var feedActivities = new GlobalFeedActivities([], {count: 4});
    feedActivities.fetch();

    React.renderComponent(ReactFeedActivitiesFixed({model: feedActivities}), $('.js-in-your-browser-feed')[0]);
  </script>
<% end %>
