<!-- header -->
<% content_for :header do %>
	
	<% if user_signed_in? %>
		<% unless current_user.channels.count > 0 %>
		<p>Did you know you can use channels to manage your facts? Start <%= link_to('adding channels', new_channel_path(current_user.username)) %> here.</p>
		<% end %>	
	<% end %>

<% end %>

<!-- left column -->
<% content_for :left_column do %>

	<%= users_and_factlink_information %>
	
<% end %>


<!-- main coloumn -->
<% content_for :main_column do %>

	<header class="append-bottom">
		<h1>recent interesting facts</h1>
		<!-- <sub style="display: inline-block;">See what's goin on around the globe. 
			<% if user_signed_in? %>
			You can create <%= link_to('channels', new_channel_path(current_user.username))%> with your own interest as well.
			<% end %>
			</sub> -->
	</header>

	<%= fact_listing(@facts) %>

<% end %>


<!-- right column -->
<% content_for :right_column do %>

	<div id="activity-listing">
		<%= activity_list(@activities, 20)%>
	</div>
	
<% end %>