<% content_for :payoff do %>
  <h2>Building a collectively reviewed perspective on the world's information</h2>
  <p> Because the web needs what you know!</p>
<% end %>

<% content_for :sign_up do %>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
  <% end %>

  <h4>Reserve your username</h4>
  <p>We'll get you account access as we're opening up for more users.</p>
  <%= render template: "users/registrations/new" %>
  &nbsp;

<% end %>


<% content_for :selling_points do %>
  <h3>Why use Factlink</h3>
  <ul>
    <li class="image-chart">Build authority on any topic, discover expertise</li>
    <li class="image-people">Share what you know, contribute to people's perspective</li>
    <li class="image-globe">Check the credibility of the information you are reading</li>
    <li class="image-money">Free information access. Period</li>
  </ul>
<% end %>


<% content_for :top_facts do %>
  <% cache :top_factlinks do%>
    <h3>Top factlinks</h3>
    <ul id="top-factlinks">
    <% top_facts(3).each do |f| %>
      <li><%= render_mustache 'facts/fact_bubble',  fact: f, limit_characters_to_display: 80, hide_links: true %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% content_for :movie do %>
		<a data-toggle="modal" href="#videoModal" id="watchVideoButton"></a>
		<div class="modal fade" id="videoModal">

      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a><br>
      </div>

		  <div class="modal-body">
		  </div>
		</div>
<% end %>

<% content_for :javascript do %>
  <script>
    $("article.fact").each(function()  {
      $fact = $(this);
      $fact.data("wheel", new Wheel(this));
      $fact.data("wheel").init($fact.find(".wheel").get(0), {'noninteractive':true});
    });

    var iframe = $('<iframe src="https://player.vimeo.com/video/39821677?autoplay=1" width="740" height="416" style="border: 0px;"></iframe>');
    $('#watchVideoButton').click(function(){
      iframe.clone().appendTo($('#videoModal > .modal-body'));
    });

    $('#videoModal').on('hidden', function () {
      $('#videoModal > .modal-body').empty();
    });



  </script>
<% end %>
