<!-- header -->
<% content_for :header do %>
	
	<% if user_signed_in? %>

		<% unless current_user.channels.count > 0 %>
		<p>Did you know you can use channels to manage your facts? Start <%= link_to('adding channels', new_channel_path(current_user.username)) %> here.</p>
		<% end %>	
	<% end %>

<% end %>

<!-- left column -->
<% content_for :left_column do %>

	<!-- <%= users_and_factlink_information %> -->

	<%= channel_listing_for_user(User.all.first.channels, User.all.first) %>
	
<% end %>


<!-- main coloumn -->
<% content_for :main_column do %>

	<div style="width: 100%; border: solid 1px #e6007e; padding: 16px;">
		<%= fact_search %>
	</div>

	<header class="append-bottom">
		<h1>recent interesting facts</h1>
		<sub style="display: inline-block;">See what's goin on around the globe. 
			<% if user_signed_in? %>
			You can create <%= link_to('channels', new_channel_path(current_user.username))%> with your own interest as well.
			<% end %>
			</sub>
	</header>

	<%= fact_listing(@facts) %>

<% end %>
