<div id="leftColumn" class="span-12">

	<div id="related_topics" class="span-12 prepend-top">
		<ul class="horizontal">
			<li>#linux</li>
			<li>#kernel</li>
			<li>#failure</li>
		</ul>
	</div> <!-- related_topics -->
	
	<div id="tabs" class="span-12">
		<!-- <ul class="horizontal">
			<li class="active">Factlinks</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul> -->
	</div> <!-- tabs -->
	
	<% (1..6).each do |block| %>
	<div class="factBlock span-12">
		<h3>Some title</h3>
		<p>baron baron baron baron</p>		
	</div>
	<% end %>
	
</div> <!-- leftColumn -->

<div id="rightColumn" class="span-12 prepend-top last">
	
	<div id="block1" class="span-12">
		<div class="span-6">
			<h3>Expertise</h3>
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	
		<div class="span-6 last">
			<h3>Read me!</h3>
			<ul>
				<li>Interesting</li>
				<li>Nice</li>
				<li>Oh yeah</li>
			</ul>
		</div>
	</div> <!-- block1 -->
	
	
	<div id="block2" class="span-12">
		<div class="span-6">
			<h3>Heading</h3>
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	
		<div class="span-6 last">
			<h3>Read me!</h3>
			<ul>
				<li>Interesting</li>
				<li>Nice</li>
				<li>Oh yeah</li>
			</ul>
		</div>
	</div> <!-- block2 -->
	
</div> <!-- leftColumn -->