<% content_for :payoff do %>
<h2>&#10003; Credibility you can see</h2>
<p> Factlink helps people find credibility in the world's information. It transforms pieces of information from web documents into dynamic channels of information.</p>

<% end %>

<% content_for :sign_up do %>
<h4>Sign up for the beta</h4>
<p>Sign up for our beta and you’ll be the first in line for a beta account when we release it.</p>
<form>
  <input type="text" class="span4" placeholder="First name">
  <input type="text" class="span4" placeholder="Email">
  <br>
  <input type="submit" class="btn success" value="Sign up">
  <br>
  <br>
</form>

<% end %>


<% content_for :selling_points do %>
<h3>Why use factlink</h3>
<ul>
  <li><img src="images/chart.png" alt=""> Factlink provides immediate access to the state of knowledge.</li>
  <li><img src="images/people.png" alt=""> You can crowdsource with people to find more credibility in information.</li>
  <li><img src="images/globe.png" alt=""> Create a community where information is gathered and bundled.</li>
  <li><img src="images/money.png" alt=""> Oh, did we mention it’s <em>completely free?</em></li>
</ul>

<% end %>


<% content_for :top_facts do %>
<h3>Top factlinks</h3>
<% unless user_signed_in? %>
<div class="get-chrome-extension">
  <span class="button-information">Use Factlink? Get the extension:</span>
  
  <div class="get-extension-wrapper">
    <div class="get-extension-button">
      <a href="<%= FactlinkUI::Application.config.static_url %>chrome/factlink-latest.crx">
        <%= image_tag('arrow_down_16x16.png') %>
        Chrome Extension
      </a>
    </div>
  </div>
  
  <a href='javascript:<%= minify_js(ensure_no_single_quotes(render 'bookmarklet.js')) %>'>Bookmarklet</a>
</div>
<% end %>

<% end %>


<% content_for :movie do %>
<img src="/images/fact-wheel.png" alt="Facts">
<% end %>


