<div id="leftColumn" class="span-12">

	<div id="related_topics" class="span-12 prepend-top">
		
		<p>Did you mean '<span class="italic"><%= params[:search] %></span>'?</p>
		<ul class="horizontal">
			<li>#linux</li>
			<li>#kernel</li>
			<li>#failure</li>
		</ul>
	</div> <!-- related_topics -->
	
	<div id="tabs" class="span-12">
		<!-- <ul class="horizontal">
			<li class="active">Factlinks</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul> -->
	</div> <!-- tabs -->
	
	<div id="factlinkContainer">
		<% unless @factlinks.count > 0 %>
			<p><%= @factlinks.count %> results</p>
		<% else %>		

			<% @factlinks.each do |factlink| %>
				<%= render :partial => "factlink_block", :locals => {:factlink => factlink} %>
			<% end %>
			
		<% end %>
	</div> <!-- factlinkContainer -->
	
</div> <!-- leftColumn -->

<div id="rightColumn" class="span-12 prepend-top last">
	
	<div id="rightColumnContainer">
		<div id="block1" class="span-12">
			<div class="span-6">
				<h3>Expertise</h3>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</div>
	
			<div class="span-6 last">
				<h3>Read me!</h3>
				<ul>
					<li>Interesting</li>
					<li>Nice</li>
					<li>Oh yeah</li>
				</ul>
			</div>
		</div> <!-- block1 -->
	
	
		<div id="block2" class="span-12">
			<div class="span-6">
				<h3>Heading</h3>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</div>
	
			<div class="span-6 last">
				<h3>Read me!</h3>
				<ul>
					<li>Interesting</li>
					<li>Nice</li>
					<li>Oh yeah</li>
				</ul>
			</div>
		</div> <!-- block2 -->
	</div> <!-- rightColumnContainer -->
	
</div> <!-- leftColumn -->