<% content_for :header do %>
  <h1 class="header-heading">Jobs</h1>
  <p>
    We love talking to talented people.
  </p>
<% end %>

<% content_for :content do %>
  <h4>Help us make the world more credible.</h4>
  <p>
    Factlink is a social, more-than-profit enterprise aiming to increase the quality of online information. We're looking for people who love building and scaling a global product, while doing something good for the world.
  </p>

  <p>
    All team members have expertise on several fields, performing different tasks within the business. We strongly value learning new skills from each other, and researching new projects. This is the only way we can stay on the cutting edge of technology.
  </p>

  <p>
    If your skills match one or more of the positions below, and you think building Factlink could be exciting, please contact us at <a href="mailto:team@factlink.com">team@factlink.com</a>.
  </p>

  <h4>Software engineer</h4>

  <p>
    We're looking for someone who has no problem programming both in the backend and in the frontend. One day you might be developing in our Ruby on Rails stack, the other working on our frontend single page appliation build on React and Backbone, or developing on our client-side Javascript library, which runs (and keeps running!) on every site on the web. Every team member touches every aspect of the application. Each is responsible for the full product. Of course it is alright to be specialised in a specific technology, as long as you're open to learning!
  </p>

  <p>
    We develop using an Agile process, supported by the use of Github, Circle CI (continous integration) and Chef server automation.
    We're continuously refactoring, use continuous deployment at the feature level. Because we're confident in our process, this means your code will run in production from the day you start.
  </p>

  <p>
    Keywords: Ruby on Rails, React, Backbone, Javascript/Coffeescript, Agile development, UI/UX
  </p>
<% end %>
