<% content_for :header do %>
  <div class="in-your-browser-header">
    <h1 class="header-heading">Share your knowledge for a better world</h1>
    <p class="header-tagline">Use Factlink to discuss <i>anything</i> on the web.</p>
  </div>
<% end %>

<% content_for :content do %>
  <div class="on-your-site-content">
    <h1 class="static-pages-heading-h1">Discuss within context</h1>
    <p>You can discuss within context. You can directly comment on a paragraph by clicking on the discussion icon. If you select a certain phrase you can specifically comment on the selected phrase. It's easy to switch focus between reading an interesting article and participating in a discussion about specific content your reading.</p>

    <h5>Best comments float top</h5>
    <p>Appreciate the best comments by voting them up. The collective will provide you with the best comments.</p>
  </div><div class="on-your-site-content">
    <div class="browser-window">
      <div class="browser-window-bar">
        <span class="browser-window-bar-close"></span>
        <span class="browser-window-bar-minimize"></span>
        <span class="browser-window-bar-maximize"></span>
      </div>
      <div class="browser-window-video-container">
        <iframe class="browser-window-video" src="//player.vimeo.com/video/88752539?title=0&amp;autoplay=1" width="343" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
<% end %>

<% content_for :below_content do %>
  <div class="learn-more-container">
    <div class="social-information">
      <div class="bliep">
        <div class="bliep-image">
          plaatje 1
        </div>
        <h1>A better social tool</h1>
        <p>Express yourself in more then 140 characters by sharing discussions to Twitter or Involve your friends on Facebook in more serious discussions</p>
      </div>

      <div class="bliep">
        <div class="bliep-image">
          plaatje 2
        </div>
        <h1>Give recognition</h1>
        <p>Don't feel like writing a comment but do want to give recognition for a well written paragraph? Give recognition by using the thumb up and thumb down.</p>
      </div>

      <div class="bliep">
        <div class="bliep-image">
          plaatje 3
        </div>
        <h1>Share with friends</h1>
        <p>Share</p>
      </div>
    </div>

    <div class="in-your-browser-cta-container">
      <h1 class="static-pages-heading-h1">Extend your browser</h1>
      <p>Discuss about anything, everywhere. Even on websites that did not implement Factlink. We believe in an open internet in which everybody can share there opinions, believes and thoughts about the information that is being spread to the world. This way we all can get a better perspective.</p>
      <div class="install-extension-button js-install-extension-button"></div>
    </div>
  </div>
<% end %>

<% content_for :specific_javascript do %>
  <script>
    React.renderComponent(ReactHugeInstallExtensionButton(), $('.js-install-extension-button')[0]);
  </script>
<% end %>
