<% content_for :responsive_viewport do %>
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
<% end %>

<% content_for :meta_tags do %>
  <% # Because there are two urls for this page, factlink.com and factlink.com/in-your-browser %>
  <link rel="canonical" href="<%= in_your_browser_url %>">
<% end %>

<% content_for :header do %>
  <div class="in-your-browser-header">
    <h1 class="header-heading">Share your knowledge for a better world</h1>
    <p class="header-tagline">Use Factlink to discuss <i>anything</i> on the web.</p>

    <div class="js-install-extension-upper-button"></div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="on-your-site-content">
    <h1 class="on-your-site-content-heading">Discuss within context</h1>
    <p>You can discuss within context. You can directly comment on a paragraph by clicking on the discussion icon. If you select a certain phrase you can specifically comment on the selected phrase. It's easy to switch focus between reading an interesting article and participating in a discussion about specific content your reading.</p>

    <h5>Best comments float top</h5>
    <p>Appreciate the best comments by voting them up. The collective will provide you with the best comments.</p>
  </div>

  <div class="on-your-site-illustration" style="width: 500px;">
    <div class="browser-window">
      <div class="browser-window-bar">
        <span class="browser-window-bar-close"></span>
        <span class="browser-window-bar-minimize"></span>
        <span class="browser-window-bar-maximize"></span>
      </div>
      <div class="browser-window-video-container">
        <iframe class="browser-window-video" src="//player.vimeo.com/video/88752539?title=0&amp;autoplay=1" width="343" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
<% end %>

<% content_for :below_content do %>
  <div class="container">
    <div class="social-information">
      <div class="bliep">
        <h1>A better social tool</h1>
        <p>Express yourself in more then 140 characters by sharing discussions to Twitter or Involve your friends on Facebook in more serious discussions</p>
      </div>

      <div class="bliep">
        <%= render "home/partials/give_opinion" %>
        <h1>Give recognition</h1>
        <p>Don't feel like writing a comment but do want to give recognition for a well written paragraph? Give recognition by using the thumb up and thumb down.</p>
      </div>

      <div class="bliep">
        <h1>Share with friends</h1>
        <p>Share</p>
      </div>
    </div>
      <div class="in-your-browser-cta-container">
        <div class="extend-your-browser">
          <h1 class="on-your-site-content-heading">Extend your browser</h1>
        </div>
      </div>
  </div>


<% end %>
