<% content_for :javascript do %>
  <script>
    var results = new SearchResults(<%= @results.to_json.html_safe %>, {
      search: "<%= params[:s] %>"
    });

    var searchResultView = new SearchResultView({
      collection: results
    }).render();

    $('#main-wrapper').append(searchResultView.el);
  </script>
<% end %>


<% content_for :left_column do %>
  <%= user_signed_in? ? render("users/user_li", user: current_user ) : "&nbsp;".html_safe %>
<% end %>

<h1>Searched for: <b><%= params[:s] %></b></h1>

<% unless @results.count > 0 %>
  <div class="append-bottom">
      <p>Sorry, your search didn't return any results.</p>
  </div>
<% end %>
