<% content_for :header do %>
  <div class="static-pages-header">
    <h1 class="header-heading">Share your knowledge with the world</h1>
    <p class="header-tagline">Use Factlink to discuss <i>anything</i> on the web.</p>

    <div class="js-install-extension-button"></div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="discuss-context-content">
    <h1 class="static-pages-heading-h1">Discuss anything</h1>
    <p>See something worth sharing and discussing? Click on the icon next to a paragraph, and share your thoughts. On any website.</p>
    <ul class="discuss-context-list">
      <li>See what others say about what you’re reading</li>
      <li>Debunk statements by adding references</li>
      <li>Share your opinion and invite others to discuss</li>
    </ul>
  </div>
  <div class="discuss-context-video">
    <div class="browser-window-container">
      <div class="browser-window">
        <div class="browser-window-bar">
          <span class="browser-window-bar-close"></span>
          <span class="browser-window-bar-minimize"></span>
          <span class="browser-window-bar-maximize"></span>
        </div>
        <div class="browser-window-video-container">
          <iframe class="browser-window-video" src="//player.vimeo.com/video/89314722?title=0&amp;autoplay=1;loop=1" width="462" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :below_content do %>
  <div class="static-pages-below-content">
    <div class="container">
      <div class="learn-more-container"><div class="learn-more-column">
          <div class="learn-more-column-image"><div class="learn-more-column-image-inner">
            <%= render "home/partials/best_comment_top" %>
          </div></div>
          <h1 class="static-pages-heading-h2">Discover great discussions</h1>
          <p>Find comments in the margins of articles while browsing the web. Or discover interesting discussions in your feed.</p>
        </div><div class="learn-more-column">
          <div class="learn-more-column-image"><div class="learn-more-column-image-inner">
            <%= render "home/partials/give_opinion" %>
            </div></div>
          <h1 class="static-pages-heading-h2">Give recognition</h1>
          <p>Don't feel like writing a comment but still want to express your appreciation? Use the "interesting" button. This also keeps you updated on new comments.</p>
        </div><div class="learn-more-column">
          <div class="learn-more-column-image"><div class="learn-more-column-image-inner">
            <%= render "home/partials/social_conversation" %>
          </div></div>
          <h1 class="static-pages-heading-h2">Share better</h1>
          <p>Share interesting quotes from articles on Facebook and Twitter. Involve your friends and followers in interesting discussions.</p>
      </div></div>

      <div class="extend-your-browser-container">
        <p>Discuss anything, on any website. Help us make the web a better place by sharing your knowledge!</p>
        <div class="extend-your-browser-install-button js-install-extension-button"></div>

      </div>
    </div>
  </div>
<% end %>

<% content_for :specific_javascript do %>
  <script>
    [].forEach.call(document.querySelectorAll('.js-install-extension-button'),
      function(el) {
        React.renderComponent(ReactInstallExtensionOrBookmarklet({huge_button:true}), el);
      }
    );
  </script>
<% end %>
