<% content_for :header do %>
  <div class="static-pages-header">
    <h1 class="header-heading">Your innovation only becomes social when it is shared!</h1>
    <p class="header-tagline">Start sharing challenges and exchanging feedback to build a better future today.</p>

    <a target="_blank" href="/users/sign_in_or_up" class="button-success button-huge">Join Feed Forward</a>
  </div>
<% end %>

<% content_for :content do %>
  <div class="static-pages-content">
    <p><strong>Connect to Collectives</strong></br>
    Connect to a global collective of change makers to improve your innovation</p>

    <p><strong>Post Challenges</strong></br>
    Post challenges. Share your current challenge with your innovation collective to generate new ideas, advice and insights.</p>

    <p><strong>Exchange Feedback</strong></br>
    Give and get feedback from your collective of change makers to generate new ideas, advice and insights from innovations elsewhere</p>
  </div><!--
No whitespace because of inline-block
--><div class="static-pages-content">
    <p><strong>Make Innovation Social</strong></br>
    Make your innovation social by connecting to your innovation collective</p>

    <p><strong>Make Innovation Better</strong></br>
    Make your innovation better by getting and giving feedback</p>

    <p><strong>Build Story Database</strong></br>
    Build a crowdsourced story database to help each other in doing social innovation</p>
  </div>
<% end %>

<% content_for :below_content do %>

<% end %>
