<% content_for :header do %>
  <div class="static-pages-header">
    <h1 class="header-heading">Your innovation only becomes social when it is shared!</h1>
    <p class="header-tagline">Start sharing stories and exchanging feedback to build a better future today.</p>

    <a target="_blank" href="/users/sign_in_or_up" class="button-success button-huge">Join Feedback Go Forward</a>
  </div>
<% end %>

<% content_for :content do %>
  <div class="static-pages-content">
    <p><strong>Make innovation social</strong></br>
    Make your innovation social by connecting to your innovation society</p>

    <p><strong>Make innovation better</strong></br>
    Make your innovation better by receiving real-time and automatic feedback from your innovation society</p>

    <p><strong>Build visually attractive projects</strong></br>
    Build a visually attractive, user-friendly project space to support your innovation initiative.</p>
  </div><!--
No whitespace because of inline-block
--><div class="static-pages-content">
    <p><strong>Connect to collectives</strong></br>
    Connect to a global collective of change makers to improve your ideas</p>

    <p><strong>Share stories</strong></br>
    Share your stories with your innovation society to show what you are doing</p>

    <p><strong>Exchange Feedback</strong></br>
    Give and get feedback from your collective of change makers to generate new ideas, advice and insights from innovations elsewhere</p>
  </div>
<% end %>

<% content_for :below_content do %>

<% end %>
