<%= content_for :left_column do %>

<div class="help-text span2">
  <h4>Now, let's create your first Factlink</h4>
  <p>First, select a statement on this dummy page on your right.</p>
  <p>You can use Factlink to select statements on any website by using the Chrome Extension.</p>
</div>

<div class="arrow1 rotate"></div>
<div class="arrow2 rotate"></div>

<% end %>

<div id="the-factlink-times">

  <h1>The Factlink Times</h1>
  <sub>4th of July, 2012</sub>

  <hr>

  <p>Bacon ipsum dolor sit amet shankle pancetta pork tail beef ribs, venison pastrami drumstick meatball short loin pork loin spare ribs brisket salami short ribs. Boudin hamburger tri-tip, shank ground round andouille beef ribs bacon cow speck sirloin corned beef pork loin shankle.</p>

  <p>Tri-tip prosciutto chicken, jerky cow pancetta spare ribs short loin pork speck shoulder. Venison meatball chicken pork chop, cow tri-tip rump frankfurter kielbasa ball tip corned beef t-bone. Speck hamburger ribeye, shankle frankfurter ball tip chuck pastrami bresaola tongue brisket jowl cow rump. Turkey ribeye corned beef, sirloin prosciutto ham hock tail leberkas capicola ground round biltong. Strip steak shank salami, meatball turkey filet mignon jowl biltong.</p>

  <p>Tongue flank pork belly leberkas beef ribs. Turkey meatloaf jerky short loin. Filet mignon prosciutto frankfurter, strip steak tri-tip jerky tongue pastrami t-bone boudin salami. Flank meatloaf cow pig ribeye, jowl tri-tip shoulder chuck. Ball tip flank meatball jowl sirloin fatback jerky turducken.</p>

</div>