$popupWidth: 640px;
$separatorWidth: 35px;

.accounts-popup-topbar {
  @extend %centering;
  background: white;
  z-index: 1;
  height: $topbarHeight;
  border-bottom: 1px solid $baseBorderColor;
}

.accounts-popup-logo {
  @extend %centering-inner;
}

.accounts-popup-content {
  margin-top: 20px;
}

.accounts-popup-heading {
  text-align: center;
  margin-bottom: 20px;
}

.accounts-popup-just-a-second {
  text-align: center;
}

.accounts-popup-form {
  @extend %white-block-with-shadow;
  width: 450px;
  margin: auto;
  padding: 20px;
}

.accounts-popup-fields-container {
  margin-bottom: 20px;
}

.accounts-popup-button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.accounts-popup-button {
  width: 150px;
  margin: 0 auto;
}

.accounts-popup-half-form-container {
  display: table;
  margin: auto;
}

.accounts-popup-half-form {
  @extend %white-block-with-shadow;
  width: ($popupWidth - $separatorWidth)/2 - 20px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;

  input[type=text], input[type=password] {
    width: 100%;
  }
}

.accounts-popup-half-form-heading {
  margin-bottom: 10px;
}

.accounts-popup-forgot-password {
  display: inline-block;
  margin-top: 11px;
}

.accounts-popup-signin-button {
  width: 100px;
  margin-top: 5px;
  float: right;
}

.accounts-popup-create-button {
  float: right;
}

.accounts-popup-half-form-separator {
  display: inline-block;
  font-size: $heading1FontSize;
  color: #555;
  width: $separatorWidth;
  text-align: center;
  line-height: 150px;
  vertical-align: top;
}
