@mixin button-color($button-color) {
  background-color: $button-color;
  border-color: darken($button-color,10);

  &:hover {
    background-color: darken($button-color,5);
    border-color: darken($button-color,25);
  }
}

%button-base {
  position: relative;
  display: inline-block;
  height: $largeButtonHeight;
  line-height: $largeButtonHeight - 3px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 13px;
  color: white;
  border-radius: $baseBorderRadius;
  padding: 0 $largeButtonPadding;
  transition: all 0.1s;
  border: 1px solid;
  border-bottom: 2px solid;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    color: white;
  }

  &:hover:not(:disabled):before, &:active:before {
    background-color: rgba(0,0,0,0.1);
  }

  &:disabled {
    color: $mutedFontColor;
    cursor: not-allowed;
  }

  &:active {
    outline: none; //prevents ugly webkit active state
  }

  &.button-loading {
    background-size: 40px 40px;
    text-shadow: none;
    @include striped(45deg, rgba(0,0,0,0.07));
    @include animate-stripes(1.5s);
  }
}

.button {
  @extend %button-base;
  @include button-color($buttonBackground);
  color: $linkColor;

  &:hover {
    color: $linkColor;
  }
}

.button-confirm {
  @extend %button-base;
  @include button-color($buttonConfirmBackground);
}

.button-danger {
  @extend %button-base;
  @include button-color($buttonDangerBackground);
}

.button-twitter {
  @extend %button-base;
  @include button-color(#52a1dc);
}

.button-facebook {
  @extend %button-base;
  @include button-color(#335292);
}

.button-small {
  font-size: 12px;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight;
  padding: 0 $baseButtonPadding;
}

.button-huge {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

.button-action-checked {
  color: $greenLabelColor;

  .icon-ok {
    font-weight: lighter;
  }

  &.button-danger {
    font-weight: 300;
    color: white;

    .icon-remove {
      font-weight: lighter;
    }
  }
}

.button-opinion-believes, .button-opinion-disbelieves {
  @extend .button;
  padding: 0px 4px;
  transition: background-color 0.5s ease;
}

.button-opinion-active {
  &.button-opinion-believes {
    background: $green;
    border-color: darken($green, 10);
    color: darken($green, 30)
  }

  &.button-opinion-disbelieves {
    background: $red;
    border-color: darken($red, 30);
    color: darken($red, 45);
  }
}
