$buttonBgTransition: all 0.3s ease;

%button-base {
  position: relative;
  display: inline-block;
  z-index:0;
  vertical-align: middle;
  font-family: inherit; //so that browsers don't use a system font for buttons.
  font-size: 13px;
  height: $largeButtonHeight;
  line-height: $largeButtonHeight - 3px;

  color: white;
  border-radius: $baseBorderRadius;
  padding: 0 $largeButtonPadding;
  border: 1px solid;
  border-bottom: 2px solid;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;

  border-color: rgba(0,0,0, 0.13);

  &:before {
    //this is an overlay for fading the background color.
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: -1;
    background-color: transparent;
    transition: $buttonBgTransition;
  }

  &:hover {
    color: white;
    border-color: rgba(0,0,0, 0.26);
  }

  &:focus {
    border-color: rgba(0,0,0,0.45);
    outline: none;
  }

  &:hover:not(:disabled):before, &:active:before {
    background-color: rgba(0,0,0,0.1);
  }

  &:disabled {
    color: $mutedFontColor;
    cursor: not-allowed;
  }

  &:active {
    transition: none;
    padding-top: 1px;
    border-bottom: 1px solid;
    outline: none; //prevents ugly webkit active state
  }
}

@mixin button-with-left-arrow($background-color) {
  margin-left: $arrowSize;
  &:after {
    content: '';
    position: absolute;
    border: $arrowSize solid transparent;
    border-left: none;
    left: -$arrowSize;
    border-right-color: $facebookBlue;
    margin-top: -$arrowSize;
    top: 50%;
  }

}

$arrowSize: 5px;

.button-arrow-left {
  margin-left: $arrowSize;
  &:after {
    content: '';
    position: absolute;
    border: $arrowSize solid transparent;
    border-left: none;
    left: -$arrowSize;
    border-right-color: $facebookBlue;
    margin-top: -$arrowSize;
    top: 50%;
    transition: $buttonBgTransition;
  }

  &:hover:not(:disabled):after, &:active:after {
    border-right-color: mix(black, $facebookBlue, 10%);
  }
}


.button-arrow-right {
  margin-right:$arrowSize;
  &:after {
    content: '';
    position: absolute;
    border: $arrowSize solid transparent;
    border-right: none;
    border-left-color: $buttonDangerBackground;
    margin-top: -$arrowSize;
    top: 50%;
    right: -$arrowSize;
    transition: $buttonBgTransition;

  }

  &:hover:not(:disabled):after, &:active:after {
    border-left-color: mix(black, $buttonDangerBackground, 10%);
  }
}


.button {
  @extend %button-base;
  background-color: $buttonBackground;
  color: $linkColor;

  &:hover {
    color: $linkColor;
  }
}

.button-confirm {
  @extend %button-base;
  background-color: $buttonConfirmBackground;
}

.button-success {
  @extend %button-base;
  background-color: $green;
}

.button-danger {
  @extend %button-base;
  background-color: $buttonDangerBackground;
}

.button-twitter {
  @extend %button-base;
  background-color: $twitterCyan;
}

.button-facebook {
  @extend %button-base;
  background-color: $facebookBlue;
}

.button-small {
  font-size: 12px;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight - 3px;
  padding: 0 $baseButtonPadding;
}

.button-huge {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

.button-action-checked {
  color: $greenLabelColor;
  &:hover {
    color: $greenLabelColor;
  }
}

.button-opinion-believes, .button-opinion-disbelieves {
  @extend .button;
  padding: 0px 4px;
  transition: background-color 0.5s ease;
}

.button-opinion-active {
  &.button-opinion-believes {
    background-color: $green;
    color: darken($green, 30)
  }

  &.button-opinion-disbelieves {
    background-color: $red;
    border-color: darken($red, 30); //A darker red for sufficient contrast
    color: darken($red, 45);
  }
}
