@import "bootstrap/mixins";

.button-base {
  border: none;
  color: white;
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  border-radius: 3px;
  height: @largeButtonHeight;
  line-height: @largeButtonHeight;
  padding: 0 @largeButtonPadding;
  transition: all 0.1s;
  vertical-align: middle;
  cursor: pointer;

  &:before { // This resolved a weird bug in Chrome where an area between the text and the border bottom was not clickable. (issue 1029)
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
  }

  &:disabled {
    color: @mutedFontColor;;
    cursor: not-allowed;
  }

  &:active {
    border-bottom: 0px;
    outline: none; //prevents ugly webkit active state
  }

  &.button-loading {
    background-size: 40px 40px;
    text-shadow: none;
    .striped(45deg, rgba(0,0,0,0.07));
    .animate-stripes(1.5s);
  }
}

.button-color(@backgroundColor) {
  background-color: @backgroundColor;
  border-bottom: @largeButtonBorderWidth solid rgba(0,0,0,0.1);

  &:hover:enabled {
    background-color: darken(@backgroundColor, 10%);
    border-color: rgba(0,0,0,0.1);
  }

  &:active {
    background-color: darken(@backgroundColor, 10%);
    border-top: @largeButtonBorderWidth solid rgba(0,0,0,0.1);
  }
}

.button-shadow(@shadowColor) {
  text-shadow: 0 1px 0 @shadowColor;
}

.button {
  .button-base();
  .button-color(@buttonBackground);
  .button-shadow(@buttonTextShadow);
  color: @linkColor;
}

.button-confirm {
  .button-base();
  .button-color(@buttonConfirmBackground);
  .button-shadow(@buttonConfirmTextShadow);
}

.button-danger {
  .button-base();
  .button-color(@buttonDangerBackground);
  .button-shadow(@buttonDangerTextShadow);
}

.button-twitter {
  .button-base();
  .button-color(@buttonTwitterBackground);
}

.button-facebook {
  .button-base();
  .button-color(@buttonFacebookBackground);
}

.button-small {
  font-size: 12px;
  height: @baseButtonHeight;
  line-height: @baseButtonHeight;
  padding: 0 @baseButtonPadding;
  border-bottom-width: @baseButtonBorderWidth;

  &:active {
    padding-top: 1px;
    border-top-width: @baseButtonBorderWidth;
  }
}

.button-action-checked {
  color: @greenLabelColor;

  .icon-ok {
    font-weight: lighter;
  }

  &.button-danger {
    font-weight: 300;
    color: white;

    .icon-remove {
      font-weight: lighter;
    }
  }
}
