@mixin button-color($button-color) {
  background-color: $button-color;
}

@mixin button-height ($button-height) {
  height: $button-height;
  line-height: $button-height - 3px;
}

%button-base {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-size: 13px;
  color: white;
  border-radius: $baseBorderRadius;
  padding: 0 $largeButtonPadding;
  transition: all 0.1s;
  border: 1px solid;
  border-bottom: 2px solid;
  cursor: pointer;
  transition: 0.3s ease;
  white-space: nowrap;

  border-color: rgba(0,0,0, 0.13);

  position:relative;
  z-index:0;

  &:hover {
    color: white;
    border-color: rgba(0,0,0, 0.26);
    &:after {
      position: absolute;
      content:'';
      top:0;
      right:0;
      left:0;
      bottom:0;
      border-radius: inherit;
      z-index: -1;
      background: rgba(0,0,0, 0.07);
    }
  }

  &:focus {
    border-color: rgba(0,0,0,0.45);
    outline: none;
  }

  &:hover:not(:disabled):before, &:active:before {
    background-color: rgba(0,0,0,0.1);
  }

  &:disabled {
    color: $mutedFontColor;
    cursor: not-allowed;
  }

  &:active {
    transition: none;
    padding-top: 1px;
    border-bottom: 1px solid;
    outline: none; //prevents ugly webkit active state
  }
}

.button {
  @extend %button-base;
  @include button-color($buttonBackground);
  @include button-height ($largeButtonHeight);
  color: $linkColor;

  &:hover {
    color: $linkColor;
  }
}

.button-confirm {
  @extend %button-base;
  @include button-color($buttonConfirmBackground);
  @include button-height ($largeButtonHeight);
}

.button-success {
  @extend %button-base;
  @include button-color($green);
  @include button-height ($largeButtonHeight);
}

.button-danger {
  @extend %button-base;
  @include button-color($buttonDangerBackground);
  @include button-height ($largeButtonHeight);
}

.button-twitter {
  @extend %button-base;
  @include button-color(#52a1dc);
  @include button-height ($largeButtonHeight);
}

.button-facebook {
  @extend %button-base;
  @include button-color(#335292);
  @include button-height ($largeButtonHeight);
}

.button-small {
  font-size: 12px;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight;
  padding: 0 $baseButtonPadding;
}

.button-huge {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

.button-action-checked {
  color: $greenLabelColor;
  &:hover {
    color: $greenLabelColor;
  }
}

.button-opinion-believes, .button-opinion-disbelieves {
  @extend .button;
  padding: 0px 4px;
  transition: background-color 0.5s ease;
}

.button-opinion-active {
  &.button-opinion-believes {
    @include button-color($green);
    color: darken($green, 30)
  }

  &.button-opinion-disbelieves {
    @include button-color($red);
    border-color: darken($red, 30); //A darker red for sufficient contrast
    color: darken($red, 45);
  }
}
