@import "bootstrap/mixins";

.button-base(@backgroundColor, @borderColor) {
  background-color: @backgroundColor;
  color: white;
  border-color: @borderColor;

  &:hover, &:active {
    background-color: darken(@backgroundColor, 10%);
    border-color: darken(@borderColor, 10%);
    color: white;
  }
}

.button-shadow(@shadowColor) {
  text-shadow: 0 1px 0 @shadowColor;
}

.button {
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  border-radius: 3px;
  height: @largeButtonHeight;
  line-height: @largeButtonHeight;
  padding: 0 @largeButtonPadding;
  transition: all 0.1s;
  vertical-align: middle;
  cursor: pointer;

  border: none;
  border-bottom: @largeButtonBorderWidth solid @buttonBorder;
  background-color: @buttonBackground;

  color: @linkColor;
  text-shadow: 0 1px 0 @buttonTextShadow;

  &:before { // This resolved a weird bug in Chrome where an area between the text and the border bottom was not clickable. (issue 1029)
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
  }

  &:hover {
    background: @buttonDarkBackground;
    border-color: @buttonDarkBorder;
  }

  &:active {
    background-color: @buttonDarkBackground;
    border-top: @largeButtonBorderWidth solid @buttonDarkBorder;
    border-bottom: 0px;
    outline: none; //prevents ugly webkit active state
  }

  &.button-loading {
    background-size: 40px 40px;
    .striped(45deg, rgba(0,0,0,0.07));
    .animate-stripes(1.5s);
  }

  &:disabled {
    color: @mutedFontColor;
  }
}

.button-confirm {
  .button-base(@buttonConfirmBackground, @buttonConfirmBorder);
  .button-shadow(@buttonConfirmTextShadow);

  &.button-loading {
    .striped(45deg);
    color: rgba(255,255,255,0.6);
  }

  &:disabled {
    color: rgba(255,255,255,0.6);
  }
}

.button-danger {
  .button-base(@buttonDangerBackground, @buttonDangerBorder);
  .button-shadow(@buttonDangerTextShadow);

  &.button-loading {
    .striped(45deg);
    color: rgba(255,255,255,0.6);
  }

  &:disabled {
    color: rgba(255,255,255,0.6);
  }
}

.button-success {
  .button-base(@buttonSuccessBackground, @buttonSuccessBorder);
  .button-shadow(@buttonSuccessTextShadow);

  &.button-loading {
    .striped(45deg);
    color: rgba(255,255,255,0.6);
  }

  &:disabled {
    color: rgba(255,255,255,0.6);
  }
}

.button-small {
  font-size: 12px;
  height: @baseButtonHeight;
  line-height: @baseButtonHeight;
  padding: 0 @baseButtonPadding;
  border-bottom-width: @baseButtonBorderWidth;

  &:active {
    padding-top: 1px;
    border-top-width: @baseButtonBorderWidth;
  }
}

.button-twitter {
  .button-base(@buttonTwitterBackground, @buttonTwitterBorder);
}

.button-facebook {
  .button-base(@buttonFacebookBackground, @buttonFacebookBorder);
}

.button-loading {
  text-shadow: none;
}

.button-disabled {
  background-color: @buttonDisabledBackground;
  color: @mutedFontColor;
  text-shadow: 0 1px 0 @buttonDisabledTextShadow;
  border: @baseButtonBorderWidth solid @buttonDisabledBorder;

  &:hover {
    cursor: not-allowed;
  }
}

.button-action-checked {
  color: @greenLabelColor;

  .icon-ok {
    font-weight: lighter;
  }

  &.button-danger {
    font-weight: 300;
    color: white;

    .icon-remove {
      font-weight: lighter;
    }
  }
}
