//This centers an arbitrarily sized box vertically and horizontally in its containing box.
// sample html:
/*
 CONTEXT....
   <div class=centering><div class=centering-inner>
     CENTEREDBOX (needs explicit visibility)
   </div></div>
*/
/*
 or:.
   <div class=modal-layer><div class=modal-layer-inner>
     Modal content (does not need explicit visibility)
   </div></div>
*/
//Note the lack of space between the two divs!

@import "bootstrap/mixins";

.centering {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  visibility: hidden;
}

.centering:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.centering-inner {
  display: inline-block;
  vertical-align: middle;
}
