.clear{clear:both;}

div.content {
  background: white;
  min-height: 425px;

  div.container {
    padding-top: 25px;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 50px;


    h4 {
      padding-top: 15px;
    }
  }
}

.narrow-indented-block {
  width: 620px;
  margin-left: 20px;
}
