.clear{clear:both;}

div.content {
  background: white;

  div.container {
    padding: 25px 0;
    font-size: 14px;
    line-height: 22px;
  }
}

.narrow-indented-block {
  width: 620px;
  margin-left: 20px;
}
