.clear{clear:both;}

div.content {
  background: white;
  min-height: 425px;

  div.container {
    padding-top: 25px;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 50px;

    h1 {
      font-size: 24px;
    }

    h4 {
      padding-top: 15px;
    }
  }
}

.homepage-factlink-aspect-box {
  text-align: center;
  height: 300px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    padding: 0 20px;
  }

  i {
    display: block;
    background: image-url('landing/content/key_points.png') no-repeat;
    margin: 0 auto;
    width: 157px;
    height: 145px;
  }

  &.web i {
    background-position: -157px -145px;
  }

  &.social i {
    background-position: 0 0;
  }
}

.homepage-factlink-aspects {
  width:940px; //HACK: bugfix to match previously implicit foreshortening of columns
}

.narrow-indented-block {
  width: 620px;
  margin-left: 20px;
}
