$feedback_frame_width: 430px;

.feedback-iframe {
  width: 100%;
  border: none;
  display: block;
}

.feedback_form { //within an iframe!
  background: #fff;
  min-width: 0;
  height:auto;

  form {
    @extend %clearfix;
    margin: 0;

    input[type=text], textarea {
      display: block;
      width: 100%;
    }

    textarea {
      height: 145px;
      margin-bottom: 10px;
    }

    .submit {
      float: right;
      max-width: 150px;
    }
  }
}

/*
This centers an arbitrarily sized box vertically and horizontally in its containing box.

Sample html:
  <div class=feedback-modal-layer><div class=feedback-modal-layer-inner>
    Modal content (does not need explicit visibility)
  </div></div>
Note the lack of space between the two divs!

TODO: extract this to a more generic class or mixin when needed, see
e.g. https://github.com/Factlink/core/blob/40d54edf2e51e38e048c8cf25f485c655b19a56d/app/assets/stylesheets/base/centering.css.less
*/

.feedback-modal-layer {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  visibility: visible;
  z-index: 1040;
  background: rgba(233, 234, 238, 0.7);
  cursor: pointer; cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
  display:none;
}

.feedback-modal-layer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  //like centering:after but less makes transclusion impractical.
}

.feedback-modal-window {
  display: inline-block;
  vertical-align: middle;
  //like centering-inner

  width: $feedback_frame_width;
  cursor: auto;
  @extend %white-block-with-shadow;
}

.feedback-modal-window-header {
  @include background-clip(padding-box);
  @include border-top-radius(5px);
  color: $baseFontColor;
  background: #f8f8f8;
  padding: 10px 15px 7px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid $mutedBorderColor;
  font-size: $heading3FontSize;
  font-weight: $headingsFontWeight;
}

.feedback-modal-window-body {
  padding: 15px;
  max-height: none;
  overflow: hidden;
}

.feedback-modal-layer-close-background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;

  &:before {
    content: "";
    position: absolute;
    background: asset-data-url('icon-close-modal.png');
    width: 36px;
    height: 36px;
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
  }

  &:hover:before {
    opacity: 1;
  }
}
