//= require_tree ./feedback

@import "bootstrap/mixins";
@import "bootstrap/variables";

@feedback_frame_width: 430px;
@feedback_frame_height: 330px;
@feedback_frame_height_no_user: 405px;

#feedback_frame {
	display: none;

	iframe {
		position: fixed;
		overflow: hidden;
		top: 50%;
		left: 50%;
		margin: -@feedback_frame_height/2 0 0 -@feedback_frame_width/2;
		width: @feedback_frame_width;
		height: @feedback_frame_height;
		z-index: 1200;
		border: #ccc;
		.drop-shadow(0, 0, 4px, 0.35);
		.border-radius(5px);

		&.no-user {
			height: @feedback_frame_height_no_user;
			margin-top: -@feedback_frame_height_no_user/2;
		}
	}

	.dimmer {
		z-index: 1100;
		position: fixed;
		background: rgba(255,255,255,0.85);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

body.feedback_form {
	background: #fff;
	padding: 7px 11px;

	div.hidden {
		display: none;
	}

	form {
		margin: 0;
		input[type=text], textarea {
			display: block;
			width: @feedback_frame_width - 31px;
		}

		textarea {
			height: 145px;
		}

		.submit {
			float: right;
		}
	}
}