.footer {
  border-top: 1px solid lightgrey;
  text-align: center;
}

.footer-inner {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: $siteWidth;
  padding: 10px 20px;
  display: inline-block;
}

.footer-item {
  float: left;
  padding-right: 9px;

  @include respond-to(400) {
    line-height: 30px;
  }

  &:after {
    content: "·";
  }

  &:last-child {
    padding: 0;

    &:after {
      content: "";
    }
  }
}

.footer-item-link {
  margin-right: 5px;
  font-weight: bold;
  transition: color .15s ease-in-out;
}

.footer-copyright {
  color: #777;
}

.footer-right {
  @extend %clearfix;
}

.mixpanel-logo {
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  > img {
    width: 60px;
    vertical-align: middle;
    margin-top: -4px;
  }
}
