@import "bootstrap/mixins";
@import "bootstrap/variables";

div.footer {
  background: image-url('landing/sign_up/background.png') repeat-x top #f9f9f9;
  padding: 0 0 50px;

  div.divider {
    margin: 0 auto;
    width: 294px;
    position: relative;
    top: -1px;
    height: 2px;

    &.large_arrow {
      background: image-url('landing/sign_up/arrow.png') no-repeat top center;
      height: 51px;
    }
  }

  hr {
    background: image-url('base/footer/hr.png') repeat-x top;
    border: none;
    height: 3px;
    margin: 0;
  }

  .bottom_links {
    margin: 20px 0 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 0 10px 0 0;

      &:after {
        content: "·"
      }

      &.last {
        padding: 0;
        &:after {
          content: ""
        }
      }

      &.copy {
        color: #777;
        font-size: 12px;
      }

      a {
        margin: 0 5px 0 0;
        color: @linkColor;
        font-weight: bold;
        text-decoration: none;
        .transition(color .15s ease-in-out);
        &:hover {
          color: @linkColorHover;
        }
      }
    }
  }
}
