

div.footer {
  border-top: 1px solid $baseBorderColor;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
  padding-bottom: 50px;

  .bottom_links {
    margin: 20px 0 0;
    @extend %clearfix;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 0 9px 0 0;

      &:after {
        content: "·"
      }

      &.last {
        padding: 0;
        &:after {
          content: ""
        }
      }

      &.copy {
        color: #777;
        font-size: 12px;
      }

      a {
        margin: 0 5px 0 0;
        color: $linkColor;
        font-weight: bold;
        text-decoration: none;
        transition: color .15s ease-in-out;
        &:hover {
          color: $linkColorHover;
        }
      }
    }
  }
}

.footer-right {
  @extend %clearfix;
}

.mixpanel-logo {
  opacity: 0.50;
  margin-top: -5px;
  &:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  > img {
    width: 60px;
  }
}
