@import "bootstrap/mixins";

.modal-window.frontpage-video-modal-window {
  width: 770px;
  height: 440px;
  margin-top: -244px;
  margin-left: -770px/2;

  .modal-window-body {
  	overflow: hidden;
    max-height: 420px;
  }
}
