.header {
  z-index: 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background-color: $header-background-color;
  //move the really dark image to overlay the topbar's bottom border which isn't intended to
  margin-top: -1px; //lead into a dark background.
}

.header-stars {
  @extend %header-image;
  background-size: cover;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.header-earth {
  background: image-url('base/header/earth.png')  no-repeat center bottom;
  background-size: contain;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 30%; left: 0; right: 0; bottom: 0;
}

.header-heading {
  font-weight: 400;
  font-size: 30px;
  font-family: $sansFontFamily;
  color: $font-header-heading-color;
  text-shadow: none;
}

.header-tagline {
  margin-top: 25px;
  margin-bottom: 30px;
  color: $font-header-tagline-color;
  font-weight: 100;
  font-size: 18px;
  text-shadow: 0 1px 0 $font-header-tagline-shadow-color;
}
