.header {
  z-index: 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background-color: #00294e;
}

.header-stars {
  background: image-url('base/header/background.jpg') no-repeat center top;
  background-size: cover;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.header-earth {
  background: image-url('base/header/earth.png')  no-repeat center bottom;
  background-size: contain;
  height: 100%;
  z-index: -1;
  display: none;
  position: absolute;
  top: 30%; left: 0; right: 0; bottom: 0;
}

body.controller_home.action_in_your_browser,
body.controller_home.action_on_your_site {
  .header-earth {
    display: block;
  }
}

.header-heading {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 30px;
  height: 36px;
  line-height: 36px;
  font-family: $sansFontFamily;
  color: white;
  text-shadow: none;
}
