@font-face {
    font-family: 'IconicStroke';
    src: font-url('iconic_stroke.eot');
    src: local('IconicStroke'), font-url('iconic_stroke.svg#iconic') format('svg'), font-url('iconic_stroke.otf') format('opentype');
}
