.icon-mixin(@url, @width, @height) {
  background: asset-data-url(@url);
  display: inline-block;
  width: @width;
  height: @height;
  vertical-align: middle;
  margin-top: -1px;
}

.icon-mixin(@url, @size) {
  .icon-mixin(@url, @size, @size);
}

.factlink-icon-checkmark {
  .icon-mixin("icon-checkmark.png", 8px);
}

.factlink-icon-cross-white {
  .icon-mixin("icon-cross-white.png", 8px);
}

.factlink-icon-brain {
  .icon-mixin("brain.png", 13px, 12px);
}
