.factlink-icon-checkmark {
  background: asset-data-url("icon-checkmark.png");
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-top: -1px;
}

.factlink-icon-cross-white {
  background: asset-data-url("icon-cross-white.png");
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-top: -1px;
}
