* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $semiTransparentLayerColor;
}

.factlink-site {
  min-width: $siteWidth; // Only on the body because it's breaking the feedback modal when set on the html too.
}

.container {
  height: 100%;
  width: $siteWidth;
  margin-right: auto;
  margin-left: auto;
}

.one-column-container {
  padding-top: 80px;
}

#main-column {
  min-height: 100%;
  display: inline-block;
}

.main-wrapper {
  width: $mainColumnWidth;
}

.pull-right {
  float: right;
}
