@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins/scrollbars";

* {
  .box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  background: white;
  overflow-y: scroll;
}

#container {
  height: 100%;
}

#left-column {
  .box-sizing(border-box);
  background: #F9F9F9;
  width: @leftColumnWidth;
}

#main-column {
  background: white;
  min-height: 100%;
  border-left: 1px solid #cbcbcb;
  padding: 70px 0 0 40px;
  width: @mainColumnWidth;
}

.fixed {
  #left-column {
    .style-scrollbars;
    position: fixed;
    height: 100%;
    top: 70px;
    padding-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #main-column {
    position: relative;
    left: @leftColumnWidth;
  }
}
