@import "bootstrap/mixins";

.social-connect-buttons-twitter > i,
.social-connect-buttons-facebook > i {
  background: image-url('base/sign_in_bar/social.png') no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  vertical-align: text-top;
  margin: -1px 6px 0 -5px;
}

.social-connect-buttons-twitter > i {
  background-position: 0 0;
}

.social-connect-buttons-facebook > i {
  background-position: -17px 0;
}

.social-connect-container {
  text-align: center;
}

.social-connect-heading {
  font-size: 24px;
}

.social-connect-no-social {
  margin: 10px 0;

  a { color: @grayLighter; }
  a:hover { color: @white; }
}

.footer .social-connect-no-social {
  a { color: @metaFontColor; }
  a:hover { color: @mutedFontColor; }
}
