@import "bootstrap/mixins";

.sign_in_or_up_iframe {
  width: 640px;
  height: 400px;
  border: none;
  display: block;
  border-radius: inherit;
}

.social-connect-container {
  text-align: center;
}

.social-connect-heading {
  font-size: 24px;
}

.social-connect-no-social {
  margin: 10px 0;

  a { color: @grayLighter; }
  a:hover { color: @white; }
}

.footer .social-connect-no-social {
  a { color: @metaFontColor; }
  a:hover { color: @mutedFontColor; }
}

.non-social-link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
