@import "bootstrap/mixins";

.social-connect-container {
  text-align: center;
}

.social-connect-heading {
  font-size: 24px;
}

.social-connect-no-social {
  margin: 10px 0;

  a { color: @grayLighter; }
  a:hover { color: @white; }
}

.footer .social-connect-no-social {
  a { color: @metaFontColor; }
  a:hover { color: @mutedFontColor; }
}

.icon-twitter, .icon-facebook {
  margin-left: 0;
  margin-right: 0.3em;
  font-size: 170%;
  vertical-align: sub;
  -webkit-font-smoothing: antialiased; // OS X makes fonts bolder than normal. This looks weird with those icons.
}

.icon-facebook {
  margin-left: -5px;
}

.non-social-link {
  text-decoration: underline;
}
