.small-connect-button {
  height: $smallConnectButtonSize;
  width: $smallConnectButtonSize;
  padding: 0px;
  text-align: center;
  font-size: 11px;
  vertical-align: middle;

  .icon-twitter, .icon-facebook {
    margin: 2px 0px 0px;
  }
}

.small-connect-separator {
  margin: 0 5px;
}
