.small-connect-buttons {
  display: inline-block;
  padding: 0px 5px;
}

.small-connect-button {
  padding: 1px 5px 0 6px;
  line-height: 30px;
  font-size: 11px;
  margin-top: -2px;

  .icon-twitter, .icon-facebook {
    margin: 0;
  }
}

.small-connect-button-factlink {
  padding: 0 2px;
}

.small-connect-separator {
  margin: 0 5px;
}
