@import "bootstrap/mixins";

.social-account-popup {
  margin: 20px;
}

.social-registration-heading {
  text-align: center;
  margin-bottom: 20px;
}

.social-registration-form {
  .white-block-with-shadow();
  width: 500px;
  margin: auto;
  padding: 20px;
}

