@import "bootstrap/mixins";

.social-registration-topbar {
  background: white;
  z-index: 1;
  height: 40px;
  position: relative;
  border-bottom: 1px solid @baseBorderColor;
  text-align: center;
}

.social-registration-logo {
  margin-top: 9px;
}

.social-account-popup {
  margin-top: 40px;
}

.social-registration-heading {
  text-align: center;
  margin-bottom: 20px;
}

.social-registration-form {
  .white-block-with-shadow();
  width: 500px;
  margin: auto;
  padding: 20px;
}

.social-registration-button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.social-registration-button {
  width: 150px;
  margin: 0 auto;
}
