.static-close-button {
  background: asset-data-url('icon-close-modal.png');
  width: 36px;
  height: 36px;
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
  visibility: visible;

  &:hover {
    opacity: 1;
  }
}
