.topbar {
  background-color: white;
  border-bottom: 1px lightgrey solid;
}

.topbar-inner {
  @extend %centering-y;
  height: $topbarHeight;
  margin-left: auto;
  margin-right: auto;
  max-width: $siteWidth;
  padding: 0px 10px;
}

.topbar-logo {
  @extend %centering-inner;
  margin-right: 20px;
}

.topbar-logo-img{
  vertical-align: middle;
  height: 20px;
}

.topbar-search {
  @extend %centering-inner;
  @include respond-to(600) {
    display: none;
  }

  .topbar-search-field {
    background: image-url("base/topbar/search_icon.png") 8px center no-repeat #fff;
    padding-left: 30px;
  }
}

.topbar-menu {
  float: right;
}

.topbar-menu-item {
  float: left;
  vertical-align: middle;
  font-weight: bold;
  height:100%;
}

.topbar-menu-link {
  padding: 0px 15px;
  display: block;
  height:$topbarHeight;
  line-height:$topbarHeight;
}

.topbar-divider {
  border-right: 1px lightgrey solid;
  display: block;
  width: 0px;
  height: $topbarHeight;
  float: left;
}

.topbar-home {
  @include respond-to(600) {
    display: none;
  }
}

.topbar-profile-name {
  padding: 0px 15px;

  @include respond-to(400) {
    display: none;
  }
}

.topbar-profile-link {
  @extend %centering-y;
  @include ellipsis(220px);
  display:inline-block;
  height:$topbarHeight;


  @include respond-to(600) {
    @include ellipsis(100px);
  }
}

.topbar-profile-image {
  @extend %centering-inner;
  border-radius: 2px;
  vertical-align: middle;
}
.topbar-profile-username {
  @extend %centering-inner;
}

.topbar-menu-bookmarklet::after {
  content: 'Bookmarklet';
  padding: 0 0 0 3px;
}

.topbar-connect {
  float: right;
}

