.topbar {
  background-color: white;
  border-bottom: 1px lightgrey solid;
}

.topbar-inner {
  line-height: $topbarHeight;
  margin-left: auto;
  margin-right: auto;
  max-width: $siteWidth;
  padding: 0px 10px;
}

.topbar-logo {
  display: inline-block;
  margin-right: 20px;
}

.topbar-logo-img{
  vertical-align: middle;
  position: relative;
  top: -2px;
  height: 20px;
}

.topbar-search {
  display: inline-block;

  @include respond-to(600) {
    display: none;
  }

  .topbar-search-field {
    background: image-url("base/topbar/search_icon.png") 8px center no-repeat #fff;
    padding-left: 30px;
  }
}

.topbar-menu {
  float: right;
  line-height: $topbarHeight;
}

.topbar-menu-item {
  float: left;
  font-weight: bold;
}

.topbar-menu-link {
  padding: 12px 15px;
  display: block;
}

.topbar-divider {
  margin: 0 -3px 0 0;
  border: none;
  background: image-url('base/topbar/divider.png') repeat-y center;
  display: block;
  width: 3px;
  height: 42px;
  float: left;
}

.topbar-home {
  @include respond-to(600) {
    display: none;
  }
}

.topbar-profile-name {
  padding: 6px 15px;

  @include respond-to(400) {
    display: none;
  }
}

.topbar-profile-link {
  @include ellipsis(220px);

  @include respond-to(600) {
    @include ellipsis(100px);
  }
}

.topbar-profile-image {
  border-radius: 2px;
  vertical-align: middle;
}

.topbar-menu-bookmarklet::after {
  content: 'Bookmarklet';
  padding: 0 0 0 3px;
}

.topbar-connect {
  float: right;
}

.topbar-connect-text {
  line-height: $topbarHeight -9px;
}

