.topbar {
  background-color: white;
  border-bottom: 1px lightgrey solid;
}

.topbar-inner {
  @extend %centering-y;
  padding:0px $pagePadding;
  height: $topbarHeight;
  margin-left: auto;
  margin-right: auto;
  max-width: $siteWidth;
}

.topbar-logo {
  @extend %centering-inner;
  margin-right: 20px;

  @include respond-to(430) {
    display: none;
  }
}

.topbar-logo-img{
  display: block;
  height: 20px;
  width: 108px;
}

.topbar-search {
  @extend %centering-inner;
  @include respond-to(900) {
    display: none;
  }

  .topbar-search-field {
    background: image-url("base/topbar/search_icon.png") 8px center no-repeat #fff;
    padding-left: 30px;
    width: 180px;
  }
}

.topbar-menu {
  float: right;
  height: 100%;
}

.topbar-menu-item {
  float: left;
  font-weight: bold;
  height:100%;
}

.topbar-menu-link {
  @extend %centering;
  padding: 0px 15px;
  height:100%;
  display: block;
}


.topbar-divider {
  border-right: 1px lightgrey solid;
  display: block;
  width: 0px;
  height: $topbarHeight;
  float: left;
}

.topbar-in-your-browser {
  @include respond-to(700) {
    display: none;
  }
}

.topbar-on-your-site {
  @include respond-to(600) {
    display: none;
  }
}

.topbar-profile-link {
  @extend %centering-y;
  @extend %ellipsis-inline-block;
  max-width: 220px;
  height:$topbarHeight;

  @include respond-to(600) {
    max-width: 100px;
  }
}

.topbar-profile-image {
  @extend %centering-inner;
  border-radius: 2px;
  margin-right: 10px;
}

.topbar-menu-bookmarklet::after {
  content: 'Bookmarklet';
  padding: 0 0 0 3px;
}

.topbar-connect {
  @extend %centering;
  height:100%;
  padding-left: 15px;
}

.topbar-connect-label {
  margin-right: 10px;
}
