//= require_tree ./topbar

@import "bootstrap/mixins";

.topbar {
  height: 42px;
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: @zindexFixedNavbar;
  background-color: white;
  border-bottom: 1px solid @baseBorderColor;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

  // fixes mobile behaviour, as the width of <body> is unreliable
  // Top-level position: absolute; is relative to *viewport*, not to <body>
  min-width: @siteWidth;
}

.topbar-non-fixed {
  position: absolute;
}

.topbar-inner {
  width: @siteWidth;
  margin: auto;
}

.topbar-logo {
  background: image-url('base/topbar/logo.png') no-repeat;
  height: 25px;
  width: 175px;
  text-indent: -999999px;
  display: block;
  float: left;
  margin-top: 10px;
}

.topbar-search {
  float: left;
  padding: 5px;

  .topbar-search-field {
    background: image-url("base/topbar/search_icon.png") 8px center no-repeat #fff;
    padding-left: 30px;
    width: 250px;
  }
}

.topbar-menu {
  float: right;
}

.topbar-menu-item {
  float: left;
  font-weight: bold;
}

.topbar-menu-link {
  padding: 12px 15px;
  display: block;
}

.topbar-divider {
  margin: 0 -3px 0 0;
  border: none;
  background: image-url('base/topbar/divider.png') repeat-y center;
  display: block;
  width: 3px;
  height: 42px;
  float: left;
}

.topbar-profile-name {
  padding: 6px 15px;
}

.topbar-profile-link {
  .ellipsis(220px);
}

.topbar-profile-image {
  border-radius: 2px;
}

.topbar-menu-bookmarklet::after {
  content: 'Bookmarklet';
  padding: 0 0 0 3px;
}
