@import "bootstrap/variables";
@import "bootstrap/mixins";

#left-column {
  .white-well {
    background-color: @white;
    .border-radius(4px);
    border: 1px solid @baseBorderColor;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: @baseLineHeight;
    display: inline;
  }
}

a {
  color: @linkColor;
  text-decoration: none;

  & :hover {
    cursor: pointer;
    color: @linkColorHover;
    text-decoration: underline;
  }
}

h1 {
  font-size: (@baseFontSize * 1.5);
  margin-bottom: @baseFontSize;
}

sub {
  color: @headingFontColor;
  font-size: x-small;
  font-weight: normal;
  line-height: @baseLineHeight;
  bottom: 0.45em;
}