body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

h1, h2, h3, h4, h5 {
  margin: 0.5em 0;
  font-weight: $headingsFontWeight;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $heading1FontSize;
  margin-bottom: 6px;
  text-shadow: #fff 0 1px 0;
  font-weight: 400;
}

h2 { font-size: 30px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 14px; }

strong {
  color: $baseFontColor;
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: $linkColor;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    color: $linkColorHover;
    text-decoration: none;
  }
}

p {
  margin: 0 0 0.8em;
}
