@import "bootstrap/variables";
@import "bootstrap/mixins";

body.factlink-site,
body.client {
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;

  strong {
    color: @baseFontColor;
  }

  a {
    color: @linkColor;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      color: @linkColorHover;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 16px;
    margin-bottom: 6px;
    line-height: 21px;
    text-shadow: #fff 0 1px 0;
    font-weight: 400;
  }

  sub {
    color: @headingFontColor;
    font-size: x-small;
    font-weight: normal;
    line-height: @baseLineHeight;
    bottom: 0.45em;
  }
}
