@import "bootstrap/variables";
@import "bootstrap/mixins";

#factlink_video {
  width: 770px;
  height: 488px;
  margin: -244px 0 0 -385px;
  .modal-body {
  	overflow: hidden;
    max-height: 420px;
  }
}
