@import "bootstrap/mixins";

#factlink_video {
  width: 770px;
  height: 488px;
  margin: -244px 0 0 -385px;
  outline: none; // otherwise in chrome the modal looks selected for some reason

  .modal-body {
  	overflow: hidden;
    max-height: 420px;
  }
}
