<li style="list-style: none; margin-bottom: 16px;">
	<span style="font-weight: 600; color: #888;"><%= factlink_sub.title %></span>
	<p style="font-size: 0.95em; padding: 0px; margin: 0px;"><%= factlink_sub.content %></p>
	
	<span class="fl-source"><%= link_to(factlink_sub.url, factlink_sub.url, :style => "color: #999;", :target => "_blank") %></span>
</li>