<li>
	<span class="fl-statement-title"><%= factlink_sub.title %></span>
	<p><%= factlink_sub.content %></p>
	<hr>
	
	<div class="fl-source-information">
		<span class="fl-source">found on <a href="javascript:window.open('<%= factlink_sub.url %>');"><%= factlink_sub.url %></a></span>
	</div>
</li>