<div class="float-box channel-listing">
	<ul>
		<% if current_user.graph_user.channels.count > 0 %>
		<% current_user.graph_user.channels.each do |channel| %>
			
			  
		  <li><label><input type="checkbox" {%= (checked ? 'checked="checked"' : '') %} data-channel-id="{%= id %}" data-username="{%= created_by %}">{%= title %}</label></li>
			  
			  
			<li>  
			  <%= check_box_tag("channel-checkbox-#{channel.id}-#{fact.id}", 1, channel.facts.include?(fact),
			      :onclick => "$(\"article#fact-\" + $(this).closest('div.fact-block').data('fact-id')).factlink(\"to_channel\", \"#{current_user.username}\", #{channel.id}, #{fact.id});") %>
			  <%= label_tag("channel-checkbox-#{channel.id}-#{fact.id}", channel.title) %>
			</li>
			
		<% end %>
  <% end %>
	</ul>

	<div class="add-channel">
		Add a new channel:
		<%= (render "/facts/remote_form", :fact => fact, :form_authenticity_token => form_authenticity_token).html_safe %>
	</div>
</div>