<form method="GET" class="navbar-search" id="factlink_search_form" action="<%= factlink_overview_path %>">
  <input id="factlink_search" type="text" class="search-query span3" name="s" placeholder="Search Factlink..">
</form>

<% content_for :specific_javascript do %>
  <script type="text/javascript">
    if (Backbone && FactlinkApp) {
      $('#factlink_search_form').on("submit", function() {
        Backbone.history.navigate('/search?s=' + encodeURIComponent($('#factlink_search').val()), true);
        return false;
      });
    }
  </script>
<% end %>
