<form method="GET" class="navbar-search js-navbar-search-form" action="<%= search_path %>">
  <input id="factlink_search" type="text" class="search-query js-navbar-search-box" name="s" placeholder="Search Factlink..">
</form>
