<form method="GET" class="navbar-search" action="<%= factlink_overview_path %>">
  <input id="factlink_search" type="text" class="search-query span3" name="s" placeholder="Search Factlink.." value="<%= params[:s] ? params[:s] : '' %>" >
</form>
