<form method="GET" class="navbar-search offset1" action="<%= factlink_overview_path %>">
  <input id="factlink_search" type="text" class="search-query span3"  style="margin-left: 14px" name="s" placeholder="Search Factlink..." value="<%= params[:s] ? params[:s] : '' %>" >
</form>
