<div class="fact_search append-bottom">
	<form method="GET" action="<%= factlink_overview_path %>">
		<input id="factlink_search" type="text" class="search" name="s" placeholder="Search Factlink..." value="<%= params[:s] ? params[:s] : '' %>" >
	</form>
</div>