<ul id="addToFact">
  <li class="first">
    <span><a href="#" id="supporting"><%= image_tag(image_url('icons/factlink/16.png')) %> This supports the main Fact</a></span>
  </li>
  <li class="last">
    <span><a href="#" id="weakening"><%= image_tag(image_url('icons/factlink/16.png')) %> This weakens the main Fact</a></span>
  </li>
</ul>