<ul id="default">
	<li class="first">
		<span><a href="#" id="agree">Agree</a></span>
	</li>
	<li>
		<span><a href="#" id="doubt">Doubt</a></span>
	</li>
	<li class="last">
		<span><a href="#" id="disagree">Disagree</a></span>
	</li>
</ul>