<div id="fl-balloon-container"> 
   <div id="fl-balloon" class="top">

    <!-- <div class="fl-share">
      <img class="fl-share-icon" src="bookmark.gif" alt="Share">
    </div> -->

    <div class="fl-labels">
     <div class="fl-label" data-label="create">
       <span class="fl-label-text">Factlink!</span>
     </div> 
     <div class="fl-label" data-label="created" style="display: none">
       <span class="fl-label-text">Add Evidence?</span>
     </div>
     <div class="fl-label" data-label="show" style="display: none">
       <span class="fl-label-text"><span class="fl-authority">12</span>Show</span>
       <img class="fl-indicator" src="indicator.png" alt="Factlink">
     </div>

      <div id="fl-balloon-popup">
        <ul id="default">
          <li class="first"><span><a href="#" id="beliefs">Agree</a></span></li>
          <li><span><a href="#" id="doubts">Not sure</a></span></li>
          <li><span><a href="#" id="disbeliefs">Disagree</a></span></li>
        </ul>
      </div>
   </div>

     <div id="fl-balloon-arrow-border"></div>
     <div id="fl-balloon-arrow"></div>
  </div>
</div>

