<ul id="default">
	<li class="first">
		<span><a href="#" id="beliefs">Agree</a></span>
	</li>
	<li>
		<span><a href="#" id="doubts">Doubt</a></span>
	</li>
	<li class="last">
		<span><a href="#" id="disbeliefs">Disagree</a></span>
	</li>
</ul>