var fact =  $("div.fact-block[data-fact-id=<%=@fact.id%>]");
var searchList = fact.find('.evidence-search-results ul.search-term-results');

<% if @first_page %>
  searchList.empty();
<% end %>

<% unless @facts.count > 0 %>

  <% if @first_page %>
    // No results found
    searchList.append("<li>No results found...</li>");
  <% else %>
    searchList.closest('.tab_content:visible').data('isFullyLoaded', true);
  <% end %>

<% else %>
 <% @facts.each do |evidence| %>
    searchList.append('<li data-evidence-id="<%= escape_javascript(evidence.id) %>" class="evidence"><span><%= escape_javascript(evidence.data.title) %></span><%= escape_javascript(evidence.data.displaystring) %></li>');
 <% end %>
<% end %>
