<div class="fact-block">
  <%= render_mustache "fact", fact: @fact %>
</div>

<% content_for :javascript do %>
<script>
  (function(){
    window.currentFact = new Fact(<%= Facts::Fact.for(fact: @fact, view: self).to_json.html_safe %>);

    var view = new FactView({
      el: $('.fact-block'),
      model: window.currentFact,
      extended: true
    });
  })();
</script>
<% end %>