<!DOCTYPE html>
<html>
<head>
  <title>Intermediate action</title>

  <%= javascript_include_tag "#{FactlinkUI::Application.config.static_url}/lib/dist/easyXDM/easyXDM.min.js" %>
  <style type="text/css">
    html, body {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
    }

    iframe {
      height: 100%;
      width: 100%;
      border: 0;
      z-index: 2147483646;
    }

    iframe.overlay {
      background: transparent;
    }

    form {
      display: none;
    }
  </style>

  <%= csrf_meta_tag %>
</head>
<body>
  <iframe src="" name="frame" id="frame"></iframe>

  <%= javascript_include_tag "intermediate" %>
</body>
</html>
