<% if user_signed_in? %>
  <div class="fact-block">
    <%= render_mustache 'facts/fact_bubble',  fact: @fact, limit_characters_to_display: 80, hide_links: true %>
  </div>
<% end %>


<% content_for :javascript do %>
  <script>
    $(".fact-block").factlink();
    top.postMessage({
      'message': 'highlight',
      'fact': '<%= j @fact.data.displaystring %>',
      'fact_id': '<%= j @fact.id %>',
      'percentages': '<%= @fact.opinion.as_percentages.to_json.html_safe %>'
    }, "*");
  </script>
<% end %>