<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			html, body, div, span, a, ul, li{
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			body {
				line-height: 1;
			}
			#context {
				position: absolute;
				float: left;
			}
			#context ul {
				display: none;
				position: absolute;
				padding: 5px 0;
				color: #000;
				top: -5px;
				left: 100%;
				list-style: none;
			}
			#context > ul {
				top: 0;
				display: block;
			}
			
			#context li.first {
				border-radius: 3px 3px 0px 0px;
			}
			
			#context li.last {
				border-radius: 0px 0px 3px 3px;
				box-shadow: 0px 1px 2px #bbb;
			}
			
			#context li {
				
				border-top: solid 1px #eee;
				border-bottom: solid 1px #ccc;
				
				position: relative;
				background-color: #ddd;		
				white-space: nowrap;
				padding: 6px 12px;
				cursor: pointer;
				font-family: "Helvetica", Arial, sans-serif;
				font-size: 9pt;
			}
			#context a {
				color: #000;
				text-decoration: none;
			}
			#context li:hover {
				background: #eee;
			}
			#context:hover > ul,
			#context li:hover > ul {
				display: block;
			}
			form input, form textarea {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="context">
			<ul>
				<li class="first last">
					<a href="#">Factlink this</a>
				</li>
			</ul>
		</div>
		<script>
			var a = document.getElementsByTagName("a");
		  var el = document.getElementById("context");	
	
			for ( var i = a.length; i--; ) {
				a[i].onclick = function(e) {
					// Call the parent
					parent.createFactlink();
					// Break the event
					e.stopPropagation();
				};
			}
			
			document.onclick = function() {
			  parent.remote.hide();
			};
			
			function position(top, left) {
			  el.style.top = top - 13 + "px";
			  el.style.left = left + "px";
			}
		</script>
	</body>
</html>