<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style>
		html, body, div, span, a, ul, li{
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		body {
			line-height: 1;
		}
		#context {
			position: absolute;
			float: left;
		}
		#context ul {
			display: none;
			position: absolute;
			padding: 5px 0;
			color: #000;
			top: -5px;
			left: 100%;
			list-style: none
		}
		#context > ul {
			top: 0;
			display: block;
		}

		#context li {
			border: solid 1px rgb(200, 200, 200);
			border-radius: 3px;

			box-shadow: 2px 4px 6px rgba(123, 123, 123, 0.5);

			position: relative;
			background-color: rgb(250, 250, 250);		
			white-space: nowrap;

			padding: 2px 0px;

			cursor: pointer;
			font-family: "Helvetica", Arial, sans-serif;
			font-size: 9pt;
		}
		#context a {
			color: #000;
			text-decoration: none;
		}

		#context img {
			position:relative;
			top: 3px;
			margin-right: 2px;
		}

		#context li > span > a {	
			padding: 2px 18px;
			line-height: 20px;
			border-radius: 1px;
		}

		#context li > span > a:hover {

			border-top: solid 1px rgb(88, 83, 234);

			background-image: -webkit-gradient(
			    linear,
			    left bottom,
			    left top,
			    color-stop(1, rgb(96,93,245)),
			    color-stop(0, rgb(54,0,230))
			);
			color: #fff;
		}

		#context:hover > ul,
		#context li:hover > ul {
			display: block;
		}
		form input, form textarea {
			display: none;
		}
		</style>
	</head>
	<body>
		<div id="context">
			<ul>
				<li class="first last">
					<span><a href="#"><%= image_tag('icons/factlink/16.png') %> Factlink this</a></span>
				</li>
			</ul>
		</div>
		<script>
			var a = document.getElementsByTagName("a");
		  var el = document.getElementById("context");	
	
			for ( var i = a.length; i--; ) {
				a[i].onclick = function(e) {
					// Call the parent
					parent.createFactlink();
					// Break the event
					e.stopPropagation();
				};
			}
			
			document.onclick = function() {
			  parent.remote.hide();
			};
			
			function position(top, left) {
			  el.style.top = top - 13 + "px";
			  el.style.left = left + "px";
			}
		</script>
	</body>
</html>