<span class="activity-description">added {{ activity.channel_owner }} {{ global.t.channel }} {{ activity.channel_title }}
to their <a href="{{ activity.to_channel_url }}">{{ activity.to_channel_title }}</a> {{ global.t.channel }}
</span>
