<span class="activity-description">added {{ activity.channel_owner }} {{ activity.channel_definition }} {{ activity.channel_title }}
to their <a href="{{ activity.to_channel_url }}">{{ activity.to_channel_title }}</a> {{ activity.channel_definition }}
</span>

<span class="meta">{{ time_ago }} ago</span>
