<article class="fact">
  <div class="avatar"><img src="" alt="" /></div>
	<header>
		<span class="body"><a href="#">Jens Kanis</a> added <a href="#">Jobert Abma's</a> channel <a href="#">Nutrition</a> to his channels</span>
		<span class="meta channel">About 10 hours ago</span>
	</header>
</article>