<article class="list-block">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>

	<div class="activity-container">
    <span class="body">
      <a href="{{ user_profile_url }}" rel="backbone">{{ username }}</a>
      added
      <i>"{{ activity.evidence }}"</i>
      as {{ activity.type }} evidence to
      <i>"{{ activity.fact }}"</i>
    </span>
    <span class="meta channel">{{{ activity.icon }}} {{ time_ago }}</span>
  </div>
</article>