<span class="activity-description">added
  <a href="{{ activity.evidence_url }}" rel="backbone">{{ activity.type }} evidence</a>
  to
  <a href="{{ activity.target_url }}" rel="backbone">{{ activity.fact_displaystring }}</a>
</span>
