<div class="activity-container">
  <a href="{{ user_profile_url }}" rel="backbone">{{{ avatar }}} {{ username }}</a>
    added {{ activity.channel_owner }} {{ activity.channel_definition }} {{ activity.channel_title }}
    to their {{ activity.channel_definition }} <a href="{{ activity.to_channel_url }}">{{ activity.to_channel_title }}</a>

  <span class="meta">{{ time_ago }}</span>
</div>
