<div class="left-col">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>
</div>

<div class="right-col">
  <div>
    <strong><a href="{{ user_profile_url }}" class="heavy" rel="backbone">{{ username }}</a></strong>
    added {{ activity.channel_owner }} {{ activity.channel_definition }} {{ activity.channel_title }}
    to their {{ activity.channel_definition }} <a href="{{ activity.to_channel_url }}">{{ activity.to_channel_title }}</a>
  </div>

  <span class="meta">{{ time_ago }}</span>
</div>
