<span class="activity-description">added
  <a href="{{ activity.evidence_url }}">{{ activity.type }} evidence</a>
  to
  <a href="{{ activity.fact_url }}">{{ activity.fact_displaystring }}</a>
</span>
