<div class="feed-activity-user">
  <a href="{{ user.link }}" rel="backbone">
    <img alt=" " src="{{ user.avatar_url_48 }}" class="image-48px feed-activity-user-avatar">
  </a>
</div>

<div class="feed-activity-container">
  <div class="feed-activity-heading">
    <a class="feed-activity-username" href="{{ user.link }}" rel="backbone">{{ user.name }} </a>
    <span class="feed-activity-description">commented on </span>
    <span class="feed-activity-time">{{ time_ago }} {{ global.t.ago }}</span>
  </div>
  <div class="feed-activity-content">
    Awesome really cool!
  </div>
  <div class="feed-activity-annotation js-region-fact"></div>

</div>
