<div class="activity-container">
  <a href="{{ user_profile_url }}" rel="backbone">{{{ avatar }}} {{ username }}</a>
    {{ activity.created_channel_definition }}:
    <a href="{{ activity.channel_url }}" rel="backbone">{{ activity.channel_title }}</a>

  <span class="meta">{{ time_ago }}</span>
</div>
