<article class="list-block">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>

  <div class="activity-container">
    <span class="body"><a href="{{ user_profile_url }}" rel="backbone">{{ username }}</a> created a channel:  <a href="{{ activity.channel_owner_profile_url }}" rel="backbone">{{ activity.channel_owner }}'s</a> {{ activity.channel_definition }} <a href="{{ activity.channel_url }}">{{ activity.channel_title }}</a> </span>
    <!-- <span class="meta channel">{{{ activity.icon }}} {{ time_ago }}</span> -->
  </div>

  <pre>:created_channel</pre>
</article>
