<div class="feed-activity-user">
  <a href="{{ user.link }}" rel="backbone">
    <img alt=" " src="{{ user.avatar_url_48 }}" class="feed-activity-user-avatar">
  </a>
</div>

<div class="feed-activity-container">
  <div class="feed-activity-heading">
    <div class="feed-activity-action">
      <a class="feed-activity-username" href="{{ user.link }}" rel="backbone">{{ user.name }} </a>
      <span class="feed-activity-description">commented on </span>
    </div>
    <div class="feed-activity-time">{{ time_ago }} {{ global.t.ago }}</div>
  </div>
  <div class="js-region-fact"></div>
  <div class="feed-activity-content">
    <!-- still needs the actual comment here-->
  </div>
</div>
