<a href="{{followed_user.link}}" rel="backbone" class="js-activity-user">{{ followed_user.name }}</a><span class="separator-list-sep"></span>

{{! don't add whitespace here, that screws up the comma's !}}
