<article class="list-block">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>

  <div class="activity-container">
    <span class="body">
      <a href="{{ user_profile_url }}">{{ username }}</a> {{ activity.action }} <a href="{{ activity.channel_owner_profile_url }}">{{ activity.subject }}</a>
    </span>
    <span class="meta channel">{{{ activity.icon }}} {{ time_ago }}</span>
  </div>
</article>