<article class="generic-activity">
  <div class="avatar"><img src="" alt="" /></div>
	<header>
		<span class="body"><a href="#">Jens Kanis</a> did something</span>
		<span class="meta channel">About 10 hours ago</span>
	</header>
</article>