<article class="generic-activity">
  <div class="avatar">{{{ activity.avatar }}}</div>
	<header>
    <span class="body"><a href="{{ activity.user_profile_url }}">{{ activity.username }}</a> {{ activity.action }} <a href="{{ activity.channel_owner_profile_url }}">{{ activity.subject }}</a></span>
    <span class="meta channel">{{ time_ago }}</span>

	</header>
</article>