<div class="header">
  <div class="more" style="display: none;">
    <a href="{{link}}" class="refresh_stream">  <i class="list-icon"></i> <strong class="unread_count">{{unread_count}}</strong> new activities (click here to refresh)</a>
  </div>
</div>

<div class="list">
</div>

<div class="loading">
  <img src="{{global.ajax_loader_image}}">
  <span>Loading...</span>
</div>

<div class="empty_stream js-empty-stream"></div>
<div class="activities-bottom js-region-bottom"></div>
