<div class="list">
</div>
<div class="loading">
  <img src="{{global.ajax_loader_image}}">
  <span>Loading...</span>
</div>

<div class="empty_stream js-empty-stream"></div>
<div class="activities-bottom js-region-bottom"></div>
