<div class="activities-header">
  <div class="activities-more">
    <a href="{{link}}" class="activities-more-button js-activities-refresh">
      <i class="list"></i>
      <strong class="unread_count">{{unread_count}}</strong> new activities (click here to refresh)
    </a>
  </div>
</div>

<div class="js-activities-list">
</div>

<div class="loading">
  <img src="{{global.ajax_loader_image}}">
  <span>Loading...</span>
</div>

<div class="empty_stream js-empty-stream"></div>
<div class="activities-bottom js-region-bottom"></div>
