<h5>{{ title }}</h5>

{{#global.can_haz.topic_facts}}
<a class="btn btn-mini">Add {{global.t.topic}}</a>
{{/global.can_haz.topic_facts}}

{{^global.can_haz.topic_facts}}
<a class="btn btn-mini">Add {{global.t.channel}}</a>
{{/global.can_haz.topic_facts}}
