<div class="activity-group-user">
  <a href="{{ user.link }}" rel="backbone">
    <img alt=" " src="{{ user.avatar_url_24 }}" class="image-24px">
  </a>
</div>

<div class="activity-group-link">
  <a href="{{ user.link }}" rel="backbone">{{ user.name }}</a>
</div>

<div class="activity-group-time">{{ time_ago }} {{ global.t.ago }}</div>

<div class="activity-group-activities js-region-activities"></div>

<div class="activity-group-fact js-region-fact"></div>
