<div class="the-user">
  <a href="{{ user_profile_url }}">{{{ avatar }}}</a>
</div>

<div class="the-link">
  <a href="{{ user_profile_url }}">{{ username }}</a>
</div>

<div class="the-activities"></div>
