<div class="activity-group-user">
  <a href="{{ user_profile_url }}" rel="backbone">{{{ avatar }}}</a>
</div>

<div class="activity-group-link">
  <a href="{{ user_profile_url }}" rel="backbone">{{ username }}</a>
</div>

<div class="activity-group-activities js-region-activities"></div>

<div class="activity-group-time">{{ time_ago }} ago</div>

<div class="activity-group-fact js-region-fact"></div>
