<article class="fact">
  <div class="avatar"><img src="" alt="" /></div>
  <header>
		<span class="body">The channel <a href="#">Nutrition</a> was followed by the channel <a href="#">Sience Abma's</a> by <a href="#">Jens Kanis</a></span>
		<span class="meta user">About 10 hours ago</span>
	</header>
</article>