<div class="the-user">
  <a href="{{ user_profile_url }}" rel="backbone">{{{ avatar }}}</a>
</div>

<div class="the-link">
  <a href="{{ user_profile_url }}" rel="backbone">{{ username }}</a>
</div>

<div class="the-activities"></div>
