<div class="avatar">
  <a href="{{ sender.link }}">
    <img class="foo" src="{{ sender.avatar_url_48 }}" rel="bar">
  </a>
</div>

<div class="message">
  <a href="{{ sender.link }}">{{ sender.username }}</a>
  <span class="meta">{{ time_ago }} ago</span>
  <p>{{{ html_content }}}</p>
</div>
