@import "bootstrap/mixins";

.topic-popover-content {
  color: @baseFontColor;

  .topic-popover-content-button {
    position: absolute;
    top: 10px;
    left: 12px;
  }

  .topic-popover-content-title {
    font-family: @baseFontFamily;
    font-size: @heading2FontSize;
    font-weight: bold;
    margin: 13px 12px 3px 120px;
  }

  .topic-popover-content-statistics {
    margin: 0 2px;
  }
}
