@import "bootstrap/variables";
@import "bootstrap/mixins";

.topic-popover-content {
  .topic-popover-content-button {
    position: absolute;
    top: 7px;
    left: 10px;
  }

  .topic-popover-content-title {
    font-family: @headingFontFamily;
    font-size: @modalHeadingFontSize;
    font-weight: bold;
    color: @baseFontColor;
    margin: 10px 10px 0 100px;
  }
}
