<div style="display: block; height: 32px;">
	<h3 onclick="$('#user-channels').slideToggle('slow');" style="float: left;">Channels</h3>
	
	<% if user_signed_in? %>
		<% if current_user == user %>
			<span style="margin: 10px;"><%= link_to("(add)", new_channel_path(current_user.username)) %></span>
		<% end %>
	<% end %>
</div>

<div id="user-channels">
	<ul>
		<% unless user.channels.count > 0 %>
			<li style="list-style: none; margin: 0px 0px 4px 10px;">No channels...</li>
		<% else %>
			<% user.channels.each do |channel| %>
				<li style="list-style: none; margin: 0px 0px 4px 10px;">
					<%= link_to("#{channel.title} (#{channel.facts.count})", channel_path(user.username, channel.id)) %><br/>
					<span style="font-size: 0.9em;"><%= channel.description %></span>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>
