<!-- fact listing -->

<% unless facts.count > 0 %>
	<p>No facts added yet.</p>
<% else %>
<ul id="results-listing">
    <li>
    <%= render :partial => "/facts/fact", 
	            :locals => { :channel => nil },
	            :collection => facts, :as => :fact, :spacer_template => '/home/snippets/list_item_seperator'
	  %>
	  </li>
</ul>
<% end %>