<div class="auto-complete-results-container"></div>
<div class="auto-complete-input-container">
  <div class="js-auto-complete-input-view-container"></div>
  <%= image_tag "ajax-loader.gif", class: "auto-complete-loading-indicator" %>
</div>
<div class="auto-complete-search-list-container"></div>
