<div class="alert alert-error js-error hide">
    Your message could not be sent, please try again.
  <a class="close" href="#" data-dismiss="alert">x</a>
</div>
<div class="input-region clearfix"></div>
