<table>
  <tr class="js-row-recent">
    <th>Recent Factlinks</th>
    <td><ul class="js-list-recent"></ul></td>
  </tr>
  <tr class="js-row-search">
    <th>Other results</th>
    <td><ul class="js-list-search"></ul></td>
  </tr>
</table>
