<div class="fact-relations-input-container">
  <div class="auto-complete-input-container">
    <div class="js-auto-complete-input-view-container"></div>
    <img class="auto-complete-loading-indicator" src="{{global.ajax_loader_image}}">
  </div>
  <div class="auto-complete-search-list-container"></div>
</div>

<button class="button button-confirm pull-right fact-relation-post js-post">Post Factlink</button>

<label class="view-toggle pull-right">
  <input type="checkbox" class="js-switch-to-factlink" checked="checked">
  Post as Factlink
</label>
