<div class="fact-relations-input-container">
  <div class="auto-complete-input-container">
    <div class="js-auto-complete-input-view-container"></div>
    <img class="auto-complete-loading-indicator" src="{{global.ajax_loader_image}}">
  </div>
  <div class="auto-complete-search-list-container"></div>
</div>

<div class="view-toggle">
  <a href="javascript:void(0)" class="js-switch-to-factlink">&larr; Return to adding comment</a>
</div>
