<div class="fact-wheel"></div>
<div class="fact-relations-input-container">
  <div class="auto-complete-input-container"></div>
  <div class="auto-complete-search-list-container"></div>
</div>

<button class="btn btn-primary fact-relation-post js-post">Post Factlink</button>

<label class="view-toggle fact-relation-post">
  <input type="checkbox" class="js-switch">
  Post as comment
</label>
