<div class="text">
  <div class="fact-wheel js-fact-wheel"></div>
  <div class="auto-complete-fact-relations-result-text"
       title="{{displaystring}}">
    {{{ highlighted_title }}}
  </div>
</div>
