
<div class="add-evidence-container">
  <div class="add-evidence supporting">
    <input type="text" name="supporting_search" placeholder="The Factlink above is true because:">
  </div>

  <div class="add-evidence weakening">
    <input type="text" name="weakening_search" placeholder="The Factlink above is false because:">
  </div>

  <ul class="search-results">
    <li class="loading">
      <img src="{{global.ajax_loader_image}}"> Loading potential evidence...
    </li>
    <li class="add">
      <img src="{{global.ajax_loader_image}}">
      <span class="add-message">Add</span>
        <span class="word"></span>
        as evidence
    </li>
  </ul>
</div>
