
<div class="add-evidence-container">
  <div class="add-evidence supporting">
    <input type="text" placeholder="The Factlink above is true because ...">
  </div>

  <div class="add-evidence weakening">
    <input type="text" placeholder="The Factlink above is false because ...">
  </div>

  <ul class="search-results">
    <li class="loading"><img src="/assets/ajax-loader.gif"> Loading potential evidence...</li>
    <li class="add">Add <span class="word"></span> as evidence</li>
  </ul>
</div>
