<div class="add-evidence-container">
  <div class="add-evidence supporting">
    <input type="text" placeholder="The Factlink above is true because ...">
    <a class="cancel">cancel</a>
  </div>

  <div class="add-evidence weakening">
    <input type="text" placeholder="The Factlink above is false because ...">
    <a class="cancel">cancel</a>
  </div>

  <ul class="search-results">

  </ul>
</div>