<div class="relation-top-right-arrow">
  <i><b class="caret"></b></i>
  <ul class="relation-top-right" style="display: none;">
      <li class="delete">
        <a>
          <img src="{{global.trash_image}}" alt="Trash" class="normal">
          <img src="{{global.trash_hover_image}}" alt="Trash" class="hover">
          Remove this Factlink as evidence
        </a>
      </li>
  </ul>
</div>
