<img src="{{ creator.avatar_url_32 }}">

<div class="fact-relation-added-by">
  <strong>
    <a href="/{{ creator.username }}" rel="backbone">{{ creator.username }}</a>
  </strong>
  ( <img src="{{global.brain_image}}"> {{ creator.authority }} ) added:
</div>

{{#fact_base}}
  {{>fact_base}}
{{/fact_base}}
