{{#global.signed_in}}<a href='/{{name}}' rel='backbone'>{{/global.signed_in}}{{name}}{{#global.signed_in}}</a>{{/global.signed_in}}<span class="separator-list-sep"></span>

{{! don't add whitespace here, that screws up the comma's !}}
