<span></span>
{{#numberNotDisplayed}}
  <a href='javascript:void();' class='showAll'>and {{numberNotDisplayed}}
  other{{#multipleNotDisplayed}}s{{/multipleNotDisplayed}}
  </a>
{{/numberNotDisplayed}}
{{past_action}} this Factlink.
