<span class="separator-list js-interactors-collection {{#numberOfOthers}}separator-list-hide-and{{/numberOfOthers}}"></span>
{{#numberOfOthers}}
  and <a href='javascript:void();' class='js-show-all'>{{numberOfOthers}}
  others
  </a>
{{/numberOfOthers}}
{{past_action}}.
