<span class="separator-list js-interactors-collection {{#numberNotDisplayed}}separator-list-hide-and{{/numberNotDisplayed}}"></span>
{{#numberNotDisplayed}}
  and <a href='javascript:void();' class='js-show-all'>{{numberNotDisplayed}}
  other{{#multipleNotDisplayed}}s{{/multipleNotDisplayed}}
  </a>
{{/numberNotDisplayed}}
{{past_action}}.
