<div class="js-interactor-avatars-collection ndp-interacting-users-avatars"></div>

{{#numberNotDisplayed}}
<a class='btn js-show-all ndp-interacting-users-avatars-show-all'>+ {{numberNotDisplayed}}</a>
{{/numberNotDisplayed}}
