<span class="separator-list js-interactors-collection {{#showOthers}}separator-list-hide-and{{/showOthers}}"></span>
{{#showOthers}}
  and <a href='javascript:void();' class='js-show-all'>{{numberOfOthers}}
  others
  </a>
{{/showOthers}}
{{past_action}}.
