<div class="js-interactor-avatars-collection ndp-interacting-users-avatars"></div>

{{#showOthers}}
<a class='btn js-show-all ndp-interacting-users-avatars-show-all'>+ {{numberOfOthers}}</a>
{{/showOthers}}
