<div class="fact-base-region clearfix"></div>
<button class="btn btn-primary pull-right fact-relation-post js-post">Post Factlink</button>
<a class="js-cancel fact-relation-preview-view-cancel-action">Cancel</a>
