{{#believes}}
  <span class="vote-up-down-text">You think this is relevant.</span><button class="button button-small vote-up-down-button js-unbelieve">Undo</button>
{{/believes}}
{{^believes}}
  <span class="vote-up-down-text">Is this argument relevant?</span><button class="button button-small vote-up-down-button js-believe">Yes</button>
{{/believes}}
