<a class="supporting {{ positive_active }}"> &nbsp; </a>
<div class="authorities-fact-relation">
  <span class="belief-authority-fact-relation">
    +{{ opinion_presenter.belief_authority }}
  </span>
  <span class="total-authority-fact-relation">
    {{ opinion_presenter.relevance }}
  </span>
  <span class="disbelief-authority-fact-relation">
    -{{ opinion_presenter.disbelief_authority }}
  </span>
</div>
<a class="weakening {{ negative_active }}"> &nbsp; </a>
