<h5>Why do you believe this argument is supporting?</h5>

<div class="tabular">
  <label class="tabular-row">
    <span class="tabular-cell">
      <input type="checkbox" class="js-fact-relation-believe unbootstrapped-checkbox" {{#believes_fact_relation}}checked="checked"{{/believes_fact_relation}}>
    </span>
    <span class="tabular-cell">This argument is relevant to the upper Factlink</span>
  </label>

  <label class="tabular-row">
    <span class="tabular-cell">
      <input type="checkbox" class="js-fact-believe unbootstrapped-checkbox" {{#believes_fact}}checked="checked"{{/believes_fact}}>
    </span>
    <span class="tabular-cell">The Factlink in this argument is correct or true.</span>
  </label>
</div>

<a class="js-cancel button">Cancel</a>
<a class="js-done button button-confirm">Done</a>
