<a class="supporting {{ positive_active }}"> &nbsp; </a>
<div class="authorities-fact-relation">
  <span class="belief-authority-fact-relation">
    +{{ opinions.formatted_belief_authority }}
  </span>
  <span class="total-authority-fact-relation">
    {{ opinions.formatted_relevance }}
  </span>
  <span class="disbelief-authority-fact-relation">
    -{{ opinions.formatted_disbelief_authority }}
  </span>
</div>
<a class="weakening {{ negative_active }}"> &nbsp; </a>
