{{#believes_fact_relation}}
  <div class="vote-up-down-line js-fact-relation-line"><span class="vote-up-down-text">You think this is relevant.</span><button class="button button-small vote-up-down-button js-fact-relation-unbelieve">Undo</button></div>
{{/believes_fact_relation}}
{{^believes_fact_relation}}
  <div class="vote-up-down-line js-fact-relation-line"><span class="vote-up-down-text">Is this Factlink relevant?</span><button class="button button-small vote-up-down-button js-fact-relation-believe">Yes</button></div>
{{/believes_fact_relation}}

{{#believes_fact}}
  <div class="vote-up-down-line js-fact-line"><span class="vote-up-down-text">You think this is correct or true.</span><button class="button button-small vote-up-down-button js-fact-unbelieve">Undo</button></div>
{{/believes_fact}}
{{^believes_fact}}
  <div class="vote-up-down-line js-fact-line"><span class="vote-up-down-text">Is this Factlink correct or true?</span><button class="button button-small vote-up-down-button js-fact-believe">Yes</button></div>
{{/believes_fact}}
