{{#disbelieves}}
  <div class="vote-up-down-line js-fact-relation-line"><span class="vote-up-down-text">You think this is irrelevant.</span><button class="button button-small vote-up-down-button js-fact-relation-undisbelieve">Undo</button></div>
{{/disbelieves}}
{{^disbelieves}}
  <div class="vote-up-down-line js-fact-relation-line"><span class="vote-up-down-text">Is this argument irrelevant?</span><button class="button button-small vote-up-down-button js-fact-relation-disbelieve">Yes</button></div>
{{/disbelieves}}

<div class="js-fact-line-region"></div>
