<h5>Why do you believe this argument is not supporting?</h5>

<div class="tabular">
  <label class="tabular-row">
    <span class="tabular-cell">
      <input type="checkbox" class="js-fact-relation-disbelieve unbootstrapped-checkbox" {{#disbelieves_fact_relation}}checked="checked"{{/disbelieves_fact_relation}}>
    </span>
    <span class="tabular-cell">This argument is not relevant to the upper Factlink</span>
  </label>

  <label class="tabular-row">
    <span class="tabular-cell">
      <input type="checkbox" class="js-fact-disbelieve unbootstrapped-checkbox" {{#disbelieves_fact}}checked="checked"{{/disbelieves_fact}}>
    </span>
    <span class="tabular-cell">The Factlink in this argument is not correct or true.</span>
  </label>
</div>

<a class="js-cancel button">Cancel</a>
<a class="js-done button button-confirm">Done</a>
