{{#disbelieves}}
  <span class="vote-up-down-text">You think this is irrelevant.</span><button class="button button-small vote-up-down-button js-fact-relation-undisbelieve">Undo</button>
{{/disbelieves}}
{{^disbelieves}}
  <span class="vote-up-down-text">Is this argument irrelevant?</span><button class="button button-small vote-up-down-button js-fact-relation-disbelieve">Yes</button>
{{/disbelieves}}
