<h5>Why do you believe this argument is supporting?</h5>

<label>
  <input type="checkbox" class="js-fact-relation-believe" {{#believes_fact_relation}}checked="checked"{{/believes_fact_relation}}>
  This argument is relevant to the upper Factlink
  </label>

<label>
  <input type="checkbox" class="js-fact-believe" {{#believes_fact}}checked="checked"{{/believes_fact}}>
  The Factlink in this argument is correct or true.
</label>

<a class="js-cancel btn">Cancel</a>
<a class="js-done btn btn-primary">Done</a>
