<div class="relation">
  <div class="relation-actions">
    <a class="supporting {{ positive_active }}"> &nbsp; </a>

    <span class="{{ fact_relation_type }}-indicator"> &nbsp; </span>

    <a class="weakening {{ negative_active }}"> &nbsp; </a>
  </div>

  {{>fact_bubble}}
</div>
