<div class="arrow">
  <div class="arrow-down-border"></div>
  <div class="arrow-down"></div>
</div>

<div class="evidence-list-wrapper">
  <div class="no-evidence-message" style="display:none">
    This Factlink is not supported or weakened by other Factlinks.<br>
  </div>

  <ul class="evidence-listing">
  </ul>
</div>
