<div class="evidence-list-wrapper">
  <div class="no-evidence-message">
    This Factlink is not supported or weakened by other Factlinks.<br/>
    <a href"#" class="do-add">Add evidence to this Factlink</a>
  </div>

  <div class="loading-evidence">
    <img src="/assets/ajax-loader.gif"> <span>Loading...</span>
  </div>
  <ul class="evidence-listing">
  </ul>
</div>