<button class="btn btn-primary btn-block js-follow-user-button ">
    {{follow}}
</button>

<button class="btn btn-block js-unfollow-user-button" style="display:none">
  <span class="js-default-state">
    <image src="{{global.checkmark}}"></image>
    {{following}}
  </span>

  <span class="js-hover-state" style="display:none">
    <image src="{{global.unfollow}}"></image>
    {{unfollow}}
  </span>
</button>

