<strong>I want Factlink to send me an email me when:</strong>
<label>
  <input type='checkbox' class='send_mail'
    {{#receives_mailed_notifications}}checked=checked{{/receives_mailed_notifications}}
  >
  I received new notifications and I'm inactive for 5 days
</label>
