<label>
  <input type='checkbox' class='send_mail'
    {{#receives_mailed_notifications}}checked=checked{{/receives_mailed_notifications}}
  >
  I want to receive emails for new notifications
</label>
