<div class="row" id="edit_user">
  <div class="span8">
    <fieldset>
      <legend></legend>
      <label class="checkbox">
        <input type="checkbox" class="send_mail"
          {{#receives_mailed_notifications}}checked=checked{{/receives_mailed_notifications}}
        >
        Send me an email when I receive a notification
      </label>
    </fieldset>
  </div>
</div>
