<div class="statistic">
  <span class="statistic-title">Following</span><br>
  {{#following}}{{ count }}{{/following}}
  {{^following}}<img src="{{global.ajax_loader_image}}">{{/following}}
</div>
<div class="statistic">
  <span class="statistic-title">Followers</span><br>
  {{#followers}}{{ count }}{{/followers}}
  {{^followers}}<img src="{{global.ajax_loader_image}}">{{/followers}}
</div>
