{{#is_current_user}}
  <a class="js-tab-show">About</a>
  ·
  <a href="{{edit_path}}">Edit</a>
  ·
  <a href="{{change_password_path}}">Change password</a>
  ·
  <a class="js-tab-notification-settings">Notification settings</a>
{{/is_current_user}}
