<div class="img">
  {{{ avatar }}}
</div>

<div class="user-info">
  <a href="{{{ url }}}" class="username back-to-profile" rel="backbone">{{ username }}</a>

  <span class="authority_for_subject">
    <img src="{{global.brain_image}}">
    {{authority}}
  </span>
</div>
