<div class="avatar-container">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>

  <div class="wrapper">
    <h3>{{ username }}</h3>
    <a class="btn btn-micro" rel="backbone" href="/{{ username }}">View profile</a>
  </div>
</div>
