<div class="list-block">
  <div class="user-avatar">
    {{{ avatar }}}
  </div>

  <div class="activity-container">
    <span class="body">{{ username }}</span>
    <span class="meta">authority: {{ authority }}</span>
  </div>
</div>