{{^is_current_user}}
<div class="avatar-container">
  <div class="user-avatar">
  	{{{ avatar }}}
  </div>

  <div class="wrapper">
  	<h3>{{ username }}</h3>
  	<sub>authority: {{ authority }}</sub>
  </div>
</div>
{{/is_current_user}}

{{#is_current_user}}
<h2>My Channels</h2>
{{{new_channel_button}}}
<a href="/{{ username }}/channels/new" class="btn small add-channel">Add new</a>
{{/is_current_user}}
