<div class="img">
  <a href="{{ link }}" rel="backbone">
      <img alt=" " src="{{ avatar_url_32 }}" class="image-32px" class="avatar-container-avatar">
  </a>
</div>

<div class="user-info">
  <a href="{{ link }}" class="back-to-profile" rel="backbone">{{ name }}</a>

  <span class="authority_for_subject">
    <img src="{{global.brain_image}}">
    {{authority}}
  </span>
</div>
