<a href="{{ link }}" rel="backbone" class="avatar-container">
  <img alt=" " src="{{ avatar_url_32 }}" width="32" height="32" class="avatar-container-avatar">
  <span class="avatar-container-username">{{ username }}</h3>
</a>
