<a href="{{ link }}" rel="backbone" class="avatar-container--large">
  <span class="avatar-container--large-username">{{ name }}</span>
  <img alt="{{ name }}" src="{{ avatar_url_160 }}" width="160" height="160" class="avatar-container--large-avatar">
</a>
