
<div class="span4 divider">
  <h3>Top channels</h3>

  {{^channels}}
  {{username}} doesn't have any channels yet.
  {{/channels}}

  <div class="top-channels">
    <ol>
    {{#channels}}
      <li><a href="#">{{title}}</a></li>
    {{/channels}}
    </ol>
    <a href="#">Show all</a>
  </div>

</div>


<div class="span4">
  <h3>Information</h3>

  {{#location}}
  <div class="row">
    <span class="field-label">Location:</span>
    <span class="field">{{location}}</span>
  </div>
  {{/location}}

  {{#biography}}
  <div class="row">
    <span class="field-label">Biography:</span>
    <span class="field">{{biography}}</span>
  </div>
  {{/biography}}

  {{^location}}
  {{^biography}}
    {{username}} did not fill out their profile yet.
  {{/biography}}
  {{/location}}

</div>
