<header class="append-bottom title">
  <h1>About {{username}}</h1>
  <div class="clearfix"></div>
  <div class="tabs">
    <ul>
      <li class="active"><a>About {{username}}</a></li>
    </ul>
  </div>
</header>