<% activity_action = (@activity.action == "added_supporting_evidence") ? :supporting : :weakening %>

<h2 class="activity-title">
  <%= link_to_possibly_dead_user @activity.user.user %>
  added
  <%= @activity.action == "added_supporting_evidence" ? "supporting" : "weakening" %>
  evidence to
  <%= link_to @activity.object, friendly_fact_with_opened_tab_url(@activity.object, activity_action) %>
</h2>
<p class="activity-action">
  To view the evidence, visit:<br>
  <%= link_to(friendly_fact_with_opened_tab_url(@activity.object, activity_action), friendly_fact_with_opened_tab_url(@activity.object, activity_action) ) %>
</p>
