<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity.user.user %> has commented on an argument</h2>
<% end %>

<%= render 'activity_mailer/activities/shared/comment' %>

<p align="center">
  <%= link_to('Reply to this comment', friendly_fact_url(@activity.object), class: 'button') %>
</p>
