<h2 class="activity-title">
  <%= link_to_possibly_dead_user(@activity.user.user) %>
  is now following you on Factlink
</h2>
<p class="activity-action">
  To view their profile, visit:<br>
    <%= link_to user_profile_url(@activity.user.user.username), user_profile_url(@activity.user.user.username) %>
</p>
