<table cellpadding="20" cellspacing="0" border="0" id="message">

	<tr>
	<td colspan="3" class="message-header">
	  <h3 class="message-title"><a href="#">If money doesn't make you happy, then you are probably not spending it right.</a></h3> 
	</td>
	</tr>

	<tr>
	<td valign="top" class="message-user-image" rowspan="2">
	  <img src="images/tom.jpg" width="32" height="32" />
	</td>
	<td class="message-user">
	  <%= link_to_possibly_dead_user(@activity.user.user) %>
	</td>
	<td class="message-timestamp muted">
	  <span>1:55PM</span>
	</td>
	</tr>

	<tr>
	<td class="message-content" colspan="2">
	  <p>
	    <%= @activity.subject.content %>
	  </p>
	</td>
	</tr>
	</table>

	<p align="center">
	<%= link_to("Reply to this message", conversation_message_url(@activity.subject.conversation, @activity.subject), class: "button") %>
	</p>
