<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @user.name %></h1>
  <h2 class="header-subtitle"><%= @activity.user.user %> has replied to your message on Factlink</h2>
<% end %>

<%= render 'activity_mailer/activities/shared/conversation_message', conversation: @activity.subject.conversation %>

<p align="center">
  <%= link_to conversation_url(@activity.subject), class: 'button' do %>
    Reply to this message
  <% end %>
</p>
