{{#connected}}
  <div><strong>Share {{global.t.factlink}}:</strong></div>

  <div class="preview-share-fact-link-container">
    <a target="_blank" href="{{sharing_url}}">&ldquo;{{displaystring}}&rdquo;</a>
  </div>

  <button class="button button-confirm js-share pull-right" data-disable-with="Sharing...">Share to {{nice_provider_name}}</button>
{{/connected}}
{{^connected}}
  <a href="/auth/{{provider_name}}?use_authorize=true&x_auth_access_type=write" class="button {{connectButtonClass}} js-accounts-popup-link" data-disable-with="Connecting...">Connect with {{nice_provider_name}}</a>
{{/connected}}
