<div><strong>Share Factlink:</strong></div>

<div class="preview-share-fact-link-container">
  <a target="_blank" href="{{sharing_url}}">&ldquo;{{displaystring}}&rdquo;</a>
</div>

<div class="pull-right">
  <span class="js-share-buttons-region"></span>
  <button class="button button-confirm js-share" data-disable-with="Sharing...">Share to {{provider_name}}</button>
</div>
