<div class="js-textarea-region"></div>

<div class="share-fact-link-container">
  If no message is given, we post the quote itself. We also append a <a target="_blank" href="{{sharing_url}}">link to this page.</a>
</div>

<button class="button button-small button-confirm js-share pull-right" data-disable-with="Sharing...">Share</button>

<div class="js-share-comment-region"></div>
