@import "bootstrap/mixins";
@import "bootstrap/variables";

div.left-column {
  float: left;
  width: 200px;
  min-height: 200px;

  .tour-block {
    position: relative;
    top: 160px;
    width: 190px;
    padding: 10px;
    margin-bottom: 30px;
    color: @baseFontColor;
    border: 1px solid @baseBorderColor;
    .border-radius(4px);
    display: none;
    background: white;

    > h4 {
      color: @headingFontColor;
      padding-bottom: 4px;
    }
  }
}

div.right-column {
  position: relative;
  float: left;
  width: @siteWidth - 200px;
  height: 690px;

  #background {
    background: image-url("browser-windows/chrome.png");
    height: 720px;
    width: 810px;
    position: absolute;
    top: -30px;
  }
}

html.firefox {
  #container #background {
    background: image-url("browser-windows/firefox.png");
  }
}

#container {

  #skip-link {
    position: fixed;
    top: 654px;
    margin-left: 54px;
  }


  #create-your-first-factlink {
    padding: 50px 30px 0 80px;
    text-align: center;
    margin-top: 50px;
    position: relative;

    > * {
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }

    h1 {
      font-size: 36px;
      font-weight: 100;
      padding: 0 0 8px;
    }

    p {
      text-align: left;
    }
  }
}
