@import "bootstrap/mixins";
@import "bootstrap/variables";

@chromeTourBlockOffsetTop: 170px;
@chromeBrowserPaddingTop: 60px;
@chromeButtonOffsetTop: 42px;
@chromeButtonOffsetRight: 37px;
@chromeButtonWidth: 33px;
@chromeButtonHeight: 35px;

@firefoxTourBlockOffsetTop: 185px;
@firefoxBrowserPaddingTop: 75px;
@firefoxButtonOffsetTop: 57px;
@firefoxButtonOffsetRight: 10px;
@firefoxButtonWidth: 40px;
@firefoxButtonHeight: 35px;

.left-column {
  float: left;
  width: 200px;
  min-height: 200px;

  .tour-block {
    position: relative;
    top: @chromeTourBlockOffsetTop;
    width: 190px;
    padding: 10px;
    margin-bottom: 30px;
    color: @baseFontColor;
    border: 1px solid @baseBorderColor;
    .border-radius(4px);
    display: none;
    background: white;

    > h4 {
      color: @headingFontColor;
      padding-bottom: 4px;
    }
  }

  #skip-link {
    position: fixed;
    top: 654px;
    margin-left: 54px;
  }
}

.right-column {
  position: relative;
  float: left;
  width: @siteWidth - 200px;
  height: 690px;

  #background {
    background: image-url("tour/chrome_mimic.png");
    height: 720px;
    width: 810px;
    position: absolute;
    top: -30px;
  }

  #extension-button {
    position: absolute;
    top: @chromeButtonOffsetTop;
    right: @chromeButtonOffsetRight;
    height: @chromeButtonHeight;
    width: @chromeButtonWidth;
    background: image-url('tour/chrome_extension_button_states.png') no-repeat -@chromeButtonWidth -(2*@chromeButtonHeight);

    &:hover {
      background-position: -@chromeButtonWidth -@chromeButtonHeight;
    }

    &:active {
      background-position: -@chromeButtonWidth 0;
    }

    &.increased {
      background-position: 0 -(2*@chromeButtonHeight);

      &:hover {
        background-position: 0 -@chromeButtonHeight;
      }

      &:active {
        background-position: 0 0;
      }
    }
  }

  #create-your-first-factlink {
    padding: @chromeBrowserPaddingTop 30px 0 80px;
    text-align: center;
    margin-top: 50px;
    position: relative;

    > * {
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }

    h1 {
      font-size: 36px;
      font-weight: 100;
      padding: 0 0 8px;
    }

    p {
      text-align: left;
      padding: 0 60px;
    }
  }
}

html.firefox {
  .left-column {
    .tour-block {
      top: @firefoxTourBlockOffsetTop;
    }
  }

  .right-column {
    #background {
      background: image-url("tour/firefox_mimic.png") !important;
    }

    #extension-button {
      position: absolute;
      top: @firefoxButtonOffsetTop;
      right: @firefoxButtonOffsetRight;
      height: @firefoxButtonHeight;
      width: @firefoxButtonWidth;
      background: image-url('tour/firefox_extension_button_states.png') no-repeat -@firefoxButtonWidth -(2*@firefoxButtonHeight);

      &.hover {
        background-position: -@firefoxButtonWidth -@firefoxButtonHeight;
      }

      &.active {
        background-position: -@firefoxButtonWidth 0;
      }

      &.increased {
        background-position: 0 -(2*@firefoxButtonHeight);

        &.hover {
          background-position: 0 -@firefoxButtonHeight;
        }

        &.active {
          background-position: 0 0;
        }
      }
    }

    #create-your-first-factlink {
      padding-top: @firefoxBrowserPaddingTop;
    }
  }
}
