@import "bootstrap/mixins";

#container .install-extension-wrapper {
  position: relative;
  text-align: center;
  padding-top: 30px;

  .install-extension-middle {
    overflow: hidden;
    padding-top: 10px;

    .install-extension-picture {
      float: left;
      margin-left: 185px;
      top: 0px;
      width: 164px;
      height: 164px;
    }

    .install-extension-text {
      float: left;
      width: 420px;
      margin-left: 20px;
      margin-top: 30px;
      font-size: @baseFontSize;
      line-height: 21px;
      color: @metaFontColor;

      .install-extension-text-unsupported {
        margin-top: -8px;
      }
    }
  }

  .install-extension-bottom {
    margin: 100px 0;
  }

  .transparent-border {
    margin-top: 20px;
    border: 2px solid transparent;

    .button {
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .dashed-border {
    margin-top: 10px;
    display: inline-block;
    border: 3px dashed #c9c9c9;
    padding: 10px 12px 11px 11px;
    margin: 10px 0 0;

    border-radius: 8px;
    a.bookmarklet { cursor: move; }
    a.bookmarklet::after { content: ' Drag me to your bookmarks bar'; }
  }

  .unsupported-browser-extension-installed {
    display: none;
  }
}

.modal-backdrop{
  background: white;
}
