@import "bootstrap/mixins";

.tour-interesting-users {
  position: relative;
  padding-top: 30px;

  .tour-interesting-users-scrolling-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 430px;

    .tour-interesting-users-scrolling-inner {
      position: absolute;
      top: 0px;
      .transition(left 0.6s);
      min-width: 100%;
    }
  }

  .tour-interesting-users-footer {
    margin: 20px 0 150px;
    padding: 0 20px;
    text-align: center;
    min-height: 30px;
  }

  .tour-interesting-users-finish {
    margin-top: -6px;
    display: inline-block;
    color: white;
    &:hover {
      color: white;
    }
  }

  .tour-interesting-users-arrow-left,
  .tour-interesting-users-arrow-right {
    width: 16px;
    height: 23px;
    opacity: 0.2;

    &.enabled {
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  .tour-interesting-users-arrow-left {
    background: asset-data-url("pagination/arrow_left.png");
    float: left;
  }

  .tour-interesting-users-arrow-right {
    background: asset-data-url("pagination/arrow_right.png");
    float: right;
  }
}

.tour-interesting-users-list {
  position: relative;
}

.tour-interesting-users-list-empty {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

@user-width: 200px;
@user-height: 170px;
@user-block-padding-horizontal: 15px;
@user-block-padding-vertical: 20px;

.tour-interesting-user {
  margin: 20px;
  width: @user-width;
  height: @user-height;
  display: inline-block;
  &.loaded{
    cursor: pointer;
  }

  position: relative;


  ul {
    margin: 0;
  }

  li {
    margin: 6px 0;
  }
}

.tour-follow-user-heading {
  //the user's avatar+name should be raised slightly above + overlapping
  //the overall user-info block.
  position: absolute;
  top: -21px;
}

.tour-follow-user-heading-text {
  left: 42px;
  margin: -10px;
  padding: 10px;
  position: absolute;
  top: 0;
  .ellipsis(@user-width - 40)
}

.tour-follow-user-block {
  border: 1px solid @tableBorder;
  border-radius: @baseBorderRadius;
  background: white;
  position: absolute;
  //the user's info box should leave some extra space on the top of
  //its container to make room for the jutting-out avatar.
  top: 24px; bottom: 0;
  left: 0; right: 0;
  padding: @user-block-padding-vertical 0 0 @user-block-padding-horizontal;

  //very subtle box-shadow.
  box-shadow: 0 2px 3px -3px rgba(0,0,0,0.5);
}

.tour-follow-topic-heading {
  color: @mutedFontColor;
}

.tour-user-topic {
  position: relative;
  padding: 0 7px;
  border-radius: 5px;
  border: 2px solid @tableBorder;
  display: inline-block;
  background: white;

  display: inline-block;
  .ellipsis(@user-width - 2*@user-block-padding-horizontal - 2px);
  padding-right: 50px;
}

.tour-user-topic-title {
  font-weight: bold;
  margin-right: 15px;
}

.tour-user-topic-authority {
  position: absolute;
  right: 8px;
  color: @mutedFontColor;

  > img {
    margin-top: -2px;
    width: 13px;
    height: 12px;
  }
}

.tour-user-button-region > button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.tour-user-button-region > .button {
  border-radius: 0 0 @baseBorderRadius @baseBorderRadius !important;
}

.hover > .tour-follow-user-block {
  border-color: @linkColor;
  //on hover, make border 1px and compensate with margin.
  border-width: 2px;
  margin: -1px;
  box-shadow: none;
}
.secondary > .tour-follow-user-block {
  border-color: @tableBorder;
}

.secondary.hover > .tour-follow-user-block {
  border-color: @dangerButtonColor;
}
