@import "bootstrap/variables";
@import "bootstrap/mixins";

.tour-interesting-users {
  position: relative;
  padding-top: 30px;

  h1.tour-interesting-users-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .tour-interesting-users-scrolling-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 430px;

    .tour-interesting-users-scrolling-inner {
      position: absolute;
      top: 0px;
      .transition(left 0.3s)
    }
  }

  .tour-interesting-users-footer {
    margin: 20px 0 150px;
    padding: 0 20px;
    text-align: center;
    min-height: 30px;
  }

  .tour-interesting-users-finish {
    margin-top: -6px;
  }

  .tour-interesting-users-arrow-left,
  .tour-interesting-users-arrow-right {
    width: 16px;
    height: 23px;
    .opacity(0.2);

    &.enabled {
      cursor: pointer;
      .opacity(0.6);

      &:hover {
        .opacity(1);
      }
    }
  }

  .tour-interesting-users-arrow-left {
    background: asset-data-url("pagination/arrow_left.png");
    float: left;
  }

  .tour-interesting-users-arrow-right {
    background: asset-data-url("pagination/arrow_right.png");
    float: right;
  }
}

.tour-interesting-users-list {
  position: relative;
}

.tour-interesting-user {
  margin: 20px;
  width: 200px;
  height: 170px;
  display: inline-block;

  position: relative;

  .tour-follow-user-heading {
    //the user's avatar+name should be raised slightly above + overlapping
    //the overall user-info block.
    position: absolute;
    top: -1.75em;
  }

  .tour-follow-user-avatar {
    position: relative;
    display: inline-block;
    margin-right: 0.5em; //avatar is inline with text, wants space after it.
    vertical-align: top;
    top: -2px; //raise avatar a little out of the text line.

    img {
      border-radius: 2px;
      width: 32px;
      height: 32px;
      position: relative;
      z-index: 1; //stacking is necessary due to fake border construct explained below.
    }
  }

  //The following two css rules generate nested rounded boxes around the image.
  //this is equivalent to a fake border + white padding, with the advantage
  //that the "padding" overlays the wrapping boxes border, whereas the 
  //"border" is underneath it.  This causes the visual border to appear
  //continuously to wrap the jutting out avatar image.
  .tour-follow-user-avatar:after {
    display: block;
    top: -3px; left: -3px; right: -3px; bottom: -3px;
    background: @tableBorder;
    border-radius: 4px;
    content: ' ';
    position: absolute;
    z-index: -1;
  }

  .tour-follow-user-avatar:before {
    display: block;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: white;
    border-radius: 3px;
    content: ' ';
    position: absolute;
  }

  .tour-follow-user-block {
    border: 1px solid @tableBorder;
    border-radius: 4px;
    background: white;
    position: absolute;
    //the user's info box should leave some extra space on the top of
    //its container to make room for the jutting-out avatar.
    top: 2em; bottom: 0;
    left: 0; right: 0;
    padding: 1.25em 0 0 1.25em;

    //very subtle box-shadow.
    box-shadow: 0 2px 3px -3px rgba(0,0,0,0.5);
  }

  .tour-follow-user-authority {
    color: @mutedFontColor;
    margin-left: 15px;

    > img {
      margin-top: -2px;
      width: 13px;
      height: 12px;
    }
  }

  .tour-follow-topic-heading {
    color: @mutedFontColor;
  }

  ul { 
    margin: 0;
  }

  li {
    margin: 0.5em 0;
  }

  .tour-user-topic {
    position: relative;
    padding: 0 0.6em;
    border-radius: 5px;
    border: 2px solid @tableBorder;
    display: inline-block;
    background: white;
  }

  .tour-user-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //the button is an integral part of the user-info box design; don't round top corners.
    border-radius: 0 0 4px 4px;
  }
}
.hover > .tour-follow-user-block {
  border-color: @linkColor;
  //on hover, make border 1px and compensate with margin.
  border-width: 2px;
  margin: -1px;
  box-shadow: none;
}
.secondary > .tour-follow-user-block {
  border-color: @tableBorder;
}

.secondary.hover > .tour-follow-user-block {
  border-color: @dangerButtonColor;
}
