@import "bootstrap/mixins";
@import "bootstrap/variables";

.help-text-container > div {
  display: none;
  position: absolute;
  width: 198px;
  h4 { padding-bottom: 6px; }
}

#container {

  #the-factlink-times {
    & > * { #font > .serif(); }
    padding: 32px 72px;
    text-align: center;

    h1 {
      font-size: 36px;
      font-weight: 100;
      padding: 0 0 8px;
    }
    p { text-align: left; }
  }
}