<li data-channel-id="<%= channel.id %>" onclick="getFacts('<%= channel_url(user.username, channel.id) %>');">

	<article class="channel-block">

		<div class="wrapper">
			<span><%= channel.title %> (<%= channel.facts.count %>)</span>
		</div>

	</article>
		
</li>