<li data-channel-id="<%= channel.id %>">

	<article class="channel-block" onclick="getFacts('<%= channel_url(user.username, channel.id) %>');">

		<div class="wrapper">
			<span><%= channel.title %> (<%= channel.facts.count %>)</span>
		</div>

	</article>
		
</li>