<form method="GET" action="<%= factlink_overview_path %>">
	<input type="text" class="search" name="s" placeholder="Search for facts..." <%= params[:s] ? "value='#{params[:s]}'" : "" %> x-webkit-speech >
</form>