<li data-user-username="<%= user.username %>">

	<article class="user-block bubble" onclick="document.location = '<%= user_profile_path(user.username) %>';">
		
		<div class="user-avatar">

		</div>
		
		<div class="wrapper">
			<h1><%= user.username %></h1>
			<sub>authority: <%= user.authority %></sub>			
		</div>
	</article>
	
</li>