<% unless user_signed_in? %>
	<p>Factlink helps people find credibility in the world's information. The service is built on the belief that information should be openly shared, accessible, and transparent. Factlink provides immediate access to the state of knowledge on the topics people are discussing by transforming web documents into dynamic channels of information.</p>
	<p>Why not join us? It is easy! <%= link_to("Register your free account here.", new_user_registration_path, :style => "") %>
<% end %>

<div class="append-bottom">
	<h1>interesting users</h1>
	<sub>Check out these Factlink users.</sub>
</div>

<ul>
<% @users.each do |user| %>
	<%= user_block(user) %>
<% end %>
</ul>