[submodule "build/smoosh"]
	path = build/smoosh
	url = git://github.com/fat/smoosh.git
[submodule "build/jshint"]
	path = build/jshint
	url = git://github.com/jshint/jshint.git
[submodule "build/easyXDM"]
	path = build/easyXDM
	url = https://github.com/oyvindkinsey/easyXDM.git
