$arrowSize: 5px;

.delete-button {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight;
  vertical-align: baseline;
  cursor: pointer;
}

.delete-button-first {
  height: $baseButtonHeight;
  text-align: center;
}

.delete-button-second-container {
  position: absolute;
  display: inline-block;
  right: 2.5em;
  top: 0px;
  height: $baseButtonHeight + 3px;
  line-height: $baseButtonHeight;
  overflow: hidden;
  visibility: hidden;
}

.delete-button-open .delete-button-second-container {
  visibility: visible;
}

.delete-button-second {
  // hack because .button is too specific.. :-(
  vertical-align: top !important;
  position: relative;
  right: -100%;
  white-space: nowrap;
  margin-right: $arrowSize - 1px;
}

.delete-button-arrow {
  position: absolute;
  border: $arrowSize solid transparent;
  border-right: none;
  border-left-color: $buttonDangerBackground;
  margin-top: -$arrowSize - 2px;
  top: 50%;
  right: -$arrowSize;
}

.delete-button-open .delete-button-second,
.delete-button-open .delete-button-arrow {
  right: 0;
}
