.delete-button {
  position: relative;
  display: inline-block;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight;
  vertical-align: baseline;
  cursor: pointer;
}

.delete-button-first {
  height: $baseButtonHeight;
  text-align: center;
}

.delete-button-second-container-outer {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 100%;
  height: $baseButtonHeight + 3px;
  line-height: $baseButtonHeight;
  overflow: hidden;
  visibility: hidden;
}

.delete-button-open .delete-button-second-container-outer {
  visibility: visible;
}

.delete-button-second-container-inner {
  position: relative;
  right: -100%;
  transition: right 0.3s;
}

.delete-button-open .delete-button-second-container-inner {
  right: 0;
}

$arrowSize: 5px;
.delete-button-second {
  // hack because .button is too specific.. :-(
  vertical-align: top !important;
  position: relative;
  right: 0;
  white-space: nowrap;
  margin-right: $arrowSize - 1px; // 1px border

  &:after {
    content: '';
    position: absolute;
    border: $arrowSize solid transparent;
    border-right: none;
    border-left-color: $buttonDangerBackground;
    margin-top: -$arrowSize;
    top: 50%;
    right: -$arrowSize;
  }
}
