%extension-install-button {
  margin-right: 0.6em;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -3px;
}

.button-huge %extension-install-button {
  height: 32px;
  width: 32px;
}

html[data-factlink-extension-loaded] %extension-install-button {
  pointer-events: none;
  background: grey;
}

.install-chrome {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Chrome-32x32.png');
}

.install-firefox {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Firefox-32x32.png');
}

.install-safari {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Safari-32x32.png');
}
