%extension-install-button {
  vertical-align: top;
  margin-right: 10px;
  background-size: 32px 32px;
  display: inline-block;
  height: 50px;
  width: 32px;
  background: no-repeat 0 9px;
}

.install-chrome {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Chrome-32x32.png');
}

.install-firefox {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Firefox-32x32.png');
}

.install-safari {
  @extend %extension-install-button;
  background-image: asset-data-url('browser-icons/Safari-32x32.png');
}
