div.content {
  z-index: 480;
  background: white;

  div.container {
    padding-top: 25px;

    div.span6 {
      text-align: center;
      height: 300px;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

      h2 {
        font-size: 20px;
        color: #333;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      p {
        font-size: 14px;
        padding: 0 20px;
        line-height: 22px;
        color: #555;
      }

      i {
        display: block;
        background: image-url('new/content/key_points.png') no-repeat;
        margin: 0 auto;
        width: 157px;
        height: 145px;
      }

      &.social i {
        background-position: 0 0;
      }

      &.curation i {
        background-position: 0 -145px;
      }

      &.authority i {
        background-position: -157px 0;
      }

      &.web i {
        background-position: -157px -145px;
      }
    }
  }
}
