@import "bootstrap/mixins";
@import "bootstrap/variables";

div.footer {
  background: #f9f9f9;
  padding: 0 0 50px;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

  hr {
    background: image-url('new/footer/hr.png') repeat-x top;
    border: none;
    height: 3px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 0 10px 0 0;

      &:after {
        content: "·"
      }

      &.last {
        padding: 0;
        &:after {
          content: ""
        }
      }

      &.copy {
        color: #777;
        font-size: 12px;
      }

      a {
        margin: 0 5px 0 0;
        color: #3d75a3;
      }
    }
  }
}
