<h1>That was easy!</h1>

<div class="help-text-content">
  <p>Now click the Factlink button to create your Factlink.</p>

  <p>This button will always appear here when the Factlink Extension is installed.</p>
</div>
