<h1>Let's create a Factlink!</h1>

<div class="help-text-content">
  <p>With Factlink you can select any statement, on any website. Let's try that on this example page.</p>

  <p>Select any statement on the right to start creating your Factlink.</p>
</div>
