@import "color_declarations.less";

/** Reset css */
body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}
table{font-size:inherit;font:100%;}
ul{list-style:none;}
img{border:0;}
p{margin:1em 0;}
a {text-decoration:none;}
table {border-collapse: collapse; border-spacing: 0;}
td {vertical-align: top;}
a:hover {text-decoration:underline; cursor:pointer;}
/** Fact block */
span.proxyWindow { 
  display: none;
} 
div.modal {
  position: relative;
  background: #FBFAFA;
  top: 40px;
  box-shadow: 2px 2px 2px #ccc;
  padding: 0;
  margin:  0 auto;
  width: 510px;
  
  color: #777;
  span.close {
    background: url('/images/client/close-button.png') no-repeat;
    display: block;
    height: 10px; width: 8px;
    position: absolute;
    right: 5px; top: 5px;
    cursor: pointer;
  }
  span.proxyWindow { 
    display: inline !important;
  }
}
.boxed { 
  padding: 0;
  border: solid 1px #bbb;
}
.float { 
  background-color: @bg;
  z-index: 1000;
  display: none;
  box-shadow: 2px 2px 2px #ccc;
  position: absolute;
}

body.factlink-site .fact-block {
  margin-bottom:15px
}

.fact-block { 
  a { 
    color: #666363;
  }
  .boxed;
  background: url("/images/client/top-pane-gradient.png") top left repeat-x #F4F4F4;
  color: #BBB;
  text-shadow: 0px 1px 0px white;
  width: 510px;
  margin-bottom: 0;
  font-size: 9pt;
  img.close { 
    margin: 5px;
  }
  article.fact {    
    padding: 10px 0 10px 5px;
    min-height: 83px;
    width: 490px;
    display: block;   
    header { 
      /*border-right: 1px dotted #f0f0f0;
      &:hover { 
        border-right: 1px dotted @dark-blue;
      }*/
      display: block;
      padding-right: 20px;
      color: #333;
      margin-left: 60px;
      sub {
        color: #AAA;
        font-size: x-small;
      }
      .head { 
        font-weight: bold;
      }     
      .body { 
        font-family: Georgia, "Times New Roman", Garamond, serif;
      }
    }
    .channel-listing { 
      .boxed;
      .float;  
      width: 160px;
      li { 
        display: block;
        padding: 0.7em;
      }
    }
    .actions { 
      margin-right: 60px;
      visibility: hidden;
      height: 18px;      
      li { 
        margin: 5px 5px 0 0;
        display: inline-block;
        list-style-type: none;
      }
    }
    &:hover {
      .actions { 
        visibility: visible;
      }
      .actions li:hover { 
        a { 
          text-decoration: underline;
          color: @dark-blue;
        }
      }
    }
  }
  .wheel { 
    float: left;  
    svg { 
      margin: 0 0 0 10px;
      float: left;    
      path:hover { 
        cursor: pointer;
      }
    }
  }
  .evidence-facts { 
    text-align: center; 
    .add-action {
      height: 25px;
      padding: 5px;
      line-height: 30px;
      border-top: 1px solid #E4E4E4;
      position: relative;
      z-index: 20;
      background: #F0F0F0 url('/images/client/bottom-pane-gradient.png') repeat-x;
    }
    .evidence-actions {
      position: relative;
      z-index: 10;
      margin: 0 0 -6px;
      padding: 6px 0 0;
      background: url('/images/client/filter-bar.png') repeat-x transparent;
      height: 36px;
      a {
        line-height: 22px;
      }
    }
    .evidence, .potential-evidence {
      min-height: 80px; 
      max-height: 200px;
      background-color: #FBFAFA;
      overflow: auto;
      .no-evidence td{ 
        text-align: center;
        height: 150px; width: 480px;  
        vertical-align: middle;
      }
      article.fact { 
        &:nth-child(even) {
          background-color: darken(#FBFAFA, 2%);
        }
        border-bottom: 1px solid #E4E4E4;
        padding: 10px 0 10px 15px;    
        width: 480px;  
        text-align: left;
      }
    }
    .potential-evidence { 
      min-height: 150px;
      .search {
    		border-bottom: solid 1px #ddd;
    		padding: 3px 12px;
    		line-height: 28px;
    		background: rgb(251, 250, 250);
    		input[type="text"] {
    		  padding: 0 !important;
    		  font-size: 8pt;
    			border-radius: 3px;
    			border: solid 1px #ccc;
    			width: 220px; height: 18px;
    			&:active, &:focus {
    			  outline: solid 1px @dark-blue;
    			}
    		}
    		input[type="submit"] {
    		  vertical-align: middle;
    			width: 64px;
    		}			
    	}
    }
  }
  .authority { 
    text-align: center;
    margin: 0 0 0 15px;
    width:45px; 
    height: 20px;
  }
  .opinion-box {
    .boxed;
    .float;
    width: 150px;
    height: 85px;
    
    .percentage { 
      margin-top: 10px;
      margin-right: 5px;
      display: block;
      text-align: right;
      width: 60px;
      float: right;
      font-size: 18pt;
    }
    table { 
      float: left;
      width: 80px;
      height: 60px;
      td { 
        width: 24px;
        height: 24px;
      }
    }
    .opinion-type {
      text-shadow: none;
      display: block;
      color: white;
      float: left;
      padding-left: 3px;
      margin-bottom: 3px;
      height: 18px; width: 85px;
      background: @grey;
    }
  }
}
iframe.proxyFrame {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 500px;
  border: solid 1px #777;
  z-index: 900;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}

div.fl-clear {
  clear: both;
}

.center {
	margin: 0 auto;
	text-align: center;
}

div.fl-sign-in-container {
	padding: 16px 16px 0px 16px;	padding-bottom: 24px;
}

div.sign-in {
	border-bottom: solid 1px #ccc;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 2px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #888;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #888;
  -webkit-border-radius: 3px;
}
/* ====== from tipsy plugin ==== */ 
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url("/images/tipsy.gif"); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

