@import "css3buttons.css";
/** Popup redesign */
/*@link-blue:     #306d90;*/
/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
.tabs, .pills {
  margin: 0 0 2px;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.tabs:after, .pills:after {
  clear: both;
}
.tabs > li, .pills > li {
  float: left;
}
.tabs > li > a, .pills > li > a {
  display: block;
}
.tabs {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.tabs > li {
  position: relative;
  top: 1px;
}
.tabs > li > a {
  background: transparent;
  padding: 0 15px;
  margin-right: 2px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tabs > li > a:hover {
  /*        text-decoration: none;*/

  /*        background-color: #fff;*/

  /*        border-color: #eee #eee #ddd;*/

}
.tabs > li.active > a {
  /*      color: @gray;*/

  /*      background-color: @white;*/

  /*      border: 1px solid #ddd;*/

  /*      border-bottom-color: transparent;*/

}
.tabs .menu-dropdown, .tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-top-right-radius: 0 6px 6px 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 6px 6px 6px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 6px 6px 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0 6px 6px 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 6px 6px 6px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 6px 6px 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.tabs a.menu:after, .tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
  border-color: #999;
}
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
  border-top-color: #555;
}
.tab-content {
  clear: both;
}
.pills a {
  margin: 5px 3px 5px 0;
  padding: 0 15px;
  text-shadow: 0 1px 1px #ffffff;
  line-height: 30px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pills a:hover {
  background: #00438a;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.pills .active a {
  background: #0069d6;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.tab-content > *, .pill-content > * {
  display: none;
}
.tab-content > .active, .pill-content > .active {
  display: block;
}
.label {
  padding: 2px 6px 3px;
  background-color: #bfbfbf;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  /*  border-top: solid 1px rgba(0, 0, 0, 0.28);*/

  /*  border-right: solid 1px rgba(0, 0, 0, 0.10);*/

  /*  border-left: solid 1px rgba(0, 0, 0, 0.10);*/

  border-bottom: solid 1px #ffffff;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-shadow: none;
  border-radius: 3px;
}
.label.important {
  background-color: #c43c35;
}
.label.warning {
  background-color: #f89406;
}
.label.success {
  background-color: #46a546;
}
.label.notice {
  background-color: #62cffc;
}
/** Reset css */
body {
  padding: 0;
  margin: 0;
  font: 13px Arial, Helvetica, Garuda, sans-serif;
  *font-size: small;
  *font: x-small;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
em,
strong,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p {
  margin: 1em 0;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/** Fact block */
a {
  color: #313131;
}
a:hover {
  color: #306d90;
}
span.proxyWindow {
  display: none;
}
iframe.proxyFrame {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 500px;
  border: solid 1px #777;
  z-index: 900;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
/* Legacy */
div.fl-clear {
  clear: both;
}
.center {
  margin: 0 auto;
  text-align: center;
}
div.fl-sign-in-container {
  padding: 16px 16px 0px 16px;
  padding-bottom: 24px;
}
div.sign-in {
  border-bottom: solid 1px #ccc;
}
/* /Legacy */
div.modal {
  top: 40px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0 auto;
  width: 510px;
  color: #777;
}
div.modal span.close {
  z-index: 100;
  background: url('/images/close-button.png') no-repeat;
  display: block;
  height: 10px;
  width: 8px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
div.modal span.proxyWindow {
  display: inline !important;
}
.float {
  background-color: #fbfafa;
  z-index: 2000;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
}
.new-style {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #fbfbfb));
  background: -moz-linear-gradient(center bottom, #e2e2e2 0%, #fbfbfb 100%);
  background: #fbfbfb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #fbfbfb));
  background: -moz-linear-gradient(center bottom, #e2e2e2 0%, #fbfbfb 100%);
  border: solid 1px #a8a8a8;
  padding: 4px;
  border-radius: 3px;
}
ul#results-listing div.user-block {
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #BBB;
  text-shadow: 0px 1px 0px white;
  width: 510px;
}
ul#results-listing div.user-block .side {
  margin: 10px;
  float: left;
}
ul#results-listing div.user-block .side .authority {
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 12px;
}
ul#results-listing div.user-block .side .authority img {
  vertical-align: middle;
  border-radius: 3px;
}
ul#results-listing div.user-block .side .username {
  color: #666363;
  float: left;
  font-size: 16px;
  vertical-align: top;
}
ul#results-listing div.user-block .side .username a {
  color: #666363;
}
ul#results-listing div.user-block .side .type {
  font-size: 14px;
  line-height: 26px;
}
/** Imported from color_elements.less */
/*
@popup-bg:      #ffffff;
@popup-font:    #313131;
@underbar-bg:   #f5f5f5;
@underbar-font: #999999;
@divider:       #eeeeee;
@link-blue:     #306d90;
*/
/** Default styles for new modal */
.default-modal {
  background: #ffffff;
  -webkit-border-top-right-radius: 4;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4;
  -moz-border-radius-topright: 4;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4;
  border-top-right-radius: 4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4;
  -webkit-border-top-right-radius: 4;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4;
  -moz-border-radius-topright: 4;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4;
  border-top-right-radius: 4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4;
}
.underbar {
  background: #f5f5f5;
  border-top: solid 1px #eeeeee;
  min-height: 32px;
  line-height: 32px;
}
.fact-block {
  background: #ffffff;
  -webkit-border-top-right-radius: 4;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4;
  -moz-border-radius-topright: 4;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4;
  border-top-right-radius: 4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4;
  -webkit-border-top-right-radius: 4;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4;
  -moz-border-radius-topright: 4;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4;
  border-top-right-radius: 4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  color: #BBB;
  text-shadow: 0px 1px 0px white;
  width: 510px;
  margin-bottom: 0;
  font-size: 9pt;
}
.fact-block img.close {
  margin: 5px;
}
.fact-block:hover > article.fact .actions {
  visibility: visible;
  opacity: 1;
}
.fact-block .controls {
  border-bottom: solid 1px #ddd;
  background: #f5f5f5;
  border-top: solid 1px #eeeeee;
  min-height: 32px;
  line-height: 32px;
}
.fact-block .controls a, .fact-block .controls li {
  color: #5e8ba6;
  text-shadow: 0px 1px 0px #fff;
  font-weight: 100;
  font-size: 11px;
}
.fact-block .controls ul.evidence {
  list-style: none;
}
.fact-block .controls ul.evidence li {
  line-height: 32px;
  padding: 0 15px;
  float: left;
}
.fact-block article.fact {
  -webkit-box-shadow: inset 0px 2px 1px #fff;
  padding: 10px 0 10px 5px;
  min-height: 83px;
  display: block;
  border-right: 1px solid #FBFAFA;
  border-radius: 4px;
}
.fact-block article.fact header {
  margin: 0 0 0px 75px;
  padding-right: 20px;
  color: #333;
}
.fact-block article.fact header sub {
  color: #aaa;
  line-height: inherit;
  font-size: x-small;
}
.fact-block article.fact header sub a {
  color: #5e8ba6;
  font-family: "Georgia";
}
.fact-block article.fact header .head {
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Garamond, serif;
  font-size: 0.9em;
  color: #888;
  padding: 6px 0;
  display: block;
}
.fact-block article.fact header .edit:hover {
  background-color: #ffffe1;
  color: #888;
}
.fact-block article.fact header .edit form input, .fact-block article.fact header .edit form input:focus {
  padding: 4px 0;
  background-color: #ffffe1;
  border-radius: 3px;
  outline: none;
  margin: -6px 0px -6px 0px;
}
.fact-block article.fact header .body {
  font-family: Georgia, "Times New Roman", Garamond, serif;
  font-size: 1.2em;
  font-size: 14px;
  line-height: 19px;
}
.fact-block article.fact header .actions {
  margin-top: 4px;
  visibility: hidden;
  height: 18px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.fact-block article.fact header .actions li {
  margin: 5px 10px 0 0;
  display: inline-block;
  list-style-type: none;
}
.fact-block article.fact header .actions li img {
  margin: 0 3px 0 0;
  vertical-align: baseline;
}
.fact-block article.fact .channel-listing {
  display: block;
  background-color: #fbfafa;
  z-index: 2000;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 200px;
  position: absolute;
}
.fact-block article.fact .channel-listing ul {
  max-height: 160px;
  overflow-y: auto;
  padding: 8px 8px 4px 12px;
}
.fact-block article.fact .channel-listing li {
  display: block;
  padding: 4px 0px;
}
.fact-block article.fact .channel-listing .add-channel {
  border-top: solid 1px #ddd;
  padding: 8px;
}
.fact-block article.fact .channel-listing .add-channel input[type="text"] {
  width: 120px;
  padding: 2px;
  border-radius: 3px;
  border: solid 1px #ccc;
}
.fact-block .wheel {
  float: left;
  width: 72px;
}
.fact-block .wheel svg {
  width: 52px !important;
  height: 60px !important;
  margin: 0 0 0 4px;
  display: block;
  overflow: hidden;
}
.fact-block .wheel svg path:hover {
  cursor: pointer;
}
.fact-block .authority {
  display: none;
}
.fact-block .opinion-box {
  background-color: #fbfafa;
  z-index: 2000;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 85px;
  width: 150px;
  position: absolute;
  left: 72px;
  display: none;
  border: solid 1px #ccc;
}
.fact-block .opinion-box .percentage {
  margin-top: 10px;
  margin-right: 5px;
  display: block;
  text-align: right;
  width: 60px;
  float: right;
  font-size: 18pt;
}
.fact-block .opinion-box ul {
  float: left;
  width: 80px;
  height: 60px;
}
.fact-block .opinion-box ul li {
  display: inline-block;
}
.fact-block .opinion-box ul li img {
  width: 24px;
  height: 24px;
}
.fact-block .opinion-box .opinion-type {
  text-shadow: none;
  display: block;
  color: white;
  float: left;
  padding: 4px 8px;
  width: 134px;
  background: #c8c8c8;
}
.fact-block div.evidence .opinion-box {
  left: 78px;
}
.fact-block div.evidence td:hover > article.fact .actions {
  visibility: visible;
  opacity: 1;
}
.fact-block .dropdown-container {
  display: none;
  background-color: #fff;
  border-top: none;
  clear: both;
  width: 100%;
  height: 300px;
  position: relative;
}
.fact-block .dropdown-container .dropdown-underbar {
  background: #f5f5f5;
  border-top: solid 1px #eeeeee;
  min-height: 32px;
  line-height: 32px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.fact-block .dropdown-container .dropdown-underbar .user-search-input {
  font-style: italic;
}
.fact-block .dropdown-container .dropdown-underbar ul li {
  font-family: Lucida grande;
  font-size: 12px;
  color: #aaa;
  text-shadow: 0px 1px 0px #fff;
  padding: 10px 10px 10px 36px;
  border-bottom: solid 1px #eeeeee;
}
.fact-block .dropdown-container .dropdown-underbar ul li:hover {
  color: #777777;
  background: #f0f0f0;
  cursor: pointer;
}
.fact-block .dropdown-container .evidence-search-results .search-area {
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #e9e9e9;
}
.fact-block .dropdown-container .evidence-search-results .search-area a {
  margin-left: 15px;
}
.fact-block .dropdown-container .evidence-search-results .search-area .evidence_search {
  width: 300px;
  padding: 3px;
  border-radius: 4px;
  border: solid 1px #bbbbbb;
  margin: 8px 4px 8px 15px;
}
.fact-block .dropdown-container .evidence-search-results .search-area a {
  color: #5e8ba6;
}
.fact-block .dropdown-container .evidence-search-results .results {
  height: 247px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fact-block .dropdown-container .evidence-search-results .results ul li {
  color: #717171;
  font-family: "Georgia";
  font-size: 14px;
  font-weight: 100;
  padding: 15px;
  border-bottom: solid 1px #eeeeee;
}
.fact-block .dropdown-container .evidence-search-results .results ul li.evidence:hover {
  color: #313131;
  background: #f5f5f5;
  cursor: pointer;
}
.fact-block .dropdown-container .evidence-add a {
  margin: 13px 15px;
  color: #5e8ba6;
  display: block;
}
.fact-block .dropdown-container .evidence-add .evidence-bubble {
  color: #717171;
  font-family: "Georgia";
  font-size: 13px;
  line-height: 20px;
  font-weight: 100;
  padding: 15px;
  margin: 15px;
  border: solid 1px #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 1px #eeeeee;
}
.fact-block .dropdown-container .evidence-add .add-actions {
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}
.fact-block .dropdown-container .evidence-add .add-actions button {
  margin: 2px;
}
.fact-block .dropdown-container .add-action {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: #f5f5f5;
  border-top: solid 1px #eeeeee;
  min-height: 32px;
  line-height: 32px;
}
.fact-block .notification {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  background: #e4f5e4 !important;
  height: 28px;
  line-height: 28px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fact-block .notification span {
  padding: 0 16px;
  color: #313131;
}
.fact-block .notification span a {
  color: #5e8ba6;
  margin-left: 4px;
}
.fact-block .evidence-list .evidence-list-wrapper {
  min-height: 80px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fact-block .evidence-list .evidence-list-wrapper .no-evidence-message {
  display: none;
  font-size: 14px;
  line-height: 24px;
  color: #717171;
  font-weight: 100;
  text-shadow: 0px 1px 0px #fff;
  margin-top: 100px;
  text-align: center;
}
.fact-block .evidence-list .evidence-list-wrapper .no-evidence-message a {
  color: #5e8ba6;
}
.fact-block .evidence-list .evidence-list-wrapper li {
  background: #f5f5f5;
}
.fact-block .evidence-list .evidence-list-wrapper li .relation {
  width: 60px;
  overflow: hidden;
  float: left;
}
.fact-block .evidence-list .evidence-list-wrapper li article.fact {
  margin-left: 55px;
  position: relative;
  width: 445px;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: none;
  border-left: solid 1px #ddd;
  border-bottom: solid 1px #ebebeb;
}
/* ====== from tipsy plugin ==== */.tipsy {
  padding: 5px;
  font-size: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url("/images/tipsy.gif");
}
.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: black;
  color: white;
  max-width: 200px;
  text-align: center;
}
.tipsy-inner {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tipsy-north {
  background-position: top center;
}
.tipsy-south {
  background-position: bottom center;
}
.tipsy-east {
  background-position: right center;
}
.tipsy-west {
  background-position: left center;
}
