@import "color_declarations.less";
@import "elements.less";
@import "css3buttons.css";
@import "bootstrap-default.less";

/** Reset css */
body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}
table{font-size:inherit;font:100%;}
ul{list-style:none;}
img{border:0;}
p{margin:1em 0;}
a {text-decoration:none;}
table {border-collapse: collapse; border-spacing: 0;}
td {vertical-align: top;}
a:hover {text-decoration:underline; cursor:pointer;}
/** Fact block */
a { 
  color: @link-blue;
}
a:hover { 
  color: @dark-blue;
}

span.proxyWindow { 
  display: none;
}
iframe.proxyFrame {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 500px;
  border: solid 1px #777;
  z-index: 900;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
/* Legacy */
div.fl-clear {
  clear: both;
}

.center {
	margin: 0 auto;
	text-align: center;
}

div.fl-sign-in-container {
	padding: 16px 16px 0px 16px;	
  padding-bottom: 24px;
}

div.sign-in {
	border-bottom: solid 1px #ccc;
}
/* /Legacy */
div.modal {
  
  background: #fff;
  
  top: 40px;
  .drop-shadow(0px, 0px, 25px, 0.7);
  padding: 0;
  margin:  0 auto;
  width: 510px;
  color: #777;
  span.close {
    z-index: 100;
    background: url('/images/close-button.png') no-repeat;
    display: block;
    height: 10px; width: 8px;
    position: absolute;
    right: 5px; top: 5px;
    cursor: pointer;
  }
  span.proxyWindow { 
    display: inline !important;
  }
}
.boxed { 
  padding: 0;
	.rounded(3px);
}
.float { 
  background-color: @bg;
  z-index: 2000;
  display: none;
  .drop-shadow(0, 0, 10px, 0.3);
  position: fixed;
}

.new-style {
  .gradient(#fbfbfb, #e2e2e2, #fbfbfb);
  border: solid 1px #a8a8a8;
  padding: 4px;
  border-radius: 3px;
}

ul#results-listing div.user-block { 
  border: 1px solid #DDD; 
  border-radius: 3px; 
  color: #BBB; 
  text-shadow: 0px 1px 0px white; 
  width: 510px; 

  .side { 
    margin: 10px; 
    float: left; 

    .authority { 
      display: block; 
      text-align: center; 
      margin: 5px 0 0 0; 
      font-size: 12px; 

      img { 
        vertical-align: middle; 
        border-radius: 3px; 
      } 
    } 

    .username { 
      color: #666363; 
      float: left; 
      font-size: 16px; 
      vertical-align: top; 

      a { 
        color: #666363; 
      } 
    } 

    .type { 
      font-size: 14px; 
      line-height: 26px; 
    } 
  } 
}

@dialogColor: #f8f8f8;

.fact-block {

  .boxed;
  color: #BBB;
  border: 1px solid #ddd;
  text-shadow: 0px 1px 0px white;
  margin-bottom: 0;
  font-size: 9pt;

  img.close { 
    margin: 5px;
  }

  &:hover > article.fact .actions {
    visibility: visible;
    opacity: 1;
  }

  article.fact {
    
    -webkit-box-shadow: inset 0px 2px 1px #fff;
    
    padding: 10px 0 10px 5px;
    min-height: 83px;
    display: block;
    border-right: 1px solid #FBFAFA;

    .gradient(#fbfbfb, #f8f8f8, #ffffff);
    
    header {
			margin: 0 0 0px 75px;

      padding-right: 20px;
      color: #333;
      sub {
        color: #aaa;
        line-height: inherit;
        font-size: x-small;
      }
      .head {
        font-weight: 100;
        font-family: Georgia, "Times New Roman", Garamond, serif;
        font-size: 0.9em;
				color: #888;

				padding: 6px 0;
				display: block;
      }
			.edit {
				&:hover {
					background-color: #ffffe1;
					color: #888;
				}

				form {
					input, input:focus {
						padding: 4px 0;
						background-color: #ffffe1;
						border-radius: 3px;
						
						outline:none;
						margin: -6px 0px -6px 0px;
					}
				}
			}

      .body { 
        font-family: Georgia, "Times New Roman", Garamond, serif;
				font-size: 1.2em;
				line-height: 19px;
			}

      .actions { 
        margin-top: 4px;
        visibility: hidden;
        height: 18px;
        opacity:0;
        .transition(0.2s,ease-in);

        li { 
          margin: 5px 10px 0 0;
          display: inline-block;
          list-style-type: none;
          img {
            margin: 0 3px 0 0;
            vertical-align: baseline;
          }
        }
      }
    }
    .channel-listing { 
      .boxed;
      .float;
      width: 200px;

      position: absolute;

      ul { 
        max-height: 160px;
        overflow-y: auto;
        padding: 8px 8px 4px 12px;
      }
      li {
        &:first-child {
          display: none;
        }
        display: block;
        padding: 4px 0px;
      }
			.add-channel {
				border-top: solid 1px #ddd;
				padding: 8px;
				
				input[type="text"] {
					width: 120px;
					padding: 2px;
					border-radius: 3px;
					border: solid 1px #ccc;
				}
			}
    }
  }
  .wheel { 
    float: left;  
    width: 65px;
    height: 65px;
    overflow: hidden;
    svg { 
      width: 65px !important;
      height: 60px !important;
      margin: 0 0 0 10px;
      display: block;
      overflow: hidden;
      path:hover { 
        cursor: pointer;
      }
    }
  }
  .authority { 
    text-align: center;
    margin: 0 0 0 15px;
    width:45px; 
    height: 20px;
  }
  .opinion-box {
    .boxed;
    .float;
      height: 85px;
      width: 150px;
      position: absolute;
      left: 92px;
      display: none;
      border: solid 1px #ccc;

    .percentage { 
      margin-top: 10px;
      margin-right: 5px;
      display: block;
      text-align: right;
      width: 60px;
      float: right;
      font-size: 18pt;
    }
    ul { 
      float: left;
      width: 80px;
      height: 60px;
      li { 
        display: inline-block; 
        img { 
          width: 24px;
          height: 24px;
        }
      }
    }
    .opinion-type {
      text-shadow: none;
      display: block;
      color: white;
      float: left;
      padding: 2px 0px 0px 4px;
      margin-bottom: 3px;
      height: 18px; width: 85px;
      background: @grey;
    }
  }

  div.evidence {
    .opinion-box {
      left: 78px;
    }

    td {
      &:hover > article.fact .actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @border-color: #bbb;

  div.evidence-actions {
    margin: 0 auto;
    text-align: center;
  }

  ul.evidence {    
    background: @underbar-bg;
    border-top: solid 1px @divider;
    
    li {
      a {
        border: none;
        border-radius: 0px;
      }
    }
  }
  
  .evidence-container {
    display: none;
    background-color: #fff;
    border-top: none;
    clear: both;
    width: 100%;
    .add-action {
      height: 25px;
      padding: 5px;
      text-align: center;
      line-height: 24px;
      border-top: 1px solid #E4E4E4;

      .gradient(#f8f8f8, #fff, #f8f8f8);
    }
  }
  .evidence-options { 
    vertical-align: middle;
    position: relative;
    
    border-bottom: solid 1px #ccc;
    background: #f8f8f8;

    .relevance-indicator {
      width: 100px;
      position: absolute;
      top: 6px;
      left: 4px;
    }

    .relevance-options {
      width: 42px;
      white-space: nowrap;
      text-shadow: none;
      position: relative;
      z-index: 0;

      -webkit-transition: all 0.2s ease-in-out;

      ul { 
				margin-top: 24px;
				
				span {
          color: #666;
				}
				
				li {
					padding: 0 0 6px 0;
          z-index: 10;

					
					&:hover {
						cursor: pointer;
						
					}
					a {
					  display: block;
					  color: #888;
            font-size: 0.9em;
            text-align: center;
            text-shadow: 0px 0px 1px #fff;
            line-height: 22px;
            height: 14px;
            width: 88px;

            border: solid 1px #d8d8d8;
            border-radius: 3px;
            padding-bottom: 8px;
            padding-left: 2px;

            .gradient(#F5F5F5, #EEE, #FFF);
					  
					  text-decoration: none;
					  text-shadow: none;
					  color: #444;
					  
					  &.active {
  						.gradient(#F5F5F5, #e8e8e8, #ccc);
  						border: solid 1px #ccc;
  						color: #555;
  						box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.15);
  						text-shadow: none;
						  color: @dark-blue;
  					}
					}
      	} // li
			} // ul
    } //.relevance-options 
    &:hover { 
      z-index: 400;

      .relevance-options {
        width: 104px;
      }
    }
  }

  .evidence-list {
    min-height: 80px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

    td { 
      article.fact { 
        position:relative;

        width: 445px;
        text-align: left;
        
        background: #fff;
        -webkit-box-shadow: none;
        
        border-left: solid 1px #ddd;
        border-bottom: solid 1px #ebebeb;
      }
    }

    .no-evidence td { 
      width: 490px;  
      text-align: center;
      height: 150px;
      vertical-align: middle;
    }

    .add-evidence { 
      min-height: 150px;


      &.loading {
        .loading {
          display:block;
        }

        .search-list {
          display: none;
        }
      }

      .loading {
        display: none;
        text-align: center;
        position: relative;
        top: 15px;
        line-height: 25px;

        img {
          margin: 0 5px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }
      }

      .search {
    		border-bottom: solid 1px #ddd;
    		padding: 4px 8px 5px;
    		line-height: 28px;
    		background: rgb(251, 250, 250);
    		
    		input[type="text"] {
    		  padding: 4px 6px 2px 6px !important;
    		  font-size: 8pt;
    			border-radius: 3px;
    			border: solid 1px #ddd;
    			width: 260px; height: 18px;
    			box-shadow: 0px 1px 0px #fff;
    		}
    		
    		input[type="submit"] {
					margin: 4px;
    		  vertical-align: middle;
    			width: 64px;
    		}			
    	}
    }
  }
}

/* ====== from tipsy plugin ==== */ 
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url("/images/tipsy.gif"); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
