@import "color_declarations";
@import "elements";
@import "bootstrap/reset.less";
@import "bootstrap/bootstrap.less";

/** Fact block */
span.proxyWindow { 
  display: none;
}
iframe.proxyFrame {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 500px;
  border: solid 1px #777;
  z-index: 900;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}

div.modal {

  top: 40px;

  .drop-shadow(0px, 3px, 10px, 0.25);
  
  padding: 0;
  margin:  0 auto;
  width: 510px;
  color: #777;

  span.proxyWindow { 
    display: inline !important;
  }
}

.float { 
  background-color: @bg;
  z-index: 2000;
  display: none;
  .drop-shadow(0, 0, 10px, 0.3);
  position: fixed;
}

.new-style {
  .gradient(#fbfbfb, #e2e2e2, #fbfbfb);
  border: solid 1px #a8a8a8;
  padding: 4px;
  border-radius: 3px;
}

.close { 
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12pt!important;
  margin: 4px 4px 0 0;
}

/** Default styles for new modal */
.default-modal {
  background: @popup-bg;
  .border-radius(4, 0, 0, 4); // topright, bottomrigh, bottomleft, topleft
}
.underbar {
  background: @underbar-bg;
  border-top: solid 1px @divider;
  min-height: 32px;
  line-height: 32px;
}

.fact-block {
  .default-modal;

  border: solid 1px #e8e8e8;
  border-radius: 4px;

  color: #BBB;

  text-shadow: 0px 1px 0px white;
  margin-bottom: 0;
  font-size: 9pt;

  &:hover > article.fact .actions {
    visibility: visible;
    opacity: 1;
  }

  .controls {
    border-bottom: solid 1px #ddd;
    .underbar;
    a, li {
      color: @link-blue;
      text-shadow: 0px 1px 0px #fff;
      font-weight: 100;
      font-size: 11px;
    }
    ul.evidence {
      list-style: none;
      li {
        line-height: 32px;
        padding: 0 15px;
        float:left;
      }
    }
  }

  article.fact {
    -webkit-box-shadow: inset 0px 2px 1px #fff;
    
    padding: 10px 0 10px 5px;
    min-height: 83px;
    display: block;
    border-right: 1px solid #FBFAFA;

    border-radius: 4px;
    
    header {
			margin: 0 0 0px 75px;

      padding-right: 20px;
      font-family:  Helvetica, Arial, sans-serif;      
      color: #333;
      sub {
        color: #aaa;
        line-height: inherit;
        font-size: x-small;
        a {
          color: @link-blue;
        }
      }
      .head {
        font-weight: 100;
        font-size: 0.9em;
				color: #888;

				padding: 6px 0;
				display: block;
      }
			.edit {
				&:hover {
					background-color: #ffffe1;
					color: #888;
				}

				form {
					input, input:focus {
						padding: 4px 0;
						background-color: #ffffe1;
						border-radius: 3px;
						
						outline:none;
						margin: -6px 0px -6px 0px;
					}
				}
			}

      .body { 
        font-family: Georgia, "Times New Roman", Garamond, serif;
				font-size: 1.2em;
				font-size: 14px;
				line-height: 19px;
			}

      .actions { 
        margin-top: 4px;
        visibility: hidden;
        height: 18px;
        opacity:0;
        .transition(0.2s,ease-in);

        li { 
          margin: 5px 10px 0 0;
          display: inline-block;
          list-style-type: none;
          img {
            margin: 0 3px 0 0;
            vertical-align: baseline;
          }
        }
      }
    }
    .channel-listing {
      display: block;
      .float;
      width: 200px;
      position: absolute;

      ul { 
        max-height: 160px;
        overflow-y: auto;
        padding: 8px 8px 4px 12px;
      }
      li {
        display: block;
        padding: 4px 0px;
      }
			.add-channel {
				border-top: solid 1px #ddd;
				padding: 8px;
				
				input[type="text"] {
					width: 120px;
					padding: 2px;
					border-radius: 3px;
					border: solid 1px #ccc;
				}
			}
    }
  }
  .wheel { 
    float: left;
    width: 72px;
    height: 90px;
    svg {
      width: 52px !important;
      height: 60px !important;
      margin: 0 0 0 4px;
      display: block;
      overflow: hidden;
      path:hover { 
        cursor: pointer;
      }
    }
  }
  .authority { 
    display: none;
  }
  .opinion-box {
    .float;
      height: 85px;
      width: 150px;
      position: absolute;
      left: 72px;
      display: none;
      border: solid 1px #ccc;

    .percentage { 
      margin-top: 10px;
      margin-right: 5px;
      display: block;
      text-align: right;
      width: 60px;
      float: right;
      font-size: 18pt;
    }
    ul { 
      float: left;
      width: 80px;
      height: 60px;
      li { 
        display: inline-block; 
        img { 
          width: 24px;
          height: 24px;
        }
      }
    }

    .opinion-type {
      text-shadow: none;
      display: block;
      color: white;
      float: left;
      padding: 4px 8px;
      width: 134px;
      background: darken(@divider, 15);
    }
  }

  div.evidence {
    .opinion-box {
      left: 78px;
    }

    td {
      &:hover > article.fact .actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  
  .dropdown-container {
    display: none;
    background-color: #fff;
    border-top: none;
    clear: both;
    width: 100%;

    height: 300px;

    position: relative;
    .dropdown-underbar {
      .underbar;
      position: absolute;
      bottom: 0px;
      width: 100%;

      .user-search-input {
        font-style: italic;
      }
      
      .add-actions {
        margin: 0 auto;
        text-align: center;
        padding: 8px;
        
        button {
          margin: 2px;
        }
      }
      
      ul {
        li {
          font-family: Lucida grande;
          font-size: 12px;
          color: #aaa;
          text-shadow: 0px 1px 0px #fff;
          padding: 10px 10px 10px 36px;
          border-bottom: solid 1px @divider;
          
          &:hover {
            color: darken(#aaa, 20);
            background: darken(@underbar-bg, 2);
            cursor: pointer;
          }
        }
      }
    }
    
    .evidence-search-results {

      .search-area {
        a {
          margin-left: 15px;
        }
        border-top: solid 1px @divider;
        border-bottom: solid 1px darken(@divider, 2);
        .evidence_search {
          width: 300px;
          padding: 3px;
          border-radius: 4px;
          border: solid 1px darken(@divider, 20);
          margin: 8px 4px 8px 15px;
        }
        a {
          color: @link-blue;
        }
      }
      .results {
        height: 247px;
        overflow-y: scroll;
        overflow-x: hidden;
        
        ul {
          li {
            color: lighten(#313131, 25);
            font-family: "Georgia";
            font-size: 14px;
            font-weight: 100;
            padding: 15px;
            border-bottom: solid 1px @divider;

            &.evidence {
              span {
                display: block;
                width: 100%;
                font-size: 12px;
                color: lighten(#313131, 40);
                line-height: 20px;
              }
              
              &:hover {
                color: #313131;
                background: #f5f5f5;
                cursor: pointer;
              }              
            }
          }
        }
      }      
    }
    
    .evidence-add,
    .new-evidence-add {
      .message {
        color: lighten(#313131, 25);
        margin-left: 15px;
        font-size: 14px;
      }
      a {
        margin: 13px 15px;
        color: @link-blue;
        display: block;
      }
      
      .evidence-bubble {
        color: lighten(#313131, 25);
        font-family: "Georgia";
        font-size: 13px;
        line-height: 20px;
        font-weight: 100;
        padding: 15px;
        margin: 0 15px 15px;

        border: solid 1px #ddd;
        border-radius: 6px;
        box-shadow: 2px 2px 1px @divider;
      }
      
      input {
        display: block;
        width: 450px;
        color: lighten(#313131, 25);
        font-family: "Georgia";
        font-size: 13px;
        line-height: 20px;
        font-weight: 100;
        padding: 15px;
        margin: 0 15px 15px;
        
        border: solid 1px #ddd;
        border-radius: 6px;
        box-shadow: 2px 2px 1px @divider;
      }
    }
    
    .add-action {
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      .underbar;
    }
  }

  .notification {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    background: lighten(#d1eed1, 5) !important;
    height: 28px;
    line-height: 28px;
    display: block;
    margin: 0 auto;
    text-align: center;

    span {
      padding: 0 16px;
      color: #313131;
      a {
        color: @link-blue;
        margin-left: 4px;
      }
    }
  }

  .evidence-list {    
    .evidence-list-wrapper { 
      min-height: 80px;
      height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;

      .no-evidence-message {
        display: none;
        font-size: 14px;
        line-height: 24px;
        color: lighten(#313131, 25);
        font-weight: 100;
        text-shadow: 0px 1px 0px #fff;
        margin-top: 100px;
        text-align: center;
        a {
          color: @link-blue;
        }
      }
      
      .loading-evidence {
        line-height: 165px;
        text-align: center;
        
        img {
          vertical-align: text-bottom;
          margin: 0 3px;
        }
      }

      li {
        background: @underbar-bg;

        .relation {
          width: 60px;
          overflow: hidden;
          float: left;
          margin: 10px 0 0 14px;
           
          .relation-arrow {
            height: 24px;
            width: 24px;
            display: block;
            background: url('../images/relation-sprite.png') no-repeat 0 -2px;
          }
           
          .supporting {
            .relation-arrow;
            background-position: 0 -2px;
            &.active {
              background-position: -30px -2px;
            }
          }
           
          .relation-indicator {
            .relation-arrow;
            height: 24px;
            width: 24px;
            display: block;
            background: url('../images/relation-sprite.png') no-repeat -30px -28px;
          }
          .supporting-indicator {
            .relation-indicator;
          }
          .weakening-indicator {
            .relation-indicator;
              background-position: 0 -28px;
          }

          .weakening {
            height: 24px;
            width: 24px;
            display: block;
            background: url('../images/relation-sprite.png') no-repeat -30px -58px;
            background-position: -30px -58px;
            &.active {
              background-position: 0px -58px;               
            }
          }
        }
        article.fact {
          margin-left: 55px;
          
          position:relative;
          width: 445px;
          text-align: left;
          background: #fff;
          -webkit-box-shadow: none;

          border-left: solid 1px #ddd;
          border-bottom: solid 1px #ebebeb;
        }
      }
    }
  }
}
