.button {
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: .5em 2em .55em;
  color: #222;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  background: #9FA0A2;
  background: -moz-linear-gradient(center top, #b7b8ba 50%, #9fa0a2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #b7b8ba), color-stop(1, #9fa0a2));
  background: gradient(linear, left top, left bottom, color-stop(0.5, #b7b8ba), color-stop(1, #9fa0a2));
  /*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B7B8BA', endColorstr='#9FA0A2');*/

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 2px #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  border: 1px solid #555;
}
.button:hover {
  text-decoration: none;
  opacity: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), inset 0 0 2px #ffffff;
}
.confirm {
  background: #bcde66;
  background: -moz-linear-gradient(center top, #bcde66 50%, #94c706 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #bcde66), color-stop(1, #94c706));
  background: gradient(linear, left top, left bottom, color-stop(0.5, #bcde66), color-stop(1, #94c706));
}