@import "landing.less";

p{
    font-size: 18px;
    padding-bottom: 5px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottum:10px;
}

h2{
    font-size: 24px;
    font-weight: bold;   
    padding-top: 2px;
    padding-bottum: 7px;
}

#menu li{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

#menu a {
    display: block;
    width: 100%;
    height: 100%;
}

.selected_menu_item{
    background-color : white;

    a{        
        color: black;
    }
}

