@import "landing.less";

#menu li{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.selected_menu_item{
    background-color : white;

    a{        
        color: black;
    }
}

p{
    font-size: 18px;

}

h1{
    font-size: 36px;
    font-weight: bold;
}