#top-bar {
  padding: 0 10px;
}

#container {
  padding: 50px 10px;
  
  form {
    width: 393px;
    
    div.field {
      margin: 0 0 5px;

      label {
        line-height: 20px;
      }

      input, textarea {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 2px 5px;
        width: 380px;
        height: 20px;
      }
      
      textarea {
        height: 60px;
      }
    }
  }
  
  input[type=submit] {
    margin: 5px 0 0 0;
    float: right;
  }
}