<a class="button learn-more-btn-sign-in" href="{{global.path.sign_in_client}}">Sign in</a>

<span>or</span>

<a class="button button-confirm learn-more-btn-learn-more" target="_blank" href="{{global.path.homepage}}">Learn more about Factlink</a>

<span>to sign up and join the discussion.</span>

{{#bottom_arrow}}
  <div class="bottom-arrow"></div>
{{/bottom_arrow}}
