<li class="js-stream sidebar-item sidebar-item_header">
  <a href="{{stream_path}}" rel="backbone" class="sidebar-item-link">
    <i class="icon-home glyphicon-color sidebar-item-icon"></i>
    <span class="sidebar-item-text">{{stream_title}}</span>
  </a>
</li>

<li class="sidebar-item sidebar-item_header">
  <span class="sidebar-item-link">
    <i class="icon-list sidebar-item-icon"></i>
    <span class="sidebar-item-text">{{ channel_listing_header }}</span>
  </span>
</li>
