<li class="stream menu-item">
  <a href="{{stream_path}}" rel="backbone" class="menu-item-link">
    <i class="icon-home menu-item-icon"></i> {{stream_title}}
  </a>
</li>

<li class="my-channels menu-item">
  <i class="icon-list menu-item-icon"></i>
  {{ channel_listing_header }}
</li>
