<% content_for :title do %>
  Jobs
<% end %>

<% content_for :menu_items do %>
  <% @jobs.each do |job| %>
    <li>
      <%=  link_to job.title, job_path(job) %>
      <%=  job.show ? '' : '*' %>
    </li>
  <% end %>

  <% if @jobs.length == 0 %>
    <li>
      <%= link_to "Jobs", jobs_path %>
    </li>
  <% end %>
<% end %>

<h1>Jobs</h1>
<% if @jobs.length == 0 %>
  <p>We love talking to talented people. <a href="mailto:info@factlink.com">Drop us a note!</a></p>
<% else %>
  <p>At Factlink, we’re building web-wide scale. The most important thing we look for in our people is talent. Our development team is using Agile Development and each team member has expertise on several fields. If your skills match one or more of the positions on the left and you think building Factlink could be exciting, please contact us at <a href="mailto:jobs@factlink.com">jobs@factlink.com</a>, or call us at +31 50 8512915.</p>
<% end %>
