@font-face {
  font-family: 'factlink-jslib-icons';
  src: url('../iconfont/factlink-jslib-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-thumbs-up,
.icon-thumbs-down,
.icon-comment,
{
  font-family: "factlink-jslib-icons" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;

  margin-right: .2em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;

  -webkit-font-smoothing: antialiased; // OS X makes fonts bolder than normal. This looks weird with those icons.
}

.icon-thumbs-up:before { content: '\e800'; }
.icon-thumbs-down:before { content: '\e801'; }
.icon-comment:before { content: '\e80f'; }
