<div class="waiting-list-wrapper">
  <h1>Email confirmed. Awaiting account approval.</h1>

  <ul class="waiting-list-steps">
    <li><i class="icon-ok glyphicon-sizing glyphicon-color"></i> Username reserved</li>
    <li><i class="icon-ok glyphicon-sizing glyphicon-color"></i> Email confirmed</li>
    <li class="active"><i class="icon-time glyphicon-sizing glyphicon-color"></i> On waiting list to get access...</li>
  </ul>

  <p>We've added you to our waiting list and will notify you when we're ready to get you access!</p>

  <ul class="waiting-list-social">
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://factlink.com" data-text="I just signed up for Factlink, a new way to annotate the web. Check out">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=385144638222636";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="https://www.facebook.com/Factlink" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    </li>
  </ul>
</div>
