<h1>Email confirmed. Awaiting account approval.</h1>

<style>
  #header {
    padding: 8px 0 0 24px;
  }
  #header > ul > li {
    list-style-type: none;
    margin: 0 48px 24px 0;
    font-size: 1.25em;
    color: #bada55;
  }
  #header > ul > li:last-child {
    margin-bottom: 4px;
  }
  #header > ul > li > i {
    padding-right: 8px;
  }
  .message {
    padding: 0 0 0 28px;
  }
  .red {
    color: rgb(206, 0, 0) !important;
  }
</style>

<div id="header">
  <ul>
    <li><i class="icon-ok"></i> Username reserved</li>
    <li><i class="icon-ok"></i> Account confirmed</li>
    <li class="red"><i class="icon-time"></i> Awaiting activation...</li>
  </ul>
  <span class="message">We're gearing up to add more users. You will receive notification when your account is approved.</span>
</div>