<h1>Email confirmed. Awaiting account approval.</h1>

<style>
  #header {
    padding: 8px 0 0 24px;
  }
  #header > ul > li {
    list-style-type: none;
    margin: 0 48px 24px 0;
    font-size: 1.25em;
    color: #777;
  }
  #header > ul > li:last-child {
    margin-bottom: 4px;
  }
  #header > ul > li > i {
    padding-right: 8px;
  }
  .message {
    padding: 0 0 0 28px;
  }
  .green {
    color: #bada55 !important;
  }
</style>

<div id="header">
  <ul>
    <li><i class="icon-ok"></i> Username reserved</li>
    <li><i class="icon-ok"></i> Email confirmed</li>
    <li class="green"><i class="icon-time"></i> On waiting list to get access...</li>
  </ul>
  <span class="message">We've added you to our waiting list and will notify you when we're ready to get you access!</span>
</div>