<div class="devise-form">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form" }) do |f| %>

    <div class="control-group">
      <div class="controls">
        <%= f.email_field :email, placeholder: "Email address",
          class: "text"  %>
        <%= possible_error_for_field(resource, :email) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Resend confirmation instructions", :class => "button button-confirm" %>
    </div>
  <% end %>

  <p>Other problems? <a href="javascript:void(0)" class="js-feedback-modal-link">Contact us!</a></p>
</div>
