<div class="modal-window js-modal">
  <div class="modal-header">
    <h3>{{title}}</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
<div class="semi-transparent-layer js-layer">
  <div class="static-close-button"></div>
</div>
