<div class="publisher-container">
  <div class="publisher-container-box">
    <h1 class="publisher-content-heading">Discuss with your readers</h1>
    <p>Give your visitors the opportunity to discuss directly with the author, turning a monologue into a conversation.</p>
  </div>
</div>
