<div class="publisher-container" style="text-align: center;">
  <div class="publisher-content-area" style="display: inline-block; font-size: 17px; font-weight: 600;">
  Give your visitors the opportunity to discuss directly with the author, turning a monologue into a conversation.
  </div>
</div>
