<div class="publisher-page-container">
  <div class="publisher-page-content">
    <h1 class="publisher-page-content-heading">Free &amp; easy to integrate</h1>
    <p>Just use one of our plugins for blogging platforms. Alternatively, drop a single line of code on your page, and you’re done! We will automatically match the look and feel of your site, and if this is not enough you can customize it.
    </p>
  </div>

  <div class="publisher-page-illustration">
    <div class="easy-integration">
      <i class="icon-factlink"></i>
      <h5 class="easy-integration-title">Install Factlink on your site</h5>

      <%= link_to 'Manual installation', "#publisher-page-manual-installation", class: 'button' %>&nbsp;<%= link_to 'Get WordPress plugin', 'https://wordpress.org/plugins/factlink/', class: 'button' %>
    </div>
  </div>
</div>
