<div class="publisher-page-container">
  <div class="publisher-page-content">
    <h1 class="publisher-page-content-heading">Higher engagement and retention</h1>
    <p>Visitors start discussing in your article while reading. They get immediately engaged, so they stick around longer. When the discussion progresses, your visitors get notified and will come back to your site.
    </p>
  </div>

  <div class="publisher-page-illustration">
    <div class="higher-engagement">

      <div class="comment-container">
        <div class="comment-votes-container">
          <div class="comment-votes">
            <span class="comment-vote-up"><i class="icon-up-open"></i></span>
            <span class="comment-vote-ammount">5</span>
            <span class="comment-vote-down"><i class="icon-down-open"></i></span>
          </div>
        </div>
        <div class="comment-content-container">
          <div class="comment-post-heading">
            <span class="post-creator-avatar" style="width: 32px; height: 32px;">
              <img class="avatar-image" src="<%= asset_path 'landing/content/Shane.jpg' %>">
            </span>
            <span class="comment-post-creator">
              <a class=" comment-post-creator-name">Shane Davidson</a>
              <span class="comment-post-time">4h</span>
            </span>
          </div>
          <div class="comment-content">This is a great point. Thanks for the enlightment!</div>
          <span class="comment-post-bottom">
            <a class="comment-reply">(2) Reply</a>
          </span>
        </div>
      </div>

      <div class="comment-container">
        <div class="comment-votes-container">
          <div class="comment-votes">
            <span class="comment-vote-up"><i class="icon-up-open"></i></span>
            <span class="comment-vote-ammount">1</span>
            <span class="comment-vote-down"><i class="icon-down-open"></i></span>
          </div>
        </div>
        <div class="comment-content-container">
          <div class="comment-post-heading">
            <span class=" post-creator-avatar" style="width: 32px; height: 32px;">
              <img class="avatar-image" src="<%= asset_path 'landing/content/Kerry.jpg' %>">
            </span>
            <span class="comment-post-creator">
              <a class=" comment-post-creator-name">Kerry Mendez</a>
              <span class="comment-post-time">15 min</span>
            </span>
          </div>
          <div class="comment-content">I'm actually suprised. I always believed otherwise but find the arguments very convincing.</div>
          <span class="comment-post-bottom">
            <a class="comment-reply">(0) Reply</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
