<div class="publisher-page-container">
  <div class="publisher-page-content" id="publisher-page-manual-installation">
    <h1 class="publisher-page-content-heading">Manual installation</h1>
    <p>Factlink can also be manually integrated in your site. Just add the following code:</p>
    <code class="publisher-page-code-line">
      &lt;script async defer src=&quot;https://static.factlink.com/lib/dist/factlink_loader.min.js&quot;&gt;&lt;/script&gt;
    </code>
    <p>Factlink will load more quickly if you include it near the top of your document.</p>
  </div>
</div>
