<div class="publisher-page-container" id="publisher-page-manual-installation" style="display:none;">
  <div class="publisher-page-content">
    <h1 class="publisher-page-content-heading">Manual installation</h1>
    <p>Factlink can also be manually integrated in your site. Just add the following code:</p>
    <code class="publisher-page-code-line">
      &lt;script async defer src=&quot;https://static.factlink.com/lib/dist/factlink_loader.min.js&quot;&gt;&lt;/script&gt;
    </code>
    <p>Factlink will load more quickly if you include it near the top of your document.</p>
  </div>
</div>

<div class="publisher-page-container" id="publisher-page-other-platforms" style="display:none;">
  <div class="publisher-page-content">
    <h1 class="publisher-page-content-heading">Other platforms</h1>
    <p>Factlink can also be integrated in these platforms:</p>
    <ul class="publisher-page-other-platforms-list">
      <li class="publisher-page-other-platforms-list-item"><%= link_to 'PivotX', 'https://github.com/Factlink/pivotx-plugin', target: '_blank' %></li>
    </ul>
  </div>
</div>
