@import "bootstrap/mixins";

.popover-help-text {
  width: 200px;

  .popover-help-text-header {
    font-family: @headingFontFamily;
    font-size: @heading2FontSize;
    font-weight: bold;

    padding: 11px 14px;
    margin: 0;
    border-bottom: solid 1px #ccc;
  }

  .popover-help-text-content {
    padding: 9px 14px;

    p:last-child {
      margin-bottom: 0;
    }

    .button {
      display: inline-block;
      color: white;
    }
  }
}
