.white-popover {
  position: relative;
  visibility: visible;
  display: inline-block;

  // force new stacking context for arrow shadow
  z-index: 1;
}

.white-popover > .popover-content {
  display: inline-block;
  @include background-clip(padding-box);
  background: white;
  border-radius: $baseBorderRadius;
  box-shadow: $blockBorder, 0 $PopoverShadowBottomSize 5px $PopoverShadowBottomColor;

  // some basic resets
  line-height: $baseLineHeight;
  text-align: left;
}

.white-popover.popover-top {
  > .popover-content {
    margin-top: $triangleSize;
  }
  > .popover-arrow {
    @include triangle-arrow-up($PopoverArrowTopBorderColor);
    top: $triangleSize;
    left: 50%;
  }
}

.white-popover.popover-bottom {
  > .popover-content {
    margin-bottom: $triangleSize;
  }
  > .popover-arrow {
    @include triangle-arrow-down($PopoverArrowBorderColor, $PopoverArrowBorderOffset);
    bottom: $triangleSize;
    left: 50%;
  }
}

.white-popover.popover-right {
  > .popover-content {
    margin-right: $triangleSize;
  }
  > .popover-arrow {
    @include triangle-arrow-right($PopoverArrowBorderColor, $PopoverArrowBorderOffset);
    right: $triangleSize;
    top: 50%;
  }
}

.white-popover.popover-left {
  > .popover-content {
    margin-left: $triangleSize;
  }
  > .popover-arrow {
    @include triangle-arrow-left($PopoverArrowBorderColor, $PopoverArrowBorderOffset);
    left: $triangleSize;
    top: 50%;
  }
}

.translucent-popover {
  position: relative;
  visibility: visible;
  display: inline-block;
}

.translucent-popover.popover-bottom {
  > .popover-content {
    margin-bottom: $triangleSize;
  }
  > .popover-arrow {
    top: 100%;
    left: 50%;
    margin-top: -$triangleSize;
    border-bottom: none;
    border-top-color: $darkTranslucentGrey;
  }
}

.translucent-popover.popover-left {
  > .popover-content {
    margin-left: $triangleSize;
  }
  > .popover-arrow {
    right: 100%;
    top: 50%;
    margin-right: -$triangleSize;
    border-left: none;
    border-right-color: $darkTranslucentGrey;
  }
}

.translucent-popover.popover-top {
  > .popover-content {
    margin-top: $triangleSize;
  }
  > .popover-arrow {
    bottom: 100%;
    left: 50%;
    margin-bottom: -$triangleSize;
    border-top: none;
    border-bottom-color: $darkTranslucentGrey;
  }
}

.translucent-popover.popover-right {
  > .popover-content {
    margin-right: $triangleSize;
  }
  > .popover-arrow {
    left: 100%;
    top: 50%;
    margin-left: -$triangleSize;
    border-right: none;
    border-left-color: $darkTranslucentGrey;
  }
}

.translucent-popover > .popover-content {
  background: $darkTranslucentGrey;
  color: white;
  display: inline-block;
  border-radius: 2px;
  padding: 9px 18px;
  text-align: center;
}

.translucent-popover > .popover-arrow {
  border: floor($triangleSize) solid transparent;
  position: absolute;
  width: 2px;
  height: 2px;
  margin: -8px;
  @include box-sizing(content-box);
}
