@import "bootstrap/mixins";

@arrow-long-side: 17px;
@arrow-pointy-side: 11px;

.popover-container {
  z-index: 119;
  position: relative;
  font-size: @baseFontSize;
  .border-radius(3px);
  .background-clip(padding-box);
  .new-design-white-block-with-shadow();
  visibility: visible;
  outline: 1px solid transparent; // force block formatting context

  &.bottom {
    margin-top: @arrow-pointy-side;
    .arrow {
      .ndp-triangle-arrow-up();
      top: 0;
    }
  }

  &.top {
    margin-bottom: @arrow-pointy-side;
    .arrow {
      .ndp-triangle-arrow-down();
      bottom: 0;
    }
  }

  &.left {
    margin-right: @arrow-pointy-side;
    .arrow {
      .ndp-triangle-arrow-right();
      right: 0;
    }
  }

  &.right {
    margin-left: @arrow-pointy-side;
    .arrow {
      .ndp-triangle-arrow-left();
      left: 0;
    }
  }
}

.translucent-dark-popover{
  z-index: 119;
  position: relative;
  background: @darkTranslucentGrey;
  font-size: @baseFontSize;
  color: white;
  border-radius: 2px;
  padding: 9px 18px;
  visibility: visible;

  .arrow {
    border: floor(@arrow-long-side/2) solid transparent;
    position: absolute;
    width: 2px;
    height: 2px;
    margin: -8px;
    .box-sizing(content-box);
  }

  &.top {
    margin-top: @arrow-long-side;
    .arrow {
      top: 100%;
      margin-top: 0;
      border-top-color:@darkTranslucentGrey
    }
  }
  &.right {
    margin-left: @arrow-long-side;
    .arrow {
      right: 100%;
      margin-right: 0;
      border-right-color:@darkTranslucentGrey
    }
  }
  &.bottom {
    margin-top: @arrow-long-side;
    .arrow {
      bottom: 100%;
      margin-bottom: 0;
      border-bottom-color:@darkTranslucentGrey
    }
  }
  &.left {
    margin-right: @arrow-long-side;
    .arrow {
      left: 100%;
      margin-left: 0;
      border-left-color:@darkTranslucentGrey
    }
  }

}
