@import "bootstrap/mixins";

#modal_region {
  .modal-window {
    // Inlined bootstrap styles
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    margin-top: -250px;

    width: 340px;
    margin-left: -165px;

    .new-design-white-block-with-shadow();
    .modal-header {
      .background-clip(padding-box);
      .border-top-radius(5px);
      color: @baseFontColor;
      background: #f8f8f8;
      padding: 5px 15px;

      // Inlined from Bootstrap overrides
      background: #f8f8f8;
      .border-top-radius(4px);
      text-shadow: 0 1px 0 #fff;
      h3 {
        font-size: 16px;
      }

      // Inlined from Bootstrap
      border-bottom: 1px solid hsl(0, 0%, 93%);
      h3 {
        margin: 0;
      }

      h3 {
        font-size: @heading3FontSize;
        line-height: 25px;
      }
      button {
        font-family: @sansFontFamily;
      }
    }

    .modal-body {
      max-height: 420px;

      .modal-body-section-heading {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }
}
