@import "bootstrap/mixins";

.statistics-popover-content {
  color: @baseFontColor;

  .statistics-popover-content-top {
    margin: 13px 12px 0;
  }

  .statistics-popover-content-button {
    display: inline-block;
    position: relative;
    top: -2px;
  }

  .statistics-popover-content-title {
    display: inline-block;
    margin-left: 5px;
    font-size: @heading2FontSize;
    font-weight: bold;
  }

  .statistics-popover-content-statistics {
    margin: 0 2px;
  }
}
