@import "bootstrap/mixins";

.statistics-popover-content {
  color: @baseFontColor;

  .statistics-popover-content-top {
    margin: @statisticsSpacing @statisticsSpacing 0;
    white-space: nowrap;
  }

  .statistics-popover-content-button {
    margin-right: 5px;
    vertical-align: 10%;
  }

  .statistics-popover-content-button-hidden {
    display: none;
  }

  .statistics-popover-content-heading {
    font-size: @heading2FontSize;
    font-weight: bold;
  }
}
