.testTooltip {
  display:block;
  position:absolute;
  margin-top: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  padding:0.5em;

}

.testTooltip2 {
  display:block;
  position:absolute;
  margin-top: 2em;
  background: rgba(0,100,200,0.5);
  border: 1px solid green;
  padding:0.5em;

}
