<% content_for :header do %>
<% end %>


<% content_for :left_column do %>		
  <%= render "users/user_li", user: @user %>
  <%= render "channels/channels",  user: @user %>
<% end %>


<% content_for :main_column do %>
<h1><%= link_to(@user.username, user_profile_path(@user.username)) %></h1>

<ul id="wide-activity-list">
  <%= render "activities/wide_list", activities: @activities %>
</ul>
	
<% end %>