@import "bootstrap/mixins";

.add-evidence-form .add-comment {
  .user-avatar {
    float:left;
  }

  .add-comment-container {
    box-sizing: border-box;
  }

  .alert {
    margin-bottom: 15px;
  }

  .post-comment {
    display: inline-block;
    width: 105px;
    float: right;
  }

  .text_area_view {
    margin-bottom: 10px;
  }
}

.pre-ndp-add-comment {
  .add-comment-container {
    margin-left: 60px;
  }
}
