.add-comment-container {
  margin-top: 10px;
  border-top: 1px lightgrey solid;
}

.add-comment {
  padding: $votePadding;
}

.add-comment-controls {
  margin-top: 10px;
  line-height: $baseButtonHeight;
  display: none;
  width: 100%;
}

.add-comment-controls-visible {
  display: inline-block; // new block formatting context
}

.add-comment-post-button {
  display: inline-block;
  width: 80px;
  float: right;
}

.add-comment-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-comment-search-facts {
  box-shadow: 0 -1px $mutedBorderBottomColor, 0 -2px $mutedBorderTopColor;
  overflow: hidden; // new block formatting context
  margin-top: 10px;
  padding-top: 5px;
}
