$impactColouredBorderWidth: 3px;
$commentCreatorAvatarSize: 32px; //has to be kept in sync with the avatar size.

.opinionated-avatar,
.post-creator-avatar {
  display: inline-block;
  position:relative;
  vertical-align: middle;
}

.comment-container {
  position: relative;
  background: white;
  border-bottom: 1px lightgrey solid;
  margin-bottom: $sidebarMarginBetween;
}

.comment-container:hover .comment-post-bottom {
  opacity: 1.0;
}

.comment-content-container {
  display: table-cell;
  width: 100%;
  padding: $votePadding;
  padding-left: 0px;
}

.comment-believes,
.comment-disbelieves,
.comment-no-opinion {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 3px;
  margin-right: 1px;
}

.comment-believes {
  background: $believesEvidenceImpactColor;
}

.comment-disbelieves {
  background: $disbelievesEvidenceImpactColor;
}

.comment-no-opinion {
  background: $doubtsEvidenceImpactColor;
}

.comment-post-heading {
  margin-bottom: 5px;
}

.comment-post-time {
  line-height: $commentCreatorAvatarSize;
  float: right;
  color: $grayLight;
  font-size: 11px;
}

.comment-post-creator {
  padding: 0px 7px;
}

.comment-post-creator-name {
  @extend %ellipsis-inline-block;
  max-width: 200px;
  line-height: $commentCreatorAvatarSize;
  vertical-align: middle;
}

.comment-post-bottom {
  opacity: 0.4;
  transition: opacity 0.5s ease;
  color: $mutedFontColor;
  font-size: $metaFontSize;
  margin: 0;
  padding: 0;
}

.comment-post-bottom-right {
  float: right;
  margin-top: -2px;
}

.comment-post-share {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  width: 2.5em;
  height: $baseButtonHeight;
  line-height: $baseButtonHeight;
  transition: all 0.1s;
  text-align: center;
  cursor: pointer;
  color: $mutedFontColor;
  vertical-align: baseline;

  border-bottom: $baseButtonBorderWidth solid transparent;

  &:hover {
    background: $buttonBackground;
    border-color: $buttonBorder;
    text-shadow: 0 1px 0 rgba(255,255,255,0.35);
    color: $linkColor;
  }
}

// Irrelevant (faded out)
.comment-irrelevant {
  opacity: 0.6;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
