$impactColouredBorderWidth: 3px;
$commentCreatorAvatarSize: 32px; //has to be kept in sync with the avatar size.

.opinionated-avatar,
.post-creator-avatar {
  display: inline-block;
  position:relative;
  vertical-align: middle;
}

.comment-container {
  position: relative;
  background: white;
  border-bottom: 1px lightgrey solid;
  margin-bottom: $sidebarMarginBetween;
}

.comment-container:hover .comment-post-bottom {
  opacity: 1.0;
}

.comment-content-container {
  display: table-cell;
  width: 100%;
  padding: $votePadding;
  padding-left: 0px;
}

.comment-believes,
.comment-disbelieves,
.comment-no-opinion {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 3px;
  margin-right: 1px;
}

.comment-believes {
  background: $believesEvidenceImpactColor;
}

.comment-disbelieves {
  background: $disbelievesEvidenceImpactColor;
}

.comment-no-opinion {
  background: $doubtsEvidenceImpactColor;
}

.comment-post-heading {
  margin-bottom: 5px;
}

.comment-post-time {
  line-height: $commentCreatorAvatarSize;
  float: right;
  color: $grayLight;
  font-size: 11px;
}

.comment-content {
  white-space: pre-line;
  word-break: break-word;
}

.comment-post-creator {
  padding: 0px 7px;
}

.comment-post-creator-name {
  @extend %ellipsis-inline-block;
  max-width: 200px;
  line-height: $commentCreatorAvatarSize;
  vertical-align: middle;
}

.comment-post-bottom {
  display: block;
  padding: 10px;
  opacity: 0.4;
  transition: opacity 0.5s ease;
  font-size: $metaFontSize;
  color: $metaFontColor;
  margin: 0;
}

.comment-post-bottom-right {
  float: right;
}

// Irrelevant (faded out)
.comment-irrelevant {
  opacity: 0.6;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
