@import "bootstrap/mixins";
@import "bootstrap/variables";

ul.comments-listing {
  padding: 0;
  margin: 0;
  
  li.evidence-item {
    .evidence-user-avatar { margin: 0 0 0 30px; }
    .evidence-content { margin: 0 0 0 82px; }
  }
}
