@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

@commentPadding: 20px;
@impactColouredBorderWidth: 3px;

.comment-container {
  position: relative;
  background: white;
  .block-box-shadow();
}

.comment-believes > .comment-container {
  border-left: @impactColouredBorderWidth solid @believesEvidenceImpactColor;
}

.comment-disbelieves > .comment-container {
  border-left: @impactColouredBorderWidth solid @disbelievesEvidenceImpactColor;
}

.comment-unsure > .comment-container {
  border-left: @impactColouredBorderWidth solid @doubtsEvidenceImpactColor;
}

.comment-post-heading {
  padding: @commentPadding @commentPadding 0px;
}

.comment-post-time {
  float: right;
  color: grey;
  font-size: 11px;
}

.comment-post-creator-name {
  font-weight: 600;
  display: inline-block;
  .ellipsis(200px);
}

.comment-post-content {
  word-wrap: break-word;
  padding: 10px @commentPadding;
}
