@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

@impactColouredBorderWidth: 3px;
@commentPadding: 20px;
@impactColouredBorderWidth: 3px;
@evidencePadding: 20px;

.comment-region {
  position: relative;
  margin-bottom: 5px;
  padding-top: 5px;
}

.comment-container {
  position: relative;
  background: white;
  .block-box-shadow();
}

.comment-believes > .comment-container {
  border-left: @impactColouredBorderWidth solid @believesEvidenceImpactColor;
}

.comment-disbelieves > .comment-container {
  border-left: @impactColouredBorderWidth solid @disbelievesEvidenceImpactColor;
}

.comment-unsure > .comment-container {
  border-left: @impactColouredBorderWidth solid @doubtsEvidenceImpactColor;
}

.comment-post-heading {
  padding: @commentPadding @commentPadding 0px;
}

.comment-post-time {
  float: right;
  color: grey;
  font-size: 11px;
}

.comment-post-creator-name {
  font-weight: 600;
  display: inline-block;
  .ellipsis(200px);
}

.comment-post-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px @commentPadding;
}

.discussion-evidenceish-content {
  word-wrap: break-word;
  padding: 20px @evidencePadding
}

.comment-bottom {
  box-shadow: 0px -1px @mutedBorderBottomColor, 0px -2px @mutedBorderTopColor;
  margin: 0 @evidencePadding;
  padding: 5px 0;
  color: @mutedFontColor;
  font-size: @metaFontSize;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.comment-bottom-actions {
  margin: 0;
  padding: 0;
}

.comment-bottom-action {
  display: inline-block;
}

.comment-bottom-action-delete {
  float: right;
}

.evidence-argument {
  position: relative;
  margin-bottom: 5px;
  padding-top: 5px;
}

// Irrelevant (faded out)
.comment-irrelevant {
  opacity: 0.6;
  .transition(opacity 0.2s);

  &:hover {
    opacity: 0.9;
  }
}
