@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

.sub-comment {
  margin-top: 15px;
  padding-left: 10px;
  border-left: 1px solid @grayLighter;
  .clearfix();
}

.sub-comment-avatar {
  float: left;
  margin: 3px 9px 3px 0px;
  width: 28px;
  height: 28px;
}

.sub-comment-creator {
  font-size: @metaFontSize;
  white-space: nowrap;
}

.sub-comment-time {
  float: right;
  font-size: @metaFontSize;
  color: @grayLight;
  white-space: nowrap;
}


.sub-comment-add {
  text-align: right;
}

.sub-comment-add .text_area_view {
  margin: 10px 0px;
}
