.sub-comments-arrow {
  position: absolute;
  top: 1px;
  left: 35px;
  @include triangle-arrow-up($arrow-fill-color: #f6f6f6);
}

.sub-comments-container {
  z-index: 1;
  border-top: 1px lightgrey solid;
  background: #f6f6f6;
  position: relative;
}

.sub-comment {
  @extend %clearfix;
  display: table;
  width: 100%;
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px #E1E2E6 solid;
}

.sub-comment-add {
  @extend .sub-comment;
  border-bottom: none;
}

.sub-comment-avatar-container {
  width: 30px + 4px; //keep in sync with avatar size + opinion indicator
  display: table-cell;
  vertical-align: top;
}

.sub-comment-content-container {
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
}

.sub-comment-creator {
  @extend %ellipsis-inline-block;
  max-width: 200px;
  line-height: 19px;
  vertical-align: middle;
}

.sub-comment-post-time {
  @extend .comment-post-time;
  line-height: 19px;
}

.sub-comment-post-delete {
  float: right;
  font-size: $metaFontSize;
}

.sub-comment-add-area {
  text-align: right;
}
