@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

.sub-comments {
}

.sub-comment {
  margin: 20px 0 0 20px;
  .clearfix();
}

.sub-comment-avatar {
  float: left;
  margin: 3px 6px 3px 0px;
}

.sub-comment-creator {
  font-size: @metaFontSize;
  white-space: nowrap;
}

.sub-comment-time {
  font-size: @metaFontSize;
  color: @grayLight;
  white-space: nowrap;
}

.sub-comment-add {
  text-align: right;
  padding: 20px;
}

.sub-comment-add .text_area_view {
  margin-bottom: 10px;
}
