.sub-comment {
  padding: 15px 0 0 10px;
  border-left: 1px solid #ddd;
  @extend %clearfix;
  font-size:$metaFontSize;
.sub-comments-arrow {
  position: absolute;
  top: 1px;
  left: 35px;
  @include triangle-arrow-up($arrow-fill-color: #f6f6f6);
}
.sub-comment-post-creator-name {
  @extend %ellipsis-inline-block;
  max-width: 200px;
  vertical-align: top;
}

.sub-comment-add {
  text-align: right;
}

.sub-comment-add .text_area_view {
  margin: 10px 0px;
}

.sub-comment-post-heading > .opinionated-avatar {
  float:left;
  margin: 3px 9px 3px 0;
}

.sub-comment-post-time {
  float: right;
  color: $grayLight;
.sub-comment-content {
  display: block;
  @extend .comment-content;
}
}
