@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

.sub-comment {
  padding: 15px 0 0 10px;
  border-left: 1px solid #ddd;
  .clearfix();
  font-size:@metaFontSize;
}

.sub-comment-add {
  text-align: right;
}

.sub-comment-add .text_area_view {
  margin: 10px 0px;
}

.sub-comment-post-heading > .opinionated-avatar {
  float:left;
  margin: 3px 9px 3px 0;
}

.sub-comment-post-time {
  float: right;
  color: @grayLight;
}
