@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

@arrowHeight: 12px;
@voteButtonWidth: 20px;

.evidence-vote-relevance {
  display: inline-block;
  width: 10px;
}

.comment-votes-container {
  display: table-cell;
}

.comment-votes {
  border-radius: 4px;
  margin: 10px 0px 10px 10px;
  text-align: center;
  transition: 0.5s ease;
  &:hover {
    background: @grayLighter;
  }
}

.comment-vote-amount {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  padding: 2px;
}

.comment-vote-up,
.comment-vote-down {
  display: inline-block;
  color: @grayLight;
  &.evidence-active {
    background: @grayLighter;
    color: @blue;
    border-radius: 5px;
    &:hover{
      color: darken(@blue, 10%)
    }
  }
  &:hover {
    color: @gray;
  }
}
