@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

@arrowHeight: 12px;
@voteButtonWidth: 20px;

.evidence-vote-relevance {
  display: inline-block;
  width: 10px;
}

.comment-vote-up,
.comment-vote-down {
  display: inline-block;
  height: @arrowHeight;
  width:  @voteButtonWidth;
  opacity: 0.2;
  &.evidence-active {
    opacity: 0.8;
  }
  &:hover {
    opacity: 1.0;
  }
}

.comment-vote-up {

}

.comment-vote-down {

}
