.evidence-vote-relevance {
  display: inline-block;
  width: $votePadding;
}

.comment-votes-container {
  display: table-cell;
  vertical-align: top;
}

.comment-votes {
  margin: 0 10px;
  margin-top: $votePadding;
  text-align: center;
}

.comment-vote-amount {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

.comment-vote-up,
.comment-vote-down {
  @extend %button-base;
  @include button-color($buttonBackground);
  @include button-height (22px);
  color: darken($buttonBackground,20);
  padding: 0px 1px;

  &:hover{
    color: darken($buttonBackground,45);
  }

  &.comment-vote-active {
    @include button-color($blue);
    border-bottom: 1px darken($blue,10) solid;
    padding-top: 1px;
    color: white;
  }
}
