<% content_for :javascript do %>
  <script>
    var results = new SearchResults([], {
      search: "<%= params[:s] %>"
    });

    var searchResultView = new SearchResultView({
      collection: results,
      loading: true
    }).render();

    results.fetch();

    $('#main-wrapper').append(searchResultView.el);
  </script>
<% end %>

<h1>Searched for: <b><%= params[:s] %></b></h1>
