<a href="{{link}}">
  <img alt=" " src="{{ created_by.avatar_url_20 }}" width="20" height="20" class="contained-channel-avatar">
  <span>{{created_by.name}}</span>
  <i title="{{global.t.unfollow}}" class='icon-remove glyphicon-color close'></i>
</a>
