<a href="{{{link}}}" title="{{title}}">
  <img alt="{{created_by.username}}" title="{{created_by.username}}" src="{{ created_by.avatar_url_20 }}" width="20" height="20" class="contained-channel-avatar">
  <span>{{title}}</span>
  <i title="Remove channel" class='icon-remove close'></i>
</a>
