$discussionSidebarMaxWidth: 500px;
$discussionSidebarShadow: rgba(50, 50, 50, 0.3);
// keep time in sync with discussion_sidebar_slide_transition_duration
$discussionSidebarTransitionTime: 0.4s;

.discussion-sidebar-outer {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1030;
  cursor: pointer;

  background: transparent;
  transition: background-color $discussionSidebarTransitionTime;
}

.discussion-sidebar-inner {
  position: absolute;
  max-width: $discussionSidebarMaxWidth;
  min-width: 320px;
  width: 25%;
  cursor: auto;
  min-height: 100%;
  background-color: $factlinkBackgroundColor;
  // slide out a bit further than necessary for a more natural animation
  right: -$discussionSidebarMaxWidth - 100px;
  transition: right $discussionSidebarTransitionTime;
}

.discussion-sidebar-outer-visible {
  background-color: rgba($factlinkBackgroundColor, 0.2); //TODO LESS -> SASS Workaround fade($factlinkBackgroundColor, 20%);
  transition: background-color $discussionSidebarTransitionTime;

  .discussion-sidebar-inner {
    right: 0;
  }
}

.discussion-sidebar-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  box-shadow: -1px 0 10px $discussionSidebarShadow;
  z-index: -2;
}

.discussion-sidebar-close-left {
  @extend %centering;
  position: fixed;
  margin-left: -17px;
  top: 50px;
  font-size: 12px;
  height: 30px;
  width: 20px;
  white-space: nowrap;
  background: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: -1px 0 5px $discussionSidebarShadow;
  z-index: -1;

  > i {
    @extend %centering-inner;
  }
}

.discussion-sidebar-close-top {
  position: fixed;
  right: 16px; //to the right of the scrollbar
  font-size: 12px;
  padding: 3px 10px;
  text-align: center;
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 5px $discussionSidebarShadow;
  display: none;
  z-index: 1;
}

.discussion {
  @include box-sizing(content-box);
  position: relative;
  z-index: 0; // new stacking context
}

@media only screen and (max-width: 350px) {
  .discussion-sidebar-inner {
    min-width: 0;
    width: 100%;
    transition: opacity $discussionSidebarTransitionTime;
    right: 0;
    opacity: 0;
  }

  .discussion-sidebar-outer-visible .discussion-sidebar-inner {
    opacity: 1;
  }

  .discussion-sidebar-close-left {
    display: none;
  }

  .discussion-sidebar-close-top {
    display: block;
  }

  .discussion {
    margin-top: 35px;
  }
}
