@import "bootstrap/mixins";

.discussion-interacting-users {
  .white-block-with-shadow();
  .new-design-font();
  padding: 14px 18px 18px;
}

.evidence-unsure .discussion-interacting-users-unsure-line {
  display: block;
  width: @middleLineWidth;
  height: 100% + 7px;
  background-color: @discussionUnsureLineColor;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -1px;
}

.discussion-interacting-users-container {
  position: relative; // to position on top of discussion-interacting-users-unsure-line
}

.discussion-interacting-users-name, .discussion-interacting-users-avatar {
  position: relative; // for popover
}

.discussion-interacting-users-avatars {
  margin-top: 5px;
  display: inline-block;

  .discussion-interacting-users-avatar {
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;

    .discussion-interacting-users-avatar-link {
      display: inline-block;
      height: 32px;
    }

    .discussion-interacting-users-avatar-image {
      border-radius: 3px;
    }
  }
}

.discussion-interacting-users-avatars-show-all {
  display: inline-block;
}
