@import "bootstrap/mixins";

.discussion-interacting-users-avatar {
  position: relative;
  margin-left: 4px;
}

.discussion-interacting-users-avatar-image {
  border-radius: 3px;
  line-height: 36px;
}
