@import "bootstrap/mixins";

// Layout variables
@impactCircleDiameter: 53px;
@impactColouredBorderWidth: 3px;
@evidenceRelevanceTop: 10px;

// Arrows:
@arrowInnerSpacing: 8px;
@arrowWidth: 21px;
@arrowHeight: 12px;

.evidence-container {
  margin: 30px @topFactHorizontalPadding 0;
}

.evidence-argument {
  position: relative;
  margin-bottom: 20px;
  padding-top: @evidenceishHeadingOverhang;
}

// Relevance circles on the left
.evidence-vote {
  position: absolute;
  top: @evidenceRelevanceTop + @arrowHeight + @arrowInnerSpacing;
  left: 0;

  .white-block-with-shadow();
  width:  @impactCircleDiameter;
  height: @impactCircleDiameter;
  border-radius: 1000px;
}

.evidence-vote-relevance {
  .new-design-font();
  font-size: @heading1FontSize;
  line-height: @impactCircleDiameter;
  text-align: center;
}

.evidence-believes .evidence-box > .discussion-evidenceish-box {
  border-left: @impactColouredBorderWidth solid @believesEvidenceImpactColor;
}

.evidence-disbelieves .evidence-box > .discussion-evidenceish-box {
  border-left: @impactColouredBorderWidth solid @disbelievesEvidenceImpactColor;
}

.evidence-unsure .evidence-box > .discussion-evidenceish-box {
  border-left: @impactColouredBorderWidth solid @doubtsEvidenceImpactColor;
}

// Voting arrows
.evidence-vote-up, .evidence-vote-down {
  width: @arrowWidth;
  height: @arrowHeight;
  position: absolute;
  left: @impactCircleDiameter/2 - @arrowWidth/2 + 1px;
}

.evidence-vote-up {
  top: -@arrowHeight - @arrowInnerSpacing;
  background: asset-data-url( 'evidence-arrows/up-arrow-unclicked.png');
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &.active {
    background: asset-data-url('evidence-arrows/up-arrow-clicked.png');
  }
}

.evidence-vote-down {
  bottom: -@arrowHeight - @arrowInnerSpacing;
  background: asset-data-url('evidence-arrows/down-arrow-unclicked.png');
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &.active {
    background: asset-data-url('evidence-arrows/down-arrow-clicked.png');
  }
}

// Evidence box
.evidence-box {
  margin-left: 80px;
}

// Irrelevant (faded out)
.evidence-irrelevant > .evidence-box {
  opacity: 0.6;
  .transition(opacity 0.2s);

  &:hover {
    opacity: 0.9;
  }
}
