@import "bootstrap/mixins";

@evidencePadding: 20px;

.discussion-evidenceish-box {
  position: relative;
  background: white;
  .block-box-shadow();
}

.discussion-evidenceish-content {
  word-wrap: break-word;
  padding: 20px @evidencePadding
}

.discussion-evidenceish-text {
  white-space: pre-wrap;
}

.comment-bottom {
  box-shadow: 0px -1px @mutedBorderBottomColor, 0px -2px @mutedBorderTopColor;
  margin: 0 @evidencePadding;
  padding: 5px 0;
  color: @mutedFontColor;
  font-size: @metaFontSize;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.comment-bottom-actions {
  margin: 0;
  padding: 0;
}

.comment-bottom-action {
  display: inline-block;
}

.comment-bottom-action-delete {
  float: right;
}
