@import "bootstrap/mixins";

// Triangles:
// - An inner triangle with the box's background color
// - An outer triangle "fake border" that's 1px offset
@triangleTop: floor(@impactCircleDiameter/2) + @argumentBoxTopOverhang;

// The dicussion page has 3 columns, 2x 50% and one fixed - so more than 100% total.
// This means we need some negative margins to make it fit.
@negativeColumnMargin: @middleColumnWidth/2;

// Evidence boxes are after impact circles in DOM, but are pulled up so their
// visual top is above the impact circle top.
@evidenceBoxTopOffset: -(@impactCircleDiameter + @argumentBoxTopOverhang);


// It would look weird for the evidence boxes to end before the impact circles.
// Therefore, the believing/disbelieving boxes need a minimum height.
@evidenceBoxMinHeight: 2 * @argumentBoxTopOverhang + @impactCircleDiameter;

.evidence-container {
  padding: 0 @negativeColumnMargin @evidenceRegionBottomPadding;
  margin: @topFactWheelOverhang @evidenceRegionHorizontalMargin 0;
  box-sizing: content-box;
}

.evidence-list {
  position: relative;
}

.evidence-terminator {
  clear: both;
}

.evidence-relevance, .evidence-box {
  position: relative;
  .box-sizing(border-box);
}

.evidence-relevance {
  .white-block-with-shadow();
  width:  @impactCircleDiameter;
  height: @impactCircleDiameter;
  border-radius: 1000px;
}

.evidence-relevance-text {
  .new-design-font();
  font-size: @heading1FontSize;
  line-height: @impactCircleDiameter;
  text-align: center;
}

.evidence-box {
  width: 50%;
  margin: @evidenceBoxTopOffset -@negativeColumnMargin @evidenceBoxSpacing -@negativeColumnMargin;
  min-height: @evidenceBoxMinHeight;
}

.evidence-relevance, .evidence-box {
  float: right;
  clear: right;
}

.evidence-relevance {
  margin-top: @impactCircleTopSpacing;
  position: relative;
  margin-right: 50%;
  right: ceil(-@impactCircleDiameter/2);
}

// Irrelevant (faded out)
.evidence-irrelevant > .evidence-box {
  opacity: 0.6;
  .transition(opacity 0.2s);

  &:hover {
    opacity: 0.9;
  }
}

// Coloured half-circles
.evidence-relevance::after {
  content: '';
  position: absolute;
  top:    -@impactColouredBorderWidth;
  bottom: -@impactColouredBorderWidth;
  right:  -@impactColouredBorderWidth;
  left: ceil(@impactCircleDiameter/2) - 1px;

  border-top-right-radius:    1000px;
  border-bottom-right-radius: 1000px;
}

.evidence-believes > .evidence-relevance::after {
  border: @impactColouredBorderWidth solid @believesEvidenceImpactColor;
  border-left: none;
}

.evidence-disbelieves > .evidence-relevance::after {
  border: @impactColouredBorderWidth solid @disbelievesEvidenceImpactColor;
  border-left: none;
}

.evidence-unsure > .evidence-relevance::after {
  border: @impactColouredBorderWidth solid @doubtsEvidenceImpactColor;
  border-left: none;
}

// Evidence triangles (arrows)
.evidence-box-triangle {
  .triangle-arrow-left();
  left: 0;
  top: @triangleTop;
  margin-top: -@triangleSize;
}

// Voting arrows
.evidence-relevance-vote {
  position: absolute; // needs to be positioned for popover
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.evidence-votable > .evidence-relevance {
  margin-top: @impactCircleTopSpacing + @impactCircleVotableWithoutArrowsTopSpacing;
}


@arrowAdditionalSpacing: @arrowHeight + @arrowInnerSpacing;
.evidence-votable.evidence-has-arrows > .evidence-relevance {
  margin-top: @impactCircleTopSpacing + @arrowAdditionalSpacing;
  margin-bottom: @arrowAdditionalSpacing;
}

.evidence-votable.evidence-has-arrows > .evidence-box {
  margin-top: @evidenceBoxTopOffset - @arrowAdditionalSpacing;
}

.evidence-relevance-vote-up, .evidence-relevance-vote-down {
  width: @arrowWidth;
  height: @arrowHeight;
  position: absolute;
  left: @impactCircleDiameter/2 - @arrowWidth/2 + 1px;

  display: none;
}

.evidence-relevance-vote-up {
  top: -@arrowHeight - @arrowInnerSpacing;
  background: asset-data-url( 'evidence-arrows/up-arrow-unclicked.png');
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &.active {
    background: asset-data-url('evidence-arrows/up-arrow-clicked.png');
  }
}

.evidence-relevance-vote-down {
  bottom: -@arrowHeight - @arrowInnerSpacing;
  background: asset-data-url('evidence-arrows/down-arrow-unclicked.png');
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &.active {
    background: asset-data-url('evidence-arrows/down-arrow-clicked.png');
  }
}

.evidence-votable {
  .evidence-relevance-vote-up, .evidence-relevance-vote-down {
    display: block;
  }
}

.evidence-relevance-vote-popover {
  z-index: 1; // force it just above the other evidence, inside this stacking context
}
