@import "bootstrap/mixins";

@evidencePadding: 20px;

.discussion-evidenceish-heading {
  position: absolute;
  top: -@evidenceishHeadingOverhang;
  left: @evidencePadding;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.discussion-evidenceish-box {
  position: relative;
  .white-block-with-shadow();
}

.discussion-evidenceish-content {

  padding: 10px @evidencePadding;
  word-wrap: break-word;
}

.discussion-evidenceish-text {
  white-space: pre-wrap;
}

.discussion-evidenceish-name {
  display: inline-block;
  .ellipsis(200px);
}

.comment-bottom {
  box-shadow: 0px -1px @mutedBorderBottomColor, 0px -2px @mutedBorderTopColor;
  margin: 0 @evidencePadding;
  padding: 5px 0;
  color: @mutedFontColor;
  font-size: @metaFontSize;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.comment-bottom-actions {
  margin: 0;
  padding: 0;
}

.comment-bottom-action {
  display: inline-block;
}

.comment-bottom-action-delete {
  float: right;

  &:after {
    content: "·";
    margin-right: 10px;
    margin-left: 4px;
  }
}

.comment-bottom-action-time {
  float: right;
}
