@import "bootstrap/mixins";

// Layout variables
@middleColumnWidth: 100px;
@topFactWheelOverhang: 62px;
@middleLineWidth: 3px;
@impactCircleDiameter: 53px;
@argumentBoxTopOverhang: 12px;
@impactCircleTopSpacing: 30px;
@evidenceBoxSpacing: 15px;
@impactColouredBorderWidth: 3px;
@evidenceRegionHorizontalMargin: 16px;
@addEvidenceTopPadding: 50px;
@evidenceRegionBottomPadding: 60px;

// Arrows:
@impactCircleVotableWithoutArrowsTopSpacing: 15px;
@arrowInnerSpacing: 8px;
@arrowWidth: 21px;
@arrowHeight: 12px;

// Triangles:
// - An inner triangle with the box's background color
// - An outer triangle "fake border" that's 1px offset
@triangleSize: 8px;
@innerTriangleOffset: @triangleSize - 1px;
@triangleTop: floor(@impactCircleDiameter/2) + @argumentBoxTopOverhang;

// The dicussion page has 3 columns, 2x 50% and one fixed - so more than 100% total.
// This means we need some negative margins to make it fit.
@negativeColumnMargin: @middleColumnWidth/2;

// Evidence boxes are after impact circles in DOM, but are pulled up so their
// visual top is above the impact circle top.
@evidenceBoxTopOffset: -(@impactCircleDiameter + @argumentBoxTopOverhang);


// It would look weird for the evidence boxes to end before the impact circles.
// Therefore, the supporting/weaking boxes need a minimum height.
@evidenceBoxMinHeight: 2 * @argumentBoxTopOverhang + @impactCircleDiameter;


@unsureImpactToBoxDistance: @impactCircleTopSpacing/2 + @triangleSize;

// The unsure (middle) box needs to leave space for the impact circle since its
// impact circle cannot be floated (both left/right would be problematic).
@unsureImpactRelativeTop: -@impactCircleDiameter
                          - @unsureImpactToBoxDistance
                          + @impactCircleTopSpacing
                          - @argumentBoxTopOverhang;

// Colours
@evidenceBoxBorderColor: rgba(0,0,0,0.2);
@supportingImpactColor: rgba(100,190,160, 0.9);
@weakeningImpactColor: rgba(220,120,120, 0.9);
@unsureImpactColor: rgba(90,140,170, 0.9);
@lineColor: @ndpLineColor;
@shadowColor: rgba(233, 234, 238, 0.7); // Same colour as semi-transparent overlay in js-library


.evidence-collection {
  padding: 0 @negativeColumnMargin @evidenceRegionBottomPadding;
  margin: @topFactWheelOverhang @evidenceRegionHorizontalMargin 0;
  box-sizing: content-box;
}

.evidence-list {
  position: relative;
}

.evidence-line-background {
  position: absolute;
  left: 50%;
  width: 0px;
  margin-left: ceil(-@middleLineWidth/2);
  z-index: -2;
  top: -@topFactWheelOverhang;
  bottom: 0;
  box-shadow: 0 0 80px 100px @shadowColor;
  visibility: visible;

  .evidence-line {
    position: absolute;
    left: 0;
    width: @middleLineWidth;
    top: 0;
    bottom: 0;
    background: @lineColor;
  }
}

.evidence-terminator {
  clear: both;
  visibility: visible;
}

.evidence-impact, .evidence-box {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  visibility: visible;
}

.evidence-impact {
  .new-design-white-block-with-shadow();
  width:  @impactCircleDiameter;
  height: @impactCircleDiameter;
  border-radius: 1000px;
}

.evidence-impact-text {
  .new-design-font();
  font-size: @heading1FontSize;
  line-height: @impactCircleDiameter;
  text-align: center;
}

.evidence-box {
  width: 50%;
}

.evidence-supporting > .evidence-box, .evidence-weakening > .evidence-box {
  margin: @evidenceBoxTopOffset -@negativeColumnMargin @evidenceBoxSpacing -@negativeColumnMargin;
  min-height: @evidenceBoxMinHeight;
}

.evidence-supporting, .evidence-loading {
  > .evidence-impact, > .evidence-box {
    float: right;
    clear: right;
  }

  > .evidence-impact {
    margin-top: @impactCircleTopSpacing;
    position: relative;
    margin-right: 50%;
    right: ceil(-@impactCircleDiameter/2);
  }
}

.evidence-weakening {
  > .evidence-impact, > .evidence-box {
    float: left;
    clear: left;
  }

  > .evidence-impact {
    margin-top: @impactCircleTopSpacing;
    position: relative;
    margin-left: 50%;
    left: floor(-@impactCircleDiameter/2);
  }
}

.evidence-unsure {
  > .evidence-impact, > .evidence-box {
    margin: auto;
    clear: both;
  }

  > .evidence-impact {
    top: @unsureImpactRelativeTop;
    margin-bottom: @unsureImpactRelativeTop;
  }

  > .evidence-box {
    margin-top: @unsureImpactToBoxDistance;
    margin-bottom: @evidenceBoxSpacing;
  }

  > .evidence-spacer-left,
  > .evidence-spacer-right {
    width: 0;
    visibility: hidden;
    height: @impactCircleTopSpacing - @unsureImpactRelativeTop;
  }
  > .evidence-spacer-left  { float: left; }
  > .evidence-spacer-right { float: right; }
}

// Irrelevant (faded out)
.evidence-irrelevant > .evidence-box {
  opacity: 0.6;
  .transition(opacity 0.2s);

  &:hover {
    opacity: 0.9;
  }
}

// Coloured half-circles
.evidence-impact::after {
  content: '';
  position: absolute;
  top:    -@impactColouredBorderWidth;
  bottom: -@impactColouredBorderWidth;
  left:   -@impactColouredBorderWidth;
  right:  -@impactColouredBorderWidth;
}

.evidence-supporting > .evidence-impact::after {
  left: ceil(@impactCircleDiameter/2) - 1px;
  border-top-right-radius:    1000px;
  border-bottom-right-radius: 1000px;

  border: @impactColouredBorderWidth solid @supportingImpactColor;
  border-left: none;
}

.evidence-weakening > .evidence-impact::after {
  right: floor(@impactCircleDiameter/2) - 2px;
  border-top-left-radius:    1000px;
  border-bottom-left-radius: 1000px;
  border: @impactColouredBorderWidth solid @weakeningImpactColor;
  border-right: none;
}

.evidence-unsure > .evidence-impact::after {
  top: floor(@impactCircleDiameter/2) - 1px;
  border-bottom-left-radius:  1000px;
  border-bottom-right-radius: 1000px;
  border: @impactColouredBorderWidth solid @unsureImpactColor;
  border-top: none;
}

// Evidence triangles (arrows)
.evidence-triangle-base() {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  height: 1px;
  width: 0;
  .box-sizing(content-box);
  border-width: @triangleSize;
}

.evidence-box .evidence-box-triangle {
  .evidence-triangle-base();
  top: @triangleTop;
  margin-top: -@triangleSize;

  &:before {
    .evidence-triangle-base();
    content: '';
    z-index: -1;
    margin-top: -@triangleSize;
  }
}

.evidence-supporting .evidence-box-triangle {
  right: 100%;
  border-right-color: white;

  &:before {
    border-left: none;
    border-right-color: @evidenceBoxBorderColor;
    margin-left: -1px;
  }
}

.evidence-weakening .evidence-box-triangle {
  left: 100%;
  border-left-color: white;

  &:before {
    border-right: none;
    border-left-color: @evidenceBoxBorderColor;
    right: -1px;
  }
}

.evidence-unsure {
  .evidence-box-triangle,
  .evidence-box-triangle:before {
    height: 0;
    width: 1px;
    margin-top: 0;
    margin-left: -@triangleSize;
    border-top: none;
    top: 0;
  }

  .evidence-box-triangle {
    left: 50%;
    top: -@innerTriangleOffset;
    border-bottom-color: white;

    &:before {
      top: -1px;
      border-bottom-color: @evidenceBoxBorderColor;
    }
  }
}

// Voting arrows
.evidence-impact-vote {
  position: absolute; // needs to be positioned for popover
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.evidence-votable > .evidence-impact {
  margin-top: @impactCircleTopSpacing + @impactCircleVotableWithoutArrowsTopSpacing;
}

@arrowAdditionalSpacing: @arrowHeight + @arrowInnerSpacing;
.evidence-votable.evidence-has-arrows > .evidence-impact {
  margin-top: @impactCircleTopSpacing + @arrowAdditionalSpacing;
  margin-bottom: @arrowAdditionalSpacing;
}

.evidence-votable.evidence-has-arrows > .evidence-box {
  margin-top: @evidenceBoxTopOffset - @arrowAdditionalSpacing;
}

.evidence-impact-vote-up, .evidence-impact-vote-down {
  width: @arrowWidth;
  height: @arrowHeight;
  position: absolute;
  left: @impactCircleDiameter/2 - @arrowWidth/2 + 1px;

  display: none;
}

.evidence-impact-vote-up {
  background: asset-data-url( 'evidence-arrows/up-arrow-unclicked.png');
  top: -@arrowHeight - @arrowInnerSpacing;

  &:hover {
    background: asset-data-url('evidence-arrows/up-arrow-unclicked-hover.png');
  }

  &.active {
    background: asset-data-url('evidence-arrows/up-arrow-clicked.png');

    &:hover {
      background: asset-data-url('evidence-arrows/up-arrow-clicked-hover.png');
    }
  }
}

.evidence-impact-vote-down {
  background: asset-data-url('evidence-arrows/down-arrow-unclicked.png');
  bottom: -@arrowHeight - @arrowInnerSpacing;

  &:hover {
    background: asset-data-url('evidence-arrows/down-arrow-unclicked-hover.png');
  }

  &.active {
    background: asset-data-url('evidence-arrows/down-arrow-clicked.png');

    &:hover {
      background: asset-data-url('evidence-arrows/down-arrow-clicked-hover.png');
    }
  }
}

.evidence-votable {
  .evidence-impact-vote-up, .evidence-impact-vote-down {
    display: block;
  }
}

// Add evidence buttons
@weakeningLineOffset: 5px + ceil(-@middleLineWidth/2);
@supportingLineOffset: 5px + floor(@middleLineWidth/2) - 1px; // minus one looks better
@evidenceAddLinesTop: 3px;
@evidenceAddCircleExtraRadius: 1px;

.evidence-add {
  position: relative;
  height: @impactCircleDiameter/2;
  visibility: visible;
  display: none;
}

.evidence-collection-has-add.evidence-collection-loaded {
  .evidence-add {
    display: block;
  }

  .evidence-list {
    padding-bottom: @addEvidenceTopPadding;
  }
}

.evidence-add-circle {
  position: absolute;
  left: 50%;
  top: @evidenceAddLinesTop;
  width: @middleLineWidth + 2*@evidenceAddCircleExtraRadius;
  height: @middleLineWidth + 2*@evidenceAddCircleExtraRadius;
  margin-left: -2px;
  margin-top: -@evidenceAddCircleExtraRadius;
  border-radius: 5px; //half would be enough
  background-color: @lineColor;
}

.evidence-add-weakening-line, .evidence-add-supporting-line {
  position: absolute;
  top: @evidenceAddLinesTop;
  height: @middleLineWidth;
  width: 50px;
  background-color: @lineColor;
}

.evidence-add-weakening-line {
  right: 50%;
  margin-right: @weakeningLineOffset;
}

.evidence-add-supporting-line {
  left: 50%;
  margin-left: @supportingLineOffset;
}

.evidence-add-weakening, .evidence-add-supporting {
  width:  @impactCircleDiameter;
  height: @impactCircleDiameter;
  border-radius: 1000px;

  position: absolute;
  top: -@impactCircleDiameter/2 + @evidenceAddLinesTop + ceil(@middleLineWidth/2);
  background: asset-data-url('icon-pencil.png') no-repeat 15px 16px;
  cursor: pointer;
}

.evidence-add-weakening {
  right: 50%;
  margin-right: 45px + @weakeningLineOffset;
  background-color: @buttonDangerBackground;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 1px @buttonDangerBorder;

  &:hover {
    background-color: @buttonDangerDarkBackground;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 1px @buttonDangerDarkBorder;
  }
}

.evidence-add-supporting {
  left: 50%;
  margin-left: 45px + @supportingLineOffset;
  background-color: rgb(24, 171, 117);
  background-color: @buttonSuccessBackground;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 1px @buttonSuccessBorder;

  &:hover {
    background-color: @buttonSuccessDarkBackground;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 1px @buttonSuccessDarkBorder;
  }
}
