@import "bootstrap/variables";
@import "bootstrap/mixins";

@evidencePadding: 18px;

.ndp-evidence-heading {
  position: absolute;
  top: -23px;
  left: @evidencePadding;
}

.ndp-evidence-heading-avatar-wrapper {
  .avatar-wrapper(32px);
  top: -2px;
}

.ndp-fact-relation-or-comment {
  .new-design-font();
}

.ndp-fact-relation-or-comment-content {
  padding: @evidencePadding;
}

.ndp-fact-relation-or-comment-bottom {
  box-shadow: 0px -1px @NDPMutedBorderBottomColor, 0px -2px @NDPMutedBorderTopColor;
  margin: 0 @evidencePadding 5px;
  padding: 5px 0;
  text-align: right;
  color: @mutedFontColor;
  font-size: @metaFontSize;
}
