@import "twitter/bootstrap/variables";
@import "bootstrap/mixins";

.ndp-interacting-users {
  .new-design-font();
  padding: 14px 18px 18px;
}

.ndp-interacting-users-avatars {
  margin-top: 5px;
  display: inline-block;

  .interactor-avatar {
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;
  }
}

.ndp-interacting-users-avatars-show-all {
  display: inline-block;
}
