@import "bootstrap/mixins";

.ndp-interacting-users {
  .new-design-white-block-with-shadow();
  .new-design-font();
  padding: 14px 18px 18px;
}

.ndp-interacting-users-avatars {
  margin-top: 5px;
  display: inline-block;

  .ndp-interacting-users-avatar {
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;

    .ndp-interacting-users-avatar-image {
      border-radius: 3px;
    }
  }
}

.ndp-interacting-users-avatars-show-all {
  display: inline-block;
}
