@import "bootstrap/variables";
@import "bootstrap/mixins";

.ndp-interacting-users {
  .new-design-font();
  padding: 14px 18px 18px;
}

.ndp-interacting-users-names {
  margin-bottom: 10px;
}

.ndp-interacting-users-names a {
  .new-design-link();
}

.ndp-interacting-users-avatars > ul {
  margin: 0;
}
