@import "bootstrap/variables";
@import "bootstrap/mixins";

.ndp-fact-relation-or-comment {
  .new-design-font();
}

.ndp-fact-relation-or-comment-content {
  padding: 18px;
}

.ndp-fact-relation-or-comment-bottom {
  border-top: 1px solid @mutedBorderColor;
  margin: 0 18px 5px;
  padding: 5px 0;
  text-align: right;
  color: @mutedFontColor;
  font-size: @metaFontSize;
}
