@import "bootstrap/variables";
@import "bootstrap/mixins";

.ndp-evidence-heading {
  position: absolute;
  top: -23px;
}

.ndp-evidence-heading-avatar-wrapper {
  .avatar-wrapper(32px);
  top: -2px;
}

.ndp-fact-relation-or-comment {
  .new-design-font();
  padding: 18px;
}
