@import "bootstrap/mixins";

@subCommentPaddingTop: 15px + @evidenceishHeadingOverhang;
@subCommentLineAttachmentTopOffset: 25px;
@subCommentLineIndent: 40px;

@subCommentCircleExtraRadius: 1px;
@subCommentLineWidth: 3px;
@subCommentCirclePadding: 2px;


@subCommentLineTop: @subCommentPaddingTop + @subCommentLineAttachmentTopOffset;
@subCommentCircleDiameter: @subCommentLineWidth + 2*@subCommentCircleExtraRadius;
@subCommentHorizontalLineStart: @subCommentLineIndent + @subCommentLineWidth + @subCommentCircleExtraRadius + @subCommentCirclePadding;
@subCommentVerticalLineTop: @subCommentLineTop + @subCommentLineWidth + @subCommentCircleExtraRadius + @subCommentCirclePadding;
@subCommentVerticalLineBottom: -@subCommentLineTop + @subCommentCircleExtraRadius + @subCommentCirclePadding;
@subCommentLastVerticalLineBottom: -@subCommentLineTop;


.sub-comments .ajax-loader {
  margin-left: @subCommentLineIndent - 16px/2 + @subCommentLineWidth/2;
  margin-top: 10px;
}

.sub-comments-add {
  overflow: hidden;
}

.sub-comments-add .text_area_view {
  width: 100%;
  min-height: 4em;
  margin-bottom: 10px;
}
