.loading {
  text-align: center;
  padding: 50px 0;

  > img {
    margin-top: -1px;
  }
}

.loading-indicator-centered {
  text-align: center;

  > .ajax-loader {
    margin: 10px;
  }
}

.loading-sub-comments {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: -42px;
}
