<div class="social-conversation-comment"><!--
add note to fix spaces for inline-block
--><%= image_tag 'landing/content/Shane.jpg', class: 'social-conversation-avatar' %><!--
--><div class="social-conversation-talk-bubble">
    <div class="social-conversation-talk-bubble-icon-left"></div>
    Great article!
  </div><!--
--></div>

<div class="social-conversation-reply"><div class="social-conversation-talk-bubble">
    <div class="social-conversation-talk-bubble-icon-right"></div>
    Thanks for sharing
    </div><%= image_tag 'landing/content/Kerry.jpg', class: 'social-conversation-avatar' %></div>
