<%= render "header", title: "#{@users.count} activated users", active: "activated" %>

<div>
  <%= render "registered_users" %>
</div>

<%= link_to 'New User', new_admin_user_path, class: 'button', style: "float: right;" %>
