@import "pages/blog_fact_wheel";

$undeterminedColour: hsl(0, 0%, 40%);
$agreeColour: hsl(76, 80%, 40%);
$disagreeColour: hsl(15, 82%, 55%);
$unsureColour: hsl(196, 78%, 55%);
$agreeFillColour: hsl(76, 57%, 50%);
$disagreeFillColour:hsl(15, 82%, 50%);
$unsureFillColour: hsl(196, 78%, 50%);
$agreeBackgroundColour: hsl(76, 57%, 86%);
$disagreeBackgroundColour:hsl(15, 82%, 90%);
$unsureBackgroundColour: hsl(196, 78%, 87%);

.blog-fact-graph-f1 {
  color: $undeterminedColour;
}

.blog-fact-graph-f2 {
  color: $agreeColour;
}

.blog-fact-graph-f3 {
  color: $disagreeColour;
}

.blog-fact-graph-f4 {
  color: hsl(280, 78%, 55%);
}

.blog-fact-graph-factlink {
  color: black;
  background: hsl(0, 0%, 90%);
}

.blog-fact-graph-factlink.blog-fact-graph-f2 {
  background: $agreeBackgroundColour;
}

.blog-fact-graph-factlink.blog-fact-graph-f3 {
  background: $disagreeBackgroundColour;
}

.blog-fact-graph-factlink.blog-fact-graph-f4 {
  background: hsl(280, 78%, 93%);
}

.blog-fact-graph-undetermined,
.blog-fact-graph-agree,
.blog-fact-graph-disagree,
.blog-fact-graph-unsure {
  white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    margin-right: 3px;
  }
}

.blog-fact-graph-undetermined {
  color: $undeterminedColour;
}

.blog-fact-graph-agree {
  &:before {
    background: asset-data-url('blog/fact_graph/100-0-0.png');
  }
  color: $agreeColour;
}

.blog-fact-graph-disagree {
  &:before {
    background: asset-data-url('blog/fact_graph/0-100-0.png');
  }
  color: $disagreeColour;
}

.blog-fact-graph-unsure {
  &:before {
    background: asset-data-url('blog/fact_graph/0-0-100.png');
  }
  color: $unsureColour;
}

.blog-fact-graph-2-1-0:before { background: asset-data-url('blog/fact_graph/2-1-0.png'); }
.blog-fact-graph-4-2-8:before { background: asset-data-url('blog/fact_graph/4-2-8.png'); }
.blog-fact-graph-6-4-2:before { background: asset-data-url('blog/fact_graph/6-4-2.png'); }
.blog-fact-graph-7-2-0:before { background: asset-data-url('blog/fact_graph/7-2-0.png'); }
.blog-fact-graph-9-3-0:before { background: asset-data-url('blog/fact_graph/9-3-0.png'); }
.blog-fact-graph-10-3-0:before { background: asset-data-url('blog/fact_graph/9-3-0.png'); }
.blog-fact-graph-11-2-0:before { background: asset-data-url('blog/fact_graph/11-2-0.png'); }
.blog-fact-graph-11-4-8:before { background: asset-data-url('blog/fact_graph/11-4-8.png'); }
.blog-fact-graph-7839-8009-3041:before { background: asset-data-url('blog/fact_graph/7839-8009-3041.png'); }

.blog-fact-graph-supporting,
.blog-fact-graph-weakening {
  white-space: nowrap;

  .icon-plus-circled, .icon-minus-circled {
    margin: 0;
    position: relative;
    top: -2px;
    vertical-align: text-top;
  }
}

.blog-fact-graph-supporting {
  color: $agreeColour;
  .icon-plus-circled {
    color: $agreeFillColour;
  }
}

.blog-fact-graph-weakening {
  color: $disagreeColour;
  .icon-minus-circled {
    color: $disagreeFillColour;
  }
}

.blog-fact-graph-supporting-arrow,
.blog-fact-graph-weakening-arrow {
  display: inline-block;
  width: 17px;
  height: 13px;
}
.blog-fact-graph-supporting-arrow {
  background: asset-data-url('blog/fact_graph/arrow-plus.png');
}
.blog-fact-graph-weakening-arrow {
  background: asset-data-url('blog/fact_graph/arrow-min.png');
}

.blog-fact-graph-factwheel-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.8em;

  &:last-child {
    margin-bottom: 0;
  }
}

.blog-fact-graph-factwheel-text {
  overflow: hidden;
}

.blog-fact-graph-evidence-header {
  margin-bottom: 0.4em;
}

.blog-fact-graph-factwheel-click-me-container {
  position: relative;
}

$arrowSize: 5px;
.blog-fact-graph-factwheel-click-me {
  background: hsl(0, 100%, 100%);
  display: inline-block;
  padding: 0 2px;
  position: absolute;
  top: -25px;
  left: 22px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);

  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -$arrowSize - 1px;
    margin-left: -$arrowSize;
    border: $arrowSize solid transparent;
    border-bottom: none;
    border-top-color: rgba(0,0,0,0.15);
    z-index: 0;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -$arrowSize;
    margin-left: -$arrowSize;
    border: $arrowSize solid transparent;
    border-bottom: none;
    border-top-color: white;
    z-index: 0;
  }
}
