// ATTENTION:
// Generate the font using fontello.com, upload fontello-config.json.
// Then replace the font (woff) and manually update this file with the added icons.

@font-face {
  font-family: 'fontello';
  src: asset-data-url('fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-firefox,
.icon-twitter,
.icon-star,
.icon-ok,
.icon-remove,
.icon-info-sign,
.icon-bookmark,
.icon-edit,
.icon-trash,
.icon-chrome,
.icon-down-open,
.icon-left-open,
.icon-right-open,
.icon-up-open,
.icon-globe,
.icon-off,
.icon-apple,
.icon-facebook,
.icon-cog,
.icon-user,
.icon-users {
  font-family: "fontello" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;

  margin-right: .2em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;
}

.icon-firefox:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e80b';} /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-remove:before { content: '\e802'; } /* '' */
.icon-info-sign:before { content: '\e80d'; } /* '' */
.icon-bookmark:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-chrome:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e819'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-off:before { content: '\e803'; } /* '' */
.icon-apple:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e815'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e800'; } /* '' */


.icon-factlink {
  background: image-url('FL-checkmark.svg') no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
}
