<% content_for :email_body do %>

  <p>Hi there!</p>

  <p>You've made it to the top of our waiting list. You can start using Factlink now!</p>

  <p>We have created an account for you and invite you to start exploring the possibilities of Factlink.</p>

  <p><%= link_to 'Click here to start using Factlink', edit_password_url(@user, :reset_password_token => @user.reset_password_token, msg: 'welcome') %></p>

  <p style="float: right;"><em>&mdash; The Factlink team</em></p>

<% end %>

<%= render template: "layouts/email" %>
