<% content_for :email_body do %>

  <p>Hi there!</p>

  <p>You can start using Factlink now!</p>

	<p><%= link_to 'Click here to start using Factlink', edit_password_url(@user, :reset_password_token => @user.reset_password_token, msg: 'welcome') %></p>

<% end %>

<%= render template: "layouts/email" %>

