<% content_for :email_body do %>

  <p>Hi <%= @user.username %>,</p>

  <p>Today we’re adding more users to Factlink and we’d love for you to give it a spin!</p>

  <p>Here’s what Factlink is about:</p>

  <p>With Factlink, you can add your opinion to any statement on the web. Other people can support your contributions or add their own. You can see what someone’s authority is and you will accumulate authority yourself on the topics you interact with.</p>

  <p class="cta"><%= link_to 'Start using Factlink', edit_password_url(@user, :reset_password_token => @user.reset_password_token, msg: 'welcome'), class: 'btn-email' %></p>

  <p>We’ve only build part of our vision of what Factlink could be. We need your feedback to build it further!</p>

  <p><em>&mdash; The Factlink team</em></p>

<% end %>

<%= render template: "layouts/email" %>
