<% content_for :email_body do %>

  <p>Welcome!</p>

  <p>We've taken you off the waiting list so you are ready to use Factlink!</p>


	<p><%= link_to 'Start using your account', edit_password_url(@user, :reset_password_token => @user.reset_password_token, msg: 'welcome') %></p>
<% end %>

<%= render template: "layouts/email" %>

