<% content_for :email_body do %>

  <p>Welcome!</p>

  <p>We've taken you off the waiting list so you can start using Factlink!</p>

  <p>Click the link below to start using your account:</p>

	<p><%= link_to edit_password_url(User, :reset_password_token => @reset_password_token), edit_password_url(User, :reset_password_token => @reset_password_token) %></p>

<% end %>

<%= render template: "layouts/email" %>

