<div class="best-comment">
  <div class="best-comment-votes">
    <i class="icon-up-open" style="color: #3d75a3;"></i>
    <i class="icon-down-open"></i>
  </div>
  <ul class="best-comment-list">
    <li class="best-comment-list-item"></li>
    <li class="best-comment-list-item"></li>
  </ul>
</div>

<div class="best-comment">
  <div class="best-comment-votes">
    <i class="icon-up-open"></i>
    <i class="icon-down-open"></i>
  </div>
  <ul class="best-comment-list">
    <li class="best-comment-list-item"></li>
    <li class="best-comment-list-item"></li>
  </ul>
</div>
