<div class="higher-engagement">
  <div class="comment-container">
    <div class="comment-votes-container">
      <div class="comment-votes">
        <span class="comment-vote-up comment-vote-active"><i class="icon-up-open"></i></span>
        <span class="comment-vote-ammount">5</span>
        <span class="comment-vote-down"><i class="icon-down-open"></i></span>
      </div>
    </div>
    <div class="comment-content-container comment-votes-comment">
      <div class="comment-post-heading">
        <span class="post-creator-avatar" style="width: 32px; height: 32px;">
          <%= image_tag 'landing/content/Kerry.jpg', class: 'avatar-image' %>
        </span>
        <span class="comment-post-creator">
          <a class="comment-post-creator-name">Kerry Mendez</a>
          <span class="comment-post-time">15 min</span>
        </span>
      </div>
      <div class="comment-content">I'm actually suprised. I always believed otherwise but find the arguments very convincing.</div>
      <span class="comment-post-bottom">
        <a class="comment-reply">(0) Reply</a>
      </span>
    </div>
  </div>
</div>
