<div class="on-your-site-container">
  <div class="on-your-site-content">
    <h1 class="on-your-site-content-heading">Free &amp; easy to integrate</h1>
    <p>Just use one of our plugins for blogging platforms. Alternatively, drop a single line of code on your page, and you’re done! We will automatically match the look and feel of your site, and if this is not enough you can customize it.
    </p>
  </div><!--
No whitespace because of inline-block
--><div class="on-your-site-content">
    <div class="easy-integration">
      <h5 class="easy-integration-title"><i class="icon-factlink"></i>Install Factlink on your site</h5>
      <%= link_to 'Get WordPress plugin', 'https://wordpress.org/plugins/factlink/', class: 'button', target: '_blank' %>
      <%= link_to 'Other platforms', "#on-your-site-other-platforms", class: 'button js-on-your-site-other-platforms-button' %>
    </div>
  </div>
</div>
