<div class="on-your-site-container">
  <div class="static-pages-content">
    <div class="focused-discussion">
      <ul class="focused-discussion-list">
        <li class="focused-discussion-list-item">
          <div class="focused-discussion-paragraph">
            <span class="focused-discussion-paragraph-icon"></span>
          </div>
        </li>
        <li class="focused-discussion-list-item"></li>
      </ul>

      <ul class="focused-discussion-list">
        <li class="focused-discussion-list-item">
          <div class="focused-discussion-paragraph">
            <span class="focused-discussion-paragraph-icon">+</span>
          </div>
        </li>
        <li class="focused-discussion-list-item"></li>
        <li class="focused-discussion-list-item"></li>
        <li class="focused-discussion-list-item"></li>
      </ul>

      <ul class="focused-discussion-list">
        <li class="focused-discussion-list-item">
          <div class="focused-discussion-paragraph">
            <span class="focused-discussion-paragraph-icon"></span>
          </div>
        </li>
        <li class="focused-discussion-list-item"></li>
      </ul>
    </div>
  </div><!--
No whitespace because of inline-block
--><div class="static-pages-content">
    <h1 class="static-pages-heading-h1">Focused discussions</h1>
    <p>Have discussions where they belong. Don’t let quibble over details swamp other comments. Users will vote for the best discussions, and the best points made in your articles. Inline comments add a layer of lively debate to otherwise passive content. Give your visitors the opportunity to discuss directly with the author, turning a monologue into a conversation.
    </p>
  </div>
</div>
