<div class="fact-opinionate" style="width:100%;">
  <div class="fact-opinionate-button">
    <span class="button button-opinion-believes">
      <i class="icon-thumbs-believes"></i>
    </span>
  </div>

  <div class="fact-opinionators-table">
    <table class="fact-opinionators-table-table">
      <tr>
        <td class="fact-opinionators-table-believes">7</td>
        <td>
          <table class="fact-opinion-tally-chart">
            <tr>
              <td class="fact-opinion-tally-chart-believers" style="width: 70%;"></td>
              <td class="fact-opinion-tally-chart-disbelievers" style="width: 30%;"></td>
            </tr>
          </table>
        </td>
        <td class="fact-opinionators-table-disbelieves">3</td>
      </tr>
    </table>
  </div>

  <div class="fact-opinionate-button">
    <span class="button button-opinion-disbelieves">
      <i class="icon-thumbs-disbelieves"></i>
    </span>
  </div>
</div>
