<div class="on-your-site-container" id="on-your-site-other-platforms" style="display:none;">
  <div class="on-your-site-other-platforms-container">
    <h1 class="on-your-site-content-heading">Other platforms</h1>
    <p>Use one of the plugins for popular platforms to easily install Factlink on your site:</p>
    <ul class="on-your-site-other-platforms-list">
      <li class="on-your-site-other-platforms-list-item"><%= link_to 'PivotX', 'https://github.com/Factlink/pivotx-plugin', target: '_blank' %></li>
      <li class="on-your-site-other-platforms-list-item"><%= link_to 'Wordpress', 'https://wordpress.org/plugins/factlink', target: '_blank' %></li>
    </ul>

    <h1 class="on-your-site-content-heading">Manual installation</h1>
    <p>Factlink can also be manually integrated in your site. Just add the following code:</p>
    <code class="on-your-site-code-line">
      &lt;script async defer src=&quot;https://static.factlink.com/lib/dist/factlink_loader.min.js&quot;&gt;&lt;/script&gt;
    </code>
    <p>Factlink will load more quickly if you include it near the top of your document.</p>
  </div>
</div>
