<div class="add-comment">
  <div class="add-comment-question">What do you think?</div>
  <textarea class="text_area_view" value="The web is beautifull!" style="overflow: hidden; word-wrap: break-word; resize: none;"></textarea>
  <div class="add-comment-controls add-comment-controls-visible">
    <button class="button-confirm button-small add-comment-post-button">Post</button>
    <div class="share-fact-selection">
      <label class="pull-right share-button-container">
        <input type="checkbox">
        <span class="share-button share-button-facebook"></span>
      </label>
    </div>
  </div>
</div>
