<div class="social-conversation-comment">
  <div class="social-conversation-person">
    <%= image_tag 'landing/content/Shane.jpg', class: 'social-conversation-avatar left' %>
  </div>
  <div class="social-conversation-says">
    <div class="social-conversation-talk-bubble">Great article</div>
  </div>
</div>

<div class="social-conversation-reply">
  <div class="social-conversation-says">
    <div class="social-conversation-talk-bubble right">Thanks for sharing</div>
  </div>
  <div class="social-conversation-person">
    <%= image_tag 'landing/content/Kerry.jpg', class: 'social-conversation-avatar left' %>
  </div>
</div>
