<li class="dropdown-submenu">
    <a href="#">Admin</a>
    <ul class="dropdown-menu">
      <li><%= link_to("Users", admin_users_path) %></li>
      <li><%= link_to("Info", admin_info_path) %></li>
      <li><%= link_to("Resque", '/a/resque') %></li>
    </ul>
  </li>
