<div class="topbar-signin-question">
  Have an account?
  <% if slide_down %>
    <a href="javascript:void(0);" class="sign_in">Sign in <i></i></a>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
