<li class="dropdown" id="notifications" style="visibility: hidden;">
  <a class="dropdown-toggle" data-toggle="dropdown">
    &nbsp;
    <span class="unread"></span>
  </a>
  <ul class="dropdown-menu"></ul>
</li>
