<div>
  <ul class="steps">
    <%= tour_step_li :account, 'Account' %>
    <%= tour_step_li :create_your_first_factlink, 'Create Factlink' %>
    <%= tour_step_li :install_extension, 'Install Extension' %>
    <%= tour_step_li :interests, 'Interests' %>
  </ul>
</div>
