<ul class="topbar-menu">
  <li class="topbar-menu-item">
    <%= link_to "Home", home_path, class: 'js-potential-backbone topbar-menu-link' %>
  </li>

  <li class="topbar-divider"></li>

  <li class="topbar-menu-item">
    <%= link_to(image_tag('conversations/conversations.png'), conversations_path, alt: '', class: 'js-potential-backbone topbar-menu-link') %>
  </li>

  <li class="topbar-divider"></li>

  <li class="dropdown topbar-menu-item topbar-menu-link" id="notifications">

  <% if can? :access, Ability::FactlinkWebapp %>
    <li class="topbar-divider"></li>
    <%= render "base/topbar/user_profile" %>
    <li class="topbar-divider"></li>
    <%= render "base/topbar/topbar_menu" %>
  <% end %>

</ul>
