<div class="span9">
  <ul id="steps">
    <li<%= show_active_step :account %>>
      <span>1</span>Account
    </li>

    <li<%= show_active_step :create_factlink %>>
      <span>2</span>Create Factlink
    </li>

    <li<%= show_active_step :almost_done %>>
      <span>3</span>Stream
    </li>
  </ul>
</div>
