<li class="dropdown topbar-menu-item">
  <a class="dropdown-toggle topbar-menu-link" data-toggle="dropdown" href="#">
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><%= link_to("<i class='icon-globe'></i> In your browser".html_safe, in_your_browser_path) %></li>
    <li class="dropdown-menu-item"><%= link_to("<i class='icon-bookmark'></i> On your site".html_safe, on_your_site_path) %></li>
    <li class="dropdown-menu-item"><%= link_to("<i class='icon-cog'></i> Settings".html_safe, edit_user_path(current_user)) %></li>
    <li class="dropdown-menu-item"><a href="/users/out" class="js-accounts-popup-link"><i class='icon-off'></i> Sign out</a></li>

    <% if can? :access, Ability::AdminArea %>
      <li class="dropdown-menu-item"><%= link_to("Users", admin_users_path) %></li>
      <li class="dropdown-menu-item"><%= link_to("Clean actions", admin_clean_path) %></li>
      <li class="dropdown-menu-item"><%= link_to("Global features", admin_global_feature_toggles_path) %></li>
      <li class="dropdown-menu-item"><%= link_to("Info", admin_info_path) %></li>
      <li class="dropdown-menu-item"><%= link_to("Cause Error", admin_cause_error_path) %></li>
      <li class="dropdown-menu-item"><%= link_to("Resque", '/a/resque') %></li>
    <% end %>
  </ul>
</li>
