<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="visible-when-chrome should-install-chrome-extension">
      <%= chrome_extension_link do %>
        <%= image_tag("browser-icons/chrome-dark-16x16.png", style: "padding-right: 4px") %>
        Chrome extension
        <span class="label label-warning should-install-chrome-extension">Install</span>
      <% end %>
    </li>

    <% if can_haz :firefox_extension %>
    <li class="visible-when-firefox should-install-firefox-extension">
      <a href="<%= "#{FactlinkUI::Application.config.static_url}/extension/firefox/factlink-latest.xpi" %>">
        <%= image_tag("browser-icons/firefox-dark-16x16.png", style: "padding-right: 4px") %>
        Firefox extension
        <span class="label label-warning should-install-chrome-extension">Install</span>
      </a>
    </li>
    <% end %>


    <li>
      <a onclick="return false" title="You can drag this Bookmarklet to your bookmarks bar. Suitable for browsers other than Chrome." class="bookmarklet"
           <%# here we need singlequotes kthxbye: %>
           href='javascript:<%= minify_js(ensure_no_single_quotes(render(:partial => 'home/bookmarklet', :formats => [:js]))) %>'>
         <i class='icon-bookmark'></i>
         <span class="bookmarklettext" style="display: none">Factlink</span>
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <%= link_to("<i class='icon-cog'></i> Settings".html_safe, edit_user_path(current_user)) %>
    </li>

    <% if can? :invite, User %>
      <li>
        <%= link_to("<i class='icon-user'></i>&nbsp;Invites (#{current_user.invitation_limit})".html_safe, new_user_invitation_path) %>
      </li>
    <% end %>

    <li>
      <%= link_to "<i class='icon-question-sign'></i> Help".html_safe, pages_path("help") %>
    </li>

    <li>
      <%= link_to("<i class='icon-off'></i> Sign out".html_safe, destroy_user_session_path) %>
    </li>

    <% if can_haz :version_number %>
      <li class="divider"></li>
      <li><a>Version <%= FactlinkUI::Application.config.version_number %></a></li>
    <% end %>
  </ul>
</li>
