<li class="dropdown topbar-menu-item">
  <a class="dropdown-toggle topbar-menu-link" data-toggle="dropdown" href="#">
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu js-topbar-dropdown-menu">
    <li class="visible-when-chrome should-install-chrome-extension">
      <%= chrome_extension_link do %>
        <i class='icon-chrome'></i>
        Chrome extension
        <span class="label label-warning should-install-chrome-extension">Install</span>
      <% end %>
    </li>

    <li class="visible-when-firefox should-install-firefox-extension">
      <a href="https://static.factlink.com/extension/firefox/factlink-latest.xpi">
        <i class='icon-firefox'></i>
        Firefox extension
        <span class="label label-warning should-install-firefox-extension">Install</span>
      </a>
    </li>

    <li class="visible-when-safari should-install-safari-extension">
      <a href="https://static.factlink.com/extension/firefox/factlink.safariextz">
        <i class='icon-apple'></i>
        Safari extension
        <span class="label label-warning should-install-safari-extension">Install</span>
      </a>
    </li>

    <li>
      <a class="topbar-menu-bookmarklet js-topbar-dropdown-menu-bookmarklet"
           <%# here we need singlequotes kthxbye: %>
           href='javascript:<%= minify_js(ensure_no_single_quotes(render(:partial => 'home/bookmarklet', :formats => [:js]))) %>'>
         <i class='icon-bookmark'></i><!--
         --><span class="bookmarklettext" style="display: none">Factlink</span><!--
      --></a>
    </li>

    <li class="divider"></li>

    <li>
      <%= link_to("<i class='icon-cog'></i> Settings".html_safe, edit_user_path(current_user)) %>
    </li>

    <li>
      <%= link_to "<i class='icon-question-sign'></i> Help".html_safe, pages_path("help") %>
    </li>

    <%= render "base/topbar/pages_menu" %>

    <li class="divider"></li>

    <li>
      <%= link_to("<i class='icon-off'></i> Sign out".html_safe, destroy_user_session_path) %>
    </li>

    <% if can? :access, Ability::AdminArea %>
      <li class="divider"></li>
      <%= render "base/topbar/admin_menu" %>
    <% end %>

  </ul>
</li>
