<li class="topbar-menu-item topbar-profile-name">
  <%= link_to("#{image_tag(current_user.avatar_url(size:30), alt: '',class: 'topbar-profile-image image-30px')} #{h current_user.name}".html_safe, user_profile_path(current_user), class: 'topbar-profile-link js-potential-backbone') %>
</li>
