.edit-user-container {
  @extend %clearfix;
  @extend %white-block-with-shadow;
  min-height: 300px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.profile-edit-email-disabled {
  cursor: not-allowed;
  background-color: $inputDisabledBackground;
  opacity: 0.5;
}

.profile-edit-delete-link {
  float: right;
  color: $buttonDangerBackground;

  &:hover {
    color: darken($buttonDangerBackground, 5);
  }
}
