{{#checked}}
  {{#hovering}}
    <img src="{{global.unfollow}}"></img>
    {{checked_hovered_label}}
  {{/hovering}}

  {{^hovering}}
    <img src="{{global.checkmark}}"></img>
    {{checked_unhovered_label}}
  {{/hovering}}
{{/checked}}

{{^checked}}
  {{unchecked_label}}
{{/checked}}
