{{#loaded}}
  {{#checked}}
    {{#hovering}}
      <span class="factlink-icon-cross-white"></span>
      {{checked_hovered_label}}
    {{/hovering}}

    {{^hovering}}
      <span class="factlink-icon-checkmark"></span>
      <span class="icon-ok"></span>
      {{checked_unhovered_label}}
    {{/hovering}}
  {{/checked}}

  {{^checked}}
    {{unchecked_label}}
  {{/checked}}
{{/loaded}}

{{^loaded}}
  <img class="ajax-loader" src="{{global.ajax_loader_image}}">
  Loading ...
{{/loaded}}
