<button class="btn btn-mini js-action-button-primary">
    {{disabled_label}}
</button>

<button class="btn btn-mini js-action-button-secondary" style="display:none">
  <span class="js-default-state">
    <image src="{{global.checkmark}}"></image>
    {{disable_label}}
  </span>

  <span class="js-hover-state" style="display:none">
    <image src="{{global.unfollow}}"></image>
    {{enabled_label}}
  </span>
</button>

