<button class="btn btn-primary btn-block js-action-button-primary">
    {{primary_action_label}}
</button>

<button class="btn btn-block js-action-button-secondary" style="display:none">
  <span class="js-default-state">
    <image src="{{global.checkmark}}"></image>
    {{secondary_action_label}}
  </span>

  <span class="js-hover-state" style="display:none">
    <image src="{{global.unfollow}}"></image>
    {{hover_state_label}}
  </span>
</button>
