<div>
  <!-- <%= image_tag("#{request.protocol}#{request.host_with_port}/images/icons/factlink/48.png") %> -->
  <ul>
    <li class="fl-bar-proves">
      
    </li>
    <li class="fl-bar-maybe">
      
    </li>
    <li class="fl-bar-denies">
      
    </li>
  </ul>
</div>