<li id="no-facts-message" class="">
	<span class="fl-statement-title">No facts have been added yet. <a onclick="javascript: $('#dimmer').fadeIn('fast'); $('#fl-potential-childs-popup').fadeIn('fast'); ">Add existing fact as support</a></span>
</li>