<ul class="fl-stats-bar">
	<li id="fl-bar-refute-score" class="fl-bar-refute" style="height: <%= factlink.percentage_score_denies %>%;"></li>
	<li id="fl-bar-maybe-score" class="fl-bar-maybe" style="height: <%= factlink.percentage_score_maybe %>%;"></li>
	<li id="fl-bar-support-score" class="fl-bar-support" style="height: <%= factlink.percentage_score_proves %>%;"></li>
</ul>
<span id="fl-stats-count" class="fl-stats-count"><%= factlink.stats_count %></span>