<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			html, body, div, span, a, ul, li{
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			body {
				line-height: 1;
			}
			.context {
				position: relative;
				float: left;
			}
			.context ul {
				display: none;
				position: absolute;
				padding: 5px 0;
				color: #000;
				top: -5px;
				left: 100%;
				list-style: none;
			}
			.context > ul {
				top: 0;
				display: block;
			}
			
			.context li.first {
				border-radius: 3px 3px 0px 0px;
			}
			
			.context li.last {
				border-radius: 0px 0px 3px 3px;
				box-shadow: 0px 1px 2px #bbb;
			}
			
			.context li {
				
				border-top: solid 1px #eee;
				border-bottom: solid 1px #ccc;
				
				position: relative;
				background-color: #ddd;		
				white-space: nowrap;
				padding: 6px 12px;
				cursor: pointer;
				font-family: "Helvetica", Arial, sans-serif;
				font-size: 9pt;
			}
			.context a {
				color: #000;
				text-decoration: none;
			}
			.context li:hover {
				background: #eee;
			}
			.context:hover > ul,
			.context li:hover > ul {
				display: block;
			}
			form input, form textarea {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="context">
			<ul>
				<li class="first">
					I know
					<ul>
						<li>
							something that
							<ul>
								<li><a href="#">supports this</a></li>
								<li><a href="#">weakens this</a></li>
								<li><a href="#">proves this</a></li>
								<li class="last"><a href="#">refutes this</a></li>
							</ul>
						</li>
						<li>
							<a href="#">topics
						</li>
						<li class="last">
							someone who
							<ul>
								<li><a href="#">should participate</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="last">
					I want
					<ul>
						<li>
							<a href="#">to know about</a>
						</li>
						<li class="last">
							<a href="#">ask/tell someone about</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<script>
			var a = document.getElementsByTagName("a");
			for ( var i = a.length; i--; ) {
				a[i].onclick = function() {
					// Call the parent
					parent.createFactlink();
					// Break the event
					return false;
				};
			}
			
			// Set the class of the parent frame (xdm)
      // parent.remote.setFrameType("prepare");
      // parent.remote.setFrameBounds(300, 120);
		</script>
	</body>
</html>