<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @factlink_top.displaystring %>
</p>


<%= link_to 'Edit', edit_factlink_top_path(@factlink_top) %> |
<%= link_to 'Back', factlink_top_path %>
