{{#global.signed_in}}
<a href="/{{username}}" rel="backbone" class="discussion-interacting-users-avatar-link js-user-link">
{{/global.signed_in}}
  <img src="{{avatar_url_32}}" class="image-32px discussion-interacting-users-avatar-image">
{{#global.signed_in}}
</a>
{{/global.signed_in}}
