{{#global.signed_in}}
<a href='/{{username}}' rel='backbone'>
{{/global.signed_in}}
  <img src="{{avatar_url_32}}" class="image-32px ndp-interacting-users-avatar-image"  title="{{name}}">
{{#global.signed_in}}
</a>
{{/global.signed_in}}
