<div class="evidence-box-triangle"></div>
{{!triangle must be after content to ensure painting on top without
   needing a z-index; z-index isn't permitted because triangle's "border"
   is actually a negative-z-index grey triangle.}}

<div class="discussion-interacting-users-unsure-line"></div>

<div class="js-region-interacting-users-names discussion-interacting-users-container"></div>
<div class="js-region-interacting-users-avatars discussion-interacting-users-container"></div>
