{{#show_links}}{{!
  }}<a href='/{{username}}' rel='backbone'>{{name}}</a>{{!
}}{{/show_links}}{{!
}}{{^show_links}}{{!
  }}{{name}}{{!
}}{{/show_links}}{{!
}}<span class="separator-list-sep"></span>

{{! don't add whitespace here, that screws up the comma's !}}
