.notification-center-alerts {
  position: fixed;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1060; // Highest found was 1050, modal window
  visibility: hidden;
}

.notification-center-alert-container {
  text-align: center;
  padding: 0 20px; //leave space for scrollbars to the right;
  height: 40px;
  position: relative;
}

.notification-center-alert-container-leave-active {
  transition: all 0.5s;
  opacity: 0;
  height: 0;
}

.notification-center-alert {
  display: inline-block;
  position: relative;
  padding: 6px 16px;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 1, .15);
  visibility: visible;
}

.notification-center-alert-error {
  background-color: $errorBackground;
  border-color: $errorBorder;
  color: $errorText;
}

.notification-center-alert-success {
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}

.notification-center-alert-close {
  color: $grayLight;

  cursor: pointer;

  position: absolute;
  top: 1px;
  right: 6px;

  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $gray;
  }
}
