<div class="visible-when-chrome topic-empty-browser">
  <img src="{{global.icon_empty_channel_chrome}}" class="topic-empty-browser-icon">

  <div class="topic-empty-browser-text">
    <p class="chrome-extension-installed topic-empty-browser-text-no-button">
      This {{global.t.topic}} is currently empty. Use the Chrome extension to add Factlinks across the web.
    </p>

    <p class="should-install-chrome-extension">
      This {{global.t.topic}} is currently empty. Install the Chrome extension and add Factlinks across the web.<br/>

      <a class="button js-download-chrome-extension topic-empty-browser-button"><img class="topic-empty-browser-button-icon" src="{{global.browser_icons_chrome_16x16}}"> Install Chrome Extension</a>
    </p>
  </div>
</div>

<div class="visible-when-firefox topic-empty-browser">
  <img src="{{global.icon_empty_channel_firefox}}" class="topic-empty-browser-icon">

  <div class="topic-empty-browser-text">
    <p class="firefox-extension-installed topic-empty-browser-text-no-button">
      This {{global.t.topic}} is currently empty. Use the Firefox extension to add Factlinks across the web.
    </p>

    <p class="should-install-firefox-extension">
      This {{global.t.topic}} is currently empty. Install the Firefox extension and add Factlinks across the web.<br/>

      <a id="firefox-extension-button" class="button topic-empty-browser-button" href="{{firefox_extension_url}}"><img class="topic-empty-browser-button-icon" src="{{global.browser_icons_firefox_16x16}}"> Install Firefox Extension</a>
    </p>
  </div>
</div>

<div class="visible-when-unsupported-browser topic-empty-browser">
  This {{global.t.topic}} is currently empty. Install the bookmarklet to add Factlinks across the web.</p>
</div>

