<div class="statistic">
  <span class="statistic-title">Factlinks</span><br>
  {{ facts_count }}
</div>
<div class="statistic">
  <span class="statistic-title">Your authority</span><br>
  <img src="{{global.brain_image}}"> <span class="statistic-authority">{{ current_user_authority }}</span>
</div>
