<div class="statistic">
  <span class="statistic-title">Factlinks</span><br>
  {{ facts_count }}
</div>
<div class="statistic">
  <span class="statistic-title">Followers</span><br>
  {{ favouritours_count }}
</div>
