<div class="statistic">
  <span class="statistic-title">{{global.t.factlinks}}</span><br>
  {{ facts_count }}
</div>
<div class="statistic">
  <span class="statistic-title">{{global.t.favouritours}}</span><br>
  {{ favouritours_count }}
</div>
