<a href="{{channel_url}}"><img alt=" " src="{{created_by.avatar_url_80}}" class="list-channel-avatar"></a>
<strong>
  <a href="{{link}}" class="link-channel-link">{{title}}</a>
</strong>
<p class="list-channel-user"><a href="{{created_by.link}}">by {{created_by.username}}</a></p>
<div>
  <img src="{{global.brain_image}}">
  <span>{{created_by_authority}}</span>
</div>
