{{#channels}}
<div class="list-channel">
	<a href="{{channel_url}}"><img src="{{avatar_url}}" class="list-channel-avatar"></a>

  <strong>
    <a href="{{channel_url}}" class="link-channel-link">{{title}}</a>
  </strong>
	<p class="list-channel-user">by {{user_name}}</p>
	<div>
			<img src="/assets/brain.png">
			<span>{{authority}}</span>
		</div>
</div>
{{/channels}}
{{^channels}}
  {{title}}
{{/channels}}
