<header class="content-header topic-header">
  <h1 class="content-title" title="{{ title }}">
    {{ title }}
  </h1>
  <div class="js-region-favourite-topic favourite-topic-button-container"></div>
</header>

<div class="js-region-fact-list"></div>
