<div id="channel">
  <header class="content-header channel-header topic-header">
    <h1 class="channel-title pull-left" title="{{ title }}">
      {{ title }}
    </h1>

    <div class="js-region-favourite-topic favourite-topic-button-container pull-left"></div>

    <div class="pull-right">
      <ul class="channel-statistics">
        <li><span class="channel-authority-for-user">{{ current_user_authority }}</span> Your authority</li>

        {{#has_channel}}
        <li class="channel-options">
          <span class="muted">Show: </span>
          <select class="option-dropdown js-channel-topic-switch" name="channel-topic-switch">
            <option value="topic">All Factlinks</option>
            <option value="channel">Factlinks from people I follow</option>
          </select>
        </li>
        {{/has_channel}}
      </ul>
    </div>
  </header>

  <div class="js-region-sub-channels channel-subchannels"></div>

  <div class="js-region-fact-list"></div>
</div>
