<div id="channel">
  <header class="content-header channel-header topic-header">
    <h1 class="channel-title" title="{{ title }}">
      {{ title }}
    </h1>
    <div class="js-region-favourite-topic favourite-topic-button-container"></div>
  </header>

  <div class="js-region-fact-list"></div>
</div>
