<ul class="thumbnails">
  <li class="narrow-indented-block">
    <a href="#" class="thumbnail">
      <iframe src="https://player.vimeo.com/video/43561276" style="width:610px; height:343px; border: 0px;"></iframe>
    </a>
  </li>
</ul>
