<% content_for :title do %>Factlink &mdash; Authority<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Authority</h1>

<p>
Authority means how knowledgeable people are on a single topic. We use authority to calculate the credibility score of a Factlink. 
</p>
<h2>Authority calculation</h2>
<p>
We use several ways to calculate authority, and we are still experimenting to find the best way. We mostly look how much other people valuate your actions. So if you create facts which other people find useful, and add as evidence, your authority will go up. If you create facts which incite a lot of discussion, your authority will go up. And if you create channels which are followed by a lot of people, this will also result in more authority on the subject of your channel.</p>