<% content_for :title do %>Factlink &mdash; Authority<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Authority</h1>

<p>
Authority means how knowledgeable people are on a single topic. We use authority to calculate the credibility score of a Factlink. This is based on all the ratings, opinions and their connections of the raters.
</p>