<% content_for :title do %>Factlink &mdash; Chrome extension<% end %>
<% content_for :header do %><%= render 'home/pages/help/header' %><% end %>
<% content_for :left_column do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Chrome extension</h1>

<p>Google Chrome extensions are applications that run inside the Chrome browser and provide additional functionality, integration with third party websites or services, and customized browsing experiences.</p>

<p>The Factlink extension will enable you to use Factlink on virtually all websites you visit.</p>

<p>You can install the extension from the <b class="caret" style="margin: 7px 0 0;"></b> menu in the top bar.</p>

<h4>Using the Factlink extension</h4>

<p>Using the extension is really easy! This screencast will show how you can create a Factlink:</p>

<%= render "home/pages/help/screencast" %>

<h4>Permissions</h4>

<p>Since for Factlink to work we need to insert a Javascript on each site you visit, you get a warning that Factlink can access your data on all website. However, we only do two things:</p>
<ol>
  <li>Send the url you browse to to our server to check if any text is already Factlinked.</li>
  <li>Send text you factlink to our servers.</li>
</ol>
<p>
  If you have any questions, don't hesitate to ask support via the Feedback button to the left.
</p>
