<% content_for :title do %>Factlink &mdash; Chrome Extension<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<% content_for :body_text do %>
  <h1>Chrome extension</h1>

  <p>You can install our Chrome extension from the menu in the top bar.</p>

  <h2>Permissions</h2>

  <p>Since for Factlink to work we need to insert a Javascript on each site you visit, you get a warning that Factlink can access your data on all website. However, we only do two things:</p>
  <ol>
    <li style="list-style-type: decimal">Send the url you browse to to our server to check if any text is already Factlinked.</li>
    <li style="list-style-type: decimal">Send text you factlink to our servers.</li>
  </ol>
  <p>
    If you have any questions, don't hesitate to ask support via the Feedback button to the left.
  </p>

<% end %>
