<% content_for :title do %>Factlink &mdash; Frequently Asked Questions<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Frequently Asked Questions</h1>

<h2>What is Factlink?</h2>

<p>
Factlink works on helping people understand how credible the information is that they’re reading. We’ve build a platform that lets you add what you know by creating Factlinks. You can annotate any statement on the web and ‘attach’ review information, for instance supporting or weakening facts. The service is built on the belief that information should be openly shared, accessible, and transparent. You can read more about us on our about page.
</p>

<h2>How do I create a Factlink?</h2>


<p>
You can create a Factlink on two several ways. First you can use Factlink on every website you’re visiting. Just annotate a statement and add your opinion to it. Secondly, you create a Factlink right from your own channel.
</p>

<h2>How do I install Factlink in my browser?</h2>


<p>
When you are a Google Chrome user you can install our Chrome Extension. For everyone else we made a special bookmarklet wich you can easily drag to your bookmarks bar. Once installed the bookmarklet, simply click on it and annotate the text you want. The Factlink menu appears and you can give your opinion about the statement.
</p>

<h2>How do I follow someone?</h2>

<p>
We think it’s better to follow specific topics from persons instead of following persons. That is the reason why you can’t follow a person. You can follow a channel from someone by adding his/her channel to your own channel list.
</p>


<h2>How do I get authority?</h2>

<p>
Authority is gained by creating relevant and interesting Factlinks. When people interact more with your Factlinks you gain more authority.
</p>
