<% content_for :title do %>Factlink &mdash; Firefox extension<% end %>
<% content_for :header do %><%= render 'home/pages/help/header' %><% end %>
<% content_for :left_column do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Firefox extension</h1>

<p>Browser extensions are applications that run inside your web browser and provide additional functionality, integration with third party websites or services, and customized browsing experiences.</p>

<p>The Factlink extension will enable you to use Factlink on virtually all websites you visit.</p>

<p>You can install the extension from the <b class="caret" style="margin: 7px 0 0;"></b> menu in the top bar.</p>

<h2>Using the Factlink extension</h2>

<p>Using the extension is really easy! This screencast will show how you can create a Factlink:</p>

<%= render "home/pages/help/screencast" %>
<sub>Although the video shows Google Chrome as browser the functionality is the same in Firefox.</sub>
