<% content_for :title do %>Factlink &mdash; Help<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<% content_for :body_text do %>
  <h1>Help</h1>

  <p>
    To the left you can find some topics on which we have written help topics. If you have any other questions, feel free to ask them to Support by clicking the Feedback button.
  </p>
<% end %>
