<% content_for :title do %>Factlink &mdash; Supported browser<% end %>
<% content_for :header do %><%= render 'home/pages/help/header' %><% end %>
<% content_for :left_column do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Supported browsers</h1>

<% if can_haz :firefox_extension %>

<p>At this moment we officialy support Google Chrome and Firefox. We provide an extension for these browsers that adds a layer to the web, so you can immediately view and create Factlinks on a website.</p>

<% else %>

<p>At this moment we officialy only support Google Chrome. We've built a Chrome Extension that adds a layer to the web, so you can immediately view and create Factlinks on a website.</p>

<% end %>

<h2>Unsupported browsers</h2>
<p>When we say that your browser is not supported, we mean that we can't guarantee that you will have the full experience of Factlink. This contains a website that is working like we think it should work and a browser extension so you can use Factlink at any time you want.</p>

<p>We have a limited support for <strong>Safari</strong> <% unless can_haz :firefox_extension %>and <strong>Firefox</strong><% end %> users, but unless we have an extension for this browser we can't guarantee a perfect experience.</p>

