<% content_for :title do %>Factlink &mdash; Supported browser<% end %>
<% content_for :menu_items do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Supported browsers</h1>

<p>At this moment we officialy only support Google Chrome. We've built a Chrome Extension that adds a layer to the web, so you can view at any time if there are Factlinks on a website or not.</p>

<h2>Unsupported browsers</h2>
<p>When we say that your browser is not supported, we mean that we can't guarantee that you will have the full experience of Factlink. This contains a website that is working like we think it should work and a browser extension so you can use Factlink at any time you want.</p>

<p>At this moment the only full supported browser is Google Chrome. We have also a limited support for <strong>Safari</strong> and <strong>Firefox</strong> users, but unless we have an extension for this browser we can't guarantee a perfect experience.</p>