<% content_for :title do %>Factlink &mdash; Unsupported Websites<% end %>
<% content_for :header do %><%= render 'home/pages/help/header' %><% end %>
<% content_for :left_column do %><%= render 'home/pages/help/menu' %><% end %>

<h1>Unsupported websites</h1>

<p>If you are visiting a website that is not supported by Factlink you will find a red square on the extension on the top right corner of your browser, or a red exclamation mark in the Factlink Browser. This means that we have disabled the Factlink functionality for you to prevent the website from breaking.</p>

<p>Factlink might also be disabled on pages that could provide personal information, for example banking or email websites.</p>

<p>If you are visiting a website that is not working but should work with Factlink please contact us so we can try to make Factlink working on this website.</p>
