@emailBaseFontFamily:        Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
@emailBackgroundColor:       #e9eaee;

@emailTitleFontSize:         17px;
@emailBaseFontSize:          @emailTitleFontSize - 2;
@emailSubTitleFontSize:      @emailBaseFontSize - 2;
@emailButtonFontSize:        @emailBaseFontSize;
@emailMutedFontSize:         @emailBaseFontSize - 2;

@emailBaseLinkColor:         #3d75a3;
@emailBaseFontColor:         #333;
@emailSubTitleFontColor:     #777;
@emailMutedFontColor:        #999;

@emailBaseBorderColor:       #e4e4e4;
@emailBaseBorderStyling:     1px solid @emailBaseBorderColor;

@emailButtonBackgroundColor: #fac553;
@emailButtonFontColor:       #9d6238;
@emailButtonBorderColor:     #d9a946;
@emailButtonTextShadowColor: #fcd787;
@emailButtonBorderSize:      3px;
@emailButtonVerticalPadding: 8px;
@emailButtonHorizontalPadding: 20px;
