@import "email/email_variables";

#added-argument-message {
  border-radius: 3px;
  border: @emailBaseBorderStyling;
  margin-bottom: 30px;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.added-argument-message-header {
  border-bottom: @emailBaseBorderStyling;
  padding: 20px;

  h3 {
    line-height: 1.25em;
  }
}

.added-argument-message-container {
  background: @emailBackgroundColor;
  height: auto;
  width: 90%;

  &.supporting {
    padding: 21px 21px 21px 0;
  }

  &.weakening {
    padding: 21px 0 21px 21px;
  }

  &.no-type {
   padding: 21px;
  }

  .message-user-image {
    padding-left: 20px;
    padding-bottom: 5px
  }
}

.added-argument-message-box {
  width: 100%;
}

.added-argument-message-content {
  padding: 20px;
  background: #fff;
  border-radius: 3px;
  border: @emailBaseBorderStyling;
  max-width: 700px;

  .is-inactive & {
    color: #999999;
    font-size: 13px;
  }

  p {
    margin-bottom: 0;
    word-wrap: break-word;
  }
}

.added-argument-timeline {
  background: @emailBackgroundColor;
}

.timeline-left,
.timeline-right {
  width: 50px;
  max-width: 50px;
  background: @emailBackgroundColor;
}
.timeline-right {
  border-left: 3px solid #b9bec6;
}
.timeline-impact {
  width: 100px;
  max-width: 100px;
  height: 37px;
  background: @emailBackgroundColor;
}

.timeline-impact-indicator {
  text-align: center;
  margin: 0 auto;
  border-radius: 1000px;
}

.added-subcomment-message-content {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 3px;
  border: @emailBaseBorderStyling;

  p {
    margin-bottom: 0;
  }
}

.subcomment-timeline {
  border-left: 3px solid #b9bec6;
  border-bottom: 3px solid #b9bec6;
  width: 20px;
  min-width: 20px;
  height: 78px;
}

.added-argument-timeline-subcomment {
  background: #e9eaee;
  height: 100%;
  width: 100%;
  padding-top: 20px;

  .user-name {
    font-size: 14px;
    line-height: 22px;
  }
}

.added-subcomment-timeline-before-padding {
  min-width: 10px;
  width: 20px;
}
