@import "email/email_variables";

#added-argument-message {
  border-radius: 3px;
  border: @emailBaseBorderStyling;
  margin-bottom: 30px;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.added-argument-message-header {
  border-bottom: @emailBaseBorderStyling;
  padding: 20px;

  h3 {
    line-height: 1.25em;
  }
}

.added-argument-message-container {
  background: @emailBackgroundColor;
  height: auto;

  &.supporting {
    padding: 21px 21px 21px 0;
  }

  &.weakening {
    padding: 21px 0 21px 21px;
  }

  .message-user-image {
    padding-left: 20px;
    padding-bottom: 5px
  }
}

.added-argument-message-box {
  width: 100%;
}

.added-argument-message-content {
  padding: 20px;
  background: #fff;
  border-radius: 3px;
  border: @emailBaseBorderStyling;
  max-width: 700px;

  p {
    margin-bottom: 0;
    word-wrap: break-word;
  }
}

.added-argument-timeline,
.timeline-left,
.timeline-right,
.timeline-impact
{
  background: @emailBackgroundColor;
}

@timeline-width: 100px;
@timeline-border-width: 3px;
.timeline-left {
  width: (@timeline-width/2);
}
.timeline-right {
  width: (@timeline-width/2 - @timeline-border-width);
  border-left: @timeline-border-width solid #b9bec6;
}
.timeline-impact {
  width: @timeline-width;
  height: 37px;
}

.timeline-impact-indicator {
  text-align: center;
  margin: 0 auto;
}
.timeline-impact-indicator > img {
  //images are inline but we don't want browsers to add padding for descenders
  vertical-align: top; //avoid descender-padding
  font-size: 0; //some browsers don't support vertical-align; they get 0-sized descenders.
}
