@import "email/email_variables";

#user-info {
  border-radius: 3px;
  border: @emailBaseBorderStyling;
  border-collapse: separate;
  width: 100%;
}

.message-title {
  font-weight: normal;
  line-height: 1.25em;
  color: @emailMutedFontColor;
}

.message-user-image {
  width: 32px;
  padding-right: 0;
}
