<% content_for :email_footer do %>
  <div class="unsubscribe-container">
    <%= link_to 'Manage your subscriptions', user_notification_settings_url(@user), class: 'unsubscribe-link' %>
    <span class="unsubscribe-divider">&#8226;</span>
    <%= link_to 'Unsubscribe', unsubscribe_url(@user.notification_settings_edit_token, :mailed_notifications), class: 'unsubscribe-link' %>
  </div>
<% end %>

<%= render template: 'layouts/email' %>
