@import "bootstrap/mixins";

body.client {
  padding: 0 0 100px;
  .box-sizing(border-box);
}

.client-modal-region {
  width: @newDiscussionModalWidth;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  visibility: hidden;
  .new-design-font();
}
