@import "bootstrap/mixins";

body.client {
  padding: 0 0 100px;
  .box-sizing(border-box);
}

.client-modal-region {
  width: @newDiscussionModalWidth;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  visibility: hidden;
  .new-design-font();
}

.client-modal-region-in-frontend {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 1030; // below modal-window
}
