@import "bootstrap/mixins";

@discussionSidebarMaxWidth: 500px;
@discussionSidebarShadow: rgba(50, 50, 50, 0.3);
// keep time in sync with DiscussionSidebarContainer
@discussionSidebarTransitionTime: 0.4s;

body.discussion-sidebar-open {
  overflow: hidden;
}

.discussion-sidebar-container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1030; // below modal-window and feedback_button
  cursor: pointer;

  background: transparent;
  visibility: hidden;
  transition: background-color @discussionSidebarTransitionTime,
              visibility 0s @discussionSidebarTransitionTime;
}

.discussion-sidebar {
  position: absolute;
  width: 95%; // leaves enough room on the left side on 320px width screens
  max-width: @discussionSidebarMaxWidth;
  cursor: auto;
  min-height: 100%;
  background-color: fade(@semiTransparentLayerColor, 100%);

  // slide out a bit further than necessary for a more natural animation
  right: -@discussionSidebarMaxWidth - 100px;
  transition: right @discussionSidebarTransitionTime;
}

.discussion-sidebar-container-visible {
  background-color: fade(@semiTransparentLayerColor, 20%);
  visibility: visible;
  transition: background-color @discussionSidebarTransitionTime;

  .discussion-sidebar {
    right: 0;
  }
}

.discussion-sidebar-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  box-shadow: -1px 0 10px @discussionSidebarShadow;
  z-index: -2;
}

.discussion-sidebar-close {
  position: fixed;
  margin-left: -17px;
  top: 50px;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  width: 20px;
  text-align: center;
  background: fade(@semiTransparentLayerColor, 100%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: -1px 0 5px @discussionSidebarShadow;
  z-index: -1;

  > i {
    vertical-align: middle;
  }
}

.discussion {
  padding: 20px;
  box-sizing: content-box;
  position: relative;
  z-index: 0; // new stacking context
}
