@import "bootstrap/mixins";

.discussion-modal-container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow-y: scroll;
  z-index: 1030; // below modal-window
  background-color: fade(@semiTransparentLayerColor, 90%);
}

.discussion-modal {
  padding-top: @ndpTopMargin;
  visibility: hidden;
  .new-design-font();
}

.discussion {
  width: @newDiscussionModalWidth;
  margin: 0 auto;
}
