.discussion-login {
  @extend %white-box-grey-border-bottom;
  margin-bottom: 9px;
  padding: 8px $votePadding;
  text-align: center;
}

.discussion-login > .small-connect-button {
  @extend .button-connect-small;
  // height: 24px;
  // width: 24px;
  // line-height: 24px - 2px;
  // font-size: 10px;
}
