@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bubble/variables";

div.factlink-modal {
  overflow: visible;
  padding: @popup-padding-top @popup-padding-right @popup-padding-bottom @popup-padding-left;

  min-height: 80px;
  width: 560px;

  border: 1px solid #ccc;
  .border-radius(6px);
  .background-clip(padding-box);

  background: white;

  position: relative;
  top: 185px;
  left: 0;

  margin: -40px auto 150px;

  .drop-shadow(0px, 0px, 5px, 0, .15);

  .drag-handler {
    cursor: all-scroll;
    position:absolute;
    z-index: 100;

    &.top    { height: @drag-handler-padding; width: 100%; top: 0;    left: 0; }
    &.bottom { height: @drag-handler-padding-bottom; width: 100%; bottom: 0; left: 0; }
    &.left   { width:  @drag-handler-padding; height:100%; left: 0;   top: 0; }
    &.right  { width:  @drag-handler-padding; height:100%; right:0;   top: 0; }
  }
}
