@import "bootstrap/mixins";

.factlink-modal {
  .new-design-white-block-with-shadow();
  position: relative;
  overflow: visible;
  visibility: visible;
  width: @discussionModalWidth;
  margin: @ndpTopMargin auto 0;
  padding: 15px;
}
