@import "bootstrap/mixins";
@import "bubble/variables";

div.factlink-modal-container {
  width: @discussionModalWidth;
  margin: 0 auto;
  padding: 5% 0;
  visibility: visible;
}

div.factlink-modal {
  position: relative;
  overflow: visible;
  padding: @popup-padding-top @popup-padding-right @popup-padding-bottom @popup-padding-left;

  min-height: 80px;

  background: white;

  .top-right-arrow {
    z-index: 101;
    border: 1px solid @modalBorderColor;
    ul {
      border: 1px solid @modalBorderColor;
    }
  }
}
