@import "bootstrap/mixins";
@import "twitter/bootstrap/variables";

@buttonOffset: 3px;

.learn-more-container {
  text-align: center;
}

.learn-more {
  .white-block-with-shadow();
  position: relative;
  display: inline-block;
  visibility: visible;
  padding: (15px + @buttonOffset) 15px 15px;
  margin-top: @triangleSize+10px;
}

.learn-more-button {
  margin-top: -3px;
}

.learn-more-arrow {
  .triangle-arrow-up();
  top: 0;
  left: 50%;
  margin-left: -@triangleSize;
}
