@import "bootstrap/mixins";
@import "twitter/bootstrap/variables";

@buttonOffset: 3px;

.learn-more-top {
  .new-design-white-block-with-shadow();
  margin-bottom: 20px;
  position: relative;

  .learn-more-arrow {
    .ndp-triangle-arrow-down();

    bottom: 0;
    left: 50%;
    margin-left: -@ndpTriangleSize;
  }
}

.learn-more-top-container {
  text-align: center;

  .learn-more {
    margin-bottom: 20px;
  }
}

.learn-more-bottom-container {
  margin-top: @ndpTriangleSize+10px;
  text-align: center;
}

.learn-more-bottom {
  .new-design-white-block-with-shadow();
  position: relative;

  .learn-more-arrow {
    .ndp-triangle-arrow-up();
    top: 0;
    left: 50%;
    margin-left: -@ndpTriangleSize;
  }
}

.learn-more {
  padding: 15px;
  visibility: visible;

  display: inline-block;
  margin: 0 0 0 -1px;
  padding-top: 15px + @buttonOffset;
}

.learn-more-btn-learn-more {
  margin-left: 5px;
}

.learn-more-btn-sign-in, .learn-more-btn-learn-more {
  margin-top: -@buttonOffset;
  margin-right: 5px;
  font-weight: 100!important; //Fix this ASAP
}
