@import "bootstrap/mixins";
@import "bootstrap/variables";

@import "bubble/variables";

form.post-factlink-page {
  margin: 0 0 -15px;

  .post-factlink-page-div {
     margin:0;
     padding:0;
     display:inline
  }

  article.fact {
    padding-bottom: 12px;
    border-bottom: 1px solid @baseBorderColor;
  }

  textarea {
    display: none;
  }

  .buttons {
    .clearfix();
    margin: @popup-padding 0;
    .cancel-post-factlink { float: left; }
    .submit-post-factlink { float: right; }
  }
}
