@import "bootstrap/mixins";

.discussion-modal div.fact-relations-region {
  margin: 0 -@bubbleRightPadding -15px -@bubbleLeftPadding;

  .pre-ndp-add-evidence-form {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-left: @bubbleLeftPadding;
    padding-right: @bubbleRightPadding;
  }
}
