.factlink-modal div.fact-relations-region {
  margin: 0 -15px -15px;

  div.interacting-users {
    border-left: none;
    border-right: none;
  }

  div.fact-relation-search {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}