@import "bootstrap/mixins";
@import "bootstrap/variables";

// These variables are defined in parent filed as well. Should be removed from here
@transition: opacity 0.2s ease;
@max-z-index : 2147483647;

@controlsHeight: 23px;
@rightIndent: 10px;

.tab-control {
  margin-top: 14px;
  margin-bottom: 8px;
  list-style: none;

  width: 100%;

  li {
    float: left;
    padding-bottom: 8px;

    a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 18px;
      border: 1px solid transparent;

      // to add: border-radius shizzle
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 2px;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      a {
        background: #f4f4f4;
        border: 1px solid #e2e2e2;
        border-bottom: 1px solid #f4f4f4;

        color: #333;
        .custom-radius(5px, 0, 0, 5px);
      }
    }

    &.destroy {
      a {
        #font > .iconic();
        &:before {
          content: "t";
        }
      }
    }

    &.authority {
    }

    &.permalink {
      background: image-url("icon-permalink.png") no-repeat center 6px;
    }

    &.add-to-channel {
      float: right;
      padding-right: 12px;
      &.active {

        a {
          background: #f3f6fa;
          border: 1px solid #dee5ef;
          border-bottom: 1px solid #f3f6fa;
        }
      }
    }

    &.interacting-users {
      width: 72px;
      ul {
        padding: 0px;
        margin: 0px;
        li {
          padding: 0px;
          margin: 0px;
          a {
            padding: 0px;
            margin: 0px;
          }
        }
      }
    }
  }
}

.tab-content {
  margin-top: 36px;

  .arrowDown(@width: 10px, @color: @whiteDarker) {
    position: absolute;
    margin-top: -1px;
    .arrow-down, .arrow-down-border {
      position: relative;
      width: 0;
      height: 0;
      left: 10px;
    }
    .arrow-down {
      border-left: @width solid transparent;
      border-right: @width solid transparent;
      border-top: @width solid @color;
      position: relative;
      top: -21px;
    }
    .arrow-down-border {
      border-color: @grayLighter transparent transparent transparent;
      border-style: solid;
      border-width: @width;
      top: 1px;
    }
  }

  .dropdown-container {
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
    background: @whiteDarker;
    padding: 9px 0 10px 0;
    ul.search-results {
      max-height: 300px;
      overflow-y: scroll;

      position: absolute;
      z-index: 200;
      background: @white;
      width: 90%;
      .box-shadow(0px 0px 6px rgba(0, 0, 0, 0.20));
      li {
        cursor: pointer;
        padding: 8px 12px;
        border: 1px solid @grayLighter;
        border-top: none;
        &:hover, &:focus {
          background-color: @lightYellow;
        }
        &.loading, &.add {
          display: none;
        }
        &.add {
          background-color: whiteSmoke;
          font-weight: bolder;
          &:hover {
            background: darken(#f5f5f5, 2);
          }
          img { display: none; }
        }
        .word {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
    .add-evidence-container {
      padding: 0 0 9px 10px;
      background-color: @whiteDarker;

      .add-evidence {
        display: none;
      }
      input[type="text"] {
        @shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0px rgba(255,255,255,.1);
        .box-shadow(@shadow);
        width: 90%;
        border: 1px solid #ccc;
        font-size: 12px;
        padding: 8px 9px;
        .border-radius(4px);
        #font > .sans-serif(13px, normal, 1.1);
        height: 14px;
        margin: 0;

        &:focus {
          outline: 0;
          border: 1px solid @linkColor;
        }
      }
      .cancel {
        margin-left: 18px;
      }
    }
    .no-evidence-message {
      display: none;
      text-align: center;
      padding: 20px 5px 5px 5px;
      height: 55px;
    }
    .loading-evidence {
      display: block;
      height: 55px;
      padding-top: 20px;
      text-align: center;
    }
    .arrow {
      .arrowDown();
    }
  }

  .add-to-channel {
    .dropdown-container {
      padding: 12px;
      background: #f3f6fa;
    }
  }
}
