@import "bootstrap/mixins";
@import "bootstrap/variables";

// These variables are defined in parent filed as well. Should be removed from here
@transition: opacity 0.2s ease;
@max-z-index : 2147483647;

@controlsHeight: 23px;
@rightIndent: 10px;

.tab-control {
  margin-top: 12px;
  margin-bottom: 8px;
  list-style: none;

  li {
    float: left;
    padding-bottom: 8px;

    a {
      padding-top: 18px;
      padding-bottom: 18px;
      line-height: 18px;
      border: 1px solid transparent;

      // to add: border-radius shizzle
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 2px;
    }

    // border: 1px solid pink;

    &.active {
      a {
        background: #f4f4f4;
        border: 1px solid #eee;
        border-bottom: 1px solid #f4f4f4;

        color: #333;
        .custom-radius(5px, 0, 0, 5px);
      }
    }

    &.destroy {
      a {
        #font > .iconic();
        &:before {
          content: "t";
        }
      }
    }

    &.authority {
      // padding: 0 0 4px 4px;
      // border: 1px solid pink;
    }

    &.permalink {
      background: image-url("icon-permalink.png") no-repeat center 6px;
    }

    &.interacting-users {
    opacity: 0.55;
    padding: 0 0 4px 4px;

    width: 80px;

      ul {
        padding: 0px;
        margin: 0px;
        li {
          a {
            padding: 0px;
            margin: 0px;
          }
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}

.tab-content {
  margin-top: 36px;
  // border: 1px solid red;
}

// .controls {
//   font-size: 12px;
//   .unselectable();
//   border-bottom: 1px solid transparent;
//   }

//   ul.evidence {
//     height: @controlsHeight;
//     margin-left: 60px;
//     li {
//       display: block;
//       float: left;
//       margin: 1px 0 0 10px;
//       border: 1px solid transparent;
//       .border-radius(3px 3px 0 0);
//       border-bottom: none;
//       a {
//         display: inline-block;
//         padding: 5px 10px;
//         height: 12px;
//         line-height: 12px;
//         cursor: pointer;
//         &:hover {
//           text-decoration: none;
//         }
//       }
//       &.destroy {
//         a {
//           #font > .iconic();
//           &:before {
//             content: "t";
//           }
//         }
//       }
//       &.permalink {
//         background: image-url("icon-permalink.png") no-repeat center 6px;
//       }
//       .add-button, .cancel-button {
//         #font > .iconic();
//         text-shadow: 1px 1px 0px @white;
//         display: none;
//         line-height: 3px;
//         margin: 0 -3px -5px -5px;
//         color: @grayLight !important;
//         &:before {
//           font-size: 18px;
//           content: " =";
//         }
//         &:hover, &.active {
//           color: @gray !important;
//         }
//       }
//       .cancel-button {
//         &:before {
//           font-size: 18px;
//           content: " X";
//         }
//       }
//       &:active, &:focus, &.active {
//         border: 1px solid @grayLighter;
//         border-bottom: none;
//         background-color: @whiteDarker;
//       }
//       &:hover a {
//         color: @linkColorHover;
//         text-decoration: underline;
//       }
//       &.active a {
//         &:hover { text-decoration: none }
//         display: inline-block;
//         color: #555;
//       }

//       &.supporting,
//       &.weakening {
//         a {
//           width: 86px;
//         }
//       }
//     }
//   }
// }
