@import "bootstrap/mixins";
@import "bootstrap/variables";

// These variables are defined in parent filed as well. Should be removed from here
@transition: opacity 0.2s ease;
@max-z-index : 2147483647;

@controlsHeight: 23px;
@rightIndent: 10px;

.tab-control {
  margin-top: 14px;
  margin-bottom: 8px;
  list-style: none;

  width: 100%;

  li {
    float: left;
    padding-bottom: 8px;

    a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 18px;
      border: 1px solid transparent;

      // to add: border-radius shizzle
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 2px;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      a {
        background: #f4f4f4;
        border: 1px solid #e2e2e2;
        border-bottom: 1px solid #f4f4f4;

        color: #333;
        .custom-radius(5px, 0, 0, 5px);
      }
    }

    &.destroy {
      a {
        #font > .iconic();
        &:before {
          content: "t";
        }
      }
    }

    &.authority {
    }

    &.permalink {
      background: image-url("icon-permalink.png") no-repeat center 6px;
    }

    &.add_to_channel {
      float: right;
      padding-right: 12px;
      &.active {

        a {
          background: #f3f6fa;
          border: 1px solid #dee5ef;
          border-bottom: 1px solid #f3f6fa;
        }
      }
    }

    &.interacting-users {
      width: 72px;
      ul {
        padding: 0px;
        margin: 0px;
        li {
          padding: 0px;
          margin: 0px;
          a {
            padding: 0px;
            margin: 0px;
          }
        }
      }
    }
  }
}

.tab-content {
  margin-top: 36px;
  // border: 1px solid red;
}
