@import "bootstrap/variables";
@import "bootstrap/mixins";

#fact {
  .title {
    font-size: @metaFontSize;
    padding: 0;
    color: @linkColor;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
  }
}
