#fact {
  .wheel() {
    box-sizing: border-box;
    height: 55px;
    float: left;
    margin: 0 0 0 4px;
    position: relative;

    input {
      display: none;
    }

    .authority {
      position: absolute;
      padding: 0 !important;
      width: 18px;
      height: 16px;
      left: 21px;
      top: 22px;
      font-size: 13px;
      color: #999;
    }

    svg {
      path:hover {
        cursor: pointer;
      }
    }
  }
}
