<% content_for :email_header do %>
  <h1 class="header-title">Hello <%= @resource.full_name %></h1>
  <h2 class="header-subtitle">Someone has requested a link to change your password</h2>
<% end %>

<% content_for :email_body do %>

  <table class="button" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="button-inner">
        <%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) do %>
          <div class="button-link">
            Reset password
          </div>
        <% end %>
      </td>
    </tr>
  </table>

  <br /><br />
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

<% end %>

<%= render template: "layouts/email" %>

